[2018-12-06 08:44] desokroshan commented on #600
@logo17 you can use attachPolicy to set principal policy as follows

[code]

[2018-12-06 23:34] minbi commented on #586
Hi @dennisunderwood ,

We have released a fix in version 2.8.5 of the SDK. Please see if this fixes the issue for you.

[2018-12-06 23:35] minbi commented on #587
Hi @scdplzop ,

We have released a fix in version 2.8.5 of the SDK. Please see if this fixes the issue for you.

[2018-12-06 23:36] minbi commented on #592
Hi @kcwinner ,

We have removed the requirement to have a identity pool for `showSignIn` in version 2.8.5 of the SDK. Please see if this fixes the issue for you.

[2018-12-07 02:42] niqo01 opened #603 "Aws S3 StrictMode policy violation"
**Describe the bug**
The AWS S3 SDK is doing IO operation on the main thread which is reported by strict mode

**To Reproduce**
Steps to reproduce the behavior:
1. Use the S3 SDK
          'client': "com.amazonaws:aws-android-sdk-mobile-client:2.8.5",
          's3': "com.amazonaws:aws-android-sdk-s3:2.8.5"
2. Enable Strict mode
3. Upload successfully a file
3. Check logcat
4. See warning:
[code]

[2018-12-07 03:18] scdplzop commented on #587
Hi @minbi ,
After migrate to 2.8.5, the exception mentioned above gone, and now without providing client secret in awsconfuguration.json works. Thanks to anyone working on this issue.

[2018-12-07 05:44] Pinaki93 opened #604 "Getting a crash in version 2.7.3 of aws pinpoint"
I'm getting this crash from `UrlHttpClient `, lne 162 on my Crashalytics

[code]

I'm using Aws Pinpoint version 2.7.3 right now.

[2018-12-07 09:21] rlatapy-luna opened #605 "Chrome tab customization"
**Which AWS Services is the feature request for?**
Cognito Auth

**Is your feature request related to a problem? Please describe.**
Need to set toolbar color on chrome custom tab

**Describe the solution you'd like**
Add color setter or full builder, see https://github.com/rlatapy-luna/aws-sdk-android/commit/80a7d2607faeadffc779a20540cef71e0c535d63

[2018-12-07 14:18] muellerfr commented on #587
Excellent, thanks for confirming.

[2018-12-07 14:18] #587 closed

[2018-12-10 05:55] rohandubal commented on #603
Hello @niqo01

Thanks for reporting this issue. We will look into this.

Thanks,
Rohan

[2018-12-10 05:56] rohandubal commented on #604
Hello @Pinaki93

Thanks for reporting this issue. We will look into it.

Thanks,
Rohan

[2018-12-10 05:58] rohandubal commented on #605
Hello @rlatapy-luna

Thanks for reaching out. Could you please open a PR to this repo so that we can look into it and merge it if all good?

Thanks,
Rohan

[2018-12-10 17:46] ederaldooc commented on #591
I'm facing same problem here, there is a ETA to fix this issue ?

[2018-12-10 19:50] rohandubal commented on #603
Hello @niqo01

Is it possible to provide a code snippet of how you are using the S3 library in your application? In the SDK we try to not create extra threads and use the ones which are available.

Thanks,
Rohan

[2018-12-10 19:51] rohandubal commented on #604
Hello @Pinaki93

Could you please update the SDK to latest version? We released a bunch of improvements in `2.8.x`.

Thanks,
Rohan

[2018-12-10 20:11] #574 closed

[2018-12-10 20:11] #567 closed

[2018-12-10 22:34] rlatapy-luna commented on #605
Sure thank you https://github.com/aws-amplify/aws-sdk-android/pull/608

[2018-12-11 02:00] gaojiusong commented on #63
+1, would rather not have to use 2 calls if using TransferUtility.

[2018-12-11 16:06] baole commented on #588
We have the same crash with 2.8.4

[2018-12-11 16:18] muellerfr commented on #591
Hello @baole and @ederaldooc,

Thanks for reporting this issue, and sorry for the problems. We'll take a look and report back.

[2018-12-11 17:37] xanscale commented on #260
@minbi i updated to new 2.8.5 but i have same problem. (not sure)

how i can get token synchronously to put http call inside something like interceptor ?

actually i use this workaround and works but seams over complicated
https://github.com/aws-amplify/aws-sdk-android/issues/260#issuecomment-410338918

why not make getCachedSession public?

[2018-12-11 17:41] minbi commented on #260
We have launched a new `AWSMobileClient` in v2.8.+ , which will work with Cognito Userpools
Please read the documentation linked below for full usage.

[code]

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8.0) and [Documentation](https://aws-amplify.github.io/docs/android/authentication)

[2018-12-11 17:43] minbi commented on #586
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-12-11 17:43] #586 closed

[2018-12-11 19:28] pedrovarela86 opened #613 "TransferService foreground promotion"
**Is your feature request related to a problem? Please describe.**
Android Oreo+ has background restrictions, starting the transfer service from an app in background is not possible. Thus the service should be promoted within few seconds to foreground in order to continue running or the system will kill it.

**Describe the solution you'd like**
The transfer service must provides a way to promote i

[2018-12-11 23:20] minbi commented on #598
Hi @ejmsk ,

The SDK currently stores the listed information in the SharedPreferences with private mode. This will only allow applications that wrote the value to read it (unless root/mount the disk). The Android Keystore was introduced in API level 18 which is higher than the minimum (11) that is currently supported by our SDK, but we can look into making encryption available when the SDK is used

[2018-12-12 01:41] muellerfr commented on #588
Hi @GiovanniVisentini and @baole, we're working on a fix for this issue.

[2018-12-12 01:43] muellerfr commented on #589
Hello @baole, did @kvasukib's last comment resolve the issue for you?

[2018-12-12 05:47] baole commented on #589
No, it doesn't. I need to pass non-application context instead.

[2018-12-12 06:32] baole commented on #588
Since checking network availability before initialising Pinpoint doesn't completely fix the issue because network can be dropped while Pinpoint initialisation. Is there any workaround? Otherwise, we need to disable Pinpoint.

[2018-12-12 11:30] gauravk95 opened #609 "AWS Congnito Federated SignIn for Google+ Seems Broken"
**Describe the bug**
The AWS Cognito Federated SignIn for Google+ seems broken.

**To Reproduce**
1. Setup the Google Project as Firebase Project.
2. Use the Firebase Auth to login to Google+.
3. Setup AWS Cognito accordingly for Google+
4. Implement Cognito Federate SignIn for Google+ on Android

Here are links which I reffered to integrate Google+ Sign in
https://docs.aws.amazon.com/cognito/late

[2018-12-12 17:30] minbi commented on #609
Hi @gauravk95 ,

We have launched a new client and toolchain that should help you set this up.
Amplify CLI can help you setup the Cognito Identity Pool and `AWSMobileClient` can help you with `federatedSignIn` [Documentation here](https://aws-amplify.github.io/docs/android/authentication)

[2018-12-12 19:00] rafagan opened #610 "How to logout from CognitoCachingCredentialsProvider?"
After call the methods `clearCredentials` and `clear`, the class still returns the credentials and identityId from session.

How can I make it logout successfully?

[2018-12-12 19:44] minbi commented on #605
Closing this in favor of #608

[2018-12-12 19:44] #605 closed

[2018-12-12 21:50] hipwelljo opened #611 "S3 TransferUtility: Lower the minimum notification threshold of 128KB"
**Describe the bug**
I am utilizing the TransferUtility to upload a file and using TransferObserver to set a TransferListener to be informed of state changes, progress changes, and any errors should one occur. The file is uploading successfully, however I am not being informed of any upload progress aside from 0% and 100%. (The callback is often triggered multiple times for the same percentage whi

[2018-12-12 23:39] sunchunqiang commented on #611
Hi @hipwelljo

Thanks your reporting. I have a question for the issue.
How large are the files you uploaded?

[2018-12-13 16:38] gokeji commented on #588
Experiencing the same crash here. It's causing a 4% crash rate on our users. Would be great to have this fixed as soon as possible. Please let us know.

[2018-12-13 22:23] hipwelljo commented on #611
I am now trying this on a physical device (Google pixel android 7.1.2) and I see the same behavior with about a 0.15 MB photo. However, I tried a 1.6 MB photo and it did report progress in-between 0 and 100. Is there a way to reliably get progress updates if the file is small yet the internet connection isn't great?

[2018-12-13 23:39] hipwelljo opened #616 "Adapt S3 TransferUtility for unstable network conditions"
**Describe the bug**
I am testing uploading photos to S3 on a very bad network connection. I am finding that the transfer starts, reports 0% progress then 100% but then the upload state changes to FAILED and yet onError is not called. This is surprising to me. I can confirm the upload did not succeed. It never appears to attempt a retry or otherwise report any other information about this transfer

[2018-12-14 00:17] minbi commented on #610
Hi @rafagan ,

Can you provide some information about your setup? If you have unauthenticated access enabled on your Cognito Identity Pool enabled, then the `CognitoCachingCredentialsProvider` will retrieve a guest session and provide guest credentials; this would happen after you clear the ones available from a signed-in session.

[2018-12-14 09:41] JoniDS commented on #394
To add to this:
I compiled the lib from source and printed the Throwable and reconnect never connects even if there is a network with connectivity:

`2018-12-14 10:38:18.919 6622-7062/com.mqtt.test I/AWSIotMqttManager: attempting to reconnect to mqtt broker
2018-12-14 10:38:22.868 6622-7073/com.mqtt.test E/AWSIotMqttManager: Reconnect failed
    Connection lost (32109) - java.io.EOFException

[2018-12-14 10:12] gauravk95 commented on #609
Will try this way out and let you know. I am positive that this would work.

But my question is regarding the old way. Is it not supported anymore, and does that mean the new client is preferred? The reason why I am asking this is because **OpenId for Google+** and **Facebook** seems to work well. Only issue is when using Google+ option

My use case is to allow only authenticate user to upload dat

[2018-12-14 12:06] rafagan commented on #610
Basically, when I logout using the two methods, the `CognitoCachingCredentialsProvider` maintains the identityId from previous session and the credentials too. And if I login in the sequence, it returns these old credentials even after login.

The only way I've found to make this work is restart the Android app at logout. This time, the API clear some weird cache in memory and starts working.

The

[2018-12-14 16:35] minbi commented on #609
The new way is preferred. Is there a use-case that prevents using the new way? We can definitely track this down if you have a need to use it.

Otherwise, the equivalent would be `val s3Client = AmazonS3Client(AWSMobileClient.getInstance())`, after the setup in the documentation.

[2018-12-14 16:44] minbi commented on #610
I would recommend trying `AWSMobileClient` documented [here](https://aws-amplify.github.io/docs/android/authentication). This is the new client that we are migrating users towards. It would be better if you are starting out to start there.

We have tests for the scenario you are experiencing and believe it wouldn't be a problem with the new client. [Test found here](https://github.com/aws-amplify/

[2018-12-14 19:43] NightOwlCoder commented on #458
@kvasukib @mananchh @muellerfr hey guy, sorry for the long delay, but I had to go onsite with customer to solve this issue.

In the end, it all boils down to bad date/time on the tablets we are using!

Looks like a difference over 5 minutes makes all hell broke loose on SSL handshaking.

I implemented a `fix date time on load` method, and so far, I'm happy to say I manage to kep my contract! 🕺

Un

[2018-12-14 19:52] sunchunqiang commented on #611
This appears to be a limitation in our code that doesn't allow setting the granularity very well. We will investigate enabling finer granularity progress reporting and update this thread.

[2018-12-14 22:34] sunchunqiang commented on #588
Hi @GiovanniVisentini  @gokeji  @baole ,

The issue is fixed has been fixed in v2.9.1

[2018-12-14 23:04] rafagan commented on #610
OMG... Days spending a lot of time in garbage and plain old code :(

At least, this documentation is one of the bests I have seen in AWS.

[2018-12-14 23:16] muellerfr commented on #610
@rafagan, is the `AWSMobileClient` working for you?

[2018-12-14 23:22] hipwelljo opened #618 "S3 TransferUtility: Transfers don't seem to resume after termination, are always included in list"
**Describe the bug**
In my app I have started an upload, then manually terminated the app, then reopened the app. In the `onResult` callback from `initialize` I can see there is 1 transfer in the list provided by `getTransfersWithType(UPLOAD)` and its state is `IN_PROGRESS`. I then call `resumeAllWithType(UPLOAD);`. I wait a long while then rerun the app and I see the transfer is still provided in

[2018-12-15 00:06] desokroshan commented on #584
@rvp-thunderbuild @brandonbai @spmvanmierlo
We have released a fix for this in the version 2.9.1. Can you please update to the latest version and check if it fixes the issue?

[2018-12-15 20:08] rafagan commented on #610
Actually I'll need to migrate soon, for now I need to delivery the product next week and stay with the awful bugs :/

[2018-12-17 07:56] minbi commented on #592
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-12-17 07:56] #592 closed

[2018-12-17 09:58] rvp-thunderbuild commented on #584
@desokroshan Version 2.9.1 did indeed fix the problem. Thank you

[2018-12-17 10:16] baole commented on #588
Thanks. It works perfectly on our test devices. I will re-enable it in our production app and see if it fixes.

[2018-12-17 14:32] btackney commented on #296
How did you solve this issue? Im expereincing the same error even using a blank app with exact code from tutorial https://aws-amplify.github.io/docs/android/api.

[2018-12-17 16:09] Akefhabbal opened #620 "AutoReconnecting is not working"
**Describe the bug**
The app couldn't reconnect to the Amazon after the connection come back again in the version 2.8.+
but it is working fine with the older version 2.7.+
**Which AWS service(s) are affected?**
I am using Android Pub/Sub example.

**Environment(please complete the following information):**
 - SDK Version: [2.8.+]

**Device Information (please complete the following information):**

[2018-12-17 16:35] muellerfr commented on #588
@baole, thank you for confirming. I’ll go ahead and close the issue then.

[2018-12-17 16:35] #588 closed

[2018-12-17 16:36] muellerfr commented on #584
@rvp-thunderbuild, thank you for confirming. I’ll go ahead and close this issue.

[2018-12-17 16:36] #584 closed

[2018-12-17 19:37] muellerfr commented on #610
Hi @rafagan, please go ahead and integrate with the 'AWSMobileClient', which is our recommended solution. If you are still encountering problems, please open another issue.

[2018-12-17 19:37] #610 closed

[2018-12-17 19:54] desokroshan commented on #620
@Akefhabbal Thanks for reporting the issue. This has been previously reported in [Issue#584](https://github.com/aws-amplify/aws-sdk-android/issues/584). We have released a fix for this in the version 2.9.1. Closing, please feel free to reopen if the issue still exists.

[2018-12-17 19:54] #620 closed

[2018-12-18 08:38] danielesegato commented on #476
Guys the proper workaround is the same you need for using Google Maps:

Add this inside your Application in the App manifest

[code]

still has to be fixed in the library.

[2018-12-18 09:32] samyakjain opened #621 "Getting this exception Non-fatal Exception: java.lang.IllegalArgumentException"
[code]

I am getting this exception even though file is valid and can access this file inside app. Can this be the issue of file name containing special character. I am using aws-android-sdk version 2.8.4

[2018-12-18 18:40] desokroshan commented on #394
@JoniDS `Connection lost (32109) - java.io.EOFException` is caused when the connection to the client is shut down by the broker. This can happen due to a variety of reasons unrelated to the sdk such as multiple clients connecting with same clientId, unsupported QoS value for the message or if client attempts to publish/subscribe to a topic for which they don't have permission. I would recommend lo

[2018-12-18 21:23] cbommas commented on #621
@samyakjain

The code in the TransferUtility makes the following check to ensure that the file is valid before proceeding. It looks like this is failing.

       if (file == null || file.isDirectory() || !file.exists()) {
            throw new IllegalArgumentException("Invalid file: " + file);
        }

This could be a permissions issue or an issue with the filename. Question: Are you able to upl

[2018-12-18 23:01] #600 closed

[2018-12-19 05:06] logo17 commented on #600
thanks, it works..

[2018-12-19 09:00] CriPstian opened #622 "User Id is null when user is signed in"
Hi there, I need help implementing some basic functionality and can't figure it out with the help of the documentation. Let me know if there is need for more logs or information. Thanks!

**Signing in users**
Using sign in on Android with `Facebook` or with `Google` signs in with success but does not provide access to username or any attribute due to `userId` being null.
I want to be able to extra

[2018-12-19 11:09] cheeyi opened #623 "Any way to initialize AWSMobileClient with dynamic credentials or update AWSConfiguration afterwards?"
**State your question**
I'm writing an app that will obtain identity pool information from the user, specifically the pool ID, and want to use that with AWS IoT. But as it stands I need to initialize AWSMobileClient with the awsconfiguration.json, which is fine if I want a default fallback, but is there a way to change the AWSMobileClient's AWSConfiguration object after the original `initialize()`

[2018-12-19 16:47] muellerfr commented on #581
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-12-19 16:47] #581 closed

[2018-12-20 10:56] piotrlech opened #624 "Android PubSub Sample README.md"
Isn't it so that the README.md of the Android PubSub Sample does not correspond to the code anymore? In particular the COGNITO_POOL_ID = "<CHANGE_ME>" disappeared from the PubSubActivity.java, and the the error is "com.amazonaws.AmazonClientException: Cognito Identity not configured".

[2018-12-20 13:09] kazuhiro1982 opened #625 "com.amazonaws.mobile.auth.ui.SignInUi#login throws NullPointerException since 2.8.5"
IdentityManager#credentialsProviderHolder is null through creating by AWSMobileClient#initialize()

In AWSMobileClient#initialize(), it no longer takes awsConfiguration as a constructor argument of IdentityManager.

https://github.com/aws-amplify/aws-sdk-android/commit/ae536ad98261a9e25f92e9430e448097e24f2cdd#diff-4c45bdc12da735f85afbec1351910e2dL357

But, that single argument constructor of Ident

[2018-12-21 11:50] mananchh commented on #458
Hi @muellerfr ,

Yes the log error we are seeing are same as posted by @2math.

We are still experiencing the reported scenario and the number of problems reported is growing slowly, it would be really helpful if there is any fix available sometime soon.

We have an additional scenario with a particual iPhone, where unfortunately the IOT connection never happens via WiF or mobile data. We tried di

[2018-12-22 20:30] CriPstian commented on #622
@cbommas

I am initializing the `AWSMobileClient` in my `MainActivity.class` as suggested, in the `onCreate` method.

[code]
Sorry if this is too much code, but the moment that I get to the `onResult` method, the userId should be set already.
Below I want to show how I am displaying the loginUI:
[code]
One thing that I do not want to do is confirm the user with multi factor authentication, is that

[2018-12-23 13:42] kvasukib commented on #616
@hipwelljo Sorry for the delayed response. I am splitting this question into two separate issues:

Issue-1: (FEATURE-REQUEST) TransferUtility does not retry the failed transfers. This is a feature that is currently not supported by TransferUtility in Android. I will take this feature request to the team for prioritization. As a workaround, I would suggest you to retry the upload/download when you

[2018-12-24 16:39] minbi commented on #625
Hi @kazuhiro1982 ,

We don't support mixing the `AWSMobileClient` usage with direct usage of `SignInUI`.
To show the UI, please use `AWSMobileClient.showSignIn()`

[code]

[2018-12-24 16:45] minbi commented on #622
We do not support retrieving the username when using `federatedSignIn` with Facebook or Google.

[2018-12-24 18:35] desokroshan commented on #394
@yusufonderd I was not able to reproduce the issue on Android version 5.0.2 with the latest version of the SDK. From your stack-trace, there are two different issues both of which are related to no/bad network connection on your android device/emulator :

Firstly, i.e. `E/AWSIotMqttManager: Failed to get credentials. AmazonClientException:
com.amazonaws.AmazonClientException: Unable to execute HTT

[2018-12-24 19:15] CriPstian commented on #622
Hello @minbi thanks for adding that.
I would still need to extract certain attributes from signed in user.
This way it would be possible to display the user some confirmation that it was successfully signed in and is able to access his or hers data.
In that aspect, the `userId`, being null, I am not able to access the user attributes.

[2018-12-25 10:00] warlock-jay opened #626 "not taking awsconfiguration.json file,SDK initialization failing"
**State your question**
not taking awsconfiguration.json file even it's present in specified location
**Which AWS Services are you utilizing?**
My application is user has to sign-in and sign up using my cognitopool and federated identities,have give services s3 bucket and iot
**Provide code snippets (if applicable)**
this is the code i used in Main activity

[code]

 i got this error when running

[2018-12-25 12:19] warlock-jay commented on #625
Hi @kazuhiro1982, @minbi
I think null object reference is about awsconfiguration.json file, i am facing the same error,i am not using signinUI,when i use AWSMobileClient.getInstance().initialize() it's giving that error
i didn't figured it out yet
you can see the issue #626

[2018-12-25 12:33] warlock-jay commented on #625
Hi @kazuhiro1982
Can you help on the issue #626 ?
thanks

[2018-12-25 13:12] kazuhiro1982 commented on #625
Hi @warlock-jay

It is just my guess from that stack trace, but is not it caused by using CognitoUserPool.getUser()?
Instead, could you use AWSMobileClient.getInstance().getUsername() or AWSMobileClient.getInstance().getUserAttributes()?

[2018-12-25 13:44] cihancil opened #1046 "How to set Android Small Push Icon"
** Which Category is your question related to? **
Push Notification

** What AWS Services are you utilizing? **
Pinpoint

** Provide additional details e.g. code snippets **
How can I change small icon that appears on status bar and bottom right of the large notification icon? Right now it is white round. Should I set this from Pinpoint API? I am currently using Pinpoint UI.

Has anyone solved thi

[2018-12-25 22:07] minbi commented on #626
Hi @warlock-jay ,

Can you check whether the `AWSConfiguration` object you are passing in is null? The exception appears to happen the first time that value is being accessed. [Approximate line](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L397)

[2018-12-25 22:15] minbi commented on #623
Hi @cheeyi ,

The `AWSMobileClient` acts as a singleton that does not change it's configuration during run-time. You may need to fallback to the `CognitoCachingCredentialsProvider` for your use-case. I will discuss with the team about this issue.

[2018-12-26 02:48] cheeyi commented on #623
@minbi Thanks for getting back to me. I can look into using `CognitoCachingCredentialsProvider` but are its public APIs going to be deprecated in future versions of this library?

Also, having `AWSMobileClient` always read credentials from a resource JSON file assumes the credentials are already known during compile time which is something my app does not know until I receive user input. I'd be op

[2018-12-26 07:07] mananchh commented on #458
Hi Guys,

We have one more never connecting scenario.

On the Redmi Note 5 with Airtel (Tamil Nadu region) mobile data, the IoT connection never happens. This is a dual SIM phone, with Airtel SIM in tray 1 and Vodafone SIM in tray 2.

When the user switches mobile data from Airtel to Vodafone, the IoT connection works perfectly fine.

We have tried the PubSub connection app and the scenario was re

[2018-12-26 18:40] kvasukib commented on #603
@niqo01 Sorry for the delayed response. `TransferStatusUpdater` has the methods to update the state and progress and notify the customer's callback (`TransferListener`) of the state and progress updates.

The following code from `updateState` method invokes the `onStateChanged` callback by running on the main thread. We do this in order to invoke the `TransferListener` callback.

[code]

However a

[2018-12-26 18:44] minbi commented on #626
Since you are using the default location and not customizing it's usage you may use:

[code]

This will create the AWSConfiguration object for you.

Otherwise you may construct it:

[code]

[2018-12-26 19:45] luanalbineli opened #627 "Throwing a NotAuthorizedException instead of LimitExceededException on getSession"
**Describe the bug**
I'm implementing the Cognito User Pool on my project, and I'm in the step to handle the common exceptions on Cognito calls. When I tried too many times to call the changePassword() method, it raised a LimitExceededException. When I reproduced it on getSession(), it raised a NotAuthorizedException, with the same error message (Too many attempts, I think). The point is: Should g

[2018-12-27 07:17] warlock-jay commented on #626
HI @minbi
Thank you,Initialization is working.
Do you have any code snippets on sign-in using cognito userpool and federated identities?

[2018-12-27 17:13] minbi commented on #626
Our [documentation](https://aws-amplify.github.io/docs/android/authentication) should help get you started.

[2018-12-27 17:13] #626 closed

[2018-12-27 20:07] CriPstian opened #628 "AWSMobileClient showSignIn is blocking android UI"
Hello,

I encountered a situation that, it is not a bug, rather it is a documentation/naming issue in my opinion.
The `showSignIn` function from `AWSMobileClient` is blocking the UI and fails to load the sign in screen.

**Reason why I encountered this**
Since I already registered listeners on user's state changes, I did not need to have a callback to run when user finished signing in.
Because I p

[2018-12-27 21:46] kvasukib commented on #576
@CodingInfinite Sorry for the delayed response. Once the upload is cancelled, you cannot resume it again. You need to start a new upload. However if you want to resume an upload, you need to pause it by calling `transferUtility.pause`.

`TransferUtility` doe not retry the failed transfers. I will file a feature request to the team for the retry functionality in `TransferUtility`. The retries you s

[2018-12-27 21:48] kvasukib commented on #591
@baole Sorry for the delayed response. Can you try enabling acceleration but without path style access set to true?

[code]

[2018-12-27 21:52] kvasukib commented on #406
@amankumarjain Sorry for the delay. I am working on a fix that would fix the duplicate callbacks in progress update along with the issue reported in #611

[2018-12-28 06:07] hipwelljo commented on #616
Thanks for the info on item 1! For item 2, yes that is exactly correct - the transfer progress is reported to be 100% where transferred equals the total even though the upload did fail, onStateChanged reported the FAILED state, and onError was not invoked. It is however not a multipart upload since the file size is under 1 MB - only 122 KB in that example.

[2018-12-28 08:57] baole commented on #591
It works @kvasukib  @muellerfr. Thank you.

[2018-12-28 13:04] kvasukib commented on #591
Thank you @baole.

[2018-12-28 13:04] #591 closed

[2018-12-28 13:10] kvasukib commented on #616
@hipwelljo Can you paste the logs from Logcat when the item#2 occurs? I couldn't reproduce the issue  so it would be beneficial if you could share the logs to see where the failure is.

[2018-12-28 19:40] minbi commented on #628
Hi @CriPstian ,

I see how this can be confusing and the API does seem to be misbehaving. I will followup on this thread with some more investigation.

Overall, the methods that provide callbacks are initiating a background thread and running the associated code in the background and coming back through the callback. The methods that do not have a callback are calling the code on the current threa

[2018-12-28 23:39] hipwelljo commented on #618
Thanks for the reply. Ok I added both in for safe measure and tried again. I force quit the app while a transfer was ongoing, reopened it and the following was logged:
[code]
The photo didn't resume uploading - no progress was reported, nothing else was logged. If I rerun the app that same transfer is included in the array.

[2018-12-28 23:47] kvasukib commented on #616
@hipwelljo From the stacktrace, I see `uploadSinglePartAndWaitForCompletion` which means its single-part. The error message might be misleading as it has the word `multi-part`. Sorry about that. I will check on the error message.

Do you have `TransferService` declared in the `AndroidManifest`? Are you starting the service from your app?

[2018-12-29 00:10] kvasukib commented on #618
@hipwelljo I'm seeing bytesTotal=48392, bytesTransferred=48392. So does this mean that the transfer completed, but the state changed callback is not yet triggered? Can you share the complete class/activity which is invoked when the app restarts?

[2018-12-29 18:31] hipwelljo commented on #618
It looks like that one did upload successfully - it's in the s3 bucket. So it's strange it is still included in the list with an IN_PROGRESS state. I tried it again and force quit the app before it completed the transfer and here's the log for that upon reopening the app. No further logs appeared.
[code]

[2018-12-29 18:33] hipwelljo commented on #618
Here's that activity invoked when the app is opened.
[code]

[2018-12-29 18:39] hipwelljo commented on #616
Ok good catch.

Yes, TransferService is in the manifest like so:
`<service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />`

Yes, it is started from the first activity - see `startService` in the original report in this thread - the last line there.

[2018-12-30 00:19] kvasukib commented on #616
@hipwelljo I would suggest to start the service from `Application.onCreate()`

[code]

Can you try with this?

[2018-12-30 05:51] kvasukib commented on #618
@hipwelljo It's possible that the `TransferObserver` object has a stale state. Observer needs to be refreshed in order to get the accurate information. Can you do a `transferObserver.refresh()` before accessing any state in the observer? Did you get the `onStateChanged()` callback?

[2018-12-30 18:45] hipwelljo commented on #618
Okay, I moved this block of code
[code]
immediately after `List<TransferObserver> observerList = transferUtility.getTransfersWithType(UPLOAD);`

and tried it again, but I get the same result. No, `onStateChanged()` is not triggered, no other info is logged from any of the listener callbacks.

[2018-12-30 19:35] hipwelljo commented on #616
Okay I've moved that startService call into an Application subclass, but I continue to get the same outcome. Do you recommend moving the initialize call into there as well, or keep that in the first activity?

[2018-12-31 17:43] kvasukib commented on #618
@hipwelljo Can we get into a call so we can root cause the issue faster? You can drop me an email at: karthba at amazon dot com? We can discuss both the issues you have raised.

[2018-12-31 18:03] hipwelljo commented on #616
In reproducing this issue more today, I am seeing the upload does in fact succeed, which explains why it reports 100% progress, so it seems the only issue is the incorrect state update of FAILED when it should be COMPLETED.

[2018-12-31 18:11] kvasukib commented on #616
@hipwelljo We can debug this issue in the call.

[2018-12-31 19:33] appinvgr opened #631 "Verify app identity for unauthenticated use-cases"
Hello,

I am developing an simple Android app that allows **unauthenticated** users to play mp3 files from an AWS S3 bucket.

The app uses JSON files located in an S3 bucket to retrieve the mp3 files' metadata and to store the number of times each file has been played.

What are the best practices for secure access from **unauthenticated** users of a mobile app?

**I want to avoid, if possible, at

[2018-12-31 22:41] hipwelljo commented on #616
To document this for anyone following along, as discussed on the call, it was suspected maybe the poor network results in a failure to verify the photo was uploaded to s3 due to a timeout - s3 has a 20s socket timeout. That could maybe explain why the photo was uploaded successfully yet the sdk couldn't confirm that and thus it reports it FAILED. Karthik is investigating to see if another request

[2019-01-01 06:46] depak330 commented on #545
@muellerfr bug not solved in v2.9.1 show error The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: ) but my file is exist on amazon bucket.

[2019-01-01 18:58] hipwelljo commented on #618
That did the trick thanks! What do you think about the last paragraph?

I do see that failed transfers are included in this list upon relaunching the app. So I am resuming all of the previously failed transfers even though they were retried (and probably eventually succeeded). So now I have a lot of duplicate photos uploaded. Should I 'delete' a transfer before manually retrying it or what's the r

[2019-01-02 05:44] hipwelljo commented on #618
Hm this is tricky because when a transfer fails I start a new transfer to try it again, and the key/filename is not the same. So when I open the app the next time and go to resume uploads, if I look at the failed transfers none of them will exist in S3 by that key however it probably did succeed with a different key. Perhaps the logic can be changed to use the previous key. But I would like to avo

[2019-01-02 06:08] kvasukib commented on #618
@hipwelljo Yes, you can use `deleteTransferRecord` to remove the transfer record from the persistence store. I would test and see if it's working as this will leave an inconsistency in the state that is stored in memory vs disk.

[2019-01-02 10:41] phantom-j opened #632 "Customize drop-in UI from AWSMobileClient"
Hi,
My application is user has to sign-up and sign-in using my cognito userpool ,later i am giving s3 and aws services .I did initialization using awsconfiguration.json ,after i am trying to call signin-UI ,it's failing
**Which AWS Services are you utilizing?**
cognito userpools,federated identities,s3,iot
**Provide code snippets (if applicable)**
this is my main activity code
[code]
activity layo

[2019-01-02 16:38] hipwelljo commented on #618
Testing has been going well with that in place, it's resuming the appropriate transfers on app relaunch. Is there a way to remove it from the in-memory store in addition to deleting from disk? Or otherwise mark this transfer as being 'completed' in that I'm not interested in keeping it around anymore.

[2019-01-02 16:57] kvasukib commented on #618
@hipwelljo Thank you for confirming. I will check into the code and let you know about the in-memory state. Regardless, any inconsistency in the state is a bug and we should be tracking it.

[2019-01-02 17:01] minbi commented on #632
Hi @warlock-jay ,

We don't support mixing the `AWSMobileClient` usage with direct usage of `SignInUI`.
To show the UI, please use `AWSMobileClient.showSignIn()`

[code]

[2019-01-02 17:13] usmanrana07 opened #633 "Files with space in their name give Internal Server Error"
I've notices that files with space in their names fail to upload and give status code 500 (Internal Server Error). Following is the code:

[code]

[2019-01-02 17:26] desokroshan commented on #458
@2math We have made some improvements to the IoT SDK. Can you please update to the latest version of the SDK and check if the issue persists.

@mananchh @staticmain750 The IoT SDK is agnostic of the specific connection details. Connection failures can be caused due to a variety reasons and its difficult to root cause the issue without more detailed logs. We are updating the SDK to pass all the rec

[2019-01-02 19:53] muellerfr commented on #545
Ok, I'll reopen the issue.

[2019-01-02 19:55] kvasukib commented on #545
@depak330 Sorry for the inconvenience caused. We are in the process of implementing a fix. I will let you know when the fix is released. Thank you!

[2019-01-02 19:58] minbi commented on #633
Hi @usmanrana07 ,

Can you clarify which SDK and version are you using? Is `client.execute` the API Gateway client?

[2019-01-02 20:01] usmanrana07 commented on #633
Yes its api gateway client

[2019-01-02 20:19] kvasukib commented on #603
@niqo01 This issue has been fixed in the version `2.9.2`. Please upgrade and let us know any feedback you have. Thank you!

[2019-01-02 20:21] kvasukib commented on #321
This is a duplicate of issue #526. We are tracking this issue in #526. We will capture all the details there.

[2019-01-02 20:21] #321 closed

[2019-01-02 20:21] kvasukib commented on #360
This is a duplicate of issue #526. We are tracking this issue in #526. We will capture all the details there.

[2019-01-02 20:21] #360 closed

[2019-01-02 20:21] kvasukib commented on #545
This is a duplicate of issue #526. We are tracking this issue in #526. We will capture all the details there.

[2019-01-02 20:21] #545 closed

[2019-01-02 20:22] kvasukib commented on #597
This is a duplicate of issue #526. We are tracking this issue in #526. We will capture all the details there.

[2019-01-02 20:22] #597 closed

[2019-01-02 21:01] minbi commented on #633
There is an S3 client available and more advanced `TransferUtility` available:
[code]
Some more documentation on [storage](https://aws-amplify.github.io/docs/android/storage)

Is there a specific reason you are choosing to use API Gateway client?

[2019-01-03 00:47] minbi commented on #631
Hi @appinvgr ,

Thanks for moving your question over here.

We generally recommend vended credentials through Amazon Cognito. For unauthenticated, the identity pool id would still be in your app. Otherwise, the credentials vended would be active for one hour at a time, but would be automatically refreshed. The session would not live beyond an app life cycle, unless you used one of the caching clie

[2019-01-03 06:43] warlock-jay commented on #632
Hi @minbi Code is working but how to do customizations,
1)the UI showing fields my userpool dont have in Signup
2)it's showing phone number in signin,but my pool only supports username or email
3)email is must for my pool it's not showing error if it's empty
4)it's not showing pop up when password didn't match required format in forgot password

can we make changes or do i have to design own UI an

[2019-01-03 17:49] minbi commented on #633
Ok. Then, the API gateway client is not equipped to handle S3 requirements. You will need to URL encode the spaces in your filenames and potentially a few other characters.

[2019-01-03 18:04] appinvgr commented on #631
Hello @minbi, thank you for getting back to me.

I am new to using AWS for mobile apps, so I might have more questions than other users.

Would using Amazon Cognito Federated Identities, with the identity pool id in the app, allow attackers to retrieve the credentials from the code and gain access to the S3?

Someone suggested I put the S3 credentials or the identity pool id in Google Firebase ins

[2019-01-03 19:15] minbi commented on #632
1) 2) 3) We don't currently support customization of the signup screen. We will take your request into consideration and post here when we have a solution.
4) The password is mainly validated by the service. So, the operation should fail after submit. If not, check the Cognito console for password requirements.

At this point if you need to move forward, you may fork our SDK, or design your own UI

[2019-01-04 00:51] minbi opened #634 "RFC - Auth workflows: improvements and additions"
We want to hear your feedback.

The [AWSMobileClient](https://aws-amplify.github.io/docs/android/authentication), has simplified many authentication/authorization flows. We are extending `AWSMobileClient` to support additional use-cases outlined below:

As a developer I want to:

1. AWSMobileClient functionality:

    1. ~Enable SAML based authorization~ released 2.12.5
    1. ~Enable developer au

[2019-01-04 18:38] desokroshan commented on #458
@2math @mananchh @staticmain750 We have made a couple of changes to the SDK.
Firstly, the SDK now propagate and log connection/reconnection errors to the developer even if SDK attempts an automatic reconnect. This would help us know the specific exception which caused the connection failure. Currently, even though the stacktrace may look similar but the underlying issue might be different. So its

[2019-01-04 18:59] desokroshan commented on #394
@Hospes @icochico
We have made some changes to the SDK recently.
With respect to logging and propagation of connection errors, the SDK now propagate and log connection/reconnection errors to the developer even if SDK attempts an automatic reconnect. This would help pinpoint the specific exception which caused the connection failure. Currently, even though the stacktrace may look similar but the un

[2019-01-04 19:42] Tjaub95 commented on #634
What does the timeline look like for enabling using SAML based authorization?

[2019-01-04 19:57] Tjaub95 commented on #634
Sorry, to fulfill my part of the bargain since you're soliciting feedback.

I've utilized Amplify within several web applications, and am now attempting to do so with Android.

Our application flow will be signing in immediately to one of the SSO providers, then making API calls with the assumed IAM role against API GW.

1. In our application we'll be using both a user pool and an identity pool in

[2019-01-04 22:36] minbi commented on #631
This is like a chicken and egg problem. Since you are providing unauthenticated access, distinguishing between an attacker and user can be difficult since no credentials are being provided.

If you choose to put the credentials in Firebase, how will you secure the access to retrieve the credentials? Again the app could be decompiled and the procedure to retrieve the S3 credentials could be determi

[2019-01-07 18:00] desokroshan commented on #429
@iamtonny We are currently working on this request. I cannot share a specific timeline but I will update this thread once the feature has been released.

[2019-01-07 18:21] desokroshan opened #635 "Get SUB after sign-up but before first sign-in"
**Which AWS Services is the feature request for?**
Cognito

**Is your feature request related to a problem? Please describe.**
No

Add support in the SDK for returning cognito-generated SUB after a sign-up call and before first sign-in is done. SUB is present in the response from Cognito after a sign-up call is made. This feature was requested in the following stackoverflow post :
https://stackove

[2019-01-07 18:34] kvasukib commented on #618
Can you verify if you did the following?

[code]

[2019-01-07 21:57] hipwelljo commented on #618
I only call `upload` for the original transfer request. I then attach a listener as you've shown. Then in `onStateChanged` I have:
[code]

The hope is `resume()` would start the upload transfer again but it does not seem to do that.

[2019-01-08 05:20] tobyloki opened #636 "[IoT] Support generation of presigned URL for IoT endpoint"
**Describe the bug**
I am trying to get a signature for the below code, but the result I am getting is incorrect. When the UTC time is _20190108T053505Z_, I get a result of:

How can I get the signature to work correctly?

[code]

**Which AWS service(s) are affected?**
aws-android-sdk-core

**Expected behavior**
The correct result I should be getting for the UTC time is:

**Environment(please comp

[2019-01-08 18:19] kvasukib commented on #636
@gearsmotion789 Sorry for the inconvenience caused. Asking out of curiosity, Is there a reason not to  use the `aws-android-sdk-iot` SDK and create and sign the request yourself?

[2019-01-08 18:23] kvasukib commented on #618
@hipwelljo If it's a single-part upload, resume and upload would do the same thing. Our granularity of restoration is 5MB, i.e TransferUtility will remember what is the last 5MB chunk that has been successfully uploaded to resume from that point. Did you try calling `upload` again and did that work?

[2019-01-08 20:19] desokroshan commented on #253
@escdev-je
The exception indicates that the signature was not created recently and thus the signature validation failed with the error message you mentioned. A common cause of this is when the local clock on the host generating the signature is off by more than a few minutes.

Could you share the code snippet you used to set the global offset and retry the API Gateway call? Also can you try to syn

[2019-01-08 22:11] gearsmotion789 commented on #636
@kvasukib I have not though of it yet. Could you share the code for creating and signing the request with aws-android-sdk-iot?

[2019-01-08 22:19] kvasukib commented on #636
@gearsmotion789 Thank you for the quick response. The `aws-android-sdk-iot` library provides a class called `AWSIotMqttManager` which will use either a TLS based Mutual Auth using X.509 certificate or AWS SigV4 credentials to authenticate your calls to the AWS IoT and provides methods to publish and subscribe to topics. You can follow the documentation here: https://aws-amplify.github.io/docs/andr

[2019-01-09 00:18] nchorniy opened #637 "Best practice to handle hanging of calls to AWS services"
**Question**
What is the best practice to avoid hanging of AWS service calls (such as dynamodb save operation) if credentials token becomes invalid?

**AWS Services we are utilizing**:
- DynamoDB
- S3
- AppSync

**Problem description and code snippets**
This call blocked the thread forever in `AWSMobileClient.waitForSignIn()` method.

[code]
dynamoDBMapper of class `DynamoDBMapper`.

Before making

[2019-01-09 00:36] kvasukib commented on #616
I can confirm that we do not make additional request for single-part uploads. The retry functionality is a feature request for `TransferUtility` in Android. Meanwhile as @hipwelljo pointed out, one could check for the `FAILED` state and resume or start a new upload transfer.

[2019-01-09 06:14] gearsmotion789 commented on #636
@kvasukib How exactly can I see the signature from this? What's the code for that?

[2019-01-09 10:37] sysquare opened #638 "S3 TransferUtility : Timeout error in slow network when media is uploaded"
**Describe the bug**
Not able to upload a 125 MB video on slow network. Refer screenshots

**To Reproduce**
Steps to reproduce the behavior:
1. Go to upload section of s3 transfer utility sample app
2. Click on upload media
3. Upload a file. Mine was 125 MB
4. See error enslosed. It is because of slow network and where and upload speed was less than equal to 2 Mbps

**Which AWS service(s) are affe

[2019-01-09 11:33] VirRajpurohit opened #639 "AWS Rekognition Android Sample code"
I am not able to find the sample code for the face compare feature provided by AWS Rekognition in Android.

**AWS Rekognition**

[2019-01-09 12:37] warlock-jay opened #640 "Aws Iot issues with restricted policy permissions"
**State your question**
When i am trying to connect my end point its' not connecting,It's showing connection lost
**Which AWS Services are you utilizing?**
AWS cognito userpool,federated identity pool,Iot
**Provide code snippets (if applicable)**
This is my code

               protected void onCreate(Bundle savedInstanceState) {
             super.onCreate(savedInstanceState);
        setContentV

[2019-01-09 16:55] hipwelljo commented on #616
Thanks for checking into that @kvasukib! Do you have any other ideas as to why sometimes the state changes to FAILED even though the photo did upload to S3 on a poor connection like edge?

[2019-01-09 17:58] desokroshan commented on #640
@warlock-jay Sorry to hear that you are having issues. Can you please update to the latest version and try again. We have made some changes to log detailed exceptions upon connection failures. With current logs that you have shared its difficult to root cause the issue.
Also since you are connecting to iot using AWS Cognito Identity, you would need to attach principal policy to the Cognito Identit

[2019-01-09 18:10] kvasukib commented on #616
@hipwelljo I would check the device, API level and network conditions. Can you try the same experiment on a different device or network condition? You could also check if there any firewall policies set on the network?

[2019-01-09 18:22] kvasukib commented on #639
@VirRajpurohit Thank you for reporting to us.

[code]

Be sure to use `import com.amazonaws.services.rekognition.model.Image;` for the `Image` class referenced in the code and not the Image from `android.media`.

[2019-01-10 00:09] hipwelljo commented on #616
@kvasukib The issue only occurs with a poor network condition like Edge data speeds (but many of our customers will be in that scenario) that I've seen. I do only have the one physical device available to test with, besides emulators which I can reproduce this issue on those as well (Pixel and Pixel 2, let me know if you would like me to try others).

[2019-01-10 04:45] VirRajpurohit commented on #639
Ok, so this certainly requires AWS api keys and another authentication things. Where all this needs to be kept in code?

[2019-01-10 05:17] cidoni commented on #479
Is there a resolution identified for this issue?
I also noticed this while using 1.2.0, and it worked when I switched down to 1.1.0.
Thanks.

[2019-01-10 05:32] desokroshan commented on #479
@cidoni
Unfortunately, We do not have a resolution yet other than using paho version 1.1.0.
This is an ongoing paho issue and is being tracked [here](https://github.com/eclipse/paho.mqtt.java/issues/345)

[2019-01-10 05:50] desokroshan commented on #639
@VirRajpurohit You can pass the AWS access key id and secret access key while instantiating that Rekognition client in the snippet above :
[code]
It is however recommended to use temporary credentials from a credentials provider for production apps as follows :

[code]

You can read more using and initializing AWsMobileClient in the [documentation here](https://aws-amplify.github.io/docs/android/a

[2019-01-10 05:53] VirRajpurohit commented on #639
@desokroshan
so,
`AmazonRekognition rekognitionClient = new AmazonRekognitionClient(AWSMobileClient.getInstance());
`This is we can take as a testing purpose

when we want to go live with the app
 `AmazonRekognition rekognitionClient = new AmazonRekognitionClient(new BasicAWSCredentials(<Access_key_id>, "secret_access_key"));`
This is recommended.
Is it so?

Also,
withoput key must be having some

[2019-01-10 06:01] desokroshan commented on #639
Its the other way round actually. Providing key is not recommended for security reasons. Hard coding keys into the app code makes it available to anyone with access to your app's apk file(which is everyone once the app is live on play store).
Hope it help!

[2019-01-10 06:09] VirRajpurohit commented on #639
@desokroshan
Understand!

My actual question rolls around the curiosity about the authentication procedure.

One must have AWS account to proceed with the AWS Rekognition integration. so where does this account credentials are being used?

Downloading the SDK and integrating the code @kvasukib provided is all about this?

[2019-01-10 15:56] desokroshan commented on #639
To be able to use AWS Rekognition you need to configure Cognito Identity pool. You would  then have to create awsconfiguration.json file with Cognito identity pool Id and region, place it res/raw folder of your application. This information will be used by AWSMobile client during its initialization to configure Cognito Identity.
I would suggest going through the [documentation](https://aws-amplify

[2019-01-11 11:23] shivam21 opened #643 "S3:Check if upload is completed successfully or not?"
**State your question**
How to Check if upload is completed as transferUtility.resume(awsid) returns null?

**Which AWS Services are you utilizing?**
S3
**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]
2.10.0
**Device Information (please complete the following information):**
 - Device: [e.g. Pixel XL, Simulator]
 - Android Version: [e.g. Nougat 7.1.2]
 - S

[2019-01-11 18:23] kvasukib commented on #643
@shivam21 Thank you for reporting to us. Sorry for the inconvenience caused. `resume` can return null when the transfer record identified by the transfer id passed in cannot be found in the SQL database (persistent store).

It could be due to one of the following reasons:
1) The transfer is completed and the record is removed from the database. Can you check if the object is uploaded and available

[2019-01-11 18:57] shivam21 commented on #643
@kvasukib Thanks for the quick reply.yes you are right transfer is completed but i want to delete the file(in local) afterwards but before deleting file(local) i want to make sure it is uploaded successfully.is there any way by which i can prevent transferutility to delete the record itself(after completion of upload)

[2019-01-11 20:10] kvasukib commented on #643
@shivam21 The `TransferUtility` always deletes the transfer record when the transfer is completed. This is the behavior of the `TransferUtility` as not deleting them would cause the database size to grow. To know if the transfer has been completed successfully, you can rely on the following information:

1) `onStateChanged` callback in `TransferListener`
2) `onProgressChanged` callback in `Transfe

[2019-01-12 02:14] KateLeeCandy commented on #482
AWS Web Services https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/http/HttpMethodName.java

[2019-01-12 02:16] KateLeeCandy commented on #482
Web Services has 'OPTIONS', Why android SDK not correspond it

[2019-01-12 02:17] KateLeeCandy commented on #482
https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/http/HttpMethodName.java

[2019-01-12 02:19] KateLeeCandy commented on #302
https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_UnlinkIdentity.html

[2019-01-12 02:20] KateLeeCandy commented on #302
Why android SDK not correspond it

[2019-01-12 02:31] KateLeeCandy opened #644 "AWS Web Services has 'OPTIONS', AWS Android SDK missing it..."
AWS Web Services has 'OPTIONS', we hope AWS Android SDK correspond it

AWS Web Services
https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/http/HttpMethodName.java
AWS Android SDK
https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/http/HttpMethodName.java

[2019-01-12 02:31] KateLeeCandy commented on #482
https://github.com/aws-amplify/aws-sdk-android/issues/644

[2019-01-12 02:44] KateLeeCandy opened #645 "Where is UnlinkIdentity function?"
https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_UnlinkIdentity.html
We found UnlinkIdentity function in doc, but can not find it on current aws android sdk ( v2.10.1 )

Only found it before 2.2.0...but we want to implement the latest version.
https://abi-laboratory.pro/?view=compat_report&lang=java&l=aws-android-sdk-core&v1=2.1.10&v2=2.2.0&obj=a5bf7&kind=bin#Removed

[2019-01-12 02:45] KateLeeCandy commented on #302
https://github.com/aws-amplify/aws-sdk-android/issues/645

[2019-01-12 04:04] shivam21 commented on #643
@kvasukib ok thanks.will give it a try.

[2019-01-12 10:47] sysquare commented on #638
I did not tried "RESUME", but how does it matter as I have not "PAUSED" anything ?

[2019-01-12 10:54] sysquare commented on #638
I tried 2-3 files again, but this time it did not failed. It fails on poor network and its hard to reproduce.
Will try again

[2019-01-12 10:56] sysquare commented on #638
Also, I am getting below errors in firebase when app is in background :

Fatal Exception: java.lang.RuntimeException: Unable to create application com.buddynation.DroneNation.Applications: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.buddynation.DroneNation/com.amazonaws.mobileconnectors.s3.transferutility.TransferService }: app is in background uid UidRecord{423b

[2019-01-13 04:16] kvasukib commented on #638
@sysquare It is expected to get the exception when you start the service when the app is in background. We are actively working on a solution to move the service to foreground state when the device is running Oreo and above. I will update this thread when the fix for this foreground promotion feature is released.

The functionality that `TransferService` provides is: Detecting the network connecti

[2019-01-13 04:17] kvasukib commented on #644
@KateLeeCandy Thank you for pointing this out. I will discuss this with the team and have an update soon. Can you describe your use case regarding using `OPTIONS`?

[2019-01-13 23:15] hipwelljo commented on #618
I have found that `resume()` does work if I wait a second to call it instead of immediately calling it in `onStateChanged`.
[code]

[2019-01-14 01:38] kvasukib commented on #618
@hipwelljo I believe it's a race condition between the previous transfer for the same file that is terminating (success/failure/`onStateChanged`) and the new transfer that is being started. I am looking into the bug where there is an inconsistency in the callback being invoked.

[2019-01-14 04:47] desokroshan commented on #636
@gearsmotion789 The signature generated by the SDK is private and therefore you can't access and print it in your application. The Signature is generated from the AWS Credentials using AWS Signature Version 4 algorithm and is used internally for securely authenticating to AWS IoT. The signature is not publicly exposed because we do not envision a use case for it. Do you have a specific requirement

[2019-01-14 06:43] desokroshan commented on #640
@warlock-jay The call to attachPolicy make a network call which cannot be performed on main thread to avoid unresponsive apps. Please move the code to a separate worker thread :

[code]

[2019-01-14 10:32] warlock-jay commented on #640
Hi @desokroshan
 I have changed my code like this

public class Iot extends AppCompatActivity {

    public String clientId = UUID.randomUUID().toString();
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_iot);
        Log.i("Iotstatus", "Iotactiviuty started");
        new Thread(new Runnabl

[2019-01-14 15:00] andymartinwork opened #646 "Open ID Connect logins though User Pools with Amplify"
Cognito User Pools federated with Open ID Connect

My company has a partner we're working with that uses Open ID connect. We've decided to add these users to our user pools so we have consistency and more control.
We've set up a test pool which we've connected to open id. The login flow works perfectly fine.

<img width="731" alt="screenshot 2019-01-14 at 15 18 30" src="https://user-images.githubu

[2019-01-14 15:36] andymartinwork commented on #634
As a developer, I don't want to do any of the listed things (sorry about that).
I know I was the one that asked for developer authenticated federation, but after it wasn't around we decided to put everything through user pools. Unfortunately, this is leading to other issues, like #646

Here is my other feedback

1.   Are you using Cognito UserPools(authentication) and Cognito IdentityPools(authori

[2019-01-14 15:57] Linger-ing opened #647 "AWS API Gateway generate SDK throws GSON.fromJSON error in android"
I am using API gateway generated SDK to call APIs on android client. The API is working all fine on some devices which are running on android API Level 28 (OnePlus 6, 6T) but on phones with lower versions API Level 27 and earlier it is throwing Gson deserialise error.

here is the API response model

[code]

further, the ResponseModelInfoItem in the above model is given here
[code]

when run, I ge

[2019-01-14 17:34] desokroshan commented on #640
An Amazon Cognito authenticated user needs two policies to access AWS IoT. The first policy is attached to the role of the authenticated pool to authenticate and authorize the Cognito user to communicate with AWS IoT. The second policy is attached to the authenticated Cognito user ID principal for fine-grained permissions. The above snippet attaches policy to the user id. Can you confirm if you ha

[2019-01-14 18:06] warlock-jay commented on #640
Yes,I gave full Iot access to authenticated and unauthenticated roles.

[2019-01-14 18:24] aswinkumarpopuri commented on #408
com.amazonaws.services.cognitoidentity.model.NotAuthorizedException: Unauthenticated access is not supported for this identity pool. (Service: AmazonCognitoIdentity; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 5dd821b5-1826-11e9-96c7-ddcc1850988a)

can you let me know when do i have these type of exceptions?

[2019-01-14 18:31] minbi commented on #634
@andymartinwork,

Would you want to use the drop-in UI if it supported lower API versions? or are you saying you would rather write your own UI?

Is this in the same app in when released? or do you have 5 versions of the app that may have 5 configurations?

[2019-01-14 19:22] kvasukib commented on #408
@aswinkumarpopuri Have you enabled "Access to Unauthenticated Identities" in your Cognito Identity Pool?

[2019-01-14 19:57] palpatim commented on #645
We're treating this as a bug. We'll update this thread when we have an update.

[2019-01-14 22:57] aswinkumarpopuri commented on #408
In the Aws console or thorugh the app?, how can I provide access for unauthenticated users through the code ?

Thanks in advance

[2019-01-14 23:17] nchorniy commented on #637
@minbi That makes sense. That's actually a normal behaviour. I think this should be outlined in documentation in the first place: like `Don't forget to register UserStateListener every time you use AWSMobileClient and perform a sign out upon detecting the "tokens invalid" state, because otherwise, your running operations may block the threads they are running inside`.

Another possible solution is

[2019-01-15 08:50] andymartinwork commented on #634
We would probably rather write our own UI anyway, as we need it to be very customised. But even if we did want to, 5% of our users are currently lower than 6.0. Our users are a bit more techy than usual, as the android dashboard says 25% of the global users are below 6.0

https://developer.android.com/about/dashboards/

We will have 5 versions of the app with 5 different configs, so it's easy for

[2019-01-15 09:58] KateLeeCandy commented on #644
We design the federated service:
Get: return the federated list of user.
Post: federate object to user.
Options: return the federated relationship between this object and user
Delete: remove the federated relationship between this object and user

[2019-01-15 10:07] sixbladeknife opened #648 "KinesisVideo Pause/resume streaming error"
Hello,
we are experiencing some errors in logcat while pressing a button on our fragment that toggles the streaming on KinesisVideo.
the button works well when we first press the play/resume button, the mMediaSourceState of the AndroidCameraSource goes from INITIALIZED state to STARTED and the streaming starts correctly.

Then, on a second press of the play/resume button, the mMediaSourceState goe

[2019-01-15 15:35] desokroshan commented on #640
Some comments based your code above :

1. Where did you create the IoT policy with the name "myIOTPolicy" that you attach to the cognito identity above. Can you please share a snapshot of this policy?
2. You should not to instantiating AWSIotMqttManager for each of connect, publish, subscribe operations. This should be instantiated once and same instance should be used for all the operations.
3. Y

[2019-01-15 15:38] desokroshan commented on #292
@satyasivaprasad Are you running this on an emulator or on a real device?

[2019-01-15 15:50] palpatim commented on #646
Thanks for the post @andymartinwork. I'll take this to the team as a feature request and we'll report back on this thread when we have more info.

[2019-01-15 19:15] kvasukib commented on #638
@sysquare The next SDK release will be containing the changes for transitioning the service to foreground state when the device is running Oreo and above. Thank you for the patience.

[2019-01-15 23:59] hs8058 commented on #292
This was a real device.

On Wed, 16 Jan 2019 01:39 Roshan Kumar <notifications@github.com wrote:

[2019-01-16 06:59] #647 closed

[2019-01-16 07:00] Linger-ing commented on #647
there was a issue with response model, mismatch in a variable name. could not find it till we generated a new API altogether.

[2019-01-16 11:01] dbathily opened #657 "Missing `updateInternalUsername` call in `initiateCustomAuthRequest`"
**Describe the bug**
When initiating a custom auth without `clientSecret` I have this error:

[code]

**To Reproduce**

[code]

**Which AWS service(s) are affected?**

Cognito

**Expected behavior**

Should not raised and exception, internalUsername must be updated with the parameters

**Environment(please complete the following information):**
 - SDK Version: 2.9

[2019-01-16 11:44] warlock-jay commented on #640
Hi @desokroshan
1)
![iotpolicy](https://user-images.githubusercontent.com/26434600/51245283-3625e300-19ad-11e9-9f46-4636254bc0f4.png)
This is policy document

`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:*",
      "Resource": "arn:aws:iot:eu-west-1:4************3:topic/*"
    }
  ]
}`

2)
I have changed and tested my code as you suggested.This

[2019-01-16 17:32] desokroshan commented on #640
Thanks for sharing the details.
Could you please use the following policy document as myIOTPolicy and share the results:
[code]
Also can you share snapshot of policies attached to the authenticated and unauthenticated roles from the IAM console?

[2019-01-16 20:38] palpatim commented on #647
Hi @Linger-ing,

Thanks for the update--glad you were able to resolve.

[2019-01-16 20:43] palpatim commented on #657
Thanks for reporting the issue @dbathily. We will investigate and update this thread when we have more info or questions.

[2019-01-17 01:20] minbi commented on #627
Hi @luanalbineli ,

I'm able to receive `LimitExceededException` for change password.
[code]

And `NotAuthorizedException` for failed sign-in now.
[code]

Do you see the same behavior now?
If not can you provide the request id?
[code]

[2019-01-17 07:47] warlock-jay commented on #640
Hi @desokroshan
I have changed Resource to  "*" in myIOTpolicy and it started working.
When i run connectiot() it is showing status connected.
subscription and publishing also working.

But
When i subscribed to topic and published a message in topic it is receiving in my phone but shadow document is not updating.
Why it is happening?
How to update shadow?

[2019-01-17 09:23] warlock-jay commented on #640
Thanks @desokroshan

It's working when i change subscribe and publish topic names

for publish i used "$aws/things/***************/shadow/update"
for subscribe i used "$aws/things/****************/shadow/update/accepted"

Still i have confusion on getting full data ,getting only delta,publishing.working on it.
And i have to restrict permissions in policy documents,Can you tell me best method?

[2019-01-17 11:37] sysquare commented on #638
any rough idea, when can we expect next SDK ?

[2019-01-17 11:48] maff91 opened #658 "Cognito tokens lifespan depends on local device time."
**Describe the bug**

Id and Access tokens expiration time is server absolute time. If client time is manually set to a different time it leads to a problem.

Our tokens lifetime is set to 1h. If device time is manually set to 1h+ forward Cognito considers its tokens already expired immediately after login or token refresh. `CognitoUser.getDetails(...)` will always throw `CognitoNotAuthorizedExcep

[2019-01-17 15:17] dbathily opened #659 "Deadlock when retrieving tokens which are invalid"
**Describe the bug**

After `AWSMobileClient.initialize`, I'm trying to get the user's tokens which are now invalid with `AWSMobileClient.getTokens(callback)`, expecting a call on the callback `onError`. Instead I get a deadlock, nothing happens.

When following the calls, the problem come from `waitForSignIn`. The `userStateDetails.getUserState` is `SIGNED_OUT_USER_POOLS_TOKENS_INVALID` which cau

[2019-01-17 16:20] asweeney99 commented on #394
I was seeing this problem too trying to authenticate with Cognito. MQTT connection failed due to Authentication Handshake Exception. Android Version 8.0 and SDK 2.6.X Was working fine until last weekend. Couldn't understand it. I tried compiling with SDK 2.10.0 and 2.11. No luck. Then I noticed that my Android device was 5 minutes ahead of time. Changed the time back by 5 min. No connection proble

[2019-01-17 16:31] palpatim commented on #638
Hi @sysquare,

We are working on this feature now but don't have a firm release date. We'll update this thread when we have more information.

[2019-01-17 16:36] palpatim commented on #659
@dbathily

Thanks for reporting this issue. We'll investigate and update this thread when we have more information.

[2019-01-17 17:19] desokroshan commented on #394
@asweeney99 Thanks for pointing that out. I understand that you were running into reconnection loop but it would be helpful if you could share the specific underlying exception. Latest version of SDK(2.10.+) should produce detailed logs with specific connection errors.
Also since we are tracking this in https://github.com/aws-amplify/aws-sdk-android/issues/658 and to avoid mixing of all the differ

[2019-01-17 20:50] asweeney99 commented on #394
@desokroshan Same exception as @jeremiasdsa above. Thanks for the more verbose logging but I didn't need to follow them this time.

[2019-01-17 21:42] #449 closed

[2019-01-17 21:42] #458 closed

[2019-01-18 00:34] kvasukib commented on #638
@sysquare The foreground feature is released in `2.11.0` version of the SDK. Please read our [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2110) and [Documentation](https://aws-amplify.github.io/docs/android/storage#supporting-transferservice-on-oreo-and-above) for detailed information on the change. We advise you to perform testing and understand the

[2019-01-18 00:35] kvasukib commented on #613
@pedrovarela86 The foreground feature is released in `2.11.0` version of the SDK. Please read our [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2110) and [Documentation](https://aws-amplify.github.io/docs/android/storage#supporting-transferservice-on-oreo-and-above) for detailed information on the change. We advise you to perform testing and understand

[2019-01-18 00:36] kvasukib commented on #611
@hipwelljo Just wanted to know if this issue is still persistent after customizing the notification threshold?

[2019-01-18 00:37] #603 closed

[2019-01-18 00:38] kvasukib commented on #603
Thank you for pointing this issue. We have fixed it. If you still encounter a new problem in the latest SDK, please feel free to open a new issue,

[2019-01-18 00:43] kvasukib commented on #526
@rickymohk @Huolju @mUfoq @Daxito We have fixed this issue in `2.11.0` version of the SDK. The fix includes removal of the additional layer of encoding and escaping done by the `AmazonS3Client`. Hence this change requires testing on your end before upgrading your app with the new SDK.

Please read our [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2110)

[2019-01-18 00:51] hipwelljo commented on #611
Yes, I’ve set it to 10 currently.

[2019-01-18 00:53] jeremiasdsa commented on #394
Hi guys, I did forget to post how I got my problem solved.
So, I just needed to set the device time to automatic mode.

[2019-01-18 02:06] rickymohk commented on #526
The fix works. Thank you very much.

[2019-01-18 03:01] desokroshan commented on #640
@warlock-jay Thanks for the update. I will try to reproduce and investigate the issue with restricted policy permissions soon as I can and update the thread.

[2019-01-18 04:13] muellerfr commented on #526
@rickymohk, excellent, thank you for confirming. We'll leave this issue open for a few more days, so others can respond also.

[2019-01-18 04:14] muellerfr commented on #394
@asweeney99, can you try @jeremiasdsa suggestion and report back your findings please?

[2019-01-18 08:00] asweeney99 commented on #394
@muellerfr that's what worked for me.

[2019-01-18 11:41] nthieu90 opened #663 "BadRequestException thrown when updating endpoint due to limit being exceeded"
When I call updateEndpointProfile and get an error:

`com.amazonaws.services.pinpoint.model.BadRequestException: Exceeded maximum endpoint per user count 10 (Service: AmazonPinpoint; Status Code: 400; Error Code: BadRequestException; Request ID: 6af05861-1b15-11e9-87cd-8bdea723c33a)
        at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpClient.java:730)
        at com.amazona

[2019-01-18 15:54] muellerfr commented on #394
Looks like the issue is resolved then, and I will go ahead and close the issue.  Please open a new issue if you are still encountering problems.

[2019-01-18 15:54] #394 closed

[2019-01-18 16:15] BillBunting opened #664 "SignInUI : E/WindowManager: android.view.WindowLeaked: Activity com.amazonaws.mobile.auth.ui.SignInActivity has leaked window"
**Describe the bug**
Exception upon sign up completion. User creates new account, user enters validation code, then the app will throw this exception. Is this a bug or integration issue? New users are unable to complete sign-up (a workaround is to restart the app)

SignInUI signinUI = (SignInUI) AWSMobileClient.getInstance().getClient(AuthenticatorActivity.this, SignInUI.class);
                si

[2019-01-18 16:18] BillBunting commented on #565
@minbi
Any update on fixing the keyboard issue with the sign-up UI?  This remains an issue for my app in 2.10.0.

[2019-01-18 18:02] BillBunting commented on #664
@minbi I will update the app to use AWSMobileClient.getInstance().showSignIn(...)  I just completed a major upgrade on the iOS version of the app to swap to using AWSMobileClient.getInstance().showSignIn(...) and will start the same process on the Android version. Both apps, were initially from MobileHub templates and have been upgraded and refactored several time to keep up.  I hope this will res

[2019-01-18 18:21] kvasukib commented on #663
@nthieu90 Thank you for reporting to us. This is the limit enforced by Amazon Pinpoint Service. Here is the documentation for the limits: [Limits](https://docs.aws.amazon.com/pinpoint/latest/developerguide/limits.html#limits-endpoint).
Endpoints with the same user ID: 10 unique endpoints per user ID.

[2019-01-18 18:24] kvasukib commented on #644
Thank you @KateLeeCandy for the response. Can you post a code snippet of how you would like to use `OPTIONS` if it exists? I will have an update once I discuss the use-case with the team.

[2019-01-18 23:41] nthieu90 commented on #663
Hi @kvasukib
if I update endpoint by new userId, that will remove endpoint from current userId?
How to remove endpoints not available from a user? In case, user uninstall and reinstall the app that will create new endpoint_id and assign to the same user until got the limit exception.
Thanks

[2019-01-18 23:49] #639 closed

[2019-01-18 23:54] palpatim commented on #645
We have a fix for this and are preparing it for an upcoming release.

[2019-01-19 00:35] palpatim commented on #658
Hi @maff91

Thanks for reporting this issue. I know we do have some handling around clock skew on the iOS side, but we'll need to investigate to see whether we have the same strategies for Android (or indeed if that is the issue here at all).

[2019-01-19 01:42] kvasukib commented on #663
@nthieu90 Thank you for the quick reply. You can use the `get-user-endpoints` API of Pinpoint to query for the endpoints associated with a user-id. The equivalent method in the SDK would be: [getUserEndpoints](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-pinpoint/src/main/java/com/amazonaws/services/pinpoint/AmazonPinpointClient.java#L2854)

[2019-01-19 01:44] kvasukib commented on #636
@gearsmotion789 Thank you for the quick reply. If I understand correctly, you would like to generate a presigned URL of the IoT endpoint but not publish or subscribe to topics using that URL? What is your use-case after generating the presigned URL?

[2019-01-19 01:49] nthieu90 commented on #663
Which value I can check if endpoint still available or not to delete?

[2019-01-20 06:45] #643 closed

[2019-01-21 09:49] mukeshdadarwal opened #667 "TransferUtility video uploading percent above 100 %"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-01-21 10:58] skc18 commented on #632
Hey, I'm using Android to call showSignUp exactly like the code mentioned by @minbi. However, I keep on receiving a blank UI, nothing show up. A transition to a new activity does show up. Anyone know how to solve it?

[2019-01-21 12:34] luanalbineli commented on #627
Hi @minbi ,

Here is the raised exception:

2019-01-21 10:29:58.485 - com.amazonaws.services.cognitoidentityprovider.model.NotAuthorizedException: Password attempts exceeded (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 4150401e-1d78-11e9-a15b-3d35ecadad5f)
        at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpClie

[2019-01-21 15:59] mehmetkemalbayer opened #668 "RunInBackground flag does not work"
Why does runinbackground get network in main thread error on android?
**Which AWS Services are you utilizing?**
AWS Cognito user.initiateUserAuthentication
**Provide code snippets (if applicable)**

[code]
**Environment(please complete the following information):**
aws-android-sdk-auth-userpools:2.6.+@aar'

**Device Information (please complete the following information):**
Nexus 6 API 24

[2019-01-21 16:41] palpatim commented on #667
Assigning to @kvasukib to look at as part of the investigation into #611, if relevant.

[2019-01-21 17:57] minbi commented on #668
Hi @mehmetkemalbayer ,

We have identified at least one flow that does not respect the flag. Which flow are you using? or could you provide a stacktrace?

[2019-01-21 18:54] gearsmotion789 commented on #636
@kvasukib I will then send it as an HTTP POST or GET request.

[2019-01-21 19:14] kvasukib commented on #636
@gearsmotion789 Thank you for the reply. I am summarizing the request here:

Provide a method that would take in the IoT endpoint, port, credentials (AWS SigV4) and return a presigned URL. I am tagging this as a feature request and taking to the team for prioritization.

[2019-01-21 19:48] kvasukib commented on #663
@nthieu90 Sorry for the delayed reply. You can retrieve the endpoint information through [GetEndpoint](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-kinesis/src/main/java/com/amazonaws/mobileconnectors/kinesis/kinesisrecorder/FileRecordStore.java#L43) and delete an endpoint using [DeleteEndpoint](https://github.com/aws-amplify/aws-sdk-android/blob/7a2955cd387dfdcd292f7

[2019-01-21 21:39] gearsmotion789 commented on #636
@kvasukib That is correct. Can you reply back when there is a code sample for this?

[2019-01-21 21:48] kvasukib commented on #636
@gearsmotion789 I will provide an update when this change is released.

[2019-01-22 01:46] nthieu90 commented on #663
Thanks

[2019-01-22 01:46] #663 closed

[2019-01-22 07:03] VirRajpurohit commented on #639
After going through samples and documentation it is being difficult to integrate Face Rekognition.

[SDK](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-rekognition) and [samples](https://github.com/awslabs/aws-sdk-android-samples) do not include steps and code for AWS Rekognition service integration in Android.

[2019-01-22 07:32] mukeshdadarwal commented on #667
SDk version is "2.11.+"
File size 632 MB
Yes transfer is interrupted 3 - 4 times and percent goes to 176%
 total bytes => 663100390
bytesTransferred => 1167465446

[2019-01-22 08:30] anees17861 commented on #657
+1

[2019-01-22 17:38] BillBunting commented on #664
I moved the call AWSMobileClient.getInstance().showSignIn from its own Activity into the apps MainActivity to workaround the issue.

[2019-01-22 17:38] #664 closed

[2019-01-22 18:42] kvasukib commented on #667
@mukeshdadarwal Thank you for the quick response. I am currently working on the Progress reporting related issues in `TransferUtility`. I will track this issue as well.

[2019-01-23 15:36] jia-tse-zocdoc opened #670 "2-factor authentication issue"
There are times when sign in with google will trigger a popup for 2-factor authentication, of which when done, will not resume the cognito auth flow correctly. It might have to do with the fact that chrome tabs are launched with `FLAG_ACTIVITY_NO_HISTORY `

Is this a known limitation? Any ideas for a work around?

[2019-01-23 22:44] k-thorat opened #671 "S3 with Cognito (CognitoCachingCredentialsProvider) is not renewing access token."
**Describe the bug**
We are using S3 with CognitoCachingCredentialsProvider, It works fine until access token is active. Once expired (1 hour) Throws exception on any activity on TransferUtility.
**{"__type":"NotAuthorizedException","message":"Invalid login token. Token expired: 1548215704 >= 1548214608"}**

**To Reproduce**
1. Create TransferUtility with S3Client (CognitoCachingCredentialsProvide

[2019-01-24 10:15] ghost opened #672 "Java 8 lambdas: Split c.a.m.c.Callback into SuccessCallback and FailureCallback"
**Is your feature request related to a problem? Please describe.**
Unable to use lambdas for callbacks, forcing to create anonymous interface implementations.

**Describe the solution you'd like**
Create SuccessCallback and FailureCallback interfaces, and overload all methods that acccept Callback to also accept a pair of these

**Additional context**
This is to facilitate usage of lambdas instead

[2019-01-24 10:39] doom777 commented on #634
2.i
2.v
2.vi
Disable email/password completely and only rely on Google

Are you using Cognito UserPools(authentication) and Cognito IdentityPools(authorization) both in your app?
Yes
Are you using drop-in UI in your app?
Yes
Do you want more functionality in drop-in UI or more/ easy-to-use APIs in AWSMobileClient to better provide functionality in your app UI?
Both
Do you want to use drop-in UI as

[2019-01-24 15:00] cbommas commented on #672
@doom777
Thank you for posting your feature request. I will discuss this with the team and update this thread once I have more information.

[2019-01-24 17:56] kvasukib commented on #671
@k-thorat Sorry for the inconvenience caused. Are you executing a transfer operation that exceeds 1 hour?

[2019-01-25 04:05] #604 closed

[2019-01-25 04:05] #613 closed

[2019-01-25 04:05] #638 closed

[2019-01-25 05:41] #253 closed

[2019-01-25 06:53] muellerfr commented on #526
@rickymohk @Huolju @mUfoq @Daxito - I am going ahead and closing this issue as @rickymohk confirmed that the fix worked for him. Please open another issue if you are still experiencing problems.

[2019-01-25 06:53] #526 closed

[2019-01-25 07:10] warlock-jay opened #674 "Getting list of object keys in s3 bucket"
**State your question**
Hi ,
I am using S3 bucket service in Android ,I can download files by putting object key hard coded but first i want to get list of object keys present in bucket then i want to download .How to do that?
**Which AWS Services are you utilizing?**
Cognito,S3,Iot
**Environment(please complete the following information):**
 - SDK Version: 2.9

**Device Information (please comple

[2019-01-25 09:49] warlock-jay commented on #674
I tried this code

`            AmazonS3Client s3client1 = new AmazonS3Client(AWSMobileClient.getInstance());
            s3client1.setRegion(Region.getRegion("eu-west-1"));

            ObjectListing transferRecordMaps;
            String sub_id = AWSMobileClient.getInstance().getTokens().getIdToken().getClaim("sub");
            Log.i("usersub", "usersub is" + sub_id);
            transferRecord

[2019-01-25 10:43] gilbertdigio commented on #616
@hipwelljo @kvasukib Hi guys, first of all sorry for my English.

I have the same issue simulating 3G conditions (1024 kbps Upload bandwidth).
I think resume or restart the failed upload is not worth it. Under the same conditions timeout will take place again.

I receive "Failed" signal but observing with a proxy  I can see that all parts have been "Completed". Very strange. However I stop receivi

[2019-01-25 11:12] EnterPrayz opened #675 "Cognito Sync - OutOfMemoryError"
**Describe the bug**
Hi!. Every time in my crashlytics appear OutOfMemoryError  in com.amazonaws.mobileconnectors.cognito.internal.storage.SQLiteLocalStorage.cursorToDatasetMetadata (SQLiteLocalStorage.java:350) method. What could cause a bug?

![image](https://user-images.githubusercontent.com/7173595/51741641-2dfe2f80-20a0-11e9-9aac-854905504cbf.png)
I'm using
[code]

**Which AWS service(s) are

[2019-01-25 14:37] gilbertdigio opened #676 "No CANCELED state is received when canceling an upload"
**Describe the bug**

When uploading multiple videos in parallel some of them go to WAITING status. If any of those videos is canceled, we stop receiving updates from TransferListener for that transfer. Neither the CANCELED state nor RESUMED_WAITING.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload 10 or more videos in parallel.
2. Cancel 1 or more of those transfers while they are in

[2019-01-25 16:46] kvasukib commented on #674
@warlock-jay Thank you for reporting to us. You cannot make a network call from a main thread in Android. You need to wrap the call to `listObjects` in a background thread.

[code]

[2019-01-25 16:48] kvasukib commented on #616
@gilbertdigio Sorry for the inconvenience caused.
Do this happen every time you upload the file?
What version of the SDK are you using?

[2019-01-25 16:58] gilbertdigio commented on #616
@kvasukib Every time I repeat the test under those conditions. Also increasing the bandwidth to 2048 kbps.

I'm using 2.11.0 version of the SDK.

[2019-01-25 17:55] RuiEEE opened #677 "TransferUtility Pause/Resume Progress"
**Describe the bug**
After 2.11.0, when pausing and resuming an upload I'm not getting updates on the progress. Moreover, when I pause, I receive the FAILED state, If I resume it, the upload will eventually resume (and complete) but not get notified on the same transfer listener. I tried re-attaching the listener after the resume but it won't get notifed anyway.

**To Reproduce**
1. Start an uploa

[2019-01-25 18:03] kvasukib commented on #677
Hi @RuiEEE Sorry for the inconvenience caused. Are you attaching a `TransferListener` to the `TransferObserver` object returned by the resume method?

[2019-01-25 18:07] RuiEEE commented on #677
Yes. At first I wasn't because in version 2.10.1 was not needed. But then I was but I'm still not getting callbacks on the listener.

[2019-01-25 19:04] kvasukib commented on #676
@gilbertdigio Sorry for the inconvenience caused. I wrote a test to see if I could reproduce this issue. Basically, I restricted the thread pool to 2 threads and started 10 uploads and canceled random uploads. I did see onStateChanged with CANCELED.

Here is the test:

[code]

[code]

[code]

[code]

Can you check my test and let me know if I'm missing something in the attempt to reproduce it?

[2019-01-25 19:52] kvasukib commented on #677
@RuiEEE I wrote a test to reproduce this issue and pasting the test here.

[code]

Here are the logs from the test:
[code]

I am able to get progress and state updates before pause and after resume successfully. Can you let me know if I'm missing something in the test?

This test uses single-part upload. What is the size of the file you are uploading?

[2019-01-25 20:07] cbommas commented on #675
@EnterPrayz

Couple of questions
1) Can you try to reproduce this issue using the latest version of the SDK v2.11.0
2) Also, can you provide any details of how you are using Cognito in your app to help debug this further?

[2019-01-25 20:59] kvasukib commented on #677
@RuiEEE Thank you for the quick response. As you can see, I have attached the listener to `observerAfterResume` object to get the updates. You can also query the `observerAfterResume` by calling `refresh()` followed by `getState()` and `getBytesTransferred()`. Both methods would work. Let me know how your testing goes.

[2019-01-25 22:34] minbi commented on #670
Hi @jia-tse-zocdoc ,

Thanks for reporting this issue. We will investigate and update this thread.

[2019-01-26 07:37] warlock-jay commented on #674
Hi @kvasukib
Thanks, It's working when i put on separate thread .
but how do we know which api has to put on separate thread?

[2019-01-26 08:10] kvasukib commented on #674
@warlock-jay Good question! If the method is synchronous (makes a network call on the same thread you are calling from and blocks), you need to wrap it with a background thread.

In the AWS SDK for Android, the methods in a class Amazon<ServiceName>Client are synchronous unless stated otherwise in the Javadoc. Synchronous methods take in an input and return an output when succeeds and throws excep

[2019-01-26 11:08] warlock-jay commented on #674
Thanks @kvasukib for clarifying about methods,i will read documentation again .

[2019-01-26 11:08] #674 closed

[2019-01-28 08:35] gilbertdigio commented on #676
Thanks @kvasukib,

I didn't refresh the observer for the WAITING state case.

 Fixed.

[2019-01-28 08:35] #676 closed

[2019-01-28 13:58] ukevgen commented on #671
@kvasukib Hi, have you any updates for this issue?
I have the same error, but from my customer. This issue happens on the screen were I use TransferUtility, but I think that  transfer operation doesn't  exceeds 1 hour. Can it happens when user is trying to upload photo and lost his connection during an hour?

[2019-01-28 18:11] minbi commented on #627
Hi @luanalbineli ,

The service team is asking for the region that you are using. Can you provide that detail?

[2019-01-28 18:22] kvasukib commented on #676
@gilbertdigio Thank you for confirming. Please feel free to open a new issue when you observer any issues in canceling a transfer while testing.

[2019-01-28 21:39] devxpy commented on #192
An entry in the `awsconfiguration.json` file will let you avoid changing the region in code -

[code]

[2019-01-28 21:40] kvasukib commented on #192
@devxpy Just a correction in the snippet:

[code]

[2019-01-28 21:50] devxpy commented on #192
@kvasukib I gues both are valid. If you are directly using `AmazonS3Client`, then this won't work :)

[2019-01-28 21:55] kvasukib commented on #192
@devxpy Thankyou for your response. Currently `AmazonS3Client` doesn't support `awsconfiguration.json`. Only the `TransferUtility` supports `awsconfiguration.json`.

[2019-01-28 22:02] devxpy commented on #192
@kvasukib Sorry! I just noticed that I forgot to remove the line from code, and yes I can confirm the same.

Should I create a new issue?

[2019-01-28 22:15] devxpy commented on #192
For now, I guess the hack would be to just -

[code]

[2019-01-28 23:18] k-thorat commented on #671
@kvasukib Thank you your efforts on maintaining repo. Transfers are not taking longer than hour.

I think, I miss read how S3Client/CognitoCachingCredentialsProvider works. Now, I am getting session (CognitoUserPool.getSessionInBackground) before using TransferUtility that fixed issue.

Is there any other/better way of handling sessions? Thought about updating CognitoCachingCredentialsProvider aft

[2019-01-29 02:12] returnzer0 commented on #450
How would one go about mapping cognito id to an endpoint to send push messages to a specific user? I see that there is documentation for using pinpointAppId for setting up cognito, but it doesn't register the device ID instead it uses the email as a channelType. Is there any other way to send notifications to a specific user?

[2019-01-29 09:36] ukevgen opened #678 "When can a session token be invalid?"
**When can a session token be invalid?**

**Cognito**

**Environment(please complete the following information):**
 - SDK Version: cognitoidentityprovider:2.11.0

I know that token is a live during an hour, but I have the next situation
![image](https://user-images.githubusercontent.com/17047537/51898556-ce629580-23b9-11e9-8ab6-d0e4929c7271.png)

How correctly we need to update token and in with c

[2019-01-29 13:02] ShwetaChauhan18 commented on #505
Is it possible now?

[2019-01-29 15:32] andrey-chorniy opened #679 "Refresh token expired earlier than it should on android application"
**State your question**
In our android application, the user logged-in at `2019, Jan 28 13:37:55 UTC`. In less than 24 hours, at `2019, Jan 29 08:21:20 UTC` the application received a user state change with state: `SIGNED_OUT_USER_POOLS_TOKENS_INVALID`
Before these 2 events the app performed authenticated actions (using AWSMobileClient.getInstance() as credentials provider) with such AWS services:

[2019-01-29 16:05] andrey-chorniy commented on #679
[auth-expired-logs.zip](https://github.com/aws-amplify/aws-sdk-android/files/2808497/auth-expired-logs.zip)

[2019-01-29 17:32] minbi commented on #583
@sagardvora , I saw that you commented saying that the bug fix did not solve your issue. Can you provide logs of the issue when it occurs? Also since this is a custom auth challenge. Can you give details on what the challenges are and what order is expected?

[2019-01-29 17:48] sunchunqiang commented on #678
Hi @ukevgen , You can use Refresh token  in this case. If you can provide some snip of your code, we can give you more advices.

[2019-01-30 07:05] AnandhiRaghuraman commented on #132
I am user aws_java-sdk 1.11.360, I am able to sign up but sign in fails with this exception
Incorrect username or password. My Request Id is ID: 2be0b181-2450-11e9-a15b-3d35ecadad5f
I am using temporary password coded in my properties file to sign in and was receiving a challenge FORCE_CHANGE_PASSWORD, to which i responded with a new password.
The code was working fine for 3 users and stopped work

[2019-01-30 07:40] AnandhiRaghuraman opened #680 "aws-java-sdk - user sign in fails"
I am using aws_java-sdk 1.11.360, I am able to sign up but sign in fails with this exception
Incorrect username or password. My Request Id is ID: 2be0b181-2450-11e9-a15b-3d35ecadad5f
I am using temporary password coded in my properties file to sign in and was receiving a challenge NEW_PASSWORD_REQUIRED, to which i responded with a new password.
The code was working fine for 3 users and then stoppe

[2019-01-30 13:37] DeMoss15 opened #681 "Fatal Issue caused by SocketTimeoutException"
*SDK version: 2.11.0*
*AppSync version: 2.7.6*

Device was connected to internet via proxy. Proxy was lost and than we caught application crash
with next stack trace:

[code]

[code]

[code]

NewUsedDialogsObservable mentioned in first part looks:
[code]
in *onError(e)*, parameter *e* - can be any Throwable,
ApolloException < Exception < Throwable

[2019-01-30 14:55] guillaume-tgl opened #682 "Get versionID after Upload with TransferUtility"
**State your question**
I'm trying to migrate from `TransferManager` to `TransferUtility` but I can't see a way to get the result versionId after uploading a file. With `TransferManager`, I would simply get it from the `UploadResult` but there is no such thing with `TransferUtility`. How can I get this versionId after an Upload?

**Which AWS Services are you utilizing?**
S3

**Environment(please c

[2019-01-30 15:23] cbommas commented on #681
@DeMoss15

From the stacktrace, it looks like the crash is happening here

     io.reactivex.plugins.RxJavaPlugins.onError(RxJavaPlugins.java:367)

The call to subscribe is failing with a socket timeout and it is triggering the onError method of your callback, and the `emitter.onError` appears to be crashing the app. This would be in the app code and I am happy to troubleshoot this with you, but I

[2019-01-30 15:37] DeMoss15 commented on #681
I've just caught that we didn't check emitter is it disposed.
Thank you for your answer and sorry for this issue...

[2019-01-30 15:37] #681 closed

[2019-01-30 16:09] cbommas commented on #681
@DeMoss15  No worries. Glad that the problem is resolved.

[2019-01-30 16:35] minbi commented on #680
Hi @AnandhiRaghuraman ,

We don't support the AWS Java SDK on the Android platform. However, I will check with the service team regarding these request ids.

[2019-01-30 16:37] sunchunqiang commented on #682
Currently, it is not possible to retrieve versionId using TransferUtility. You can have to  use AmazonS3Client.putObject  or TransferManager to upload a file and get versionId

[2019-01-30 18:00] kvasukib commented on #682
@guillaume-tgl Sorry for the inconvenience caused. TransferUtility doesn't return the `PutObjectResult` or the `UploadPartResult` objects that are returned from the upload operations (`putObject` or `uploadPart`). I will take this request to the team and see if we can support this or not.

Meanwhile, one way I could think of is to use `listVersion` in `AmazonS3Client`.

[code]

What is the use-cas

[2019-01-30 19:41] kvasukib commented on #589
@baole Are you still facing the issue?

[2019-01-30 20:18] EnterPrayz commented on #675
Ok i will change version to  v2.11.0, but i need some time to collect information from user devices

First off all i'm using `CognitoCachingCredentialsProvider` with my custom `CognitoDeveloperIdentityProvider` whos extend `AWSAbstractCognitoDeveloperIdentityProvider` it was configured with `sessionDuration` = 7 days (`setSessionDuration()`). `IdentityProvider` is using by AmazonS3Client too - for

[2019-01-31 08:20] guillaume-tgl commented on #682
Thanks for your answers. We will finally avoid using `TransferUtility` since we don't need most of its features and keep using `TransferManager`. We use the `versionId` because we store some metadata about the file on our API and we want to make sure our API is pointing to the right version of the file on S3.

[2019-01-31 08:20] #682 closed

[2019-01-31 08:43] Shusshu commented on #634
Our initial use case was to use phone number registration (With OTP) and setup a password to recover or login to that account on another device. (As we do not want to recover with SMS OTP because the phone number might have been recycled to someone else)
Since this is simply not possible without custom sign in & recover server side code we decided to use social sign in using NATIVE SDK for Google,

[2019-01-31 11:14] j0bro commented on #429
I am currently working on a big project where this would be very helpful; the SDK documentation claims it allows for setting the custom authorization headers, but the implementation is only present in the JS SDK. In [this forum thread](https://forums.aws.amazon.com/thread.jspa?messageID=836976) there is a post by user vita1ii who created a patch on the Paho MQTT client which is embedded in the AWS

[2019-01-31 16:37] minbi commented on #682
Hi @guillaume-tgl ,

The TransferManager is deprecated and we are planning on removing it at some point in the future.
It would be valuable to us to prioritize migrating missing functionality into the TransferUtility. Are there any other features that you are currently using that you know are missing?

[2019-01-31 17:18] minbi commented on #583
Partial fix has been committed.

[2019-01-31 17:39] kvasukib commented on #429
@j0bro We are waiting on Paho to release this fix so we could take a dependency on the version that has the fix. However for iOS SDK, we did not have any limitation, so we have this feature working for iOS: https://aws-amplify.github.io/docs/ios/pubsub#custom-authentication

[2019-01-31 18:04] kvasukib commented on #671
@k-thorat Sorry for the delayed response.

1) From your response, I can see that you are authenticating your user with Cognito UserPools, retrieving the token and federating it with `CognitoCachingCredentialsProvider`. How are you achieving this? Can you post a sample code of this which I can validate to see if the federation works as expected?

2) When CognitoCachingCredentialsProvider is used wi

[2019-02-01 09:59] guillaume-tgl commented on #682
Yes, another feature I would really like has already been asked: #291
With `TransferManager`, I currently make a PUT request synchronously in my own background thread with the following code:
[code]

But there doesn't seem to be an equivalent with `TransferUtility`.

[2019-02-01 10:12] Kuppa opened #683 "AWS Cognito Token Refresh in iOS and Android"
Hi Team,
I am using aws cognitoidentityprovider sdk v2.8 in my andorid application and I got the token expired after 1 hour. I tried to find the documentation to refresh the token in background but I couldn't.
Can you please share me the document or function to refresh the token in Android and iOS?

[2019-02-01 12:16] xanscale commented on #683
same problem.

in theory just call `getCurrentUser().getSession` and if needed is ask refresh but actually fail by

[code]

[2019-02-01 20:10] sunchunqiang commented on #683
Hi @Kuppa
From v2.8,  we have launched a new `AWSMobileClient`, which will work with Cognito Userpools and provides methods like `getTokens()` which will automatically attempt to refresh the token then retrieving.
A full details can be found in [Documentation](https://aws-amplify.github.io/docs/android/authentication)

[2019-02-01 20:15] sunchunqiang commented on #683
Hi @xanscale
Is it caused by that the refresh token is expired? How long is your refresh token expiration?

[2019-02-01 23:49] markorakita commented on #471
I understand that **aws-android-sdk-auth-ui** requires API 23, but I don't understand why does **aws-android-sdk-auth-google** require API 23 when **aws-android-sdk-auth-facebook** requires only API 15? It seems really unnecessary.

If we don't use your hosted UI, if we provide our own UI and just call federatedSignIn() from AWSMobileClient, can we use **aws-android-sdk-auth-google** and force usa

[2019-02-02 06:46] Kuppa commented on #683
Hi @sunchunqiang Thanks for the quick response. But currently I am not using the AWSMobileClient for my Android application. I am using the below gradle dependency '    implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.8.+''. With this aws sdk, is there any way to get the refresh token by running background service in the app?

Please do needful...

[2019-02-02 19:28] rscmendes opened #684 "Custom scopes in access token programmatically"
**Describe the bug**
Impossible to get access tokens with custom scopes without using the [hosted web ui](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-integration.html). Authentication through the [amplify drop-in UI](https://aws-amplify.github.io/docs/android/authentication#drop-in-auth) for both Android and iOS -- used in the [android-sdk-auth example](https:/

[2019-02-03 06:52] desokroshan commented on #549
@arunkk-git Apologies for the delayed response. If you wish to bundle keystore as part of the apk file, you can add it as a resource in res/raw folder of your Android Studio project. You can access it as ```getResources().openRawResource(R.raw.<keystore_name>)``` and write it to the KEYSTORE_PATH.

[2019-02-03 21:04] anggrayudi opened #685 "Google login is success, but users does not saved into User Pools"
**Describe the bug**
When sign in or login using Cognito's User Pools, there's no problem. Here's the screenshot. Users are registered correctly.

![Email login](https://user-images.githubusercontent.com/12292380/52182470-1d804e80-2830-11e9-8f00-c78575ce2b26.png)

When I open Google login group, I have no users on it, even though the login is success.

![screenshot 13](https://user-images.githubus

[2019-02-04 02:43] anggrayudi commented on #471
It's been 8 months and nothing's changed. I don't know what's wrong with AWS Amplify team. Is it difficult to change minSdkVersion to 21 for **aws-android-sdk-auth-google**? Is this repository completely an open source project so that Amazon does not need pay you? Or do you lack of members so that you can't handle this large project with a small team? Let me know if I can join you.

You are going

[2019-02-04 14:32] anggrayudi commented on #685
@sunchunqiang Try to use empty or random string as the JWT token, and `AWSMobileClient.getInstance().federatedSignIn()` will accept it as valid login token. Then `onResult()` will be called and showing success state. I have browsed `federatedSignIn()` source code, and found that this method only save login information into `SharedPreferences`, instead of saving it to the cloud.

Using `federatedSi

[2019-02-04 18:03] minbi commented on #685
Hi @anggrayudi ,

The `federatedSignIn()` method only supports federation into Cognito Identity Pool which is why you saw the code store it locally (the actual federation code reads it from the store). Federation into Cognito User Pools is only supported through the HostedUI feature. This is currently achieved using the `aws-android-sdk-cognitoauth` library which launches a web-based UI. This is c

[2019-02-04 18:59] palpatim commented on #645
@KateLeeCandy

This was released in [2.11.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.11.1). Thanks for bringing it to our attention!

[2019-02-04 18:59] #645 closed

[2019-02-04 19:17] kvasukib commented on #677
@RuiEEE I have fixed this issue in `2.11.1` version of the SDK. It contains improved exception handling and pause/resume handling and fixes the progress reporting issue when a transfer is paused and resumed. Please upgrade to `2.11.1` and let us know if it fixes the issue.

[2019-02-04 19:31] kvasukib commented on #616
@hipwelljo @gilbertdigio

I have fixed this issue in `2.11.1` version of the SDK. It contains improved exception handling and pause/resume handling and fixes the progress reporting issue when a transfer is paused and resumed. Please upgrade to `2.11.1` and let us know if it fixes the issue.

Root cause analysis:

1) When a transfer is paused by the user or due to network drop, the thread that is m

[2019-02-04 19:34] kvasukib commented on #611
@hipwelljo The minimum notification threshold that `AmazonS3Client` supports in 128KB. This is because in our HTTP Client in Core Runtime of the SDK, the buffer size is set to 128KB. That's the reason why you did not get an update for files of size 100KB.

[2019-02-04 19:35] kvasukib commented on #611
Besides that, `2.11.1` version of the SDK contains improved exception handling and pause/resume handling and fixes the progress reporting issue when a transfer is paused and resumed.

Root cause analysis:

1) When a transfer is paused by the user or due to network drop, the thread that is managing the multipart transfer is interrupted. When the thread is interrupted and encounters an exception, th

[2019-02-04 19:36] kvasukib commented on #406
@amankumarjain I have fixed this issue in `2.11.1` version of the SDK. It contains improved exception handling and pause/resume handling and fixes the progress reporting issue when a transfer is paused and resumed. Please upgrade to `2.11.1` and let us know if it fixes the issue.

Root cause analysis:

1) When a transfer is paused by the user or due to network drop, the thread that is managing the

[2019-02-04 19:37] kvasukib commented on #365
@aditimodi04 @vishal-rai @tntkhang This feature has been implemented and released in `2.11.` version of the SDK. See [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.11.1) for more information.

[2019-02-04 19:37] minbi commented on #680
Hi @AnandhiRaghuraman ,

The service team has followed up with a few insights and a few questions.
Insights:
- There may be an eventual consistency scenario here. Do you encounter the same exception if you delay the admin action until 30min to 1 hr after sign-up?
- Has the password expired? The default expiry is set for 7 days on sign-up.

Troubleshooting:
If the above still prevent you from havin

[2019-02-04 19:42] minbi commented on #657
Hi @dbathily @anees17861 ,

We have released a fix for this issue in version 2.11.1. Please see if this fixes the issue for you.

[2019-02-05 06:15] VirRajpurohit opened #687 "AWS Rekognition"
**Rekognition**

Already I have raised the issue in [THIS THREAD](https://github.com/aws-amplify/aws-sdk-android/issues/639)

After going through samples and documentation it is being difficult to integrate Face Rekognition.

[SDK](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-rekognition) and [samples](https://github.com/awslabs/aws-sdk-android-samples) do not include

[2019-02-05 17:33] minbi commented on #687
Hi @VirRajpurohit ,

What issue are you having with the integration process? In the other thread your main concern was setting up authentication to the service. Has that been resolved? Which features are you looking to implement? I can help you in this thread and potentially pin this thread for those looking for more information.

We have a limited set of samples because samples require a certain

[2019-02-05 17:45] kvasukib commented on #616
@gilbertdigio Basically I expect the part task to encounter this condition: https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadPartTask.java#L72

This is where we check if a network loss handler is available and registered. Can you check if you see the log messages from https://github.com/aws-amplify/a

[2019-02-05 18:06] minbi commented on #627
Hi @luanalbineli ,

The service team has provided that the this is consistent behavior since the authentication flow will throw this if there are too many password unsuccessful attempts. During your testing, are you trying incorrect passwords before hitting this exception?

[2019-02-05 18:42] minbi commented on #659
Hi @dbathily ,

This is the expected behavior. This lock provides the developer a chance to refresh the session before retrieving expired tokens. The `releaseSignInWait` method can be called to release the lock and exhibit the expected behavior noted in your post.

We are tracking this documentation issue here https://github.com/aws-amplify/docs/issues/414

[2019-02-05 20:39] minbi commented on #658
Hi @maff91 ,

The expiry check is based on the local device time. We can add this as a feature request to use the server time if available. The downside is that the server time is not updated until a request is made. We could make a change that requests server time before a expiry check but would then require a network call and delay the expiry check as well as any calls that are being made.

[2019-02-05 20:40] minbi commented on #658
The clock skew feature that @palpatim mentioned is used to adjust the time for service calls not for local expiry checks which is why this is a feature request.

[2019-02-05 22:45] minbi commented on #637
We are tracking this documentation issue here https://github.com/aws-amplify/docs/issues/414

[2019-02-05 22:45] #637 closed

[2019-02-06 01:05] rohandubal commented on #684
Hello @bluetrickpt

Currently, specifying custom scopes is only supported via the Oauth client (Cognito Auth SDK) as you have mentioned above. It is not possible to to request custom scopes using the API flow.

I will take this as a feature request to the service team.

Thanks,
Rohan

[2019-02-06 05:43] VirRajpurohit commented on #687
@minbi  Actually the setup is bit confusing as per the sample and the documentation and then the code sample provided in another thread.

I want sample to be added in SDK sample as other samples are added with proper explanation.

[2019-02-06 06:31] Arpanbajpai commented on #354
@kvasukib  Please help me out to implement AWS Pinpoint notification in android. i am getting the same issue ( com.amazonaws.services.pinpoint.model.BadRequestException: Country should be 2 character ISO 3166-1 Alpha-2 or Alpha-3 codes or UN M.49 numeric-3 area code ) as above as in  TargetingClient class the EndpointLocation is unable to get city,country etc. I have researched and found that
cont

[2019-02-06 08:34] dbathily commented on #659
Thank you for your input @minbi I get it now

[2019-02-06 08:34] #659 closed

[2019-02-06 10:19] xanscale commented on #683
@sunchunqiang i found the problem, but i do not explain this.

[here](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-refresh-token) we can read:

so, base on 1 hour duration of access/ID token if user do not use app al least 1 time for hour, i cant refresh anymore.

WHY????

PS pls be

[2019-02-06 17:11] kvasukib commented on #354
@Arpanbajpai Sorry for the inconvenience caused. What Android API Level are you running against? Do you see the log message `"Locale getISO3Country failed, falling back to getCountry."` in your Logcat? Can you put a breakpoint at Line 45 in EndpointProfileLocation.java to find the localeCountry value retrieved?

[2019-02-07 10:31] Arpanbajpai commented on #354
@kvasukib  Sir as requested i attached screenshot with breakpoints and result.I am using API level 28.
i am also not getting any deprecation message but when i tried to log getISO3Country() i got empty string. But using         LocaleListCompat list = ConfigurationCompat.getLocales(Resources.getSystem().getConfiguration());
i am able to get "IND".
I tried to search "Locale getISO3Country failed, f

[2019-02-07 18:11] andrey-chorniy opened #691 "Attempt to call signOut may lead to NPE"
**Describe the bug**
App receives notification and attempts to call `signOut` on `AWSMobileClient` which was not initialized before.

**To Reproduce**
Try to call `AWSMobileClient.getInstance().signOut()` on AWSMobileClient which is not yet initialized
In our case app get PushNotification (in `FirebaseMessagingService`) and as a reaction to it should signOut current user. But as long `AwsMobileCli

[2019-02-07 19:59] minbi commented on #691
Hi @andrey-chorniy ,

We can investigate making the sign-out independent of initialization. However, without initializing the client, the sign-out may be faulty and not clear the correct credentials from the client.

[2019-02-07 20:08] kvasukib commented on #354
@Arpanbajpai Thank you for providing me with all the necessary details.

I added few log statements in the code to see if the location is fetched correctly.

[code]

02-07 12:01:09.447 4736-4736/com.amazonaws.pinpointinstrumentationtester I/EndpointProfileLocation: Locale getISO3Country(): USA
02-07 12:01:09.675 4736-4758/com.amazonaws.pinpointinstrumentationtester I/EndpointProfileLocation: Local

[2019-02-08 06:23] minbi commented on #628
After investigating this issue, the synchronous method has an undesirable effect of blocking the UI thread if it is initiated on the UI thread. Then when the method tries to start manipulate the UI it is blocked. Therefore this method cannot be used on the UI thread like the other methods that have a callback version. I will add a note in the javadoc that the synchronous method must be used on a b

[2019-02-08 06:30] minbi commented on #678
Hi @ukevgen ,

Do you still require help on this issue? If so, please provide some more detail in your setup such as a code sample and use-case.

Generally, the id and access token expire after 1 hour from creation. You may request new tokens using the refresh token. The refresh token expiry is configured by your settings. If the refresh token has expired as well, then you will need the user to si

[2019-02-08 06:34] minbi commented on #668
Hi @mehmetkemalbayer ,

We are addressing a few issues in the custom auth flow in an upcoming release.

For the namesake issue, we are still working on fixing the NetworkOnMainThread issue. If you need an urgent fix you will need to wrap the call in a background thread. We are also open to pull requests.

[2019-02-08 11:27] Shusshu commented on #685
I managed to get the Google auth working with user pools but not for Facebook
follow the steps here:
https://aws.amazon.com/blogs/mobile/understanding-amazon-cognito-user-pool-oauth-2-0-grants/

1. oauth/authorize -> we get the state back in the 302 Location redirect
2. we can ignore the login call as we do the native SDK login with google
3.b. oauth2/idresponse -> we send the serverAuth token fro

[2019-02-08 11:50] Shusshu commented on #634
https://github.com/aws-amplify/aws-sdk-android/issues/685

[2019-02-08 13:13] gilbertdigio commented on #616
Hi @kvasukib,

Sorry for the delay. I already registered the `TransferNetworkLossHandler` in Manifest but I think that isn't the problem.

The only logs that I see are **Timeout Exceptions**:

[code]
... and multiple **Aborted Exception**:
[code]

The connection isn't lost, I can continue making queries before and after the exceptions.
I have increased `AmazonS3Client` timeouts  to 200 seconds (Co

[2019-02-08 15:35] Shusshu commented on #685
@minbi Could you help out with facebook?

[2019-02-08 16:46] minbi commented on #675
Hi @EnterPrayz ,

Are you using `CognitoSyncManager` anywhere in your code? The exception is coming from the Cognito Sync library aka `aws-android-sdk-cognito`

[2019-02-08 16:46] kvasukib commented on #616
@gilbertdigio The connection timeout from S3 is 20 seconds. S3 will close the connection after 20 seconds of idle time. This can happen under bad network conditions as you said. One option would be to catch this exception and resume the transfer. Have you tried that?

[2019-02-08 19:26] minbi opened #693 "[CognitoAuth] Google federation is not working"
@anggrayudi I moved your issue, so we can track it without combining issues.

I managed to get the Google auth working with user pools but not for Facebook
follow the steps here:
https://aws.amazon.com/blogs/mobile/understanding-amazon-cognito-user-pool-oauth-2-0-grants/

1. oauth/authorize -> we get the state back in the 302 Location redirect
2. we can ignore the login call as we do the native SD

[2019-02-09 05:27] Arpanbajpai commented on #354
@kvasukib  i am using devices of moto(API 25) and redmi(API 24) for testing. It seems it is working pefectly on your side but i am not able to implement it correctly

[2019-02-09 11:30] fcouceiro commented on #684
Any updates on this?

[2019-02-10 08:20] maff91 commented on #658
@minbi I'm familiar with the technique when the token's life time is passed from the server rather than exact expiration date. In this case client can calculate expiration date based on its local time.
Anyways, I'm pretty sure it's not something that can be adapted at this stage.

[2019-02-10 16:39] DonPepone commented on #471
For which reason the min sdk is 23? I didn't find a specific class or functionality requiring min sdk 23.
It's a considerable constraint unless you write you owns UI. But you loose one of the advantages to adopt the framework.

[2019-02-11 03:30] minbi commented on #693
Hi @Shusshu,

Can you provide some more detail on how you are getting the Facebook token and what you are passing to Amazon Cognito? Are you exchanging the code for a token before you pass the code to Cognito?

[2019-02-11 09:40] Shusshu commented on #693
Hi @minbi I'm using the Facebook Login button via their SDK 4.40 thus I receive a long-lived access token from facebook which I then pass to cognito oauth2/idresponse

I also tried to exchange the long-lived access token against a short lived access token by calling
https://graph.facebook.com/oauth/client_code (see https://developers.facebook.com/docs/facebook-login/access-tokens/refreshing#long-v

[2019-02-11 09:42] Shusshu commented on #685
@anggrayudi #693 might help you as this works for User pool and google login

[2019-02-11 10:22] kiranalpha commented on #510
@praveshkhatana  and @sunchunqiang  can you provide full code for Android  AWS IOT Web socket, i was try your code but it show only Reconnecting message.

[2019-02-11 10:35] anshulsharma789 opened #694 "sometimes kinesisvideo throws illegalstateexception"
[code]

[2019-02-11 12:29] #678 closed

[2019-02-11 12:30] EnterPrayz commented on #675
Yes, it using for getting `DataSet`
[code]

http://crashes.to/s/9fd13740f3d .
If you look at the stacktrace, you can see that the initial process somewhere began from the depths of your library. At least the method call did not occur from the `app` module of the program.

[2019-02-11 12:56] faizanmirza opened #695 "Getting Invalid Grant Error Social Sign Up"
1) Facing issue when signing up with new user on social sign up using federated identities. When user create a new facebook/google user on web page on custom tab using aws congito auth library, the sdk do not register new user instead return "Invalid Grant" Error. Please note that user is created on facebook but not with aws cause of the error.

2) If user put app in background or switch to anothe

[2019-02-11 14:06] grohj opened #696 "Manually expire or invalidate tokens and get new issued."
**State your question**
We are using IdToken to identify user in our backend. The IdToken contains information like users name, etc. If user decides to change his personal information, this changes doesn't propagate into existing IdToken. Data is present in the token upon its refresh.

Is there a way to invalidate existing tokens, and force the pool to issue new one?
Btw logging out and loggin in

[2019-02-11 16:51] kvasukib commented on #694
@anshulsharma789 Thank you for reporting to us. Sorry for the inconvenience caused. Can you fill the necessary information in the issue template when creating the issue?

What is the SDK version?
What is the Android API Level?
A description of the issue?
A sample code snippet?

[2019-02-11 17:23] minbi commented on #693
Hi @Shusshu ,

The oauth2/idresponse path does not accept tokens. It accepts the code that is passed back during the OAuth protocol.

[2019-02-11 17:26] hyankelwin commented on #60
@shklnrj Dude, it helped, thanks a lot.

[2019-02-11 19:40] kvasukib commented on #667
@mukeshdadarwal This issue has been fixed in `2.11.1`. Please upgrade to the latest and let us know if it works.

[2019-02-11 19:42] kvasukib commented on #618
@hipwelljo I have made some improvements to `TransferUtility` in `2.11.` and `2.12.0`. Can you upgrade and test and let me know if there is any feedback?

[2019-02-11 20:25] minbi commented on #696
Hi @grohj ,

We don't currently support re-fetching the id token when it is not expired.
There are two approaches that come to mind.
1. Maintain the personal information yourself and pass along this information to any relevant code flows.
2. If you are issuing refresh tokens, you may try to clear the id token and access token from the SharedPreferences and attempt to refresh the tokens (forcing).

[2019-02-11 22:18] minbi commented on #668
Hi @mehmetkemalbayer ,

We have released version 2.12.0 of the SDK. Please see if this fixes the "user Id cannot be null" error in the custom auth flow. Please stay tune for fixes to the NetworkOnMainThread issue.

[2019-02-11 23:39] miketrewartha commented on #623
We have a need for the ability to swap between various pools at runtime, too. We use a separate identity pool for each backend environment and we also provide internal users of our mobile app (that talks to that backend) the ability to switch between those environments. This single `AWSMobileClient.getInstance()` function doesn't allow for that. We wouldn't require an instance of `AWSMobileClient`

[2019-02-12 04:54] VirRajpurohit commented on #687
@minbi Any update on my query?

[2019-02-12 04:57] minbi commented on #583
Hi @sagardvora @YoanGJ ,

We have released a fix in version 2.12.0 of the SDK. Please see if this addresses the issue for you.

[2019-02-12 08:16] Shusshu commented on #693
Since there is no way to get that code back from the Facebook SDK when will AWS support this feature?  Firebase Auth is properly dealing with Facebook's access token... it can be done!

[2019-02-12 16:04] LittleHans8 opened #699 "[S3] How to set a custom endpoint?"
**State your question**

In Java for intance, we have the following which works:
[code]
Can I do the same in AWSS3 Android?

**Which AWS Services are you utilizing?**
S3

**Environment(please complete the following information):**
 - SDK Version: 2.12.0

**Device Information (please complete the following information):**
 - Device: Pixel XL
 - Android Version: Nougat 7.1.2

[2019-02-12 17:38] hipwelljo commented on #618
Can confirm I am able to resume a failed transfer without the 1 second delay in 2.12.0. It seems this issue can be closed. Thanks!!

[2019-02-12 17:38] #618 closed

[2019-02-12 17:49] hipwelljo commented on #616
Hi @kvasukib I have updated to 2.12.0 and tried this out. It does seem to be better! I was able to successfully upload a photo on an edge simulated connection. However if I simulated an even slower connection - Out Bandwidth of 40 instead of 200 - I see it reached 100% progress then the state changed to FAILED as I saw previously. Here's the logs I see leaving it to retry for a while:

[code]

[2019-02-12 17:51] hipwelljo commented on #611
Gotcha. Is there a way to reduce that buffer size? It seems our photos are generally within the range of 50-100 KB.

[2019-02-12 17:57] hipwelljo commented on #616
This is concerning. I disabled the network link conditioner to go back to regular networking conditions and it did not successfully upload. The last lines logged were

[code]

[2019-02-12 18:03] kvasukib commented on #611
@hipwelljo Unfortunately, the current minimum that the SDK supports in 128KB.

[2019-02-12 18:04] hipwelljo commented on #611
Ok! Then this can be marked enhancement request instead of bug ;)

[2019-02-12 18:06] kvasukib commented on #699
@LittleHans8 Thank you for reporting to us. Yes, it is possible to do the same through the `AmazonS3Client` in `aws-android-sdk-s3`.

For example:

[code]

However I advise you to do the following:

1) Embedding access key and secret access key that are long-lived in the mobile app is not secure. Instead, you could use Amazon Cognito Identities to retrieve a set of short-lived temporary credential

[2019-02-12 18:08] kvasukib commented on #611
@hipwelljo I have made the necessary modifications to the title and the state of the issue. Thank you!

[2019-02-12 20:10] kvasukib commented on #679
@andrey-chorniy Sorry for the delayed response. From the logs I could find this:

Event-1:

[code]

At 08:18:43, the credentials were retrieved and saved to SharePreferences and AWSMobileClient gave a state change `SIGNED_IN`.

Event-2:

[code]

Event-3:

[code]

Event-4:

[code]

We are looking to debug this issue. So far we wrote a test that would signIn and check for the presence of tokens on t

[2019-02-12 22:26] minbi commented on #693
I will take this request to the service team. This is currently not supported by the service.

[2019-02-12 23:47] kvasukib commented on #616
@hipwelljo Thank you for the feedback. I made improvements to the exception handling logic but I haven't optimized anything for a poor network condition except when you use a `TransferNetworkLossHander`. Are you using the `TransferService` or just the `TransferNetworkLossHander` in the `AndroidManifest.xml`?

From the file size, I am assuming it's a single-part upload. If  a single-part upload enc

[2019-02-13 07:44] #596 closed

[2019-02-13 09:34] sushantbisht commented on #292
I have the exact same Issue. I am using my Android phone as emulator. Whenever my phone is on wifi mode, the connection is happening and the publishing is happening successfully. Whenever i change it to 4G, no connection is happening and i am getting the following error

: Publish error.
 com.amazonaws.AmazonClientException: Client is disconnected or not yet connected.
        at com.amazonaws.mob

[2019-02-13 17:01] hipwelljo commented on #616
I am using just the TransferService in the manifest, not TransferNetworkLossHander.

I checked the type of exception. When it fails I see the exception is one of the following:
`
com.amazonaws.AmazonClientException: Unable to execute HTTP request: timeout
com.amazonaws.AmazonClientException: Unable to execute HTTP request: SSL handshake timed out
com.amazonaws.AmazonClientException: Unable to exec

[2019-02-13 18:38] minbi commented on #683
Hi @xanscale ,

Thanks for diving into this issue. We will add this to our tasks.

[2019-02-13 18:48] spectorar commented on #684
Agree that this would be a really useful feature. My team has a use case that requires us to implement a custom auth flow and without being able to have scopes (both built in and custom) we may have to look up the scopes on the app client's resource server at each authorization with a custom auth trigger to verify that the app client has access. Even with that implementation, we can't issues token

[2019-02-13 19:25] minbi commented on #684
Hi all,

We don't have an update on this issue, but we are communicating your requests to the service team.

[2019-02-13 20:02] kvasukib commented on #616
@hipwelljo Thank you for the prompt response. Yeah! I expected that to happen. I am working on a change to remove checking for the type of exception. Regardless of the type of exception, if the network is not connected, we should set it to `WAITING_FOR_NETWORK`. I will notify here once the change is approved and released. Thank you for your patience.

[2019-02-13 22:04] andrey-chorniy commented on #679
1. During the mentioned period there was a development of the app on device. And a couple of things certainly happened:
- reinstalls
- crashes of the app: 2019-01-28 15:54:38, 2019-01-28 15:54:50

1.   We do not perform any actions with that user or Cognito settings (if that answers your question)

We also get other user reports about their credentials being expired (so they become logged out and

[2019-02-13 22:04] kvasukib commented on #695
@faizanmirza Thank you for reporting to us. I am looking into the issue. I will have an update soon.

[2019-02-13 22:10] kvasukib commented on #677
@RuiEEE Just checking to see how your progress on testing and if you have any feedback to share.

[2019-02-13 23:36] muellerfr commented on #687
Hi @VirRajpurohit, we're treating this as a feature request, and will discuss with the team. We will update the thread when we have an update.

[2019-02-14 00:00] kvasukib commented on #451
@pwa16000

Typically you will do the following if you are using a certificate issued and signed by AWS IoT.
You will create the certificate and then save the certificate and private key in the keystore and you pass the keystore instance in the `connect` method.

[code]

My suggestion as a workaround would be to concatenate the certificate with the CA certificate and store in the keystore and see i

[2019-02-14 00:16] kvasukib commented on #679
@andrey-chorniy Thank you for the quick response.

1) A reinstall will wipe the shared preferences since it is local to the app. I see that the last occurrence of `SIGNED_IN` was at `08:17` and `SIGNED_OUT_USER_POOLS_TOKENS_INVALID` at `08:20`. Is there a chance that the app reinstall happened in this 3-minute window?

2) We have discovered the possibility of a bug in `AWSMobileClient#isSignedIn`

[2019-02-14 05:03] kvasukib commented on #530
@fahmad2 Thank you for your detailed response. This issue has been tagged as a feature request to acknowledge your comment.

[2019-02-14 05:09] kvasukib commented on #577
@andymartinwork Thank you for your detailed response. We are tracking this issue as part of the effort in https://github.com/aws-amplify/aws-sdk-android/issues/634.

[2019-02-14 05:45] kkkabariya commented on #125
hello....
 i just first time register in my app using AmazonDynamoDBClient in android
 after delete account does not delete how to do this ?

but after register ont time logout and login process complete after delete account that is success how ?

[2019-02-14 15:32] andrey-chorniy commented on #679
@kvasukib On #1 - nope, under "re-install" we mean that we update the code and start a new version from AS, it was not uninstall/install cycle. So, SharedPreferrences should not be wiped out

On #2 - thanks, looking forward for possible reasons/fixes. One of our users do not re-install it (work with same app version) but got this error

[2019-02-14 16:55] BillBunting opened #700 "For Google Federated Signin: AWSMobileClient.getInstance().initialize returns userState SIGNED_IN but AWSMobileClient.getInstance().getIdentityId() is null"
**Describe the bug**
For Google sign-in, AWSMobileClient.getInstance().initialize returns SIGNED_IN but AWSMobileClient.getInstance().getIdentityId() == null

This is related to a larger issue I am trying to resolve. Facebook federated sign-in via AWSMobileClient.getInstance().showSignIn works perfectly. But, Google does not.

With Google, if a user signs out then attempts to sign in again, the si

[2019-02-14 17:11] minbi commented on #700
Hi @BillBunting ,

Thanks for the report and details. I'll investigate and report back here.

[2019-02-14 18:21] kvasukib commented on #644
@KateLeeCandy Thank you for pasting a code snippet. I will add this item to our backlog for prioritization.

[2019-02-15 00:20] #657 closed

[2019-02-15 00:20] #680 closed

[2019-02-15 00:48] minbi commented on #668
Hi @mehmetkemalbayer ,

We have fix pending for this issue, please check it out if you are interested on #702

[2019-02-15 01:35] #668 closed

[2019-02-15 02:08] kvasukib commented on #125
@kkkabariya Sorry for the inconvenience caused. Can you open a new issue with the adequate information?

[2019-02-15 02:20] #627 closed

[2019-02-15 03:03] BillBunting commented on #700
@minbi , I have very similar issues in the iPhone version of my app after upgrading from AWS-sdk-ios 2.8.2 to the current 2.9.0. A Google federated sign-in is not always able to refresh the token automatically. I'm going to upgrade the iOS version of the app to use 2.9.1 and also update the GoogleSignIn pod from 4.3.0 to 4.4.0 to see if that helps.

As far as Android is concerned, it seems the app

[2019-02-15 05:55] ZYHZ100 opened #703 "Issue in getting started"
**State your question**
In the second time, I run the same code and there is a bug but in the first time, it ran successfully.
Can anyone help me?
Thank you very much!

These are bugs:

[code]

**Which AWS Services are you utilizing?**
I followed the get start guide.

**Provide code snippets (if applicable)**

[code]

**Environment(please complete the following information):**
 - SDK Version: [e.g

[2019-02-15 05:58] ZYHZ100 commented on #703
Must AppSync be needed to implement amplify framework?
Actually, I want to have functions of signing in and up and upload data to AWS.

[2019-02-15 06:15] ZYHZ100 commented on #703
Thank you. Maybe I don't need to integrate with AppSync. Actually, as a new user, I don't much understand functions of GraphQL API and AppSync. And if I just want to use Amazon Cognito User pool and Amazon S3, do I have to use amplify framework?

[2019-02-15 06:21] kvasukib commented on #703
@ZYHZ100 Thank you for the quick response. In that case all you need is to integrate with

Amazon Cognito User pool (Setup authentication) -> https://aws-amplify.github.io/docs/android/authentication

Amazon S3 (store data) -> https://aws-amplify.github.io/docs/android/storage

You can follow these two guides to setup authentication and storage.

[2019-02-15 18:56] GerardoRobledo opened #704 "[S3] Issue with Proguard obfuscating TransferNetworkConnectionType enum that are serialized using Gson"
**Describe the bug**
Fails to upload file using transferUtility if minifyEnabled = true
you get the following error
[code]
This is a known issue with Gson. The way I found to fix it is adding the next line.

`-keepclassmembers enum com.amazonaws.** { *; }`

I reproduced the issue in sdk version 2.12.0

**Which AWS service(s) are affected?**
s3

**Environment Information (please complete the follow

[2019-02-15 19:45] devxpy opened #705 "Why are logs so obtrusive?"
My logs are filled with these lines, which repeat every 2-3 seconds.

[code]

Is there any way to disable them?

Thanks.

[2019-02-15 19:51] ZYHZ100 opened #706 "Network"
**State your question**
Yesterday, I followed the sample code instructions of AmazonCognitoYourUserPoolsDemo and it ran successfully. I have created a user account and could sign in successfully. But today I ran it, it has a bug but simulator is connected to the network.

When I sign in with my created account,

E/AppHelper:  -- Error: com.amazonaws.mobileconnectors.cognitoidentityprovider.excepti

[2019-02-15 20:18] #706 closed

[2019-02-15 20:18] #703 closed

[2019-02-15 21:23] thebehera opened #707 "Unable to get android kinesis to stream to the console"
**Unable to get a stream to work.**
When I run the [AmazonKinesisVideoDemoApp](https://github.com/awslabs/aws-sdk-android-samples/tree/master/AmazonKinesisVideoDemoApp) I am unable to get the stream to show up on the Amazon Kinesis Video Streams Console page.

**To Reproduce**
A code sample or steps:

- clone https://github.com/awslabs/aws-sdk-android-samples/tree/master/AmazonKinesisVideoDemoApp

[2019-02-15 21:46] ZYHZ100 opened #708 "Identify User uniquely without signing in"
**State your question**
Can anyone help me with this question?
Is there any method using cognito user pool without signing in process?

**Which AWS Services are you utilizing?**
cognito user pool

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information (please complete the following information):**

[2019-02-15 21:47] ZYHZ100 commented on #708
without signing in process. Sorry for misspelling

[2019-02-16 00:29] ZYHZ100 opened #709 "[S3] How to specify the type of network connection in TransferUtility"
**State your question**

I want to ask when transfer utility is interrupted when there is no network and then it will resume when there is network connected. Can I specify the wifi not data? Thank you~

**Which AWS Services are you utilizing?**

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information

[2019-02-16 04:37] usmanrana07 opened #710 "Release versions gives 'Method isn't annotated with Operation' error while making request"
When i make minifyEnabled=true for obfuscation then the app stops working correctly when i try to make request with AWS. I've read [this thread](https://forums.aws.amazon.com/thread.jspa?threadID=285029) as well but it doesn't has solution.

[2019-02-16 06:22] luych888 opened #711 "How protect PoolId in awsconfiguration.json?"
**State your question**
Hi Team:

I'm app developer and use polly android sdk.
I have a question, when I write my PolId in awsconfiguration.json in "raw" folder, after I release my app, other user just need unzip my apk and get my PolId in  awsconfiguration.json, if he use my PolId in his app, I will pay for him, so how can I protect my PolId？

Expect your replay!

Best Regards!
Lu
**Which AWS Ser

[2019-02-18 07:34] mukeshdadarwal opened #712 "Accelerate Mode Enabled to video not upload in only nokia"
**Describe the bug**
Accelerate Mode Enabled to video not upload in android

aws_version 2.11.+

 - 2.11.+
 - Nokia 6.1
 - Android Version: Pie 9.0

**Additional context**
video not upload a particular WiFi network if i change WiFi network uploading start

[2019-02-18 17:11] sunchunqiang commented on #712
Hi @mukeshdadarwal
Can you give more detail on how to reproduce the issue?  Are you using S3 to upload the video? Does accelerate Mode mean  Amazon S3 Transfer Acceleration? Can the issue be reproduced if accelerate Mode is disabled?

[2019-02-18 17:24] kvasukib commented on #709
@ZYHZ100 Thank you for reporting to us. Yes, this is possible with specifying the type of network connection that can be used to connect to Amazon S3. This feature was introduced in `2.11.0`.

See [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2111) for the release notes on this feature.

TransferNetworkConnectionType.ANY >>> Any network
TransferNetwork

[2019-02-18 17:45] minbi commented on #583
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-02-18 17:45] #583 closed

[2019-02-18 17:48] kvasukib commented on #711
@luych888 Thank you for reporting to us. We are discussing this issue internally with the team. I will post an update here when I have more information.

[2019-02-18 17:57] minbi commented on #705
Hi @devxpy ,

We are looking into addressing this issue. Can you first try using Proguard to remove the logs from your build? One down-side to this is it may shift the line numbers compared to your source code for debugging purposes.

[code]

[2019-02-18 18:00] kvasukib commented on #704
@GerardoRobledo Sorry for the inconvenience caused. This is my understanding of the issue.

TransferUtility added a new feature in `2.11.0` to specify the type of network connection. `TransferNetworkConnectionType` is an enum which is serialized to store in the SQLite Database.
We use Gson -  "com.google.code.gson:gson:2.2.4" which has a bug while serializing enum when with proguard enabled. This

[2019-02-18 18:05] kvasukib commented on #707
@thebehera Sorry for the inconvenience caused. We are looking into the issue.

[2019-02-18 18:45] kvasukib commented on #708
@ZYHZ100 Thank you for reporting to us. We are looking into the issue.

[2019-02-18 20:51] kvasukib commented on #708
@ZYHZ100 Can you describe your use-case? Are you trying to identify the user who has just signed up but not signed in yet through the app?

[2019-02-18 21:07] ZYHZ100 commented on #708
@kvasukib
Hi, I want to identify users who use this app in this phone without signing up and signing in which means that user pools just will not collect user information.
After thinking alternative solutions for a while, can it realize by using DynamoDB or using UUID of android? of android?

[2019-02-18 21:08] MushMal commented on #707
@thebehera , we are aware of the producer timestamp "drift" caused by the inconsistency in the default time implementation which would use nanotime vs the system millis on Linux/Android based platforms. We will issue a fix soon. However, this should not affect the playback in the console. From the screen shot it seems that the console was able to retrieve the "Codec Private Data" which shows a res

[2019-02-18 21:12] MushMal commented on #694
@anshulsharma789 it seems that the creation/initialization of the stream had failed earlier. Could you please send the logcat logs to kinesis-video-support@amazon.com or include those here.

[2019-02-18 21:27] thebehera commented on #707
@MushMal  Hi thanks for the update.
To answer your questions:

- I am only using H264. Here's the screen shot of what the android app shows:
![image](https://user-images.githubusercontent.com/2779689/52976863-c5e5f500-3390-11e9-886d-dfdfdd242dda.png)
- Done. Email has been sent!

[2019-02-19 01:32] MushMal commented on #648
@sixbladeknife thanks for contacting. Could you please set filtering in the logcat to the current application only, run the scenario by starting the camera, letting it stream for a couple of seconds, stopping the camera, wait for a second, start again and wait for a couple of seconds and capture the logs. Please attach the logs here or send them directly to "kinesis-video-support@amazon.com"

[2019-02-19 02:01] MushMal commented on #544
@desokroshan, there are two issues related to the orientation.

1) The dynamic orientation switching during streaming. This can't be done in a simple fashion as the encoder needs to be re-configured - a new CPD (Codec Private Data) needs to be submitted. This will break streaming. In this case, the streaming needs to stop/start behind the scene with a new static orientation configuration which wou

[2019-02-19 13:14] mukeshdadarwal commented on #712
Yes i'm using S3 to upload
Amazon S3 Transfer Acceleration  Enable to video not upload a particular WiFi network if i change WiFi network uploading start in same device

[2019-02-19 15:42] markorakita commented on #691
@minbi Could you please at least provide us with some way to check if AWSMobileClient is initialized so we don't need to do try/catch on AWSMobileClient.getInstance().signOut()?

[2019-02-19 15:57] markorakita opened #713 "Wrong exception type when resetting password for unconfirmed user"
**Describe the bug**
When AWSMobileClient.getInstance().forgotPassword() is called for user who is not confirmed, instead of UserNotConfirmedException we get InvalidParameterException. All the other auth functions are returning UserNotConfirmedException in such case, so this is bug in my opinion.

**To Reproduce**
- Finish AWSMobileClient.getInstance().signUp() for some username and password
- Ski

[2019-02-19 17:16] minbi commented on #713
HI @markorakita ,

This may be an eventual consistency issue with the service. I can follow up with the service team. Can you provide the follow?

1. Cognito region
2. request id
3. timestamp of the request

I do see a request id in the screenshot, you could provide the hour of day that you got the exception and the region you are using.

[2019-02-19 17:54] sunchunqiang commented on #712
Hi @mukeshdadarwal
Should I reproduce your issue with below steps
1. enable Transfer Acceleration for a  S3 bucket
2. turn off WiFi network
3. start app to upload files to the S3 bucket
4. turn on WiFi network
5. check the files can be uploaded to the S3 bucket.
My another question is  Can the issue be reproduced if accelerate Mode is disabled?

[2019-02-19 19:30] minbi commented on #713
The technical reason for InvalidParameterException is because the user is considered a parameter in this API because forgotPassword does not require the user to be signed-in to be able to use.

The difference with UserNotConfirmedException is that the user is confirmed at this point, but the email/phone required for password reset is not verified.

Please let me know if this satisfies the request

[2019-02-19 20:16] markorakita commented on #713
@minbi Thanks for checking with the service team! Let me try to give some more context on this issue.

Please notice inconsistency between next two cases:
- If you call **AWSMobileClient.getInstance().signIn()** function with invalid username you will get **UserNotFoundException**. If you call it with valid username which was not yet confirmed, you will get **UserNotConfirmedException**.
- If you

[2019-02-19 20:19] RuiEEE commented on #677
Hey. Sorry for the late response, I got caught up in other stuff and because there was no major issue I didn't get back to you.

I've noticed that whenever I pause I get some of these errors. Maybe it's fine and expected:
com.amazonaws.AbortedException:
        at com.amazonaws.internal.SdkInputStream.abortIfNeeded(SdkInputStream.java:59)
        at com.amazonaws.auth.AwsChunkedEncodingInputStream

[2019-02-19 21:20] ZYHZ100 opened #714 "Can DynamoDB primary key be automatically setted and returned after inserting a new item with primary key "null"?"
**State your question**

can DynamoDB primary key be automatically setted and returned after inserting a new item with primary key "null"?

Just like the int primary key with auto-increment in MySQL ?

**Which AWS Services are you utilizing?**

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information

[2019-02-19 21:21] #709 closed

[2019-02-19 21:29] ZYHZ100 commented on #714
I am wondering what if when app is connecting to DynamoDB and inserting data, network is interrupted? Thank you very much?

[2019-02-19 21:35] minbi commented on #714
Hi @ZYHZ100 ,

Amazon DynamoDB does not support this natively. However, if you use a service like AWS AppSync in front of DynamoDB, AppSync does have an auto-id feature that will generate a unique id for each item.

If the network is interrupted during an insert you will need to retry the request when network is available. AWS AppSync clients have the ability to persist the request and retry once

[2019-02-19 22:06] kvasukib commented on #677
@RuiEEE Thank you for the feedback. The exception is logged in the LogCat because when the SDK tries to pause the transfer, we kill the thread that aborts the operation in progress. However I expect you don't see an app crash and you get the state change update to PAUSED.

Also, you're right that you only need one listener and we have identified and fixed the problem with managing the listeners.

[2019-02-19 22:32] RuiEEE commented on #677
@kvasukib Yeah, the app doesn't crash, just fills the log with those exceptions, I was just making sure it is intended.

Cool. No, I'm good. Thanks a lot for your fast response and assistance!

[2019-02-19 22:36] #677 closed

[2019-02-20 05:52] mukeshdadarwal commented on #712
1. Already  enable Transfer Acceleration on  S3 bucket
2. Yes i follow your all step but can't upload video

 My another question is  if the issue is reproduced when accelerate Mode is disabled?
Ans.=>  accelerate Mode is disabled to video upload properly.

this issue only occurred only single device and particular WiFi network  if i change WiFi video upload properly in case of Transfer Accelerati

[2019-02-20 16:10] ZYHZ100 commented on #714
@minbi Hi, thank you! Is there related tutorial or sample which I can refer to?

[2019-02-20 17:48] minbi commented on #714
The docs should walk you through some basic use cases https://aws-amplify.github.io/docs/android/api

[2019-02-20 17:52] luanalbineli opened #715 "[Auth] Maintain user state when migrating from AWSCognitoIdentityProvider to AWSMobileClient"
**Describe the bug**
We have a released application with Cognito implemented with the following dependency:

`implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.9.1'`

We tried to switch to the new sdk:

`implementation 'com.amazonaws:aws-android-sdk-mobile-client:2.12.0'`
`implementation 'com.amazonaws:aws-android-sdk-auth-userpools:2.12.0'`

But when I try to get the user se

[2019-02-20 18:02] minbi commented on #715
Hi @luanalbineli ,

Your finding is correct, I will discuss with the team about how to proceed. It is possible for use to read the userpool tokens when determining state.

In your use case, are you relying on the user to never to signed-out?

[2019-02-20 18:06] minbi commented on #713
I have relayed this request to the service team and will update when I hear back.

[2019-02-20 18:23] luanalbineli commented on #715
Hi @minbi ,

Thanks for your reply.
Yeah, this is a prerequisite. Currently our refresh token expires after 60 days (it's configured in the AWS console).

[2019-02-20 18:27] minbi commented on #691
Hi @markorakita ,

I will discuss with the team about adding this method. For the time being, a side-effect of initialization is that the AWSConfiguration object is set. So, `AWSMobileClient.getInstance().getConfiguration()` being null would be an indicator it is not initialized.

[2019-02-20 18:58] BillBunting commented on #700
@minbi Any update on this?  I'd like to see a call to getIdentityId() with a callback when the identityId is available, similar to the iOS call. Since AWSMobileClient seems to function better for Facebook, I suspect a bug in the Goggle-related code.

[2019-02-21 03:28] luych888 commented on #711
Hi Kvasukib:

Thanks for your investigating this issue.
Any update?

Best Regards!
Yongchun Lu

[2019-02-21 04:44] HayTran94 opened #716 "AWSMobileClient change password always return onError even if change password result is success."
**Describe the bug**
Use AWSMobileClient to change password, it always return onError even if new password is applied (changing password is success). In this case, the received exception is null object.

**To Reproduce**
[code]
**Which AWS service(s) are affected?**
AWSMobileClient

**Expected behavior**
When changing password is success, onResult should be called properly.

**Environment Informat

[2019-02-21 10:42] since2014 opened #717 "[S3] AmazonS3Client putObject throws NPE due to ETag being null in the returned object metadata"
**Describe the bug**
[code]
**x-amz-request-id**
 27DBF521DFDAFAF9

**x-amz-id-2**: QT2WH/C8fp1G2ClBNIYZBBaqEr7y79qStDGAmsS7dWYkm8000w9uuLTlNePXXt8JHtonNKmLnn4=

*AmazonS3Client.putObject*
[code]

**Which AWS service(s) are affected?**
s3

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.11.0

[2019-02-21 16:12] sunchunqiang commented on #717
Hi, @since2014 , Can the issue be reproduced? If yes, how to reproduce the issue.

[2019-02-21 17:38] kvasukib commented on #717
@since2014 Sorry for the inconvenience caused. This issue occurred due to the ETag in the `ObjectMetadata` returned from S3 being null. Hence, the SDK couldn't compute the server side hash from the ETag.

When you try to upload an object using `putObject`, after the data has been uploaded and the response is received from S3, the SDK computes the MD5 hash of the data on the client side and verifie

[2019-02-21 17:40] minbi commented on #716
Hi @HayTran94 ,

Thanks you for the report, we will fix this in an upcoming release

[2019-02-21 17:43] ppamorim opened #718 "[S3] "android.enableR8.fullMode=true" makes AmazonS3Client not able to create a instance of S3Signer"
**Describe the bug**

Adding the flag `android.enableR8.fullMode=true` breaks the create of instance of the `S3Signer`.

[code]

**To Reproduce**

Add this on your `grade.properties`:
[code]

And call this:

[code]

**Which AWS service(s) are affected?**
S3

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: Any but also happening on 2.12.0.
 - Kot

[2019-02-21 18:27] minbi commented on #700
Hi @BillBunting ,

I'm looking at refreshing the code that we are using for Google and making sure that the refresh is working properly.

For the identity id being null, can you try making a `getCredentials()` call before retrieving the identity id? The sign-in does attempt to make this call, but in an async manner, so it may not be populating or potentially failing in the background.

I will disc

[2019-02-21 18:34] kvasukib commented on #718
@ppamorim Sorry for the inconvenience caused. My understanding about R8 is that, R8 is a java program shrinking and minification tool that converts java byte code to optimized dex code. R8 is a Proguard replacement for whole-program optimization, shrinking and minification. R8 uses the Proguard keep rule format for specifying the entry points for an application.

Are you using R8 in conjunction wi

[2019-02-21 22:22] desokroshan commented on #549
Closing this thread due to inactivity. Please feel free to re-open or open a new issue if you have follow-up questions. Thanks.

[2019-02-21 22:22] #549 closed

[2019-02-21 22:26] desokroshan commented on #599
@rafagan @lucasmpaim Thanks for pointing that out. I will try out the snippet you have shared and get back to you with my findings.

[2019-02-21 23:15] minbi commented on #713
Hi @markorakita ,

We will not be able to change to the service since this would be a breaking change for the current customers who may already have the logic you referenced deployed. We will make note of this case for future client development.

[2019-02-21 23:19] minbi commented on #696
Hi @grohj ,

You will need to force refresh the tokens using the method in my previous post. We will investigate adding exposing this functionality in our clients.

[2019-02-22 07:31] grohj commented on #696
Hi @minbi ,

I really appreciate your response. I used basically the first option you provided. The second one is hacky approach which I won't take my chances with.

Anyways, glad you are considering to add this feature, looking forward to see it :)

Thanks.

[2019-02-22 12:10] ppamorim commented on #718
@kvasukib I am still getting the error even including these rules on `Proguard.md`, despite the build type (debug or release).

<details><summary>build.gradle</summary>
<p>

[code]
</p>
</details>

[2019-02-22 15:19] markorakita commented on #691
Great, thank you for the tip @minbi !

[2019-02-22 15:20] markorakita commented on #713
I understand, thank you for discussing this with the service team @minbi !

[2019-02-22 16:21] #713 closed

[2019-02-22 21:36] kvasukib commented on #99
@grennis @erikvdvelden Sorry for the delayed response. This feature is available in `2.11.0` version of the `TransferUtility`. See [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#new-features) for more details.

[2019-02-22 21:53] minbi commented on #634
Edit: Add 2.xii Lower the API level requirement to 15.

[2019-02-22 23:26] kvasukib commented on #718
@ppamorim Thank you for posting the `build.gradle`. I will try with your settings in my app to see if the issue can be reproduced.

[2019-02-22 23:47] muellerfr opened #719 "AndroidPubSub Sample does not work!!!"
This issue was originally opened by @iwwork as a PR in the sample app repo:
https://github.com/awslabs/aws-sdk-android-samples/pull/308

**Which AWS Services are you utilizing?**
AWS IoT

**Provide code snippets (if applicable)**
Followed the instruction https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSub to set the parameter on the AWS cloud

Downloaded the whole code fro

[2019-02-22 23:52] grennis commented on #99
Hey, 3 years is better than never! I don't remember why I wanted this but thanks

[2019-02-23 01:56] minbi commented on #716
Hi @HayTran94 ,

Please see if SDK release 2.12.1 fixes this issue for you.

[2019-02-23 03:10] HayTran94 commented on #716
OK, the SDK 2.12.1 fixed my issue. Thank you for your quickly support. Love the team!

[2019-02-23 03:10] #716 closed

[2019-02-25 01:10] iwwork commented on #719
@muellerfr Hi Muelle, thanks for your kind help. Could you give some constructive suggestion?

[2019-02-25 01:19] desokroshan commented on #719
@iwwork Thanks for submitting the issue. Apologies for the inconvenience. I will try to reproduce the issue and get back to you soon.

[2019-02-25 02:34] BillBunting commented on #700
@minbi Thank you for the suggestions.  I will try the call to getCredentials() prior to getIdentityId() as a workaround. For consistency with the iOS version, it would be nice to have a callback on getIdentityId() rather than just returning null. Thank you for scheduling a review of the Google code.

[2019-02-25 05:29] BillBunting commented on #700
@minbi

I added a call to getCredentials() after AWSMobileClient.getInstance().initialize() and upon case SIGNED_IN.  It works properly the first time (as it did prior) but when I call SignOut(), and call the below method again, the following exception is thrown. Using 2.12.0 still. (Upgrade to 2.12.1 caused a UI crash when attempting to use the SignIn UI for a Cognito user pool and/or providing i

[2019-02-25 06:00] BillBunting opened #722 "AWSMobileClient.getInstance().showSignIn() Crash in 2.12.1 upon submit: Can't create handler inside thread that has not called Looper.prepare()"
**Describe the bug**
I have an app running in 2.12.0.  The app displays the SignInUI successfully and it works, signing in the user and also displaying errors when appropriate. After upgrade to 2.12.1, the app will now crash when the sign-in UI Sign In button is selected.  No other code changed in the app. Reverting back to 2.12.0 resolves the problem.

The exception for use case, user does not pr

[2019-02-25 19:32] #714 closed

[2019-02-25 19:33] muellerfr commented on #714
@ZYHZ100 - Looks like the issue has been resolved. If you still need help, please open another issue.

[2019-02-25 19:49] BillBunting commented on #700
@minbi , signOut() is called on the UI thread as follows, but for extra measure, I wrapped it runOnUIThread.  Either way, I still get the same exception from Google federated sign-in if I sign-in then sign out, then sign in again.  Facebook and the app's Cognito user pool do not have this issue.  I can repeatedly sign in and out with both Facebook and the app's Cognito user pool.

[code]

[code]

[2019-02-25 19:52] minbi commented on #719
Hi @iwwork ,

"PoolId": "REPLACE_ME",
"Region": "Regions.US_EAST_1"

If you have `Regions.US_EAST_1` as the region value, please replace it with `us-east-1` instead.

[2019-02-26 06:58] iwwork commented on #719
@minbi this does not work.

[2019-02-26 14:00] shabana0508 commented on #222
i have created new user in uerpool after updating poolId in App, Still getting same error

[2019-02-26 14:01] shabana0508 commented on #222
Can you please suggest something ?

[2019-02-26 14:08] shabana0508 commented on #222
@jbailey2010
i have updated poolId and created new user in userpool still I am facing same issue. Can you please suggest me something?

[2019-02-26 16:23] desokroshan commented on #222
@shabana0508 Thanks for reaching out. Do you mind opening a new issue with following details:
1.  Steps to reproduce the issue
2. Stack trace you are seeing.
Please elaborate on your use case and the API you are using. If this is your first time using authentication with AWS, we recommend using [AWSMobileClient](https://aws-amplify.github.io/docs/android/authentication). Please give it a try if yo

[2019-02-26 16:34] minbi commented on #719
Can you elaborate or potentially provide a stacktrace?

[2019-02-26 22:05] qingbo93 commented on #670
Hi, I am also running into the same issues with `aws-android-sdk-cognitoauth` where I can't return to the same flow if we have 2-factor authentication or even authorization code because the custom chrome tabs are closed when we leave the app. I took a look around and it is because of `FLAG_ACTIVITY_NO_HISTORY` and `FLAG_ACTIVITY_NEW_TASK`. Could we get an update for this ticket (if anything is pla

[2019-02-26 22:58] joebernard commented on #450
@returnzer0 Were you able to figure out how to send a push notification to a Cognito user? Right now I'm storing the device token and Cognito ID (sub) in a database, then looking up the token when I send the push.

The documentation around this is lacking and none of the responses in the thread answer how to do this.

[2019-02-27 02:39] returnzer0 commented on #450
@joebernard yes I did.

Its a 3 step process on my part.
Frontend:
1. [Register the endpoint with the Cognito ID.](https://aws-amplify.github.io/docs/ios/analytics#registering-endpoints-in-your-application)

Backend:
2. [Given a Cognito ID, find all of the registered endpoints.](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Pinpoint.html#getUserEndpoints-property)
3. [Send message to the

[2019-02-27 06:08] #699 closed

[2019-02-27 06:08] #667 closed

[2019-02-27 06:08] #671 closed

[2019-02-27 06:08] #406 closed

[2019-02-27 06:22] aslamhossin opened #737 "Manifest merger failed : uses-sdk:minSdkVersion 21 cannot be smaller than version 23 declared in library"
For the AWSMobileClient alone you can have a minimum SDK version of 15, but for the drop-in UI you will need a minimum of 23 set in your build.gradle:
I wanna know what is the reason for what min SDK  is 23?

[2019-02-27 09:27] shabana0508 opened #738 "Getting CognitoCachingCredentialsProvider: Failure to get credentials"
**Describe the bug**
I am using CognitoUserpool for creating user and signin.
Now i am uploading image to s3 bucket. Issue is while i am trying to retrieve image from s3 getting below error
CognitoCachingCredentialsProvider: Failure to get credentials

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**

**Expected behavior**
Retrieve image from s3 bucket

**Scr

[2019-02-27 15:04] desokroshan commented on #737
@aslamhossin Thanks for reaching out. We already have an [issue](https://github.com/aws-amplify/aws-sdk-android/issues/471) tracking request to reduce the minSdkVersion for using drop-in UI. Please feel free to upvote the issue to help up prioritize it accordingly.

[2019-02-27 19:08] #694 closed

[2019-02-27 22:25] minbi commented on #722
Hi @BillBunting ,

We have a fix for this in an upcoming release, thank you for the detailed report.

[2019-02-27 22:34] desokroshan commented on #738
@shabana0508 Thanks for opening the issue. From the error message it looks like either the authenticated role is not set up correctly or token from identity provider are not being passed via logins map. Please verify the above two cases.
 For authentication solutions we strongly recommend that you use [AWSMobileClient](https://aws-amplify.github.io/docs/android/authentication) since it does a lot

[2019-02-28 01:17] bxpan opened #747 "Support for multiple topic subscription in one single subscribe call"
**Which AWS Services is the feature request for?**
AWS IoT

**Is your feature request related to a problem? Please describe.**
Currently, there's no API to subscribe multiple mqtt topic in one single subscribe call, even though the underlining paho mqtt does support multiple topic subscription.
https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-iot/src/main/java/com/amazona

[2019-02-28 01:41] bxpan opened #748 "Support for SubACK and UnsubACK"
**Which AWS Services is the feature request for?**
AWS IoT

**Is your feature request related to a problem? Please describe.**
The current SDK does not handle SUBACK or UNSUBACK mqtt messages. As a result, once the client subscribe to a topic, it does not know whether that subscription is successful unless it receives an MQTT message later on that topic. Similarly, it does not whether Unsubscribe

[2019-02-28 02:08] bxpan opened #749 "Wait for PUBACK from APP client before sending PUBACK to AWS IoT"
**Which AWS Services is the feature request for?**
AWS IoT

**Is your feature request related to a problem? Please describe.**
Currently, the SDK sends PUBACK immediately back to AWS IoT after receiving a publish message from AWS IoT. As a result, the application does not have any control to send the PUBACK only after the received publish message is successfully handled

**Describe the solution yo

[2019-02-28 02:52] iwwork opened #750 "Android PubSub with WebSockets Sample does not work!!!"
Thanks @muellerfr @minbi @desokroshan to solve this one:
AndroidPubSub Sample does not work!!!
https://github.com/aws-amplify/aws-sdk-android/issues/719

Now I tried to follow the above method to use it in the following:
AndroidPubSubWebSocket
https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSubWebSocket
there still has some problems:

**State your question**
The apk keeps

[2019-02-28 03:29] BillBunting commented on #700
@minbi ,

I'm confident there are bug in this release and possibly the prior release related specifically to Google federated sign-in.

You asked:

Is `signOut()` being called from a different thread?

I have tried a lot of different things to work around the problem, but my current code is making all calls to SignOut and SignIn using runOnUIThread()

[code]

the initializeAWSMobileClient() method

[2019-02-28 03:49] BillBunting commented on #622
@CriPstian ,

I wanted to do the same thing, so I could get basic information about a federated user to add to a DynamoDB table.

I collected the sign-in info I needed directly from the federated provider's API.  First, I try to determine which federated login was used.  Maybe there is a better way via an AWS API.

[code]

For Facebook, I grab the info with a Graph request ...
`GraphRequest graphR

[2019-02-28 11:52] shabana0508 commented on #738
Thanks
Issue has been solved using AWSMobileClient

[2019-02-28 16:12] PDACN opened #751 "Documentation for aws-android-sdk-sns"
Hi,
in [Amplify Android Docs](https://aws-amplify.github.io/docs/android/start) I can't find documentation about **aws-android-sdk-sns**
can you provide this documentation?

([Amplify Android Docs](https://aws-amplify.github.io/docs/android/start) don't provide documentation for more AWS libraries contained in [aws-sdk-android](https://github.com/aws-amplify/aws-sdk-android))

Thank you

[2019-02-28 17:41] desokroshan commented on #738
Great. I will go ahead and close this issue. Please feel free to open another one if you have further questions.

[2019-02-28 17:41] #738 closed

[2019-02-28 18:02] desokroshan commented on #751
@PDACN Thank you reaching out. We do not have documentation for every SDK module in the repository. You can however refer to the [SNS API reference](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/services/sns/package-summary.html) for the different APIs that the service exposes. You can also look at the [SNS integration tests](https://github.com/aws-amplify/aws-sdk-andr

[2019-02-28 18:07] desokroshan commented on #719
Sounds like this issue has been resolved as mentioned in https://github.com/aws-amplify/aws-sdk-android/issues/750. Closing this issue.

[2019-02-28 18:07] #719 closed

[2019-02-28 18:23] desokroshan commented on #750
@iwwork Thank you for reporting this. I will try to follow the steps and reproduce the issue. The stack trace indicates that the WebSocket handshake request for upgrade failed. Can you please let us know if you are using the default version of paho or are you using a custom version. If you are not sure about the paho version, chances are you are using the default version. Please let us know accord

[2019-02-28 22:37] muellerfr commented on #365
This feature has been released. Please try it out and open a new issue if you are observing and issues or have questions.

[2019-02-28 22:37] #365 closed

[2019-03-01 01:47] iwwork commented on #750
@desokroshan Thanks.
As for the paho version, I am not sure. Just exactly following the default instructions of aws iot, cognito, and the android apk, which on the official website you provide.

[2019-03-01 08:03] svvashishtha opened #758 "AWS S3 uploaded files not showing"
**Describe the bug**
I have a background task that uploads text files to s3 bucket. Recently some of the files that were uploaded on the s3 bucket are not visible on the management console.

**To Reproduce**
Unable to reproduce in test environment. This happened with our production application.

**Code to upload files**
[code]

**Which AWS service(s) are affected?**
S3
**Expected behavior**
Upload

[2019-03-01 17:03] kvasukib commented on #758
@svvashishtha Sorry for the inconvenience caused.

Do you have any data on the files that are missing on the S3 Management console?
Is there a correlation among the files that are missing? Like size of the file, content-type of the file, name of the file, name of the key?

Also, do you see state and progress updates for the transfers in your app? If you can pull the logs from the app where the iss

[2019-03-02 09:26] supreme96 commented on #708
@ZYHZ100 maybe you would want to look into using Cognito Identity Pools. It allows your guest users to have unauthenticated identities (https://docs.aws.amazon.com/cognito/latest/developerguide/identity-pools.html#enable-or-disable-unauthenticated-identities).

[2019-03-02 14:17] shabana0508 opened #762 "How to create userGroup in AWS ?"
**State your question**
Hi,
I am trying to create UserGroup in AWS using below code,But getting Access Denied to this user error.

**Which AWS Services are you utilizing?**
Cognito

**Provide code snippets (if applicable)**
 val stsClient =
                                            AWSSecurityTokenServiceClient(AWSMobileClient.getInstance().awsCredentials)

[2019-03-02 15:03] desokroshan commented on #762
@shabana0508 Thanks for reaching out. Can you use AWSMobileClient instance to initialize the client as `val client = AmazonCognitoIdentityProviderClient(AWSMobileClient.getInstance())` and also possibly upgrade to the latest version of the SDK 2.12.2. and check if the issue persists?

[2019-03-03 05:45] supreme96 commented on #762
@shabana0508 maybe check the permissions for the auth role (picapp_auth_MOBILEHUB_108066410).

[2019-03-03 12:46] iPaulPro commented on #471
This is not a feature request. It's a common sense change that should have never been an issue. It's honestly ridiculous that we're still waiting for this. It's almost a year now.

[2019-03-04 00:32] kvasukib commented on #712
@mukeshdadarwal I would recommend you to check your network settings and firewall policies? When you enable transfer acceleration from the client side, the SDK sends request to a different endpoint. Can you check if your network policies block requests to certain endpoints?

[2019-03-04 05:35] shabana0508 commented on #762
@desokroshan
Thanks for reply,
i have upgraded sdk to 2.12.2 and used AWSMobileClient instance to initialize the client but still issue is not solved.I have checked userpoolId it's same as AWS Console
But still i am getting below error
Caused by: com.amazonaws.services.cognitoidentityprovider.model.ResourceNotFoundException: User pool us-east-2_JUjVI2R8c does not exist.

[2019-03-04 06:22] svvashishtha commented on #758
@kvasukib All files are text files. The only correlation between files is that they were uploaded in a single run of the service that uploads files to s3.
Transfer succeeded with state TransferState.COMPLETED because the step after uploading files(acknowledging file upload to our server via a REST API call) was executed for all of these files.

[2019-03-04 07:18] Goutham-Byteridge opened #764 "AWS Cognito Android SDK MFA Authentication Issue"
We are using cognito android sdk to authenticate against the Microsoft IDP via SAML 2.0 protocol. IDP has a call based MFA enabled. When the user receives a phone call in his device and user answers it, phone activity opens and app goes to background and webview also got closed as cognito is calling the OnFailure() method. When the user opens the application again, signin page is shown and when us

[2019-03-04 14:27] since2014 commented on #717
Details:
1. Size of the file being uploaded.  *Most file sizes are with in 1Mb.*
2. Is this issue consistently reproducible for every upload? Can you reproduce this on your development environment? If so, we need the following information: *Yes, it is consistently reproducible for every upload*
    2.1) Values in `returnedMetadata` object *I will provide this information later.*
3. Is the file upl

[2019-03-04 16:50] kvasukib commented on #758
@svvashishtha Thank you for the quick response. Can you check if the object exists using `s3Client.doesObjectExist(bucketName, key)` after you get the state `TransferState.COMPLETED `?

What is the size of the file being uploaded? Do you get any exception in the `onError` callback? Have you noticed any error in your logcat?

[2019-03-04 18:40] desokroshan commented on #762
Can you please check if a user pool with id `us-east-2_JUjVI2R8c` does exist in the backend?

[2019-03-04 20:15] kvasukib commented on #762
@shabana0508 Sorry for the inconvenience caused.

Thank you for the additional details.

1) Can you check if the IAM role (Auth and Unauth role) of your Cognito Identity pool has a IAM policy for 'createGroup' ? This could be the reason of getting `AccessDenied`.

2) Can you check the AWS region that is being passed through the code and the region where your resource exists? This could be the reas

[2019-03-05 00:38] #705 closed

[2019-03-05 01:59] BillBunting commented on #722
@minbi I updated to 2.12.2 and have the same bug. When do you anticipate this will be fixed? I assume anyone using AWSMobileClient with AWSMobileClient.getInstance().showSignIn()  is blocked from upgrading? The following exception is generated any time the user hits submit on the AWSMobileClient.getInstance().showSignIn() form for username/password sign-in. Even error validation generates the cras

[2019-03-05 02:04] BillBunting commented on #700
@minbi Any update on this bug.  I tried 2.12.2 and have the same problem.  If a user signs in then out and attempts to sign back in again they are unable (exceptions thrown). Likewise, after the federated token expires after 1 hour, the user is unable to sign back in again. The problem only exists for Google federated signing.

[code]

[2019-03-05 02:18] iwwork commented on #750
@muellerfr  @desokroshan please help, wish to solve it asap

[2019-03-05 05:00] BillBunting opened #766 "AWSMobileClient._showSignIn calls addSignInProvider multiple times for each call to AWSMobileClient.getInstance().showSignIn"
**Describe the bug**

Minor bug, if a bug at all.

Make one call to AWSMobileClient.getInstance().initialize then for each call to AWSMobileClient.getInstance().showSignIn, each call to identityManager.addSignInProvider results to adding the sign in provider multiple times.  So, when an app calls AWSMobileClient.getInstance().SignOut() then repeats the call to SignIn() the class is added to the li

[2019-03-05 05:11] shabana0508 commented on #762
Yes it's available. i have used same user pool id for SignUp and SignIn User and it's working fine.

[2019-03-05 06:16] shabana0508 commented on #762
I have assigned policy for creatGroup To I AM Role. And not passing Region from my code still getting userpool doesn't exist error

[2019-03-05 06:51] kvasukib commented on #762
@shabana0508 Since your identity-pool is in `us-east-2`, I would advice you to do the following:

[code]

Do you have a use-case for creating a STS client? If not, I would suggest to use the above constructor for `CognitoCachingCredentialsProvider`.

[2019-03-05 06:53] kvasukib commented on #766
@BillBunting Thank you for reporting this to us. Sorry for the inconvenience caused. I am looking into the issue.

[2019-03-05 07:15] shabana0508 commented on #762
@kvasukib
While i am using CognitoCachingCredentialsProvider then getting AccessDeniedError.

[2019-03-05 14:44] tobiasschuerg opened #767 "Authenticated requests with Cognito and ApiGateway"
**State your question**
How can I make authenticated requests via api gateway or rather how to set up the CredentialsProvider?

I have an amazon generated api which I'm trying to set up, but authentication does not work.
I followed this guide: https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-generate-sdk-android.html
(implementation details below)

**Which AWS Services are you u

[2019-03-05 16:22] kvasukib commented on #767
@tobiasschuerg Thank you for reporting to us.

After you set the token in the logins map, you need to call `refresh` in order to receive the credentials based on the authenticated role. The following code assumes that you want to use Cognito Federated Identities (Authenticated Identities) to authenticate your request to APIGateway.

[code]

However if you want to use Cognito UserPools as the autho

[2019-03-05 17:13] minbi commented on #700
Hi @BillBunting , we did not address this issue in the 2.12.2 release. This is still in my queue.

[2019-03-05 17:14] minbi commented on #722
@BillBunting the last release was to support an infrastructure change. This issue was not addressed. This is still in my queue.

[2019-03-05 17:56] desokroshan commented on #750
@iwwork I am unable to reproduce the issue on my end. The error suggests that the handshake request for upgrading connection to websocket failed. Can you please confirm the following :

1. You have enabled access to unauthenticated identities for your identity pool?
2. `AWSIoTFullAccess` policy is attached to the unauthenticated role for the userpool?
3. Can you share the request-id returned by AW

[2019-03-05 21:17] #544 closed

[2019-03-05 21:17] #648 closed

[2019-03-05 22:44] minbi commented on #764
Hi @Goutham-Byteridge ,

I think I understand what is happening. The SDK is treating the hiding of the tab as a user cancelled event. We will need to change this behavior to support this use-case.

[2019-03-06 02:38] iwwork commented on #750
@desokroshan Thanks
The first 2 points are ok, as it was successful with android pubsub.
as for the request-id, maybe it is 5385

Wish these could solve it.

com.amazonaws.demo.androidpubsubwebsocket I/AWSIotMqttManager: attempting to reconnect to mqtt broker
com.amazonaws.demo.androidpubsubwebsocket D/AWSMobileClient: Inspecting user state details
com.amazonaws.demo.androidpubsubwebsocket D/AWSMo

[2019-03-06 05:48] Goutham-Byteridge commented on #764
Hi minbi,

We are working on very stringent timelines for one of our projects and this issue is a serious blocker for us to go live. We had already spent 2 weeks on this looking for a resolution. If you could please assist me on fixing this issue on the SDK itself, i will be grateful to you. Or if its a quick fix that you can do immediately, that would be even better. Please let me know whatever i

[2019-03-06 08:01] tobiasschuerg commented on #767
Thank you already for your response! I think user pools should be the authorizer.

Where can I set the headers?
Neither `ApiClientFactory` nor my generated api provides something like `setHeaders`?

[2019-03-06 15:59] #737 closed

[2019-03-06 16:17] minbi commented on #764
Hi @Goutham-Byteridge ,

We do not currently have a solution to resume this using the CustomTab implementation since like you said the tab is dismissed. Programmatically I am not aware of a way to prevent the dismissal. There may be a way to use WebView since that *might* have a tighter "bind" to the activity and not be dismissed, but we do not have an implementation. We are open to pull requests,

[2019-03-06 20:49] kvasukib commented on #767
@tobiasschuerg Thank you for the quick response. Here is the code.

[code]

[2019-03-06 21:58] tw-john opened #769 "Regression in Reset Password Workflow introduced in 2.12.1"
**Describe the bug**
Regression introduced in CognitoUser in commit of 2019-02-22.

Regression results in consistent "Authentication failed due to an internal error: PASSWORD_VERIFIER challenge encountered not at the start of authentication flow" error message being returned during password reset workflow.

This regression was introduced by the removal of the return statement at line 2365 of Cogni

[2019-03-06 22:13] minbi commented on #769
Hi @tw-john ,

This is a duplicate of #722 . We will have a release soon to fix this issue. If you want to try out the fix, it is staged on branch mc-2

[2019-03-06 22:15] tw-john commented on #769
Good to know. I'll just stick to 2.12.0 until it is released.

[2019-03-06 22:15] #769 closed

[2019-03-07 06:36] kvasukib commented on #616
@hipwelljo Sorry for the delay. I will continue my progress on the fix for this issue and have an update soon.

[2019-03-07 08:57] tobiasschuerg commented on #767
I don't get it to work :-(

[code]
If running the above code, it throws an exception:

When profiling the request, I see that the url is correct and theauthorization header is set correctly. However, it seems as no body is sent?!?

But if I do the same request using OkHttp, it just works fine:
[code]

Some questions I have:
1. Is ApiGateway meant to be used with user pools?
2. why is there no `Api

[2019-03-07 14:20] dmillermx commented on #616
Hello, @kvasukib ,
I'm developer of TruVideo project and we use your lib for uploading video/photo files to S3 Bucket.
We encountered the same problem in case bad connection.
The most frequent issue I see in logs is next:
[code]

As I know from the issue description the Socket Timeout is 20 sec.
My thought that it's too short.
Could you please provide the information if this Timeout can be increas

[2019-03-07 17:12] kvasukib commented on #616
@dmillermx Sorry for the inconvenience caused. The 20 second timeout is set by Amazon S3 and the SDK cannot control the timeout set by Amazon S3.

However, I am trying to make a change where I could catch this exception and set to WAITING_FOR_ETWORK so the user could resume later. I will let you know when I finish my change so you could test it.

[2019-03-07 18:03] dmillermx commented on #616
Thank you for response.

[2019-03-07 20:51] kvasukib commented on #766
@BillBunting A fix for this issue is in the works. We will update here once the fix is released.

[2019-03-07 21:12] muellerfr commented on #675
Hi @EnterPrayz, CognitoSync has been [deprecated](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-sync.html). We will take a look at the issue and attempt to fix it, but in the meantime we would encourage you to take a look at AWS AppSync.

[2019-03-07 21:28] muellerfr commented on #708
@ZYHZ100 You are correct. You can  generate UUID and then register that with your device details in DynamoDB, or you could also use Pinpoint, which generates a UUID for each device.

[2019-03-07 21:33] kvasukib commented on #762
@shabana0508 Thank you for the response. Can you give us the requestId, AWS region and the policy that you have attached in your IAM role?

[2019-03-08 05:10] kvasukib commented on #598
@ejmsk We have an update on this feature in `2.12.3` version of the SDK. Please read our [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2123) for further information. I would recommend you to do adequate testing with the new version of the SDK and let uw know if you have any feedback. Thank you for the patience.

[2019-03-08 08:42] ejmsk commented on #598
Thanks for the update @kvasukib. Will test the new update in the next days.

[2019-03-08 14:02] abdullahmehmood opened #773 "Submit Events is not working properly"
**Describe the bug**
After Investigation I have found that the sdk is not storing the offline data, when device is offline and then if we call the submit event method just after the record event then crash occurs and because of this crash it is unable to store the records in the DB. When I check the awspinpint.db file its empty.

So, I have to add the check network availability whenever I call the

[2019-03-08 20:03] kvasukib commented on #773
@abdullahmehmood Sorry for the inconvenience caused. I am able to reproduce the issue. I am working on a fix for it and will have a PR soon.

[2019-03-11 02:23] kvasukib commented on #773
@abdullahmehmood Submitted PR #776 to fix the issue. Please feel free to build from the PR for testing.  before the fix can be released.

[2019-03-11 03:27] hfcheng opened #777 "ConcurrentModificationException in pauseAllTransfersDueToNetworkInterruption with SDK 2.11.1"
**Describe the bug**
We are encountering rare ConcurrentModificationException in pauseAllTransfersDueToNetworkInterruption added in SDK version 2.11.1.

[code]

**To Reproduce**
It looks like the issue is happening when the network is getting interrupted but the app is submitting a new upload request at the exact same time.

**Which AWS service(s) are affected?**
Amazon S3

**Expected behavior**
T

[2019-03-11 04:18] kvasukib commented on #777
@hfcheng Sorry for the inconvenience caused. What is the frequency of occurrence of this issue? I can see that the methods that access the transfer map created by `TransferStatusUpdater` are synchronized and we only have one `TransferStatusUpdater`.

Is there a chance your app is trying to operate on the same transfer id when the `TransferNetworkLossHandler` is operating on it (in this case pausin

[2019-03-11 05:42] abdullahmehmood commented on #773
@kvasukib Thanks. I'll check it out.

[2019-03-11 06:14] marukami commented on #718
I found a similar issue but also found that R8 fullMode was also removing `AWS4Signer`. But, I found that adding the following keep rules seemed to resolve the issue.

[code]

For me the error always came from `SignerFactory.createSigner`. So, I'm guessing that R8 is not following the `signerType` String to class mappings in `SignerFactory`.
[code]

I assume then we might also find `QueryStringSig

[2019-03-11 07:56] SergeiVasilenko opened #778 "SQLiteDatabaseLockedException while submiting events"
**Describe the bug**
[code]

**Which AWS service(s) are affected?**
com.amazonaws:aws-android-sdk-pinpoint:2.12.2

**Expected behavior**
No crash

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.12.2
 - Device: SM-G960F
 - Android Version: 9
 - Specific to simulators: No

**Additional context**
An app are sending a lot of events for performanc

[2019-03-11 16:49] kvasukib commented on #778
@SergeiVasilenko Sorry for the inconvenience caused. Are you creating multiple `PinpointManager` instances?

PinpointManager -> AnalyticsClient -> EventRecorder -> PinpointDBUtil -> PinpointDBBase -> PinpointDBHelper.

My suspicion is that creating multiple `PinpointDBHelper` instances could cause this crash and creating multiple PinpointManager instances will create multiple `PinpointDBHelper` ob

[2019-03-11 16:58] kvasukib commented on #710
@usmanrana07 Sorry for the delayed response. Our SDK doesn't support obfuscation. We recommend you to configure the proguard rules to keep the classes from the SDK.

You can refer to https://github.com/aws-amplify/aws-sdk-android/blob/master/Proguard.md#modifying-proguard-projecttxt-for-the-aws-sdk-for-android on how to configure Proguard.

[2019-03-11 18:33] agalfioni opened #780 "Error in initializing the CognitoCachingCredentialsProvider introduced in 2.12.3"
**Describe the bug**
Since 2.12.3 version, i can't initialize CognitoCachingCredentialsProvider using constructor `public CognitoCachingCredentialsProvider(Context context, String identityPoolId, Regions region)`

I obtain the next error from catch block in initialize(Context context) method:

And later:

when execute `credentialsProvider.getCachedIdentityId()` with previously instantiate CognitoC

[2019-03-11 19:08] #751 closed

[2019-03-11 19:22] kvasukib commented on #780
@agalfioni Sorry for the inconvenience caused. We are looking into reproducing and fixing the issue.

[2019-03-11 20:00] kvasukib commented on #780
@agalfioni I have submitted a PR #781 to address this issue. Please feel free to build from the PR to test and see if it avoids the crash.

[2019-03-12 00:26] kvasukib commented on #780
@agalfioni The fix has been released in `2.12.4` version of the SDK. Please refer to [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2124) for more information.

[2019-03-12 07:35] SergeiVasilenko commented on #778
I found that each time I tap on Home button and after return in app` PinpointManager` recreates. I think it was case of creating multiple `PinpointDBHelper` objects. So now I create PinpointManager once at all life of app. I'll look at behaviour.

[2019-03-12 07:59] usmanrana07 commented on #710
@kvasukib i've already used these rules in my proguard file but that still couldn't resolve the problem.

[2019-03-12 16:27] kvasukib commented on #767
@tobiasschuerg Thank you for the detailed response. You need to supply the `content-length` header.

[code]

You can take a look at our [integration tests](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-apigateway-test/src/androidTest/java/com/amazonaws/mobileconnectors/apigateway/ApiClientFactoryIntegrationTest.java#L114) for high-level APIs which will create the reque

[2019-03-12 16:36] kvasukib commented on #778
@SergeiVasilenko Thank you for the quick response. One recommended way to do it is to create the `PinpointManager` object in the `Application` class upon startup and your app can refer to the same `PinpointManager` object.

From the SDK standpoint, we could make the `PinpointDBUtil` a singleton object so irrespective of the number of `PinpointManager` objects, there will be one `PinpointDBHelper`

[2019-03-12 16:37] tobiasschuerg commented on #767
@kvasukib thanks again

With the setting the content-length manually it now works 🎆

However, with having to manually specify the urls, path, parse the json response, and everything... I'm still wondering what the advante of the apigateway on android side is or if it normally should be used only in combination with identity pools?

[2019-03-13 01:04] agalfioni commented on #780
Thanks @kvasukib the bug is fixed with the newer version of the SDK.

Regards!

[2019-03-13 01:04] #780 closed

[2019-03-13 05:14] hfcheng commented on #777
@kvasukib Appreciated for the hint. We realized we forgot to remove the codes we implemented for early versions of SDK, which did similar processing like the current TransferNetworkLossHandler is doing (listening to connectivity change events but we were pausing those transfers instead). It becomes redundant after SDK 2.11.x and conflicting with the existing SDK code.

Although we have not done a

[2019-03-13 05:54] alaa137 opened #784 "AmazonDynamoDB; Status Code: 400; Error Code: AccessDeniedException"
I'm trying to load a table I manually created in DynamoDB, named **Device**, but I'm getting an `AccessDeniedException`. Here's my code:

[code]

Here's the error I'm getting:

Here's the policy:
[code]

MyPoolUnauth_Role Policy:
[code]

[2019-03-13 08:11] BigFab opened #785 "com.amazonaws.http.UrlHttpClient does not set proxy settings"
**Describe the bug**
I am building a S3Client to which I am passing some proxy settings (host and port) through the ClientConfiguration. The S3Client constructor I am using (credentials + region + clientConfiguration) leads to using a **UrlHttpClient**. The instantiation of this class does not take into account the proxy settings defined in the ClientConfiguration.
As a workaround, I have to build

[2019-03-13 13:06] dmillermx commented on #616
@kvasukib how is it going on this? Could you please send an update as to when we can expect a fix for this? We are having a lot of customers experiencing this issue. Thank you!

[2019-03-13 16:38] kvasukib commented on #777
Thank you @hfcheng for the information. Please feel free to re-open when you find a different root-cause or need help in migration.

[2019-03-13 16:40] kvasukib commented on #784
@alaa137 Thank you for reporting to us. You need to provide the appropriate policy `dynamodb:DescribeTable ` in the `MyPoolUnauth_Role` since your code is trying to retrieve an unauthenticated identity.

[2019-03-13 19:42] BillBunting commented on #700
@minbi Google Federated sign-in with the drop in UI has not worked since 2.12.0, 27 days ago.  This issue has blocked future releases on my app.  When will this issue get some attention?  Thank you.

[2019-03-13 20:19] desokroshan commented on #687
@VirRajpurohit We have added some basic integration test that demonstrates labeling an image with a category. We do no have any immediate plans for adding samples app for Rekognition since we want to be able to provide certain degree of support on all of our sample apps which is harder to achieve as samples become more numerous. Please let us know your use case and we will try to add an integratio

[2019-03-14 08:30] samyakjain opened #787 "Upload Fails with error Log tag "RepeatableFileInputStream" exceeds limit of 23 characters"
**Describe the bug**
Getting error while uploading any file from Android 7.1.1

**Which AWS service(s) are affected?** - S3

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
019-03-14 13:44:37.645 18186-18517/? E/UploadTask: Error encountered during multi-part upload: 9 due to Log tag "RepeatableFileInputStream" exceeds limit of 23 characters

    jav

[2019-03-14 10:12] scdplzop commented on #640
Similar issues here.
Unable to attach policy after user logged in and the implementation is followed by Amplify website.
But iOS works fine using same user pool, user identity pool

error message:

`com.amazonaws.AmazonServiceException: User: arn:aws:sts::884418826570:assumed-role/cognito-auth-goodlinkeriot@sensor.live/CognitoIdentityCredentials is not authorized to perform: iot:AttachPolicy on re

[2019-03-14 15:45] Akefhabbal opened #789 "Minimized SDK"
**State your question**
I use the SDK library which has so many functions more than 17000 which makes me have to use multidex in android, is there a minimized library that I can use? I'm using this library to PubSub messages on MQTT.

**Which AWS Services are you utilizing?**
aws-android-sdk-iot
aws-android-sdk-mobile-client

**Provide code snippets (if applicable)**
aws_version = "2.12.+"
impleme

[2019-03-14 18:55] desokroshan commented on #750
@iwwork Thanks for sharing the stack trace. Request-id is not available in the stack trace. You will have to setup a debugger add breakpoints where you receive response from iot or lower your log-level. But before that, since I am not able to reproduce it on my end, I am guessing the exception might be related to the specific android version you are using. Can you please share the details of the d

[2019-03-14 19:33] #577 closed

[2019-03-14 19:33] #766 closed

[2019-03-15 05:56] abdullahmehmood commented on #773
@kvasukib Can I get the aar file? So, that i can check this on my side. As I have added the Gradle dependency of aws sdk in my project. or When I have the release of this fix?

[2019-03-15 07:21] rohandubal commented on #789
Hello @Akefhabbal

Sorry that you are having issues using the SDK. Could you please tell the functionality in AWSMobileClient which you are using?

If you are only using Cognito Identity without authentication, you could just depend on `aws core` which can help reduce the library size. If you are using the auth features, then unfortunately we do not have other smaller library.

Thanks,
Rohan