[2019-03-15 07:24] rohandubal commented on #787
Hello @samyakjain

Sorry that you are having issues using the SDK. This seems due to limitation imposed by Android. We would have to trim the classname under 23 characters.

I will update this thread once we have a fix released.

Thanks,
Rohan

[2019-03-15 08:51] andymartinwork commented on #577
One more comment - do you know if this was done on iOS as well?

[2019-03-15 11:04] Akefhabbal commented on #789
Hello @rohandubal

Thanks for you answer. Actually, I'm using authentication.

I hope you will make a minimized on in the future.

Regards.
Akef.

[2019-03-15 15:51] minbi commented on #577
Hi @andymartinwork ,

This feature was also released on the iOS side.

[2019-03-15 16:02] minbi commented on #766
Hi,

Please see if SDK release 2.12.5 fixes this issue for you.

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2125)

[2019-03-15 16:03] minbi commented on #328
Hi,

Please see if SDK release 2.12.5 fixes this issue for you.

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2125)

[2019-03-15 16:05] minbi commented on #722
Hi @BillBunting ,

Please see if SDK release 2.12.5 fixes this issue for you.

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2125)

[2019-03-15 16:07] MarcBernstein opened #795 "Using TransferNetworkLossHandler receiver with targetSdk 24 and up (N+) results in a lint warning"
**Describe the bug**
Adding the TransferNetworkLossHandler receiver to AndroidManifest.xml shows a warning about using deprecated functionality when `targetSdk` is >= 24.

**To Reproduce**
With an app that uses a `targetSdk` value of 24 or higher:
1. Add the TransferNetworkLossHandler receiver to AndroidManifest.xml:
[code]
2. Run `./gradlew lint`
3. See the lint report output:
[code]

[2019-03-15 17:16] kvasukib commented on #795
@MarcBernstein Thank you for reporting to us. For apps targeting 24 and above, I would recommend you to register the broadcast receiver through code and not via manifest.

You can refer how to do this in [`TransferService`](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferService.java#L104)

In sho

[2019-03-15 17:31] MarcBernstein commented on #795
Thanks @kvasukib. Is this functionality required, or optional? I noticed error log messages before I set up the TransferNetworkLossHandler in my app, but I'm not quite sure if it's mandatory or not.

After removing the calls altogether, I don't see any errors being logged about it so I'm guessing there was something else going on and it's not required to register this receiver unless we desire it?

[2019-03-15 17:34] kvasukib commented on #795
@MarcBernstein Thank you for the quick response. As you rightly pointed out, this is an optional feature. `TransferNetworkLossHandler` listens for network connectivity changes and pauses the on-going transfers when the network is offline and resumes them when the network comes back online.

When you use `TransferService` or wrap the call to `TransferNetworkLossHandler` in a service of your choice,

[2019-03-15 17:40] MarcBernstein commented on #795
Thanks for the info.

[2019-03-15 17:40] #795 closed

[2019-03-15 20:27] BillBunting commented on #722
@minbi I briefly tested and it seems to be resolved. I am now able to use the drop in UI.  Thank you.

[2019-03-15 20:28] BillBunting commented on #722
Resolved.

[2019-03-15 20:28] #722 closed

[2019-03-15 21:44] BillBunting commented on #766
@minbi Appears to be resolved in 2.12.5. Thank you.

[2019-03-16 22:11] puregallery opened #796 "Missing proguard rules on sdk-mobile-client 2.12.5?"
**Describe the bug**
Gradle fails to build with included proguard rules

**To Reproduce**
After using provided proguard rules, it worked(built) fine when I use version 2.12.4
implementation('com.amazonaws:aws-android-sdk-mobile-client:2.12.4@aar') {
        transitive = true
    }

But it breaks once I bump up to this version
implementation('com.amazonaws:aws-android-sdk-mobile-client:2.12.5@aar')

[2019-03-17 07:44] alaa137 commented on #784
I didn't find a DescribeTable policy so I added DynamoDBFullAccess, and it worked. Thank you!

[2019-03-17 07:44] #784 closed

[2019-03-17 21:19] #712 closed

[2019-03-17 21:31] kkflf opened #797 "Region object for Stockholm - eu_north_1 is missing."
**Describe the bug**
I am trying to use the new Stockholm region (eu_north_1) with S3 in Android. I can use the Regions.EU_NORTH_1 enum, but I cannot retrieve any Region object based on this enum.

This is the regions available in `RegionUtils.jav List<Region> regions`:
regions = {ArrayList@6445}  size = 18
 0 = {Region@6447} "ap-northeast-1"
 1 = {Region@6448} "ap-northeast-2"
 2 = {Region@6449}

[2019-03-18 04:29] kvasukib commented on #797
@kkflf Thank you for reporting to us. Sorry for the inconvenience caused. I have submitted a PR #798 to fix this issue.

[2019-03-18 08:09] HayTran94 opened #799 "How I can get JWT token from social login with AWSMobileClient"
**State your question**
Currently, I am using AWSMobileClient to authenticate my user and I use JWT token retrieved from User Pool to access my Web server.  But now I need integrate Facebook login to my app. I realized that if I integrate social login to User Pool, I can get JWT token, otherwise, I just get IdentityId and AWS Credential. I also found that AWSMobile docs state that ' the federation

[2019-03-18 10:17] HayTran94 opened #800 "AWSMobileClient federated sign in facebook always return onResult even though give wrong token"
**Describe the bug**
Even though give wrong token, but the callback of federatedSignIn method using facebook token always return onResult with UserState is SIGNED_IN. After that, the log print stack trace with invalid token.

**To Reproduce**
[code]

**Which AWS service(s) are affected?**
AWSMobileClient

**Expected behavior**
Return SIGNED_OUT_FEDERATED_TOKENS_INVALID for UserState or onError sho

[2019-03-18 16:35] kvasukib commented on #616
@dmillermx I am working on the fix. Will have an update soon. Thank you for your patience.

[2019-03-18 16:38] minbi commented on #796
Hi @puregallery ,

We don't ship Proguard rules with the AAR as seen [here](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/proguard-rules.pro).

With the 2.12.5 release, we added an optional dependency "com.amazonaws:aws-android-cognitoauth" which the code references in a conditionaly way. Proguard may be complaining about the missing references.

Please a

[2019-03-18 18:54] puregallery commented on #796
I used your global proguard rules from here manually
https://github.com/aws-amplify/aws-sdk-android/blob/master/Proguard.md

Let me report back after ignoring the warnings.

[2019-03-18 19:04] puregallery commented on #796
Adding this did the trick.
-dontwarn com.amazonaws.mobileconnectors.cognitoauth.**

I did not pay attention to the dependencies.

Thanks for the help.

[2019-03-18 19:16] #758 closed

[2019-03-19 00:00] xiezhengfeng opened #801 "aws-android-sdk-lex is not sending requestAttributes"
**Describe the bug**
When I use aws-android-sdk-lex to send a request to my Lex bot, I found that the requestAttributes was not sending.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
Lex
**Expected behavior**
Lex bot receives the requestAttributes: {"foo": "bar"}

**Screenshots**
![image](https://user-images.githubusercontent.com/7782120/54571286-73f8b500

[2019-03-19 08:24] hfcheng commented on #777
@kvasukib Sorry to inform you that we misjudged the situation. After having more tests we realized this issue is still happening and what we did just reduced the number of occurrences.

We are back in investigation mode and trying to locate the exact timing/pattern to reproduce this error.

[2019-03-19 08:47] kkflf commented on #797
Thank you for the quick feedback! I appreciate it!

[2019-03-19 10:04] hfcheng commented on #777
It looks like the issue occurs if a previous transfer happens to complete at the same time when the device is getting disconnected from the network.

[2019-03-19 19:59] minbi commented on #679
Hi @andrey-chorniy ,

We have made some flow improvements. Please see if SDK release 2.12.5 fixes this issue for you. If not, we'll continue to investigate.

[2019-03-20 03:21] minbi commented on #801
Hi @xiezhengfeng ,

The interaction client currently does not support this feature of the service. If are able to pinpoint a solution before we are able to address this issue. We are open to pull requests.

[2019-03-20 03:23] minbi commented on #800
Hi @HayTran94 ,

This appears to bug in our logic. We are working on a fix to improve the experience.

[2019-03-20 03:25] minbi commented on #799
Hi @HayTran94 ,

The AWSMobileClient does not support retrieving tokens from a different social provider. If you need a token that has been used for federation, you may check [getDetails()](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/UserStateDetails.java#L37) for a map of the federation details.

[2019-03-20 03:34] minbi commented on #634
Edit: SDK version 2.12.5 release; updated question list

[2019-03-20 07:34] Priyanka-Mohanty commented on #795
CONNECTIVITY_ACTION was deprecated in API level 28.

[2019-03-20 08:07] HayTran94 commented on #799
Hi @minbi ,
Now, I need a client token to authenticate with a backend server.  So does AWS support admin SDK to convert Identity Id to token being used? If not, could you suggest me some ways to resolve this problem. Thank you very much.

[2019-03-20 10:02] Priyanka-Mohanty opened #802 "AmazonS3Client(credentialsProvider) is deprecated"
AmazonS3Client s3Client = new AmazonS3Client(credentialsProvider); was deprecated?
Function
val config = AWSConfiguration(context)
                val credentialsProvider = CognitoCachingCredentialsProvider(context, config)
                val s3Client = AmazonS3Client(credentialsProvider)
                transferUtility = TransferUtility.builder()
                    .awsConfiguration(config)

[2019-03-20 14:49] minbi commented on #802
Use `AmazonS3Client(CredentialsProvider, Region)`

[2019-03-20 16:13] minbi commented on #799
Once you have completed a `federatedSignIn()` or `signIn()` with a Cognito Identity Pool configured in your `awsconfiguration.json` the calls to AWS services should be authorized.

[code]

[2019-03-20 16:18] HayTran94 commented on #799
My problem is an access token to access my own backend server in EC2, not AWS services.

[2019-03-20 16:26] minbi commented on #799
If you are accessing a server that you have setup, then you can decide the security protocol you need to authenticate your users. Some options may include validating the User Pools token, validating the AWS credentials, or using AppSync or API Gateway to front your server. This depends on your security requirements.

[2019-03-20 19:44] BillBunting commented on #565
@minbi The keyboard remains open after a new user creates an account using the drop in auth UI.  The problem remains in 2.12.5.

[2019-03-20 22:08] Armaxis commented on #796
For me, it is failing while using version `2.12.3`.

I am using two libraries:
[code]

Warnings reported by ProGuard:

Warning: com.amazonaws.mobile.client.AWSMobileClient: can't find referenced class com.amazonaws.mobile.auth.facebook.FacebookSignInProvider
Warning: com.amazonaws.mobile.client.AWSMobileClient: can't find referenced class com.amazonaws.mobile.auth.google.GoogleSignInProvider
Warni

[2019-03-21 02:30] HayTran94 commented on #799
Thank for your suggestion. So do you need to close this issue?

[2019-03-21 07:52] guillermoAlv opened #805 "Error updating sink with frame"
I'm trying run the AmazonKinesisVideoDemoApp, i'm finding problems when i run it on virtual devices, when i run it on my mobile it works.
I've tested on two virtual devices:

Nexus S, API 23
Nexus S, API 27
No one works

It seems that first get an StatusCode: 0x30000005 error and the a StatusCode: 0x3200000c
Im using the Staging release 2.12.5
Please find attached the log file:
[logs.txt](https://

[2019-03-21 09:38] hfcheng commented on #777
We were able to reproduce this issue by adding a lot of upload requests in the queue (so it takes more times to change the states for all transfers). Then submit a new upload request using `TransferUtility#upload()` when the connectivity change event comes in.

We are temporarily implementing a workaround here by checking the network status before submitting a new upload, and delay the submit for

[2019-03-21 11:19] freszu opened #806 "Missing proguard rule for transfer util"
**Describe the bug**
Recently we migrated from aws '2.6.30' to '2.12.2' since then the upload is failing on obfuscated version of our app(checked with 2.12.5 as well and problem still exists).

We resolved that by adding
[code]
to our proguard setup.
**To Reproduce**
Create obfuscated version of the app and try to upload anything using transfer utility
**Which AWS service(s) are affected?**

**Exp

[2019-03-21 11:24] freszu commented on #806
Also there any reason for which consumerProguardFiles are not provided with the library and developers needs to add them manually?
(see consumerProguardFiles :
https://developer.android.com/studio/projects/android-library#Considerations)

[2019-03-21 21:51] elo24o opened #808 "System UI has stopped when call I handleCampaignPush"
**Describe the bug**
I added FCM feature to use pinpoint campaigns and I follow this [guide](https://aws-amplify.github.io/docs/android/push-notifications) but when the `val pushResult = notificationClient.handleCampaignPush(notificationDetails)` is called the system UI stop and I need restart my phone because I can continue using

**To Reproduce**
A code sample or steps:
1-Follow this [guide](htt

[2019-03-21 23:40] jcarta commented on #632
This worked for me...

    // initialize login screen using AWS Drop-In Auth UI
        AWSMobileClient.getInstance().initialize(getApplicationContext(), new Callback<UserStateDetails>() {

            @Override
            public void onResult(UserStateDetails userStateDetails) {
                Log.i("INIT", "onResult: " + userStateDetails.getUserState());
                showSignIn();

[2019-03-21 23:46] elo24o commented on #808
I found a solution, on my side I see the error is related with NotificationManager then I found in StackOverflow answers related with that [android-oreo-notification-crashes-system-ui](https://stackoverflow.com/questions/47368187/android-oreo-notification-crashes-system-ui) so I removed adaptive icons and crash is fixed

[2019-03-21 23:46] #808 closed

[2019-03-21 23:59] minbi commented on #806
Hi @freszu ,

The S3 module is distributed as a JAR and not an AAR. We are considering transitioning, but evaluating if this would break any of our customers.

[2019-03-22 00:11] BillBunting commented on #800
I have been fighting this or a similar issue for a month now with Google Federated sign-in.  Possibly related.

[code]

[2019-03-22 00:28] BillBunting opened #809 "AWSMobileClient getUserStateDetails: token already federated just fetch credentials - returns error"
**Describe the bug**
Drop in UI fails to refresh token for Google sign-in after the token expires. AWSMobileClient logs "getUserStateDetails: token already federated just fetch credentials" then throws an exception shown below.

**To Reproduce**
App is using AWSMobileClient.getInstance().showSignIn.  Works correctly for Facebook and Cognito User Pools (username/password) and works for Google sign-

[2019-03-22 04:58] kvasukib commented on #777
@hfcheng Do you have this issue occurring in production where the app is submitting concurrent upload requests while the network connectivity is changing? or is this issue happening during testing?

[2019-03-22 05:35] Priyanka-Mohanty commented on #802
<img width="781" alt="Screen Shot 2019-03-22 at 11 01 55 AM" src="https://user-images.githubusercontent.com/19835715/54802674-56666c80-4c92-11e9-81a4-b0e3a151b6d4.png">

it showing error

[2019-03-22 12:40] hufon opened #810 "aws-android-sdk-cognitoauth: CustomTabs crash when using a provider with client Certificate"
**Describe the bug**
We use an SAML ADFS identity provider that requires an authentication via client certificate.
When chromes open a popup to choose the certificate, we click on "Authorize".
The  callback AuthHandler is never called.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
Cognito User Pool
**Expected behavior**
The user should be authenticated

*

[2019-03-22 14:51] ppamorim commented on #718
Any idea how to solve this?

[2019-03-22 14:53] ppamorim commented on #802
Probably because the type you are using is not the same.

[2019-03-22 17:17] minbi commented on #810
Hi @hufon ,

I'm just trying to diagnose if this is a SDK issue or service issue. In the app, do you receive the intent in your `onResume` method?

[2019-03-22 17:26] minbi commented on #805
Hi @guillermoAlv ,

Thanks for attaching the logs. I am following up with our team about the issue found here.

[2019-03-22 17:52] hfcheng commented on #777
@kvasukib We firstly spotted the issue from Crashlytics in production environment. At the point of time it affected only a very small amount of users. Since we weren't able to reproduce the issue in our common test environment/procedure, we tried to test it under some extreme conditions with the steps as described above plus a custom Wi-Fi access point to disconnect the device rapidly.

After we i

[2019-03-23 04:16] uherberg commented on #684
This would be very helpful. Is there any plan to address this soon?

[2019-03-23 14:00] bluetrickpt opened #813 "Cognito Auth isAuthenticated always returning false"
**Describe the bug**
Function isAuthenticated() from cognitoauth returns always false even after successful login.

**To Reproduce**
Download and configure the cognitoauth sample for android https://github.com/awslabs/aws-sdk-android-samples.
Add the following line to the onSuccess of the AuthHandler:
[code]
Authenticate and see the logs. _false_ is returned even after a successful login.

**Which

[2019-03-24 21:15] #778 closed

[2019-03-25 09:10] hufon commented on #810
Yes the onResume is called

The log :
`03-25 10:09:57.458 3725-3725/com.amazonaws.cognito.android.samples.authdemo E/CognitoAuthDemo: onResume: null`

[2019-03-25 09:15] hufon commented on #810
For information, if i you choose "Open in browser", it works.

[2019-03-25 16:41] #762 closed

[2019-03-25 16:41] #708 closed

[2019-03-25 17:14] kvasukib commented on #802
@Priyanka-Mohanty You need to pass the region information through the `com.amazonaws.regions.Region` object.

[code]

[2019-03-25 17:15] #799 closed

[2019-03-25 17:34] minbi commented on #813
Hi @bluetrickpt ,

We'll need to investigate and report back. Thanks for the report.

[2019-03-25 19:51] aaron-freshwater-aws commented on #805
Hi Guillermo!

You can find the error codes documented here:
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-sdk-errors.html

Based on the two error codes you are seeing, it looks like your emulator is not producing correct video time codes.  You will need to troubleshoot to determine why the correct data is not being fed to the SDK.

thanks!
Aaron

[2019-03-26 03:17] HayTran94 commented on #809
I faced the same issue. Hope the team fix this bug as soon as possible.

[2019-03-26 07:33] Priyanka-Mohanty commented on #802
Thanks...its working @kvasukib

[2019-03-26 07:33] #802 closed

[2019-03-26 09:08] slomin opened #814 "AWS IoT: 403 response when the device time is out of sync"
**Describe the bug**
When I try to connect to the AWS using AwsIotMqttManager and the device time is out of sync, I'm getting the 403 response. Setting time offset using SDKGlobalConfiguration.setGlobalTimeOffset() doesn't affect this.

**To Reproduce**
1. Disable device's automatic time setting and set time to 10 minutes off
2. Try connecting to AWS using AwsIotMqttManager

**Which AWS service(s)

[2019-03-26 16:56] minbi commented on #814
Hi @slomin ,

I'm marking this as a feature request because we might not have this ability. I have tagged @desokroshan to investigate further.

[2019-03-26 19:52] BillBunting commented on #809
@minbi , Here is another example of the errors generated. In this use case, the user signed in as a Google federated user via the drop in UI, left the app open for over one hour, then return to the app and selected a feature that required a database fetch from DynamoDB.  The token was expired and correctly identified as expired, but the AWSMobileClient failed to refresh the token.  Then, the drop

[2019-03-27 03:50] jiafei1986 opened #815 "Android get SIGNED_OUT_USER_POOLS_TOKENS_INVALID after 1 hour"
**Describe the bug**
We are doing the login with the amplify sdk.   so far we found an issue that the sdk will return SIGNED_OUT_USER_POOLS_TOKENS_INVALID after 1 hour. and from the document, it suggests user to log in again which is not expected for the user.  it will also block the UI thread after that. the user cannot do anything after that.

**To Reproduce**
A code sample or steps:
[code]

**W

[2019-03-27 04:16] jiafei1986 commented on #815
By the way,  we only use the SDK sign in API. the login UI is written by ourself.

[2019-03-27 08:33] kassim commented on #343
should this be closed when the solution is a dangerous "trust all certificates" solution?

[2019-03-27 18:13] #750 closed

[2019-03-28 10:08] VirRajpurohit commented on #687
@desokroshan Simply I want to achieve the face rekognition feature more specifically face matching.

The issue is the integration process for mobile and samples I have gone through are not helping me as it is becoming quite tough to understand.

The other samples that have been added in Github as samples are well documented as well as steps are much clear so if you guys can help me out to understa

[2019-03-28 11:11] dmillermx commented on #616
Np thanks @kvasukib, please keep us updated and we can test this out asap

Thanks again

[2019-03-28 21:24] minbi commented on #815
Hi @jiafei1986 ,

I see that you are using the synchronous version of the method. Are you making the call from the main/UI thread? Can you try running it in a background thread? Or use the async version of the method.

[code]

[2019-03-28 21:27] minbi commented on #813
It's not clear where the issue might be. I'm seeing a potential bug in the caching layer, but it does not explain why `isAuthenticated()` would be false if you are receiving a `onSuccess` callback. Both of those methods rely on the same mechanism to retrieve the tokens (which are used to determine isAuthenticated).

Are you migrating between 2.11.+ and 2.12.+ on the emulator?

[2019-03-28 21:27] minbi commented on #810
This may be an issue with CustomTabs. We will have to investigate making another browser available for use.

[2019-03-28 23:52] garrettfritz opened #829 "s3 TransferUtility 'Failed to federate the tokens.' only when using facebook signin"
**Describe the bug**
We are using cognito auth for both phone number and facebook login.  Once we login, we use the JWT token provided from the awsmobilesdk to authenticate with our API.  We also use the mobileSDK to upload to s3 using the bucket setup from the AWSMobileHub.

This is all working fine for phone signup, but when we try to sign in with facebook, we can get everything to work (includi

[2019-03-29 01:22] BillBunting commented on #829
This is very similar to the bug I have been reporting, but my issue is with Google federated sign in with AWSMobileClient using the drop in UI. The exception is almost identical.  There are related issues:

https://github.com/aws-amplify/aws-sdk-android/issues/809
https://github.com/aws-amplify/aws-sdk-android/issues/700 (going back to Feb 14)

[code]

[2019-03-29 03:00] jiafei1986 commented on #815
Hi @minbi
    Yes, initially we found SDK provide us 2 methods,   we use the one without callback.  but we get issue as above,  so we change to the second one which is async one.   it seems ok now.

But we have to pass this idToken to many APIs of our backend.   does it mean we need to wrap our business logic code inside the getTokens callback everywhere?

[2019-03-29 03:56] minbi commented on #815
The `AWSMobileClient.addUserStateListener(UserStateListener)` is a way be notified the tokens have expired in a central location.

[2019-03-29 04:04] jiafei1986 commented on #815
@minbi  Thank you for your quick reply. Yes, we have implemented that token,   what I am trying to ask is what is the correct way to get the tokens?   For example,  we have 10 APIs need this idToken,  so we need to get token first and then pass them to our API.   as you mentioned above.  we should use AWSMobileClient.getInstance().getTokens(Callback), right?

[2019-03-29 15:16] minbi commented on #815
Yes.

This should handled by the async variant recommended above. It will create the network request on a background thread.

[2019-03-29 17:11] minbi commented on #829
Hi @garrettfritz ,

When using `federatedSignIn()` directly you will be notified in the `UserStateListener` when the tokens have expired via the enum `SIGNED_OUT_FEDERATED_TOKENS_INVALID`. You can add a listener via 'addUserStateListener(UserStateListener)`

[2019-03-29 17:32] garrettfritz commented on #829
Hello @minbi ,

Thanks, but I don't think the token has expired yet since for the purposes of this test, I am trying to upload immediately after the federated signin is successful, (also immediately after UserStateListener returns a signed in state and token that is valid for an hour).

But perhaps I can add a bit more information, I didn't notice this before, but it appears as though AWSMobileCli

[2019-03-29 17:41] minbi commented on #829
Can you check that the token in the log matched what you were sending in?

I'm not as concerned about the clear of credentials. This happens during the federation process to ensure there are no straggling pieces of state left before a new set of credentials are ingested.

[2019-03-29 17:58] garrettfritz commented on #829
Hello @minbi  yup they are exactly the same, should they be different?

[2019-03-29 18:15] minbi commented on #829
@garrettfritz Found it...I think. The CognitoAuth library does not return a Facebook token. It returns a Userpools token.

Instead of IdentityProviders.FACEBOOK.toString() pass in
userpoolsLoginKey = String.format("cognito-idp.%s.amazonaws.com/%s", "us-east-1", "YourPoolID");

You can check out our documentation on our recommended approach to what your code currently does [Docs](https://aws-amplif

[2019-03-29 18:26] garrettfritz commented on #829
ha! look at that, works perfectly, thank you so much @minbi

~G

[2019-03-29 18:26] #829 closed

[2019-03-31 13:22] yoshka88 opened #842 "Got "Could not create epoll instance: Too many open files" error after ~150 unsuccessful reconnecting attempts"
**Describe the bug**

When AWSIotMqttManager tries to reconnect, after ~100-300 attempts to reconnect the app crashes with this error:
`Could not create epoll instance: Too many open files`

**To Reproduce**
Steps to reproduce the behavior:

1. Succesfully connect the AWSIotMqttManager with AWS with autoReconnect enabled

I use this settings:
[code]
2. Turn off the internet connection
3. AWSIotMqt

[2019-03-31 19:32] andrey-chorniy commented on #679
1) This user has signed in on March 18, 2019
2) On March 29, near 11:49 CDT the application version updated (from play store)
3) On March 30, at 1:27pm CDT the authentication tokens were invalidated according to the logs: `Tokens are invalid, please sign-in again.`
[Michael Moore Saturday 1_30 Crash.txt](https://github.com/aws-amplify/aws-sdk-android/files/3027064/Michael.Moore.Saturday.1_30.Crash

[2019-03-31 22:52] bluetrickpt commented on #813
When I first tested, I was migrating from 2.11.+ to 2.12.+ on the emulator. However, in a fresh virtual device (just created for this purpose), 2.12.+ also returns `false`. Just tested the same for API level 28, 27 and the bug is present in all, so I'm assuming the API does not influence.

Were you not able to reproduce the bug? Thank you for looking into this.

[2019-04-01 16:26] minbi commented on #343
Hi @kassim ,

If you are experiencing the same or similar issue, please open a new issue. We were not able to reproduce this issue. This was most likely a network setup issue.

[2019-04-01 21:32] desokroshan commented on #640
@scdplzop Your issue is different from OP's. From the stacktrace, you need to add `iot:AttachPolicy` action to the policy statement attached to the auth-role. So the `AWSIoTDataAccess` policy above should be modified as follows:

[code]
Please feel free to open a new issue if you have follow-up questions.

[2019-04-02 01:23] saurabh947 commented on #679
We're experiencing this issue as well - apparently as soon as the tokens expire (one hour after they're issued) the `AWSMobileClient.getInstance().currentUserState()` always returns with `SIGNED_OUT_USER_POOLS_TOKENS_INVALID` state.

Tested with AWS Mobile SDK v2.12.6, very similar to #815

[2019-04-02 02:59] BillBunting commented on #700
@minbi , please help. Other issues and people seem to be suggesting the same or very similar bug. Google federated sign-in user tokens appear to expire and AWSMobileClient fails to refresh them after 1 hour (or after two immediate sign-out/sign-ins). This bug is only occurring for Google sign-in (via the drop in UI). Facebook and Cognito User Pool users do not have this issue (for me). Possibly re

[2019-04-02 09:31] mrkiwi opened #854 "Stream video rotated by 90 degrees on Kinesis Stream"
**Describe the bug**
The streaming video in Kinesis Video Stream Console shows with wrong orientation. Both modes (landscape and portrait) have the same stream rotation on console preview  - 90 degrees. Also withCameraOrientation() for AndroidCameraMediaSourceConfiguration does not fix this, stream not event react to this value.

**To Reproduce**
Configure Camera Media Source with with this parame

[2019-04-02 14:06] Noks2808 commented on #773
Hi,

Any updates on the release of this fix?

[2019-04-02 22:20] ayushagnz opened #859 "Can't see Sign-in screen after signing out using AWSMobileClient.getInstance().signOut(); in android studio."
I have created a simple application using android studio(java) in which I'm using aws amplify graphql api. I followed the Doc on aws site https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-1/  and got done with creating a login system for my app, which is working fine. Next I wanted a sign out button in my main activity and hence I did this:
[code]
But apparently wha

[2019-04-03 02:13] minbi commented on #800
Hi,

Please see if SDK release 2.12.7 fixes this issue for you. We have added the following enhancements:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2127)

[2019-04-03 02:14] minbi commented on #809
Hi,

Please see if SDK release 2.12.7 fixes this issue for you. We have added the following enhancements:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2127)

[2019-04-03 02:14] minbi commented on #700
Hi,

Please see if SDK release 2.12.7 fixes this issue for you. We have added the following enhancements:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2127)

[2019-04-03 02:16] minbi commented on #628
Hi,

SDK release 2.12.7 address this issue. We have added the following enhancements:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2127)

[2019-04-03 02:16] #628 closed

[2019-04-03 02:17] minbi commented on #797
Hi,

Please see if SDK release 2.12.7 fixes this issue for you. We have added the following fix:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2127)

[2019-04-03 11:50] Shusshu commented on #693
It seems the google solution I posted earlier isn't working anymore...
@minbi did you guys patch something server side to block this workaround?

[2019-04-03 13:24] BillBunting commented on #700
@minbi,

After upgrading to 2.12.7, AWSMobileClient fails to initialize properly and shows these errors when the app starts.The app calls AWSMobileClient.getInstance().initialize(this, new Callback<UserStateDetails>() one time from onResume() from the MainActivity (launcher) upon app startup and now receives the following errors.  AWSMobileClient.getInstance().initialize returns and the drop in si

[2019-04-03 13:32] dmillermx commented on #616
Hey @kvasukib how is it going? Anything that we can do to assist you to push this along? We are still hurting bad from these issues.

Thank you

[2019-04-03 13:33] msesma commented on #773
Hi. Having the same issue. Any news about a release date for this fix?

[2019-04-03 14:44] BillBunting commented on #809
@minbi After upgrading to 2.12.7, AWSMobileClient does not properly initialize. I attempted to add the "Auth" configuration in the awsconfiguration.json file, but that did not help.  It appears that the awsConfiguration object is null online 362 of AWSMobileClient.java

[code]

[code]

Additionally, AWSMobileClient.getInstance().initialize(this, new Callback<UserStateDetails>() returns  onResult w

[2019-04-03 14:45] BillBunting commented on #809
@HayTran94 , did 2.12.7 fix it for you?  Do you have the initialization error?

[2019-04-03 14:51] minbi commented on #700
Hi @BillBunting ,

I found the bug, stay tuned for a fix.

[2019-04-03 14:57] desokroshan commented on #814
@slomin This has been fixed in the latest release [2.12.7](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.12.7). Could you please update to the latest and confirm. Thanks!

[2019-04-03 14:58] desokroshan commented on #801
@xiezhengfeng  This has been fixed in the latest release [2.12.7](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.12.7). Could you please update to the latest version and confirm. Thanks!

[2019-04-03 15:22] BillBunting commented on #700
@minbi ,  I found a bug too - I bet it is the same one.

line 3171 AWSMobileClient.java
private boolean isConfigurationKeyPresent(final String configurationKey) uses this.awsConfiguration before it has been set causing registerConfigSignInProviders() to not add the sign in providers.

possible solution : set AWSMobileClient.this.awsConfiguration = awsConfiguration; sooner and before the call to  i

[2019-04-03 15:23] minbi commented on #859
Hi @ayushagnz ,

I was not able to reproduce this. Here are my two activities. Please note that version 2.12.7 (latest release has a bug that we are fixing). Use version 2.12.6.

<details><summary>AuthenticationActivity</summary>
[code]
</details>
<details><summary>MainActivity</summary>
[code]
</details>

[2019-04-03 18:45] ysyyork opened #863 "Missing IoTJobsDataPlane http client"
**Which AWS Services is the feature request for?**
IoT Jobs

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Currently I can only use the AwsMqttClient to update job execution status. Mqtt is hard to manage when this is more like client-server pattern. I have to subscribe and then unsubs

[2019-04-03 19:14] minbi commented on #700
Please see if SDK release 2.13.0 fixes this issue for you.

[2019-04-03 19:32] minbi commented on #813
We were not able to reproduce the issue. We did release a patch for one of the issues in the caching layer and also made the a suspected issue more apparent by throwing the exception. Please see SDK version 2.12.7 or 2.13.0

[2019-04-03 19:43] BillBunting commented on #700
@minbi , I started testing. At least one of the two issues remains a problem.  If a Google user is signed in, then signs out and back in again, errors are generated as follows when the activity resumes after the Google button is selected.

I am testing the token timeout (1 hour) now also.

CognitoCachingCredentialsProvider: Failure to get credentials
    com.amazonaws.services.cognitoidentity.mode

[2019-04-03 21:04] BillBunting commented on #700
@minbi , 2.13.0 has not resolved the problem.  The app performs the same; after  1 hour, the token fails to federate Google sign-in, the sign-in dialog appears, the app main activity resumes, the sign-in onResult returns SIGNED_IN, app calls AWSMobileClient.getInstance().getAWSCredentials(new Callback<AWSCredentials>() as you suggested to verify the credentials, getAWSCredentials never makes any c

[2019-04-03 22:02] minbi commented on #700
@BillBunting , Thanks for the verification. I have fix for the Google sign-in, sign-out, sign-in again problem. Still looking at the refresh issue.

[2019-04-03 22:20] kvasukib commented on #616
@dmillermx I have cut a PR: https://github.com/aws-amplify/aws-sdk-android/pull/865. For immediate fix, you can clone the PR and build from source and test it in your app. We aim to get this approved and released in one of our upcoming releases.

[2019-04-03 22:53] minbi commented on #815
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-04-03 22:53] #815 closed

[2019-04-03 23:00] minbi commented on #679
Hi @saurabh947 ,

The `currentUserState()` method in version 2.12.6 would make a network call to refresh the tokens. If you called this method from a UI thread, it may cause the refresh to fail. We have released an async version `currentUserState(Callback)` to combat this scenario. If this does not explain you situation. Please provide some more information regarding your setup.

[2019-04-03 23:01] minbi commented on #679
Hi @andrey-chorniy ,

I ran an experiment for an hour and I was able to get another set of userpools tokens and federate them into cognito identity pools. Please see my setup below.

<details><summary>MainActivity</summary>

[code]

</details>

[2019-04-03 23:10] minbi commented on #683
We added annotations to specify which thread to call the corresponding methods on in SDK release 2.12.7. Thanks for the report.

[2019-04-03 23:10] #683 closed

[2019-04-03 23:13] minbi commented on #679
Hi @andrey-chorniy ,

I'm noticing in your logs is that the "Tokens are invalid, please sign-in again." line does not include a stacktrace. Has this been truncated somewhere?  The log should be writing the exception as seen [here](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L1031). The full

[2019-04-04 07:22] msesma commented on #773
I can confirm https://github.com/aws-amplify/aws-sdk-android/pull/776 fixes the issue in my case. I built it from the PR and it works like a charm. Please release it as soon as possible.

[2019-04-04 07:50] dmillermx commented on #616
@kvasukib sounds good, we have a new sprint that starts Monday. We will give it a shot

[2019-04-04 08:11] abdullahmehmood commented on #773
@kvasukib I am also waiting for the release. Can you give ETA of this release?

[2019-04-04 10:46] tvanmanh commented on #328
Hi @minbi
although i updated SDK to 2.12.5 or 2.12.7, error still does occur.

Step to reproduce:
1. I signed in app and then i Sign out with AWSMobleClient.getInstance.SignOut()
2. I press sign in  google/facebook button (signed in google/facebook account). it goes to facebook/google page and call back with "user canceled" error. but when i press the button again the result of call back is "signe

[2019-04-04 11:08] msesma opened #867 "Moving from pinpoint 2.7.5 to 2.13.0 causes analytics events not being submitted"
**State your question**
I have updated the pinpoint SDK version from 2.7.5 to 2.13 and events have stopped from being submitted. Now the server answer with this error:
`	"Message": "User: arn:aws:sts::61XXXXXXXX5:assumed-role/tXXXXXXXXandroidb_unauth_MOBILEHUB_1XXXXXXXX7/CognitoIdentityCredentials is not authorized to perform: mobiletargeting:PutEvents on resource: arn:aws:mobiletargeting:us-east-

[2019-04-04 15:58] kvasukib commented on #773
@msesma Thank you for confirming that. I am working on to get a closure by end of this week. I will try to include in one of the upcoming releases.

[2019-04-04 19:36] kvasukib commented on #867
@msesma Sorry for the inconvenience caused. The Pinpoint backend now requires to add the following IAM policy to your IAM role in order to submit events from your app.

[code]

[2019-04-04 19:37] minbi commented on #800
I'm assuming from the thumbs up reaction to the last post that the issue is resolved. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-04-04 19:37] #800 closed

[2019-04-04 19:42] minbi commented on #675
Hi,

We are closing this issue because a recommendation has been made about the deprecated library. Please feel free to open a new issue for other problems. We ask this because closed issues are not actively monitored.

Thanks

[2019-04-04 19:42] #675 closed

[2019-04-04 19:51] kvasukib commented on #863
@ysyyork Thank you for reporting to us. Currently the AWS SDK for Android does not have the low-level service client for AWS IoT Jobs API. I have tagged it as a feature request.

Have you considered using MQTT over WebSockets which connects to 443 port over websockets transport using HTTPS?

[2019-04-04 19:56] kvasukib commented on #767
@tobiasschuerg Sorry for the delayed response. I agree with you that the Auth integration with API Gateway is not developer friendly and easy to use. We will take this feedback to the team to investigate on how to improve this integration.

[2019-04-04 19:57] #767 closed

[2019-04-04 19:59] desokroshan commented on #842
@yoshka88 Thanks for reporting the issue and sharing all the details. I will investigate the issue and post an update when I have something.

[2019-04-04 20:12] desokroshan commented on #785
@BigFab Thanks for bringing this to our attention. I have added it to our backlog for prioritization. Will keep you posted with any progress on the issue. Thanks!

[2019-04-04 20:29] desokroshan commented on #640
@warlock-jay The following documents lists restricted policy documents granting varying degree of authorization on the IoT resources. Can you check to see if you can find one matching your use case :
IAM IoT Policies - https://docs.aws.amazon.com/iot/latest/developerguide/iot-policies.html
IoT Policies - https://docs.aws.amazon.com/iot/latest/developerguide/iot-policies.html
Please let me your exa

[2019-04-04 22:06] minbi commented on #679
Is it possible there is poor network conditions when the refresh is attempted?

[2019-04-04 22:13] minbi commented on #679
Investigation notes:

Scenario 1: Sign-in, wait a day, call `getCredentials()` which triggers a refresh, new tokens are federated and new AWS credentials are returned.

Scenario 2: Sign-out, state is clear and simulates a problem when initializing AWSMobileClient, debug and force a "refresh" of empty credentials and empty state but injecting refresh token from previous day, new tokens are federate

[2019-04-04 22:17] minbi commented on #695
1. Do you have a client secret enabled? If so, have you passed it into the client?

[2019-04-05 00:39] minbi commented on #813
Hi @bluetrickpt ,

The previous statement is retracted. We were able to get a reproduction. We will have a fix soon.

[2019-04-05 03:25] tvanmanh opened #871 ""user cancelled" exception"
Describe the bug:

I followed manual setup to Use Amazon Cognito Hosted UI to implement social login. But I got an error "user cancelled".
when I sign out with API AWSMobileClient.getInstance().SignOut() and then  I use your API AWSMobileClient.getInstance().showSignIn(..) to Sign in.
For the first time calls API : it went to facebook/google custom tab (my account signed in facebook/google), it co

[2019-04-05 04:34] #805 closed

[2019-04-05 05:42] shivam21 commented on #621
Geeting this same issue..any solution?

[2019-04-05 09:29] vishnumulik commented on #583
Hi @minbi  I am getting this exception "Failed to find password in authentication details to response to PASSWORD_VERIFIER challenge"

[2019-04-05 09:37] vishnumulik opened #872 "Authentication failed due to an internal error for challenge "PASSWORD_VERIFIER""
**Describe the bug**
I am implementing aws cognito user pool using custom auth for multi factor authentication.
I have set the authentication type as CUSTOM_AUTH and custom challenge as SRP_A. which in response gives another challenge as PASSWORD_VERIFIER and the procedure fails.

**To Reproduce**
Steps to reproduce the behavior:
Code for authentication using CUSTOM_AUTH
[code]

which gives callba

[2019-04-05 09:52] tvanmanh opened #873 "Tokens are invalid, please sign-in again after call AWSMobileClient.getInstance().getTokens(callback)"
**Describe the bug**
I have already signed in and then I kill app and open app again.
In my plash screen I call API   AWSMobileClient.getInstance().initialize()  and check the user state is  "SIGNED_IN".
After that I go to next step, call my backend API which needs token using  AWSMobileClient.getInstance().getTokens(new Callback<Tokens>()) after i call that API. I got user state is " SIGNED_OUT_U

[2019-04-05 10:18] slomin commented on #814
It works now, @desokroshan thank you for the quick fix!

[2019-04-05 14:03] alianikaydin commented on #750
I have encountered with the same error on version 8.1 and 6.0 Android devices and I'm using awsIOTAndroidSDK version 2.12.6. Here is my log record.

[code]

[2019-04-05 14:25] hakansuluoglu commented on #366
Up

[2019-04-05 15:08] minbi commented on #583
@vishnumulik , Please use SDK version 2.12.5 or above for a fix to that issue.

[2019-04-05 15:38] minbi commented on #872
@vishnumulik ,

This issue has already been fixed. Please use SDK version 2.12.5 or above.

[2019-04-05 16:25] desokroshan commented on #814
Good to hear that. Thanks for the confirmation!

[2019-04-05 16:25] #814 closed

[2019-04-05 23:22] minbi commented on #679
When this scenario happens, you can also try calling `releaseSignInWait()` then attempting the `getCredentials()` call hierarchy again. This would attempt the refresh another time.

[2019-04-06 00:52] rohandubal commented on #616
Hello @dmillermx

We have fixed this issue with SDK release `2.13.1`. Please try it out and let us know if it works for you.

Best,
Rohan

[2019-04-06 00:53] rohandubal commented on #787
Hello @samyakjain

We have fixed this issue with SDK release `2.13.1`. Please try it out and let us know if it works for you.

Best,
Rohan

[2019-04-06 00:53] rohandubal commented on #809
Hello @BillBunting

We have fixed this issue with SDK release `2.13.1`. Please try it out and let us know if it works for you.

Best,
Rohan

[2019-04-06 00:54] rohandubal commented on #813
Hello @bluetrickpt

We have fixed this issue with SDK release `2.13.1`. Please try it out and let us know if it works for you.

Best,
Rohan

[2019-04-06 00:54] rohandubal commented on #773
Hello . @abdullahmehmood @msesma

We have fixed this issue with SDK release `2.13.1`. Please try it out and let us know if it works for you.

Best,
Rohan

[2019-04-06 02:50] hipwelljo commented on #616
Thanks for the update!

I tested it just now and it did successfully upload after it failed many times on a really poor connection. It never did say it reached 100%, it just failed repeatedly then succeeded uploaded once I disabled the poor network speed simulation.

I tested it a second time I saw the behavior I previously reported. It reached 100%, failed, I retried it and it failed 6 more times

[2019-04-06 03:49] BillBunting commented on #809
@rohandubal @minbi Thank you. Tested. Fixed! I am able to successfully sign in and out and in and out with Google or Facebook federated sign in via the drop in UI.

[2019-04-06 03:49] #809 closed

[2019-04-06 18:43] saurabh947 commented on #679
Hi @minbi

I upgraded the SDK to latest version (v2.13.1 as of this writing) and this seems to have resolved our issue - Thanks for your help and quick resolution!

[2019-04-07 07:29] kvasukib commented on #616
@hipwelljo Thank you for the detailed feedback. We only detect when the network disconnects and currently `TransferUtility` does not detect poor network condition. We set the state to `WAITING_FOR_NETWORK` only when the network disconnects and we get a callback from Android about the network disconnect.

[2019-04-07 21:15] hipwelljo commented on #616
Okay. Are you working towards a fix for these issues we're encountering reported here?

1) On a really slow connection a photo may successfully upload 100% but the SDK may then report it failed instead of completed
2) Sometimes retrying the photo upload will not fail or succeed - it'll get stuck

[2019-04-08 05:25] kvasukib commented on #616
@hipwelljo When the state is reported as FAILED, do you get the `onError` callback with the exception?

[2019-04-08 10:01] msesma commented on #867
Thanks @kvasukib, 2.13.1 submits events now 👍

[2019-04-08 10:08] dmillermx commented on #616
Hello @kvasukib
We've tested the last version 2.13.1 and it still fails on bad network connection:
The error:  com.amazonaws.AmazonClientException: Unable to execute HTTP request: timeout
We uploading 2 files: first one is picture, the second one is video file, here the log if it will help you.
Uploading file /data/user/0/com.truvideo.staging/files/Camera/Videos/ed666241cf2fd5c9d1ba2b781769987_mp4

[2019-04-08 10:33] #813 closed

[2019-04-08 10:35] bluetrickpt commented on #813
I confirm that the issue is fixed in 2.13.1.
Thank you very much for looking into this.
(Apologies for closing the issue before commenting)

[2019-04-08 11:17] msesma commented on #773
Hello. unfortunately it is not working.

- Using 2.12.7 with a jar file compiled from PR https://github.com/aws-amplify/aws-sdk-android/pull/776 works ok and sends events when returning to online.
- Using 2.13.1 from repos it does not send the events recorded while offline.

Checked using exactly same code and test steps.
@kvasukib Could you please test this again with 2.13.1 version?

[2019-04-08 15:32] hipwelljo commented on #616
@kvasukib Yes, `onError` is where I log `Log.e(TAG, "Failed to upload " + id + ": " + ex);`

[2019-04-08 15:37] minbi commented on #700
@BillBunting , This issue should have been fixed in the 2.13.1 release as well. Please let us know if it persists.

[2019-04-08 15:45] kvasukib commented on #867
@msesma Thank you for confirming!

[2019-04-08 15:45] #867 closed

[2019-04-08 18:10] kvasukib commented on #773
@msesma Thank you for the quick response. The different in the behavior when you build from the PR vs consuming the JAR could be due to the change I made while handling client exception.I am summarizing the behavior as follows:

When putEvents fails with an exception:
- AmazonServiceException:
   - Retryable exception
        do not delete events from database
   - No-retryable exception (Validati

[2019-04-08 18:35] kvasukib commented on #616
@hipwelljo @dmillermx From the logs (onProgressChanged: 6, bytesCurrent=765862, bytesTotal=765862) I can see that the bytesCurrent and bytesTotal are equal and the file has been uploaded successfully but the TransferUtility reported the transfer as ` FAILED`.

When you get the onError callback, what is the exception that is being passed into the onError callback?

[2019-04-08 18:41] dmillermx commented on #616
@kvasukib, onError callback we see next in log:
com.amazonaws.AmazonClientException: Unable to execute HTTP request: timeout

Thank you

[2019-04-08 19:59] kvasukib commented on #616
@dmillermx Does this happen for all transfers (single-part, multi-part uploads and downloads)?

Currently our logic when the transfer errors out with an exception is the following:-

- transfer is canceled, set to `CANCELED`
- transfer is paused, set to `PAUSED`
- a valid transfer network loss handler is registered and network is not connected, set to `WAITING_FOR_NETWORK`
- transfer is interrupte

[2019-04-08 20:37] BillBunting commented on #700
@minbi - appears to be fixed. Thank you.

[2019-04-08 20:48] hipwelljo commented on #616
Yes, that same exception dmillermx posted. This is single part uploads since all our photo uploads are small file sizes.

This scenario where the state changes to FAILED even though it succeeded isn't as worrying to me as the issue where sometimes retrying the photo upload will neither fail nor succeed, just gets lost.

[2019-04-08 21:00] #700 closed

[2019-04-08 21:05] kvasukib commented on #616
@hipwelljo Can you elaborate on what you mean when the upload gets lost?

[2019-04-08 21:12] hipwelljo commented on #616
As shown in the logs in this [reply](https://github.com/aws-amplify/aws-sdk-android/issues/616#issuecomment-480468008), from my 6th test, I retried the upload but nothing ever happened after that (I left it for 10 minutes) - state never changed to IN_PROGRESS or FAILED. So the end result is the UI shows a progress bar filled to 100% but it will never upload.

[2019-04-08 21:33] BillBunting opened #887 "DynamoDBMapper attributes with arbitrary type, BOOL or N as Double"
**State your question**

I have a DynamoDB table with items containing an attribute that was saved using the DynamoDBMapper via iOS. The iOS app saves `@property (nonatomic, strong) NSNumber *_archived;` as either a number or a boolean data type in DynamoDB via AWSDynamoDBObjectMapper.  So, as a result, I have an attribute that is sometimes a Number (N) and sometimes a Boolean (B) in DynamoDB. Unf

[2019-04-08 22:58] desokroshan commented on #887
@BillBunting I will need to investigate possible ways to unmarshall dynamoDB type BOOL or Number to a double in android. I have tagged it as a question for now. Will post the results of my investigation here. Thanks!

[2019-04-09 05:17] HayTran94 opened #888 "Authentication by Cognito Hosted UI can not get token if my app killed"
**Describe the bug**
I am using Hosted UI `AWSMobileClient.getInstance().showSignIn` API to authenticate my users. I can not get user token if my app killed.

**To Reproduce**
Login by `AWSMobileClient.getInstance().showSignIn` API, the app can get token, identityId and userState is `SIGNED_IN`.
Kill the app and open again, the app can not get token (no callback return), but it still can get ident

[2019-04-09 05:32] dmillermx commented on #616
During testing with emulation of bad connection it happens always - 100% for single-part and for multi-part uploads.

[2019-04-09 07:12] abdullahmehmood commented on #773
@kvasukib I have tested it. Its seems to be working fine now. The events are recorded in the db file while the device is offline. And its also submitting the events when device come online.

For log statement:
I am seeing the below error in the logs when device is offline:
"UnknownHostException: Unable to successfully deliver events to server. Events will be saved, error likely recoverable....."

[2019-04-09 09:33] usmanrana07 commented on #484
Error is still producing even in 2.13.1.

[2019-04-09 09:53] usmanrana07 opened #889 "Unable to verify secret hash for client in v2.13.1 too but working fine for iOS"
I'm implementing **CustomAuthChallenge**'. This issue occurs when:

-  I try to pass user name for getting user session which is lets say 'abc_xyz'
-  Then it comes in '`getAuthenticationDetails`' method of the callback where i set username and auth type.
-  Then '`authenticateChallenge`' method is called in which 'continuation' object is received which has  a username in its params and that usern

[2019-04-09 10:49] AlexeyKorshun commented on #199
I'm have this issue when start uploading in airplane mode. Nothing isn't happening when the connect is appear.

[2019-04-09 11:14] chiragdesai4 commented on #469
I have been trying to integrate Kinesis Video Stream with Rekognition in an Android app and haven't been able to get best tutorials for the same.

I want to implement Facial Recognition and I am stuck at the step of PutMedia. In the demo as well as in documentation I only found details related to Java SDK and nothing related to Android SDK where I need to use Android app as Kinesis Producer and st

[2019-04-09 11:51] yoshka88 commented on #842
Hello, @desokroshan!

Thank you for your attention to the issue.

I've found out that when I use locally built `.jar`, `.aar` files from the sources from the `master` branch, everything seems to be okay.

Basically, I've changed `build.gradle` from this

[code]

to the following

[code]
and there is no `Too many open files` anymore.

Really glad, that the error disappears. However, I'm curious wha

[2019-04-09 15:05] BillBunting commented on #873
@tvanmanh There are significant bugs in 2.13.0 (and 2.12.x) with token management if using AWSMobileClient drip in UI, and as as a result the AWSMobieClient drop in UI will not refresh tokens properly and other related issues.  I was able to get it working in 2.13.1.

You wrote: "I resolved it by add UserStateListener after getting SIGNED_OUT_USER_POOLS_TOKENS_INVALID i will sign in again but shou

[2019-04-09 15:57] minbi commented on #484
Hi @usmanrana07 ,

Can you provide a stacktrace or details about the reproduction? Is it the same as the original problem stacktrace?

[2019-04-09 16:00] yoshka88 commented on #842
Looks like [this](https://github.com/aws-amplify/aws-sdk-android/pull/601/commits/3196f0d53457e44647b4d7859e80ee3230ce67dd) was the reason.

[2019-04-09 16:00] #842 closed

[2019-04-09 17:03] vishnumulik commented on #872
Verified in 2.13. and its working . Thanks

[2019-04-09 17:03] #872 closed

[2019-04-09 17:32] kvasukib commented on #773
@abdullahmehmood Thank you for the feedback. That's the expected behavior. Currently we check for  `UnknownHostException` when there is a `AmazonClientException`. For all other exceptions under `AmazonClientException`, we clear the events stored in the local database.

We can add more exceptions to the list of exceptions which are recoverable based on your feedback and further testing.

[2019-04-09 23:08] kvasukib commented on #616
@dmillermx @hipwelljo I will take this as a feature request to the team as we may have to implement a retry mechanism to retry the transfer when the network condition is poor by detecting the request timeout.

Meanwhile, we would suggest you to retry the transfer based on the exception thrown in the `onError` and check if the object exists on Amazon S3 by using `AmazonS3Client.doesObjectExist(buck

[2019-04-10 05:27] usmanrana07 commented on #484
@minbi  here I've added the of producing issue steps:
https://github.com/aws-amplify/aws-sdk-android/issues/889

[2019-04-10 06:27] dmillermx commented on #616
@kvasukib  Thank you, we'll try.

[2019-04-10 06:48] chiragdesai4 opened #890 "AWS Kinesis Video Streaming with AWS Rekognition on Android App"
I have been trying to integrate AWS Kinesis Video Stream with Rekognition in an Android app and haven't been able to get best tutorials for the same.

I want to implement Facial Recognition and I am stuck at the step of PutMedia. In the demo/documentation provided by Amazon, I found details related to Java Producer Library and SDK only and nothing related to Android Producer Library and SDK where

[2019-04-10 08:54] msesma commented on #773
Hi @kvasukib those are the logs. As you can see, both the locally compiled from the PR library and the released running in Android 5 save the events, but the release running in Android 9 deletes them:

[code]

[2019-04-10 08:58] msesma commented on #773
Seems that Android 5 returns `UnknownHostException` while Android 9 returns `ConnectException` and causes the database event drop.

[2019-04-10 10:53] tvanmanh commented on #873
@BillBunting Thanks a lot for your help.

[2019-04-10 14:57] minbi commented on #484
@usmanrana07 , The team will follow up with you on your new issue.

This is a closed issue, feel free to create an issue so that we can better track it's progression. Closed issues are not generally monitored.

[2019-04-10 14:57] #484 closed

[2019-04-10 15:32] minbi commented on #859
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-04-10 15:32] #859 closed

[2019-04-10 23:15] hipwelljo commented on #616
@kvasukib I am already retrying the transfer manually when the state changes to `FAILED`, which is called right after `onError`. After doing that though it sometimes gets stuck and nothing happens after that.

I retry the upload like so:
[code]

[2019-04-11 19:19] kvasukib commented on #773
@msesma Thank you for the detailed analysis. We can add more exceptions to the list of exceptions where the events will be saved in the local database. Do you have a list of exceptions where the events will be saved in the local database?

I will investigate the `ConnectException` and see if we can add it to the list.

[2019-04-11 22:45] kvasukib commented on #773
@msesma I have submitted a PR #893 to add `SocketException` (`ConnectException` derives from `SocketException`) to the list.

[2019-04-12 08:16] BigFab commented on #785
@desokroshan Cool, thanks :)

[2019-04-12 11:31] msesma commented on #773
Great! I think that will be enough.
I've just seen that the PR is already merged so next version will contain it. I'll test it as soon as it get released and confirm if it is working.

Thanks a lot for your help.

[2019-04-12 17:45] #797 closed

[2019-04-12 20:53] brianbaliat commented on #687
I agree... you've made the process of integration to an existing system a nightmare...I would really recommend having samples for Android (mobile)

[2019-04-13 01:45] #787 closed

[2019-04-13 20:43] minbi commented on #328
Hi,

Please see if SDK release 2.13.2 fixes this issue for you. We have added the following bug fixes:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2132)

[2019-04-13 20:43] minbi commented on #871
Hi,

Please see if SDK release 2.13.2 fixes this issue for you. We have added the following bug fixes:

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-2132)

[2019-04-15 08:17] msesma commented on #773
Verified with release version 2.13.2. Everything is working in Android 5.11 and android 9 for proxied and non-proxied networks.
Thanks again for your help @kvasukib

[2019-04-15 13:57] abdullahmehmood commented on #773
@kvasukib I have noticed some of the events are dropping again. I am facing the following error messages in the log:
1st Error msg: "Failed submission of 1 events, events will be removed from the local database."
2nd Error msg: "AmazonClientException: Unable to getCredentials....."

Only on the above error messages it will not store the offline data in the local db. And After sometime when I run t

[2019-04-15 15:07] kvasukib commented on #773
@abdullahmehmood Sorry for the inconvenience caused. For the 1st error message, you have encountered an error for which SDK decided it to be non-retryable, so the events are dropped.

For the 2nd error message, can you post the complete error so I can infer if it's retryable or not.

The logic is as follows:

- AmazonServiceException:
   - Retryable exception
        do not delete events from data

[2019-04-15 17:24] virtualprodigy opened #898 "[S3] AccessDenied when trying to upload a file to S3 bucket"
**State your question**
I am trying to upload images to an S3 bucket. I have been following the steps outlined in the [AWS Amplify Storage Documentation](https://aws-amplify.github.io/docs/android/storage). Whenever I start an upload to s3 using the TransferService S3 kicks back a 403 response.

[code]
**Which AWS Services are you utilizing?**
Android Amplify SDK, S3, TransferService(Android)
**Pr

[2019-04-15 17:43] interkenny commented on #704
@GerardoRobledo

This helps me. 👍
Thank you !

[2019-04-15 18:34] kvasukib commented on #898
@virtualprodigy Thank you for reporting to us. I see that you are using `AWSMobileClient.getInstance()` as the `AWSCredentialsProvider` with `AmazonS3Client`. `AWSMobileClient.getInstance()` creates a `CognitoCachingCredentialsProvider` which uses AWSCredentials vended from Cognito Identity Pool to authenticate the requests to Amazon S3.

Can you check if you have the right IAM policies (`s3:putOb

[2019-04-15 19:44] nchorniy opened #899 "S3 upload hangs up in WAITING_FOR_NETWORK state"
**Bug description**
After upgrading the `aws-android-sdk-mobile-client` from `2.12.6` to `2.13.1` the code which uploaded image to S3 against `TransferUtility` stopped working. It was hanging up in `WAITING_FOR_NETWORK` state.

**How To Reproduce**
No special circumstances took place: wi-fi connection with internet was available.
The s3 file upload was initiated with the following code (which work

[2019-04-15 20:17] kvasukib commented on #899
@nchorniy Sorry for the inconvenience caused.

1) Is it now mandatory to register TransferNetworkLossHandler for being able to use TransferUtility?
No, it is not. `TransferNetworkLossHandler`  is designed to be an optional component. I have made the necessary changes to check for `TransferNetworkLossHandler` optional. See #900 for more details.

2) Is there any examples of how that should be done?

[2019-04-15 21:20] muellerfr commented on #679
Hi @andrey-chorniy, can you respond to @minbi's questions?

[2019-04-15 23:55] virtualprodigy commented on #898
@kvasukib You pointed me in the right direction! The issue on my end was that I did not include "public/" on the key name. Thank you so much for your help. If possible, I would love to see the required naming conventions added to the amplify documents or the code annotations, I'm sure other newbies like myself will find it extremely helpful. :D

[2019-04-15 23:55] #898 closed

[2019-04-16 03:07] tvanmanh commented on #871
Hi @minbi
I updated SDK to 2.13.2. The error still occurs.
here is my log:
`2019-04-16 09:59:52.820 31442-31629/com.exi.exi D/AWSMobileClient: _federatedSignIn: Putting provider and token in store
2019-04-16 09:59:52.934 31442-31630/com.exi.exi D/AWSMobileClient: Inspecting user state details
2019-04-16 09:59:52.935 31442-31630/com.exi.exi D/AWSMobileClient: hasFederatedToken: true provider: cogni

[2019-04-16 05:57] chiragdesai4 commented on #890
@desokroshan Can you help me with the issue?
Because I am stuck at this and unable to find any solution.

[2019-04-16 06:35] desaichirag06 opened #901 "App Crash with KinesisVideo Dependency on live app"
**Bug**
I am trying to implement KinesisVideo into my Application but I am unable to do so.
I am using a bunch of AWS service dependencies like **Core, Kinesis, mobile-client, auth-ui, auth-userpools and KinesisVideo**.

Rest of the Dependencies are working fine but KinesisVideo is not working so great.

When running the application **with KinesisVideo Dependency** it is resulting into a Blank Scr

[2019-04-16 13:41] abdullahmehmood opened #902 "How to see the User Attributes under Endpoint Attributes on Pinpoint console?"
**State your question**
How can I see the "User Attributes" under the "EndPoint Profile Attributes"on Pinpoint console?

**Which AWS Services are you utilizing?**
I am using the Pinpoint Android sdk. And also sending the UserID in Endpoint User Profile and updating the endpoint. But unable to see the UserID in User attributes. I able to see the custom attributes of Endpoint but not the User attrib

[2019-04-16 15:06] deepakrokz opened #903 "AWS S3 Upload Failed in Android"
**Describe the bug**
Getting these errors for different users and device

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**

**Expected behavior**
I am using the latest SDKs to connect with S3
 implementation 'com.amazonaws:aws-android-sdk-s3:2.13.2'
    implementation("com.amazonaws:aws-android-sdk-mobile-client:2.13.2") { transitive = true }

I have done a l

[2019-04-16 17:19] andrey-chorniy commented on #679
@minibi @muellerfr

It could be truncated. The logs are taken from bugfender https://bugfender.com

Sure, we will try to do this in the team (however it's not easy to reproduce this, it may require hours of testing)

There definitely were the cases when the authentication expiration was preceeded by the numerous SocketTimeoutException's in the logs, but it's hard to say whether this was always the

[2019-04-17 07:48] devxpy commented on #873
@BillBunting Thanks!

It's worth noting that the `initialize()` function returns the user state as `SIGNED_IN` even though `getCurrentUserState()` returns `SIGNED_OUT_USER_POOLS_TOKENS_INVALID`!

So make sure to call `getCurrentUserState()`.

[2019-04-17 18:03] alphaDroid89 opened #904 "How to check if the user login first time"
In my Mobile app am working with AWS Cogito for user authentication, in that is possible to check or get whether the user login the first time.

[2019-04-17 23:56] #640 closed

[2019-04-17 23:56] #801 closed

[2019-04-18 15:12] habahbehbassam opened #905 "Subscribe not receive All messages"
**Chat App**

**Which AWS Services are you utilizing?**
 'com.amazonaws:aws-android-sdk-core:2.13.2'
 'com.amazonaws:aws-android-sdk-appsync:2.7.8'
 'org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.2.1'
 'org.eclipse.paho:org.eclipse.paho.android.service:1.1.1'

**Provide code snippets (if applicable)**

1. Added MqttService to manifests
`<service android:name="org.eclipse.paho.android.service.M

[2019-04-18 15:19] nchorniy commented on #899
@kvasukib We did that in our application, e.g. `getApplicationContext().startService(new Intent(getApplicationContext(), TransferService.class))`, but that crashed when the `Application.onCreate()` was executed when the app is in background:
[code]

As a workaround, we replaced starting of `TransferService` with this call: `registerReceiver(TransferNetworkLossHandler.getInstance(applicationContext

[2019-04-18 18:36] palpatim opened #906 "Cannot resolve symbol 'CreateTodoInput'"
(Incorrect repo, moving to AppSync)

[2019-04-18 18:38] #906 closed

[2019-04-18 21:00] kvasukib commented on #899
@nchorniy `TransferService` is a background service, hence you are hitting the exception on device running Oreo and above when the service is started when the app is in background. So I would recommend registering the `TransferNetworkLossHandler` as you did.

To Adapt `TransferNetworkLossHandler` for API >= 28, I will use this GitHub issue to track that request. Thank you for pointing it out.

[2019-04-19 00:11] kvasukib commented on #902
@abdullahmehmood I have added a test to our SDK to test this functionality to see if there is any bug in the SDK. I don't see any issues so far. I have engaged with the Pinpoint service team to see if there is an discrepancy in seeing this information on the console. Thank you for your patience.

[2019-04-19 06:19] tongvantruong opened #909 "Failed to put a frame with status code 0x3200000d - Android Producer Library"
I got the same issue like this https://github.com/aws-amplify/aws-sdk-android/issues/581

I am trying to run the example project on my One Plus 6 device follow: https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-sdk-android.html

I have also taken a look at https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/troubleshooting.html#troubleshooting-producer-android-invalid-annexb

[2019-04-19 10:17] kktheavi opened #910 "Method threw 'com.amazonaws.mobileconnectors.apigateway.ApiClientException' exception. Cannot evaluate $Proxy2.toString()"
I am getting exception while creating client object.

Exception:
Method threw 'com.amazonaws.mobileconnectors.apigateway.ApiClientException' exception.
Cannot evaluate $Proxy2.toString()

CODE:
[code]

[2019-04-19 16:05] Shakezulla57 commented on #514
@kvasukib Is there anyway in the SDK to just do a blocking upload? I too am using WorkManager, here's why. When picking a file from an intent you get a `Uri`, this `Uri` isn't always of a file scheme. So unless I'm missing something in the AWS SDK I need to use the contentResolver to create a temp file from that `Uri` so I now have a `File` that I can give the AWS SDK. If my user's pick many files

[2019-04-19 16:58] kvasukib commented on #514
@Shakezulla57 You could use the `AmazonS3Client` (Low-level client) which does blocking (synchronous) transfers. For example:

[code]

is a blocking upload that makes network calls on the same thread where this is been invoked and blocks until the operation completes successfully or not.

You could wrap a call to `putObject` in `WorkManager`.

[2019-04-19 17:27] #899 closed

[2019-04-19 23:02] Shakezulla57 commented on #514
@kvasukib I'll check that out. Thank you.

[2019-04-20 00:15] prateekpatil commented on #898
@kvasukib Which propertied need to be changed to make it private. After making the following changes in permission and saving the key as "private/fileName"
![Screenshot from 2019-04-19 17-13-40](https://user-images.githubusercontent.com/1854401/56448728-a4d54e00-62c6-11e9-98ce-bada3b4846b2.png)

I am still getting the following error
` com.amazonaws.services.s3.model.AmazonS3Exception: Access Deni

[2019-04-22 14:36] palpatim commented on #901
@chiragdesai4 Sorry to hear you're running into problems. Can you post a stack trace/debugging logs for the app to help troubleshoot the crashes?

[2019-04-22 14:50] palpatim commented on #904
@alphaDroid89

Can you clarify your question a bit? Do you mean "Whether the user logged in for the first time in a given session?" or "Whether this is the first time the user has ever logged into my app on this device?" or "Whether this is the first time the user has ever logged into my authentication system in any way?

Also, can you provide more details around your setup? Are you using Cognito

[2019-04-22 15:41] palpatim commented on #905
@habahbehbassam Thanks for moving this over to the [AppSync issues page](https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/154). I am closing this issue as a duplicate so we can track it in the correct place.

[2019-04-22 15:41] #905 closed

[2019-04-22 15:47] palpatim commented on #910
@kktheavi

Can you provide more detail around this?

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: [e.g. 2.6.25]
 - Device: [e.g. Pixel XL, Simulator]
 - Android Version: [e.g. Nougat 7.1.2]
 - Specific to simulators: [e.g. Yes/No]

[2019-04-22 15:55] alphaDroid89 commented on #904
@palpatim, thanks for your response, actually "Whether this is the first time the user has ever logged into my authentication system in any way?" - am using "User Pool" sorry am not exposing those details

[2019-04-22 16:13] habahbehbassam commented on #905
Ok thanks :)

[2019-04-22 16:54] andrey-chorniy commented on #679
@minbi @muellerfr we still experience this issue on `2.13.2`
Here is an example of sign-out `SIGNED_OUT_USER_POOLS_TOKENS_INVALID` which seems to be preceded with Network problems.

[auth-on-2-13-2.txt](https://github.com/aws-amplify/aws-sdk-android/files/3104142/auth-on-2-13-2.txt)

Interesting thing: we emulated exception to be thrown in `AWSMobileClient.getUserStateDetails()`, specifically we p

[2019-04-22 20:43] palpatim commented on #904
@alphaDroid89

The SDK doesn't offer this specifically. You could consider using a [Lambda Trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-triggers.html) to update a custom attribute at the appropriate stage of your user's sign-up lifecycle, and inspect that.

[2019-04-23 00:30] shengMR opened #918 "Delete a remote data"
Hi, I am having a problem during the use, try to delete a specified data in the remote S3 on the phone, but I can not find a method in the API, how can I delete it?

[2019-04-23 15:47] palpatim commented on #918
@shengMR

If you're using TransferUtility, there is not a method exposed for that action. You can use the AWS S3 SDK directly and access the [`deleteObject` or `deleteObjects` API](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/services/s3/AmazonS3Client.html#deleteObject-com.amazonaws.services.s3.model.DeleteObjectRequest-)

Hope this helps.

[2019-04-23 19:27] minbi commented on #679
Hi @andrey-chorniy ,

We are working on a fix that would expose network based exceptions without changing the state of the user. You may track its progress on this [branch](https://github.com/aws-amplify/aws-sdk-android/tree/mc-expose-refresh).

[2019-04-24 04:10] chiragdesai4 commented on #901
@palpatim Thanks for helping out.

Following are the Logcat when using it.
[code]
From the logs I assume it is a memory heap issue. But still need your help with it to rectify the issue, as it occurs only after adding **aws-android-sdk-kinesisvideo** dependency.

[2019-04-24 06:42] alphaDroid89 commented on #904
@palpatim Thank you so much, let me try as the way you suggested.

[2019-04-24 07:07] mbk820 commented on #777
@kvasukib Hi, we are having the same issues facing by some users,
we only download assets from s3, not uploading anything.
it happened after when I fixed another aws s3 crash by putting this code

[code]

instead of a normal way of initialization

please help.

[2019-04-24 17:22] palpatim commented on #904
Thanks, please let us know if it works for you.

[2019-04-24 20:18] sunithapremjee commented on #199
I have this issue with S3.How to solve??

[2019-04-24 20:29] palpatim commented on #199
@AlexeyKorshun and @sunithapremjee Can you open new issues with your specific details and individual reproduction steps? Especially on old issues like this one, we find that issues that look the same on the surface in fact have different root causes. Plus, separating the issues out makes it less likely to confuse different conversations in a long thread.

[2019-04-24 20:56] sunithapremjee commented on #199
![Uploadingfrom_AndroidApp_to_S3](https://user-images.githubusercontent.com/9869417/56693230-ee041400-66b1-11e9-9f94-477e4d7f9b1a.png)

[2019-04-24 20:59] sunithapremjee commented on #199
I am trying to upload to S3bucket a photo from my android app.Please let me know what am I missing.I am new to this.I couldn't find anything in my S3 bucket and TransferState.COMPLETED == state is never called so save() function to update DynamoDb string data is also not getting called.

[2019-04-24 23:25] #863 closed

[2019-04-25 10:04] Mehdi-android commented on #696
Hello,
Can you please tell me in detail how to go forward with second approach.

Thanks

[2019-04-25 16:09] #328 closed

[2019-04-25 19:35] kvasukib commented on #903
@deepakrokz Sorry for the inconvenience caused.

These errors occur the following conditions:-

1) The device is offline while the transfer is in progress.
2) The device is in a poor network condition where the connection opened by SDK to Amazon S3 is idle for more than 20 seconds (Amazon S3's idle connection timeout).

Under these circumstances the SDK reports the exception thrown by the Android

[2019-04-25 19:46] kvasukib commented on #199
@sunithapremjee Sorry for the inconvenience caused. Can you open a new issue with all the required details for us to investigate because we do not want to discuss this on the closed issue.

Also, when you open the new issue, can you try adding a log statement in `onStateChanged()` callback to see if you are getting the different state updates and post the logs in the new issue?

[2019-04-25 20:54] kvasukib commented on #616
@hipwelljo @dmillermx  Sorry for the delayed response. Can you try attaching a new `TransferListener` in the observer for every retry? The transfer listeners registered for a transfer will be cleared when the transfer terminates (successfully or not).

My solution for this problem would be to retry the transfer when this exception occurs. The retry can be done at the SDK level or at the app level

[2019-04-25 21:40] kvasukib commented on #777
@mbk820 Can you post the exception stack-trace and logs from the device where this error is occurring?

Also, do you have any information about the number of concurrent operations are being executed on the device?

[2019-04-25 21:41] kvasukib commented on #598
Closing the issue. Please feel free to open a new one if you see any issues during your testing.

[2019-04-25 21:41] #598 closed

[2019-04-25 21:43] kvasukib commented on #576
Tracking this issue in #616. So closing this issue.

[2019-04-25 21:43] #576 closed

[2019-04-25 21:45] kvasukib commented on #718
@ppamorim Have you added the classes that are failing in the proguard rules file like how @marukami did? Are you encountering any other failures besides the *Signer classes?

[2019-04-25 22:52] muellerfr commented on #710
@usmanrana07 - To help debug your issue further, can you share your build.gradle and proguard.pro files?

[2019-04-25 22:56] muellerfr commented on #704
@GerardoRobledo - can confirm that @interkenny's suggestion fixes your issue?

[2019-04-25 22:59] deepakrokz commented on #903
Hi @kvasukib ,
Thanks for getting back, I am not sure cause this problem is not coming in my phone, it's in several users. I will try to generate and update you in my phone.

[2019-04-25 23:02] kvasukib commented on #903
@deepakrokz Can you upgrade to the latest version of the SDK? We have fixed few bugs in this area in the latest releases.

[2019-04-25 23:48] sunithapremjee commented on #199
Ok...I'll open a new Isuue.

On Thu, Apr 25, 2019 at 3:47 PM Karthikeyan <notifications@github.com>
wrote:

[2019-04-25 23:59] sunithapremjee opened #923 "Upload to S3 bucket a photo from android app."
I am trying to upload to S3bucket a photo from my android app.Please let me know what am I missing.I couldn't find anything in my S3 bucket and TransferState.COMPLETED == state is never called so save() function to update DynamoDb string data is also not getting called.

[2019-04-26 00:01] sunithapremjee commented on #923
![Uploadingfrom_AndroidApp_to_S3](https://user-images.githubusercontent.com/9869417/56775374-d3569b80-6794-11e9-9250-ccc1c88ce3e2.png)

[2019-04-26 05:08] usmanrana07 commented on #710
Following are the proguard rules:

`# for AWS SDKs

# Class names are needed in reflection
-keepnames class com.amazonaws.**
-keepnames class com.amazon.**
# Request handlers defined in request.handlers
-keep class com.amazonaws.services.**.*Handler
# The following are referenced but aren't required to run
-dontwarn com.fasterxml.jackson.**
-dontwarn org.apache.commons.logging.**
# Android 6.0 rel

[2019-04-26 06:15] kktheavi commented on #910
AWS Android SDK Version:2.13.2
Device: all device(samsung galaxy On8, motorola power one,xiaomi mi4 )
Android Version: (from marshmallow to pie)
Specific to simulators: not using simulator, testing on real device

[2019-04-26 20:34] nchorniy opened #924 "AWSMobileClient.getCredentials() locks the thread"
**Description / Question**
In our app, when the SDK detects that tokens are expired (which may or may not reflect real token expiration on Cognito side, see #679), we follow the [documentation advice](https://aws-amplify.github.io/docs/android/authentication#cognito-user-pool-tokens) and try to relogin the user. However, the actual relogin may happen hours and even days later (device may not have

[2019-04-29 00:05] aleist opened #925 "Expose the sessionPresent flag in MQTT CONNACK messages"
**Which AWS Services is the feature request for?**
IOT

**Is your feature request related to a problem? Please describe.**
There does not seem to be a way to retrieve the sessionPresent flag from the CONNACK message, which means I don't know if a session has been continued and so I have to always re-subscribe to topics.

**Describe the solution you'd like**
The flag is available from the IMqttToke

[2019-04-29 10:23] JeetSA opened #926 "AWSMobileClient change password always return onError in Kotlin."
**Describe the bug**
While changing the password it is returning error but the password is changed successfully. The method I used is "changePassword()". The error is as follow:
"java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter signInResult"

I am using kotlin for development. But after that I trie

[2019-04-29 15:31] palpatim commented on #925
Thanks for the request, we'll add this to our backlog of feature requests and update when we have more information. In the meantime, can you clarify your use case?

Are you looking for advice on when it is necessary to reconnect? That is, if the IoT client managed certain types of reconnections automatically, you wouldn't want to be notified until those automatic retry attempts had been exhausted,

[2019-04-29 15:35] palpatim commented on #926
AFAIK, we don't officially support Kotlin, but my understanding is that it should "just work" assuming our APIs are internally consistent. Assigning to @desokroshan for investigation.

[2019-04-29 16:47] #773 closed

[2019-04-29 18:12] kvasukib commented on #923
@sunithapremjee Thank you for opening a new issue. Can you add the log statement as follows:-

[code]

and see if you are seeing the updates for `WAITING`, `IN_PROGRESS`, etc.?

[2019-04-29 22:37] aleist commented on #925
Thanks for your reply. What I am missing is the ability to determine if a persistent session with the broker exists and has been resumed when I set the clean session flag to false in the initial connection request from my app. The auto reconnection behaviour is fine as long as the app is running, but if the device or app restarts for some reason, then the app has to explicitly initiate the connect

[2019-04-29 23:15] aleist commented on #925
To add to my previous message: In addition to exposing the sessionPresent flag, it would be great if the auto-resubscribe functionality triggered by a successful auto-reconnect were to also take this flag into account and only resubscribe if necessary (sessionPresent == false). Especially given that, from what I can tell, it doesn't even bundle multiple topics in a single subscribe message, but se

[2019-04-29 23:30] markorakita opened #929 "AmazonS3Client seems to be making too many GET requests"
**State your question**
I've created a bucket with 8 files, and I've used "AmazonS3Client.getObject(new GetObjectRequest(bucketName, fileKey), destination)" to download each of them in my app. When I checked cost explorer for my AWS account, it says I've used **431 GET Requests of Amazon S3**. I am trying to understand how it happened.
- Is it possible that getObject function is retrying download

[2019-04-30 00:17] markorakita commented on #929
Now it grew to 440 GET requests and also "Put, Copy, Post or List Requests of Amazon S3" category in my bill grew from 80 to 90.

Literally only thing my app did in the meantime was constructing the AmazonS3Client every time it starts with:
`AmazonS3Client amazonS3Client = new AmazonS3Client(awsMobileClient, Region.getRegion(Regions.US_EAST_1));`

and I also browsed the bucket on the [s3 console w

[2019-04-30 14:32] kktheavi commented on #910
HI Roshan,

Can you help me out, I have not get any solution. @desokroshan @palpatim

[2019-04-30 16:36] desokroshan commented on #910
@kktheavi I will try to reproduce the issue and share my findings. Meanwhile it will be helpful if you can share more information such as more detailed stacktrace.

[2019-05-01 03:56] chiragdesai4 commented on #901
@palpatim Any updates?

[2019-05-01 11:07] broakenmedia commented on #923
Same here! Reverting back to a previous version (2.13.0 in our case, but i believe any version before 2.13.3 will work based on when the issue started happening and 2.13.3's release date) restored everything back to working order.

[2019-05-01 11:16] broakenmedia commented on #923
Well, this gets even more curious. Now that it's working, I just re-built the app with the latest SDK again and it's still working. It's almost as though the latest version is not pulling down credentials required for uploading, downgrading to the previous version allowed them to be stored and then re-updating means the latest SDK can use the now stored credentials

[2019-05-01 18:12] deepakrokz commented on #903
Hi Again,
Yes, I upgraded to latest version i.e. 2.13.2 but issue is there. In a poor network, it is being generated but when it comes back in good internet connection still no upload get fired.

[2019-05-01 20:26] kvasukib commented on #923
@broakenmedia `2.13.3` should fix the issue. We fixed a bug in `2.13.3` where a transfer could get stuck under certain circumstances. Can you try the latest version?

[2019-05-01 20:29] broakenmedia commented on #923
@kvasukib It's in 2.13.3 that the issue began!

[2019-05-02 06:52] kktheavi commented on #910
Hi Roshan,

Here is code for creating client object.

val factory = ApiClientFactory();
val credentialsProvider = CognitoCachingCredentialsProvider(this,"us-east-1:b60930a0-1aba-4952-a376-998818bxxxxx",Regions.US_EAST_1)
factory.credentialsProvider(credentialsProvider)
val client = factory.build(ConfirmVerificationStatusvClient::class.java)

while creating client object, I got this exception:
Meth

[2019-05-02 17:55] alphaDroid89 opened #933 "authenticationChallenge method not called"
Hi,

Am using `getSessionInBackground()` method for use login process. In this i want to check `"NEW_PASSWORD_REQUIRED"`, unfortunately the `authenticationChallenge()` method not called. Any one could you please explain how can i achieve this.

Thanks in advance.

[2019-05-02 21:17] richgabrielli opened #936 "Cannot Resume Upload - transferState = WAITING_FOR_NETWORK"
**State your question**
I am trying to resume uploads that did not previously upload to S3 (switched device to airplane mode to force 3 failures).

transferState = WAITING_FOR_NETWORK

I have reviewed and made changes based on issue # 618, but I am having no luck. I cannot get the 3 files to upload. See observers from Logcat output:

<img width="1542" alt="Screen Shot 2019-05-02 at 5 12 54 PM" src

[2019-05-02 21:27] kvasukib commented on #936
@richgabrielli Sorry for the inconvenience caused. Can you upgrade to `2.13.4`? We have fixed a bug around uploads being stuck in the latest version.

[2019-05-02 21:47] kvasukib commented on #929
@markorakita Sorry for the inconvenience caused.

The `AmazonS3Client` constructors do not make any network requests to Amazon S3. So just the object constructions should not make any network requests to your bucket.

If `getObject()` is retrying, you could see that in the debug logs in Logcat. Every network request made by `getObject()` is logged at `DEBUG` level and you should be able to see the

[2019-05-02 23:10] #704 closed

[2019-05-03 00:31] iam1492 opened #937 "Error in retrieving the encryption key used for secure storage of credentials"
**Describe the bug**
Upgrade to 2.13.3 make app crash.

**To Reproduce**
A code sample or steps:
I use dagger2 to inject s3client.
Below is my code in AmazonModule(dagger module) to initialize CognitoCachingCredentialsProvider.
[code]

**Which AWS service(s) are affected?**
App crash

**Expected behavior**
Non crash

**Screenshots**
App crash

**Environment Information (please complete the followi

[2019-05-03 01:01] richgabrielli commented on #936
Thanks @kvasukib I upgraded to 2.13.4 and the uploads did not resume when running though my function.

[2019-05-03 01:50] kvasukib commented on #937
@iam1492 Is this the very first run of the app after upgrading to `2.13.3`? What version of the SDK did you upgrade from?

This issue occurs when the SDK is not able to load the key from the KeyStore. The key from the KeyStore is used to securely store the information persisted by the `CognitoCachingCredentialsProvider`.

[2019-05-03 01:54] kvasukib commented on #936
Can you try the following?

[code]

Also I would recommend attaching a listener to the observer rather than refreshing and getting the state.

[2019-05-03 10:13] richgabrielli commented on #936
Thanks @kvasukib
I changed the code to
        `val observers = transferUtility.resumeAllWithType(TransferType.UPLOAD)`

Nothing was uploaded. Logcat output was 0 observers:
`2019-05-03 06:03:55.020 4630-4630/com.chandlerconcrete.dispatch I/Chandler: Stats observers: 0`

When I returned the code to
`val observers = transferUtility.getTransfersWithType(TransferType.UPLOAD)`

Logcat still showed the

[2019-05-03 11:37] richgabrielli commented on #936
@kvasukib In response to the listener. I am using one when I upload the files in another section of code
[code]
I have not been able to figure out how to implement a listener when I am not uploading a file. I get a unresolved reference on setTransferListener when I try to do the same.
[code]

[2019-05-03 14:03] richgabrielli commented on #936
Resolved. I may not fully understand how the API is working but, the call to `transferUtility.resumeAllWithType(TransferType.UPLOAD)` always returned 0 and never uploaded. Should resumeAllWithType work in the way I was thinking?

I was able to step back and implement the listener and do one at a time. Here is the code and it worked flawlessly.

[code]

[2019-05-03 16:16] kvasukib commented on #936
@richgabrielli Thank you for trying out the other method. When I look at `resumeAllWithType` method, I notice the following:

[code]

This implementation only resumes the transfers that in PAUSED / FAILED / CANCELED state. If you do not have transfers in this state, then you will get an empty list.

[2019-05-03 17:09] richgabrielli commented on #936
Thanks @kvasukib
With the way I implemented, should it pick up PAUSED, FAILED, CANCELED? Or do I need to account for those conditions?

[2019-05-03 17:35] desokroshan commented on #933
@alphaDroid89  Thanks for reaching out. Can you please provide some more details:

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information (please complete the following information):**
 - Device: [e.g. Pixel XL, Simulator]
 - Android Version: [e.g. Nougat 7.1.2]
 - Specific to simulators:

If you ar

[2019-05-03 18:48] kvasukib commented on #936
@richgabrielli With the way you implemented using the `getTransfersWithType` and manually calling `resume` method on the observers, it will resume all the transfers regardless of the state.

[2019-05-03 19:01] richgabrielli commented on #936
Thanks for all your help @kvasukib . I appreciate it. I will close this case.

[2019-05-03 19:01] #936 closed

[2019-05-03 19:56] alphaDroid89 commented on #933
@desokroshan Thanks for your quick response, please find the below details.

[code]
[code]

Device info:
I tried with Google pixel and Nexus 5 Emulator as well

Let me know whether that method reached only once?

[2019-05-04 00:07] markorakita commented on #929
Hi @kvasukib thank you for your response!

I've also contacted billing support and I've got this response:

While what you said is true in terms of browsing not making a GetObject request, lot of other requests seem to fall under "GET requests" category in the bill. I also found out that when you go to the billing history for certain month, instead of "GET requests" it says **"GET and all other re

[2019-05-04 00:23] iam1492 commented on #937
Old version was 2.9.0. And now I downgrade to 2.11.1 to solve this issue. (I cannot go back to 2.9.0 again because of aws database downgrade issue- from 6 to 5)

[2019-05-04 19:11] yogeshsingh01 commented on #292
Hi, I have also same issue
 I/AWSIotMqttManager: metrics collection is enabled, username: ?SDK=Android&Version=2.13.2
05-05 00:40:20.013 26351-26351/com.example.myiotapp I/AWSIotMqttManager: resetting reconnect attempt and retry time
05-05 00:40:20.017 26351-26351/com.example.myiotapp D/com.example.myiotapp.MainActivity: Status = Connecting
05-05 00:40:20.029 26351-26351/com.example.myiotapp E/com

[2019-05-04 19:45] yogeshsingh01 commented on #506
I am still facing this issue, Any help?
I/AWSIotMqttManager: metrics collection is enabled, username: ?SDK=Android&Version=2.13.2
    resetting reconnect attempt and retry time
D/com.example.myiotapp.MainActivity: Status = Connecting
D/com.example.myiotapp.MainActivity: topic = myTopic/1
E/com.example.myiotapp.MainActivity: Subscription error.
    com.amazonaws.AmazonClientException: Client error

[2019-05-04 21:19] yong0726 commented on #937
same issue. always crash in Android 4 and 5.

[2019-05-05 01:58] kvasukib commented on #929
@markorakita Thank you for the detailed response. I understand your concern better now. I would recommend following up with the AWS Customer Support to resolve the conversation and provider suggestions to them on having a more granular billing.

[2019-05-06 08:58] eax32 opened #940 "Missing required parameter REFRESH_TOKEN"
**Describe the bug**
For some users we received logs like that while user try to pass authentication with Cognito. In most cases (all?), this happened after token expiration(?) and next uninstalling and reinstalling the application with Google autobackups enabled. Signout or other attempts to clean cache do not lead to success.

[code]

**To Reproduce**
Looks like it can be reproduced after expiri

[2019-05-06 15:29] desokroshan commented on #940
@eax32 Thanks for reporting this. Can you please share some relevant code snippet. Does this happen on sign-in or signups after reinstalling?

[2019-05-06 15:34] desokroshan commented on #933
Thanks for the details. I will try to reproduce the issue and post an update.

[2019-05-06 20:14] hipwelljo commented on #616
Hi @kvasukib I was able to look at this again. I should always be performing single-part uploads because the file sizes are so small (<200 KB). I attached a new TransferListener for each retry, instead of `this`, and so far I have not seen the issue where retrying the upload causes it to get lost and not ever fail nor succeed. It is always failing on repeat until it eventually succeeds in my tests

[2019-05-07 03:05] Paradam opened #941 "Provide in-app ability to define a default notification icon"
**Which AWS Services is the feature request for?**
Push Notifications - Pinpoint

**Is your feature request related to a problem? Please describe.**
We're unable to define a sane default notification icon from within the app. Our app icon uses an adaptive icon, which was [introduced in Android 8](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive) (and appears to be G

[2019-05-07 07:45] Gringox commented on #634
Hi team,

Is support for custom auth in AWSMobileClient on the roadmap?

Thanks.

[2019-05-07 13:13] palpatim commented on #941
@Paradam

Thanks for reaching out, and for the analysis. We'll add this to our feature request backlog and update this thread when we have more info.

[2019-05-07 15:04] eax32 commented on #940
@desokroshan Thanks for answer. So, we use AWSMobileClient:
`private void _signIn(String username, String password, final boolean sendVerificationCode, final AuthProcessHandler authProcessHandler) {
        mobileClient().signIn(username, password, null, new Callback<SignInResult>() {
            @Override
            public void onResult(SignInResult result) {
                processSignInResult(

[2019-05-07 15:12] eax32 commented on #940
@desokroshan Also, have a question: in previous versions of our app we use low level api (something like AWSMobileClient uses) - and after app upgrade to AWSMobileClient, mobileClient.initialize allways returns that there is no logined user, so we ask user to relogin, and next all worked well. It's normal behaviour?

[2019-05-07 17:51] luanalbineli opened #942 "Cognito - Sign In - Error in federating the token"
**Describe the bug**
Hi all, we are trying to configure the Amplify Authentication on Android, but when we try to sign in the onResult callback is called with a signInState equals to SignInState.DONE, but when we tries to get the token (both sync or async), a Exception raises: "getTokens does not support retrieving tokens while signed-out"

Looking in the log, there is a exception after the sign i

[2019-05-07 19:59] sunithapremjee commented on #408
![AWSMobileClient_awsconfiguration](https://user-images.githubusercontent.com/9869417/57328903-b13c1200-70e0-11e9-9eae-7760b43cb6dd.png)
Please help me with the above issue.App is crashing .I changed  to "AuthMode": "AMAZON_COGNITO_USER_POOLS"  for AppSync instead of API key and added user sign in for app.

[2019-05-08 00:31] markorakita commented on #929
Customer support told me to open a thread on the forum since they don't have enough technical knowledge about S3 API and billing, so I opened one [here](https://forums.aws.amazon.com/thread.jspa?threadID=302709).

Closing this thread now, thanks for your responses!

[2019-05-08 00:31] #929 closed

[2019-05-08 03:31] shengMR commented on #918
Yes, I am using TransferUtility, I didn't find the corresponding Api, now I try to use the method you said, thank you

[2019-05-08 04:23] AlexKashi opened #943 "Specifying a POST policy with S3 upload"
**Which AWS Services is the feature request for?**
S3

**Is your feature request related to a problem? Please describe.**
I need to upload images with a maximum file size, I believe this means I must specify a [Post Policy](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html) although as far as I can tell in the current version of the SDK, there is no place to create

[2019-05-08 06:45] usmanrana07 commented on #889
when is this expected to be resolved?

[2019-05-08 07:46] vishalsgithub commented on #505
now it is possible or not..?

[2019-05-08 11:29] NagarjunaReddyP commented on #704
-keepclassmembers enum com.amazonaws.** { *; }

This line working for me.

[2019-05-08 12:20] markorakita opened #944 "DynamoDB takes about 3s for any query on a small table when AWSMobileClient instance is used as credentials provider"
**State your question**
I have a small table in DynamoDB with only 2 items, each item containing 7 attributes, 2 strings and 5 numbers. I've tried calling scan from DynamoDBMapper, it took ~3s. I've tried query it took the same. Tried load for just one item specifying the hash key, took the same. I am obviously doing something wrong, there is no way DynamoDB is this slow.

- Is sdk for ddb maybe s

[2019-05-08 16:50] haraldF opened #945 "Login view does not work on devices with small screens"
**Describe the bug**

following your example at:

https://aws.amazon.com/blogs/mobile/integrating-amazon-cognito-with-the-android-accountmanager-api/

we were able to successfully integrate Cognito login in the Androids Account system settings. The UI works on the consumer phones, however, not on our Android Automotive build and neither on Android devices with constrained screen sizes. I've attach

[2019-05-08 18:19] ygnessin commented on #937
We are also seeing this crash in production after we upgraded our AWS SDKs from 2.13.1 to 2.13.3. Our android app uses the `kinesis`, `congitoauth`, and `cognitoidentityprovider` SDKs. The stacktrace is almost identical to the one posted but I'd be happy to share it if that is helpful.

Thanks for these wonderful libraries, and I hope we can have this fixed soon!

[2019-05-08 20:32] BartolomeMejia opened #946 "SIGN-OUT status in clean installation of android application"
**Describe the bug**
Hi all,
I have the following case. the AWSCognito sdk returns an error that arises when the application is installed for the first time, the cognito sdk returns SIGN-OUT in the initialization method, when the SIGN-OUT status is obtained, it is logged in with username and password, using SIGN-IN method, this method returns a DONE status. When trying to obtain the token, the use

[2019-05-09 06:59] aslamhossin commented on #567
**I am facing the same issue is there any solution?**
**com.amazonaws.AmazonClientException**: Unable to execute **HTTP** request: Unable to resolve host "**cognito-idp.ap-southeast-1.amazonaws.com**": No address associated with **hostname**

[2019-05-09 10:41] kktheavi commented on #910
Hello Roshan,

I had sent my code and error , can you help me out.
@desokroshan @palpatim

[2019-05-09 15:50] mdaslamHossin opened #948 "getTokens does not support retrieving tokens while signed-out"
**I am trying to get tokens but showing an error message which is irrelevant I think. Please help me if anyone faces the same problem. **
Code Snippet below:
[code]

[2019-05-09 17:34] palpatim commented on #854
@MushMal Can you take a look at this one?

[2019-05-09 20:17] minbi commented on #948
Hi @mdaslamHossin ,

Can you provide some more details? The tokens will not be available when signed-out. They are cleared when you call signOut.

[2019-05-09 21:02] #695 closed

[2019-05-09 21:02] #718 closed

[2019-05-09 21:02] #904 closed

[2019-05-09 22:52] kvasukib commented on #943
@AlexKashi Thank you for reporting to us. I am tagging this as a feature request and will talk to the team for prioritization.

[2019-05-09 22:54] kvasukib commented on #937
@ygnessin @yong0726 @iam1492 Can you see a log statement where the encryption key is successfully generated and stored in the KeyStore? This will help us find if the key generation succeeded in the first place or not.

[2019-05-09 22:56] kvasukib commented on #918
@shengMR Thank you for the response. Please feel free to re-open if you have any questions.

[2019-05-09 22:56] #918 closed

[2019-05-09 22:58] kvasukib commented on #903
@deepakrokz Can you post a code snippet of how you are starting an upload and resuming it? Are you using a `TransferNetworkLossHandler` or `TransferService` from your app?

[2019-05-09 23:57] ygnessin commented on #937
@kvasukib these crashes are occurring in production, so we cannot see any log statements such as the ones you are requesting because our app doesn't log in production. I am not able to repro them locally, unfortunately.

Are you able to estimate how soon a fix for this can be ready? If it is still unknown, we may want to roll back to 2.13.1 until it is fixed.

Thanks!

[2019-05-09 23:58] ygnessin commented on #937
@kvasukib I will however add that this crash appears to be occurring on app startup. So it seems very unlikely that key generation had previous succeeded during the app's lifecycle.

[2019-05-10 00:14] yoavgray commented on #937
@kvasukib to add some context to what Yuval wrote, we started seeing crashes in production when we upgraded our AWS SDK from 2.12.5 to 2.13.1, so we will probably downgrade further if this issue won't be resolved soon. Thanks for taking a look.

[2019-05-10 12:20] aslamhossin commented on #948
@minbi
I have also tried below way
`AWSMobileClient.getInstance().addUserStateListener { details ->
      details.userState?.let {
        when (it) {
          UserState.SIGNED_IN -> {
            runOnUiThread {
              try {
                val tokenResponse = TokenResponse()
                val tokens = AWSMobileClient.getInstance().tokens
                tokenResponse.idToken = tokens.i

[2019-05-10 12:47] atthapon-k opened #950 "How do i force refresh token using AWSMobileClient"

[2019-05-10 16:02] foolzoom commented on #710
Do you have any updates on this issue?

I also have this error:
com.amazonaws.mobileconnectors.apigateway.ApiClientException: Method isn't annotated with Operation (Service: null; Status Code: 0; Error Code: null; Request ID: null)

My config:

AWS Rules:
` # Class names are needed in reflection
 -keepnames class com.amazonaws.**
 -keepnames class com.amazon.**
 # Request handlers defined in reque

[2019-05-10 16:29] fernando-berrios commented on #942
I have almost this exact same use case and running into the same problem. Trying to create a method that will sign in the user and return the Cognito access token.

I have an implementation that works by manually using the `CognitoUserPool` class and `CognitoUser.getSession(final AuthenticationHandler callback)` method. But using the new `AWSMobileClient` similar to OPs implementation I am getting

[2019-05-10 19:23] ygnessin commented on #937
@kvasukib I'm not sure if this is related or represents a separate issue altogether, but in addition to the `KeyProvider18` error we are also seeing another crash coming from `KeyProvider23`. Here is a sample stack trace:

[code]

This crash is less frequent than the one posted in this issue, and appears to be affecting all android versions, unlike KeyProvider18 which only affects Android 5 and lo

[2019-05-11 03:52] mdaslamHossin commented on #888
Is there any update. I have faced the same problem.

[2019-05-11 16:27] markorakita commented on #944
I've now tried doing AWSMobileClient initialization first, and then doing database calls, and guess what, DynamoDB calls finish in a miliseconds. This seems like a bug to me.

Here is what I am currently doing:
[code]

Function queryDynamoDB() itself now takes ~3s (not including initialization time).

If I do it separate, on one button click I do the initialization, on another button click I do th

[2019-05-11 16:38] markorakita commented on #944
As I can see in the AWSMobileClient _initialize() function code, only thing that happens after calling callback.onResult() is setUserState():
[code]

Could it somehow affect DynamoDB client when it is initalized inside callback.onResult() with AWSMobileClient which doesn't have user state set yet?

[2019-05-11 19:11] atthapon-k commented on #696
@Mehdi-android
Did you solve this?

[2019-05-11 19:39] markorakita commented on #944
I've debugged further, and I found out that AWSMobileClient.getCredentials() is being called for ddb functions, and that is what causes the 3s hang. In a scenario where I was doing AWSMobileClient.initialize() separately, I was also doing the AWSMobileClient.signIn(), so that already took care of credentials. That explains why ddb calls take so long in a scenario where they are executed inside AWS

[2019-05-11 20:22] markorakita commented on #944
Ok, now I've realized why people use CognitoCachingCredentialsProvider in their code.

I've changed this:
`AmazonDynamoDBClient dynamoDBClient = new AmazonDynamoDBClient(AWSMobileClient.getInstance());`

To this:
[code]

Now everything works fast. Reason is that AWSMobileClient.getCredentials() implementation calls waitForSignIn() which calls getUserStateDetails(false) where **false** means "don't

[2019-05-11 20:37] markorakita opened #951 "Which credentials provider should be used for DDB and S3 clients?"
**State your question**
[Recently](https://github.com/aws-amplify/aws-sdk-android/issues/944), I've spent some time to figure out why first ddb query in my app is very slow. It turned out to be because I was passing AWSMobileClient.getInstance() as a credentials provider to AmazonDynamoDBClient, and its getCredentials() implementation always makes network calls instead of using cached offline cred

[2019-05-11 21:25] markorakita commented on #951
Also, when I used AWSMobileClient.getInstance() as a credentials provider for AmazonS3Client, I got invalid tokens in middle of the getObject() call even though one call before that succeeded with no issues.

[code]

[2019-05-11 21:25] markorakita commented on #924
Related: #951

[2019-05-11 22:00] NassB opened #952 "Error in initializing the CognitoCachingCredentialsProvider : NullPointerException on getSharedPreferences"
**Describe the bug**
NullPointerException when I am trying to integrate a User Pool with an Identity Pool like in the documentation https://docs.aws.amazon.com/cognito/latest/developerguide/tutorial-integrating-user-pools-android.html?shortFooter=true#tutorial-integrating-user-pools-getting-aws-credentials-android.

The NullPointerException is

[...]

at android.content.ContextWrapper.getSharedPre

[2019-05-12 09:29] mdaslamHossin commented on #946
I have faced the same issue. Is there any update.

[2019-05-12 09:58] mdaslamHossin commented on #859
**Still, I have faced this issue in 2.13.4.**
I have the following case. the AWSCognito SDK returns an error that arises when the application is installed for the first time, the Cognito SDK returns SIGN-OUT in the initialization method, when the SIGN-OUT status is obtained, it is logged in with username and password, using SIGN-IN method, this method returns a DONE status. When trying to obtain t

[2019-05-12 10:28] ayushagnz commented on #859
Is there any way to change the status without creating a new session as in like without closing and reopening the app. Or is there any way to create a instance of that state and use that so that every time the token is to obtained the state would be the same as it was in the first place.

[2019-05-12 14:51] mdaslamHossin commented on #859
No, I think there is no way to do that is it your SDK related issue?

[2019-05-12 19:29] pradeep-techens commented on #394
@jeremiasdsa can you please me know the more details. I am facing the same issue but what you mean" I just needed to set the device time to automatic mode.".
Thanks in advance.

[2019-05-12 19:53] markorakita commented on #924
@nchorniy From my understanding, every time the AWSMobileClient is initialized, it uses cashed refresh tokens to refresh user identity, and in the same time it puts new refresh tokens in the cache. Only scenario when user can get into SIGNED_OUT_USER_POOLS_TOKENS_INVALID state is when the app couldn't initialize client for a long time (depending on what you set as refresh token expiration time). I

[2019-05-13 05:37] #950 closed

[2019-05-13 06:18] ayushagnz commented on #859
I think so.. gonna have to find an alternative i guess

[2019-05-13 09:32] mbk820 commented on #777
@kvasukib
`Fatal Exception: java.util.ConcurrentModificationException
       at java.util.HashMap$HashIterator.nextNode(HashMap.java:1441)
       at java.util.HashMap$ValueIterator.next(HashMap.java:1470)
       at java.util.Collections$UnmodifiableCollection$1.next(Collections.java:1084)
       at com.amazonaws.mobileconnectors.s3.transferutility.TransferNetworkLossHandler.pauseAllTransfersDueToN

[2019-05-13 09:33] asweeney99 commented on #394
@pradeep-techens He means go to your time and date settings on the phone or tablet that you are using to log in to your service. In those settings there is an option to enable automatic mode. You need to enable this setting. This will give your phone or tablet the correct time without having to update it manually.

[2019-05-13 15:17] palpatim commented on #945
@haraldF

Thanks for your report. We're already tracking this in #523, and have this as a feature request on our backlog.

[2019-05-13 15:17] #945 closed

[2019-05-13 16:16] palpatim opened #954 "Migrate S3 SDKs to use virtual-hosted (V2) style URLs"
As @Mazyod noted in https://github.com/aws-amplify/aws-sdk-ios/issues/1535, S3 will retire support for path-style URLs in Sep 2020. We need to migrate our SDKs to use virtual-host style URLs.

[2019-05-13 18:48] palpatim commented on #946
@BartolomeMejia

Are you seeing any errors in the log?

[2019-05-13 19:26] palpatim commented on #942
@luanalbineli, @fernando-berrios

The error snippet

...implies that there is a problem with your backend setup. For example, if your User Pool is not properly set up as an Authentication Provider for your Identity Pool, then you might see an error similar to this.

To verify your setup:
* **Identity Pool**
  * Go to the [Amazon Cognito Console](https://console.aws.amazon.com/cognito)
  * Click on

[2019-05-13 20:42] fernando-berrios commented on #942
@palpatim

I double checked the values as best I could (limited access to AWS console), and the info I've found matches the one in the `awsconfiguration.json`

Using the same config file with this implementation works fine:

[code]

Also, just realized I am not getting a `NotAuthorizedException`, but instead a `ResourceNotFoundException`:

[code]

[2019-05-13 21:40] zhiyua-git opened #956 "Sign in issue in AmazonKinesisVideoDemoApp"
There is an Exception and app crashes after leaving the app alone for about 1 hour.

Full details and steps for reproducing the issue is below. It is reproducible on multiple device types, recent tested device is OnePlus6+.
1. Follow the https://github.com/awslabs/aws-sdk-android-samples/blob/master/AmazonKinesisVideoDemoApp/README.md to set up the Cognito.
2. Sign in the app and close it.
3. Wait

[2019-05-14 09:06] tvanmanh commented on #926
@JeetSA have you solved this problem. I faced it too.

[2019-05-14 12:19] shubhamssinghal opened #957 "Custom UI Implementation"
**State your question**
I want to create my own custom sign-in activity in android but did not find any relevant reference so kindly please provide me any solution

**Which AWS Services are you utilizing?**
AWS Amplify and AWSMobileClient

**Code snippets on button click**
AWSMobileClient.getInstance().signIn("xyz@abc.com", "****", null);

**Error in above code**
Attempt to invoke virtual method '

[2019-05-14 14:29] BartolomeMejia commented on #946
@palpatim
hello, this is the log that I get

[code]

[2019-05-14 16:12] josequinterofox commented on #946
Possible fix in #942

[2019-05-14 22:11] NassB commented on #952
Ok so I was able to initialized CognitoCachingCredentialsProvider, my credentialsProvider object was not initialized in onCreate method this is why I got this NullPointerException.... (This is what I call a
'lack of sleep error' 😅)

But I got in the logcat :

D/CognitoCachingCredentialsProvider: No valid credentials found in SharedPreferences
D/CognitoCachingCredentialsProvider: Clearing credentia

[2019-05-14 22:17] kvasukib commented on #952
@NassB When you create the `CognitoCachingCredentialsProvider` object, do you have a valid Android application / activity context that you pass in during object construction?

[2019-05-14 22:22] NassB commented on #952
Yes I create `CognitoCachingCredentialsProvider` in the onSuccess callback in
`AuthenticationHandler authenticationHandler = new AuthenticationHandler() {...}`
with
`credentialsProvider = new CognitoCachingCredentialsProvider(getApplicationContext(), identityPoolId, cognitoRegion);`

[2019-05-14 23:00] rohandubal commented on #957
Hello @shubhamssinghal

Looks like this error would occur if the setup is not done correctly. I recommend using [these docs](https://aws-amplify.github.io/docs/android/authentication#authentication) to understand the setup and API behavior.

You can follow the standard android practices to implemented the sign in UI. We currently do not have a sample app which demonstrates that.

Best,
Rohan

[2019-05-14 23:03] rohandubal commented on #956
Hello @zhiyua-git

The `NetworkOnMainThreadException` would happen if you are calling the `getTokens` API on the main thread of your app? Is that the case?

I think the SDK could do better by surfacing the right exception. I will mark that part as a bug.

Thanks,
Rohan

[2019-05-14 23:57] zhiyua-git commented on #956
Hi @rohandubal ,

I am not modifying any code in AmazonKinesisVideoDemoApp and I don't see any getTokens() called in AmazonKinesisVideoDemoApp project. Can you suggest where do you think that getTokens() is called from?

Thanks,
Zhiyuan

[2019-05-15 00:13] GerardoRobledo opened #958 "TransferUtility does not update the TransferListener when the preferred network type is not available"
**Describe the bug**
When using the following method ` public TransferObserver upload(String bucket, String key, File file, ObjectMetadata metadata,
            CannedAccessControlList cannedAcl, TransferListener listener)`  in airplane mode, `TransferStatusUpdater` won't notify any listener because is not added by the time `TransferRecord.checkPreferredNetworkAvailability` has been called.

**To

[2019-05-15 05:44] mdaslamHossin commented on #946
Yes, It was awscofiguration.json file issue. Thanks

[2019-05-15 12:59] eax32 commented on #940
@desokroshan @kvasukib Hello, do you have any updates/info for me?

[2019-05-15 13:07] JeetSA commented on #926
@tvanmanh I haven't solved it yet but what I have done is I have specifically called that function from a java file and it works.

[2019-05-15 18:41] MushMal commented on #854
Apologies for the delay. There are two scenarios to consider:

1) Setting the orientation at the start of the streaming on the device.
2) Setting the orientation dynamically as the customer rotates the device while streaming.

#2 we don’t support in the demo application because it would require a few changes in the application. The main issue here is that as the orientation changes require updated

[2019-05-15 19:05] charandas commented on #889
@usmanrana07 what's interesting is that `secretHash` can be calculated with `userId` for `getAuthenticationDetails`, it allows you to override (not that you need this capability):

[code]

The same cannot be said of `challengeContinuation` (now the overriding capability could get you past this issue 😉, but there is no such capability). With `challengeContinuation` it would read it out of the user.

[2019-05-15 19:09] charandas commented on #511
@mxpv does it still work for you? Please see my comment on #889 where I mention my experience with the SDK when using a confidential client and custom auth.

[2019-05-15 19:13] charandas commented on #889
My settings are like so. I wonder if people are not using username attributes like phone number, if this ends up working for them. I am using the phone number as one.

<img width="1197" alt="Screen Shot 2019-05-15 at 3 11 17 PM" src="https://user-images.githubusercontent.com/542168/57802351-bbcf5a80-7723-11e9-8460-1e16833bc6a9.png">

[2019-05-16 07:20] mbk820 commented on #802
@kvasukib hey, should I use 'CredentialsProvider' with my secret key in my live application, anyone can decompile the APK and get my secret and access keys,
What is the right way to initialize the s3 client and use the s3 bucket storage?
Even in AWS documentation, the deprecated method is mentioned. Please guide.

[2019-05-16 07:29] mbk820 opened #959 "AmazonS3Client(new CognitoCachingCredentialsProvider(context, config)) is deprecated"
**State your question**

**Which AWS Services are you utilizing?**

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information (please complete the following information):**
 - Device: [e.g. Pixel XL, Simulator]
 - Android Version: [e.g. Nougat 7.1.2]
 - Specific to simulators:

If you need help with un

[2019-05-16 07:30] mbk820 commented on #959
@kvasukib sir please help.

[2019-05-16 07:30] #959 closed

[2019-05-16 07:41] mbk820 opened #960 "AmazonS3Client(new CognitoCachingCredentialsProvider(context, config)) is deprecated"
### Hey, should I use 'CredentialsProvider' with my secret key in my live application?
Anyone can **decompile** the APK and get my secret and access keys,
What is the right way to initialize the s3 client and use the s3 bucket storage?
Even in AWS documentation, the deprecated method is mentioned. Please guide.

### Right now I am using:
`AWSConfiguration config = new AWSConfiguration(context);

[2019-05-16 17:00] kvasukib commented on #960
@mbk820 Your concern is valid. I would recommend you to use Amazon Cognito Identity Pools which retrieves a set of temporary credentials (AWS Access and Secret Access Keys) that are valid for an hour and the SDK retrieves new credentials after the expiration.

[code]

Take a look at our documentation for more details: https://aws-amplify.github.io/docs/android/storage

[2019-05-16 17:53] kvasukib commented on #958
@GerardoRobledo Thank you for the detailed analysis. I have submitted PR #961 to fix the issue. I will update this thread when the fix is released.

[2019-05-16 21:35] kvasukib commented on #937
@iam1492 For the issue where `key == null`:

KeyProvider18 encrypts the key that encrypts the data and stores the encrypted key in SharedPreferences. From the stack trace, I could see that the encrypted key is found in SharedPreferences. However we are not able to decrypt the encrypted key that is read from SharedPreferences.

Do you see the exception being logged from https://github.com/aws-ampli

[2019-05-16 21:44] kvasukib commented on #952
@NassB This issue is mainly because the context passed in through `CognitoCachingCredentialsProvider` to `AWSKeyValueStore` is null. If you pass in a non-null valid context, you shouldn't be seeing this issue any more.

[2019-05-17 12:45] karundev opened #963 "AWS android sdk Google Sign In not supported for version < 6"
**State your question**
AWS auth ui sdk requires minSdkVersion 23.. I am using amplify for oauth in my mobile app.
Please provide any solution, so that we can implement the same in lower minsdkversions or simply another solution for amplify google authentication via backend.

**Which AWS Services are you utilizing?**
com.amazonaws.mobile.auth.ui

[2019-05-17 14:26] luanalbineli opened #964 "AWSMobileClient not working on Android 4.3"
**Describe the bug**
When we tries to run the AWSMobileClient on 4.2 and 4.3 Android devices, a `NoSuchMethodError` raises:

`java.lang.NoSuchMethodError: android.security.KeyPairGeneratorSpec$Builder.setKeySize
        at com.amazonaws.internal.keyvaluestore.KeyProvider18.a(KeyProvider18.java:154)
        at com.amazonaws.internal.keyvaluestore.KeyProvider18.a(KeyProvider18.java:72)
        at co

[2019-05-17 14:28] fernando-berrios commented on #942
I should note as well that my `awsconfiguration.json` file was not generated by the amplify cli tool, it was provided to me by another team member and generated by `"UserAgent": "MobileHub/1.0"`

[2019-05-17 18:11] rodrigoarias commented on #964
I'm having the same issue.

[2019-05-17 18:27] rodrigoarias commented on #964
That's not the only one.
I'm getting this crashes, mostly in Android 4, some on Android 5:

**KeyProvider18.java line 154**
`Fatal Exception: java.lang.NoSuchMethodError: android.security.KeyPairGeneratorSpec$Builder.setKeySize
       at com.amazonaws.internal.keyvaluestore.KeyProvider18.initializeRSAKeyFromKeyStore(KeyProvider18.java:154)
       at com.amazonaws.internal.keyvaluestore.KeyProvider

[2019-05-17 18:49] rodrigoarias commented on #937
I'm having lots of crashes because of this.
Mainly:
[code]

[code]

[code]

This is really critical.

[2019-05-17 19:57] NassB commented on #952
Yes that what I am doing now like I said in my previous message

So I dont have the issue anymore. Thanks.

[2019-05-17 19:57] #952 closed

[2019-05-17 21:27] ygnessin commented on #937
@kvasukib thanks for looking into this. It makes since that the `KeyProvider23` trace I shared is a separate issue, but in addition to that we are also seeing the `KeyProvider18` posted in the original issue message. So our app is being affected by both issues.

Unfortunately, I haven't been able to reproduce either of the issues locally because we are mostly seeing these traces come from producti

[2019-05-17 21:44] Fando commented on #937
We're suffering from this error as well.

**AWS Libraries**
`com.amazonaws:aws-android-sdk-kinesis:2.13.2` and
`com.amazonaws:aws-android-sdk-mobile-client:2.13.2@aar`

**Device**
Nexus 7, Android 5.0

The error is in `keyProvider18.initializeRSAKeyFromKeyStore(...)`, in particular the line,
`if (!keyStore.containsAlias(keyAlias)) ...` hangs the device.

[2019-05-17 23:35] kvasukib commented on #937
Thank you the details and the stack-trace. There are multiple issues here with `KeyProvider18`.

1. Call to `setKeySize` needs to be removed.
2. Debug `key == null`. So far I can see that the RSA decrypt of the key fails with an exception. If I could get a stacktrace of the decrypt failure which should be part of the exception `key == null` I can debug this issue further.
3. Hang while calling `co

[2019-05-19 17:11] kvasukib commented on #964
Sorry for the inconvenience caused. Submitted a PR #967 to fix the issue.

[2019-05-20 16:25] kvasukib commented on #923
@broakenmedia Sorry for the delayed response. Are you still facing the issue in `2.13.4` version of the SDK?

[2019-05-20 17:06] BillBunting commented on #887
@desokroshan , any progress or updates on this issue? Thank you.

[2019-05-20 18:02] kvasukib commented on #940
@eax32 Sorry for the delayed response. `AWSMobileClient` has its own persistent store and does not share the credentials stored by the `CognitoIdentityProvider` SDK (`aws-android-sdk-cognitoidentityprovider`). So if you are migrating to `AWSMobileClient`, the credentials will not be migrated from the underlying SDK to `AWSMobileClient`.

[2019-05-20 19:38] hvar90 commented on #964
this is a big problem
i am having many diferents errors on different devices
`java.lang.illegalstateexception error in initializing the cognitoCachingCredentialsProvider`
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Read timed out`
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "sts.amazonaws.com": No address associated with ho

[2019-05-20 19:44] hvar90 commented on #937
this is a big problem
i am having many diferents errors on different devices
`java.lang.illegalstateexception error in initializing the cognitoCachingCredentialsProvider`
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Read timed out`
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "sts.amazonaws.com": No address associated with ho

[2019-05-20 20:03] kvasukib commented on #937
@hvar90 The problem you reported is different from this GitHub issue. The exception you are facing is due to the network being offline in the device that is making a network call.

[2019-05-20 20:07] hvar90 commented on #937
@kvasukib  but whe the internet is ok also i see these errors
how can i retry the network call? when  the internet is slow ?

[2019-05-20 20:16] kvasukib commented on #951
@markorakita Sorry for the delayed response. `AWSMobileClient` creates a `CognitoCachingCredentialsProvider` when there is an entry for the `CredentialsProvider` section in the `awsconfiguration.json` file.

Did you verify subsequent calls to `getCredentials()` within the expiration time (default is 1 hour) window makes network call?

[2019-05-21 11:04] JeetSA opened #968 "AWS API gateway giving 403 error in response with message "forbidden""
**I am using aws api gateway for calling external API. I am always getting status code 403 and response "{"message":"Forbidden"}". **

[code]

**I am using below sdk:**
[code]

Can anyone tell me what am I doing wrong and can anyone please share any demo for calling external API from AWS API gateway?

[2019-05-21 16:42] markorakita commented on #951
@kvasukib Thanks for your response. So you are saying that if there is an entry for CredentialsProvider section in the awsconfiguration.json file, we can pass AWSMobileClient.getInstance() as a credentials provider to AmazonDynamoDBClient and AmazonS3Client constructors, and it will use CognitoCashinCredentialsProvider in the background for getCredentials() calls?

I don't see this happening in th

[2019-05-21 18:28] zhiyua-git commented on #956
Any suggestion?

[2019-05-21 18:49] arcturial commented on #888
+1

I also have this issue, my understanding is that tokens shouldn't be removed by simply killing the app. Even if they were, surely this kind of error should result in the correct user state event being raised so it can be handled?

[2019-05-22 01:03] markacoss opened #972 "NumberFormatException thrown in CognitoCachingCredentialsProvider"
An issue currently affecting our production app where a NumbersFormatException is being thrown in CognitoCachingCredentialsProvider. In this release we moved from AWS Android SDK version 2.7.0 to 2.13.4.

[code]

Exceptions are thrown while getting the credentialsProvider prior to making a Lambda call and getting an AmazonS3Client to use in TransferUtility.

This issue seems intermittent and does

[2019-05-22 02:36] hvar90 opened #973 "initializing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment Information (please complete the following information):**

[2019-05-22 02:37] #973 closed

[2019-05-22 02:43] hvar90 commented on #972
i am having the error
`java.lang.IllegalStateException: Error in initializing the CognitoCachingCredentialsProvider.`
on version 2.13.4

[2019-05-22 03:47] hvar90 commented on #964
i have this error on android 4.4
aws sdk 2.13.4
[code]
[code]
[code]

[2019-05-22 10:00] BlueHeisenberg commented on #390
I'm facing the same problem, is there a fix for this already?

[2019-05-22 16:00] kvasukib commented on #968
@JeetSA Sorry for the inconvenience caused.

Does the Unauthenticated / Authenticated role attached to the Cognito Identity Pool has permissions to access APIGateway API you have configured?

Also can you call `credentialsProvider.getCredentials()` to see if you are able to retrieve AWS Credentials without any error?

[2019-05-22 16:36] kvasukib commented on #972
@markacoss Sorry for the inconvenience caused. From the code snippet,

[code]

We check if the store has a key EXP_KEY with a non-null value and then read it and parse it as Long. It's possible that there is a race condition where if check succeeded however before we could retrieve the key-value pair, the key could have been cleared.

Is there a chance that your app is calling `CognitoCachingCrede

[2019-05-22 17:40] hvar90 commented on #972
i have this error because i am creating CognitoCachingCredentialsProvider on many threads in parallel
if i use this on the method
[code]
will it resolve the problem ???

[2019-05-22 17:56] kvasukib commented on #972
@hvar90 I would recommend synchronizing on the refresh(), clear(), getCredentials() operation if you are creating credentials providers objects for the same Cognito identity pool id. Let me know how it works after you try it out.

[2019-05-22 18:02] hvar90 commented on #972
do you mean synchronizing only on the call refresh()?
something like this ?
[code]

[2019-05-22 18:08] kvasukib commented on #972
Yes. I would recommend synchronizing on any call that mutates the data stored in SharedPreferences: `refresh()`, `clear()`, `getCredentials()`.

Alternatively, you could create a `CognitoCachingCredentialsProvider` object upon app startup and pass it between activities or have a reference to it which can be accessed in other activities and this avoids creating the object several times.

[2019-05-22 18:16] hvar90 commented on #972
i though the alternative
create CognitoCachingCredentialsProvider object upon app startup but i dont know how to have a reference to that object
the onle way i know is with a static variable but i dont know if that is a good solution

[2019-05-22 18:16] TechTeam12 commented on #471
Any update on this? This is a major issue with the API since many devices still run Lollipop.

[2019-05-22 23:09] zhiyua-git commented on #909
Hi @tongvantruong ,

The issue is caused by encoder passing frames with 3+ ending zeros and sdk will treat this as error for AnnexB case.

The fix is in https://github.com/aws-amplify/aws-sdk-android/commit/7b09c97a7a066e634d10b6676884a6f6d81d46fe. It is verified on OnePlus 6T.
Now it is in develop branch: https://github.com/aws-amplify/aws-sdk-android/tree/develop.

You can either follow this ins

[2019-05-22 23:24] markacoss commented on #972
@kvasukib Thanks for addressing this quickly. Appreciate that. Yes there is a possibility that there might be a race condition so I'll look into that. Our current AWS credentials provider calls have been setup like this prior to me starting at the company 15 months ago and this is the first time I have seen this issue. Have your changed the way this works internally in your later SDKs releases? To

[2019-05-23 06:35] hvar90 commented on #972
@kvasukib
i realized that refresh() is a syncronized method so i think  is necessary  synchronizing onCognitoCachingCredentialsProvider  constructor  too
[code]
https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/auth/CognitoCachingCredentialsProvider.java

[2019-05-23 10:18] JeetSA commented on #968
@kva
Thanks for the feedback.

1) Yes, both roles are attached to the Cognito Identity Pool and it has permissions to access the gateway.

2) Yes, I am able to get create retrieve AWS Credentials without any error.

One more thing which I observed while debugging is when I create "apiClient" object, it is returning "Method threw 'com.amazonaws.mobileconnectors.apigateway.ApiClientException' except

[2019-05-23 22:27] kvasukib commented on #902
@abdullahmehmood Closing the issue. Please feel free to comment/re-open if you find any more information.

[2019-05-23 22:27] #902 closed

[2019-05-24 01:17] minbi commented on #942
Hi @fernando-berrios ,

The warning you encountered is expected given that the Cognito Identity Pool is not configured.

I also tried out AWS Mobile Hub and when the Cognito User Pool is configured through AWS Mobile Hub the awsconfiguration.json file seemed to work fine.

[2019-05-24 01:18] minbi commented on #942
Hi @luanalbineli ,

Are you still encountering an issue after going through the steps provided by @palpatim ?

[2019-05-24 04:53] android-bash opened #975 "Getting timeout error when uploading a video in low network conditions (Around 1.5 MBPS)."
**Describe the bug**
Not able to upload a 50MB video on slow network.

**To Reproduce**
Try to upload a 50MB video on slow network.

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: [e.g. 2.13.4]
 - Device: [OnePlus 3T, Pixel, Samsung j7 etc]
 - Android Version: [8.0, 9.0]

**Additional context**
Add any other context about the problem here. Here

[2019-05-24 05:16] kvasukib commented on #292
When you call `AWSIotMqttManager.disconnect()`, we invoke `MqttAsyncClient.disconnect(0)` where 0 is the quiesce timeout. So there is no delay before attempting to disconnect the connection in Paho. If the disconnect attempt is successful, a token is returned and we set the state to `ConnectionLost` and notify the connection callback. In other cases, we would throw an exception.

1) For the error

[2019-05-24 05:47] kvasukib commented on #710
@usmanrana07 I have the following API created in my Android project:

[code]

And I have added the following to proguard rules:

[code]

Can you check with these rules in your app?

[2019-05-24 06:51] usmanrana07 commented on #710
It is giving error at following rule line:

Expected field or method name at ~\proguard-rules.pro:97:91
  @proguard.annotation.Keep com.amazonaws.mobileconnectors.apigateway.annotation.Operation;
                                                                                          ^

[2019-05-24 11:33] nnbanerjee commented on #63
Is it implemented? Why a feature? It is a bug!

[2019-05-24 16:06] hvar90 commented on #972
@markacoss it is true, the only version working well is  2.11.1

[2019-05-24 22:30] kvasukib commented on #972
@markacoss Thank you for the detailed analysis.We made changes in `2.12.+` version of the SDK to store the credentials securely by encrypting them before storing in `SharedPreferences`. As part of this, the information will be encrypted before storing and decrypted after retrieving. This is the main change made in `2.12.+` version of the SDK.

[2019-05-25 07:14] mbk820 commented on #960
@kvasukib Hi dear, Hope you are fine, We are using s3 paid services, Our app is live with a lot of users, our users are facing ANRs while initializing 'CognitoCachingCredentialsProvider' and creating 'TransferUtility' object, and some other ANRs, all are related AWS. We have to load a lot of images from s3 storage at runtime while the user scrolling the recycle view.

This is ANR stats, Please giv

[2019-05-26 15:04] Aqsathemes commented on #394
I have also seen the same problem on Android 7.0, API 24, SDK version 2.13.4.
Set the device time to automatic mode doesn't resolve the issue.
Help, please!

[2019-05-26 17:45] ronzeidman opened #977 "Pinpoint: Sending more than 100 events in one submitEvents"
**State your question**
How do I send more than 100 events at once?

**Which AWS Services are you utilizing?**
PinpointManager - AnalyticsClient

**Provide code snippets (if applicable)**
[code]
**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]
2.13

**Device Information (please complete the following information):**
 - Device: [e.g. Pixel XL, Simulator]
 -

[2019-05-26 23:23] markacoss commented on #972
@kvasukib Thanks for sharing that. Appreciate it.

[2019-05-27 06:40] eax32 commented on #940
@kvasukib so, this bug reproduces on android 9.0 with auto backups enabled. User login, next delete the app, and next reinstall again - so, we have "Missing required parameter REFRESH_TOKEN". Also we fix this issue by cleaning shared preferences before signin.
`SharedPreferences csiCachedTokens = mContext
                .getSharedPreferences("CognitoIdentityProviderCache", 0);
        SharedPrefe

[2019-05-27 18:25] kvasukib commented on #964
@luanalbineli @rodrigoarias This issue has been fixed and released in `2.13.5`. Please upgrade and test on Android API Level 18 and let us know if you have any feedback.

[2019-05-28 08:07] JeetSA opened #979 "When there are multiple groups added or there is no group added in user , I am not getting sign in state."
When I am creating a user from AWS cognito console, there is an option to add a group. When we do not add any group I am not able to get tokens after sign in.

If only one group is added, it is working properly.

When there are multiple groups, I am facing the same issue.

The error which I am getting while getting token is "getTokens does not support retrieving tokens while signed-out".

**To Rep

[2019-05-28 17:41] #292 closed

[2019-05-28 18:12] agalfioni opened #981 "How can get response HTTP status code from API Gateway generated SDK"
**State your question**
I need to obtain HTTP status code when make an API request using generated SDK for Android.

**Which AWS Services are you utilizing?**
Using AWSAPIGateway.

**Provide code snippets (if applicable)**

[code]
(In that endpoint, the Method Response have a HTTP 200 and 500 status code with Result like Response Body Model)

**Environment(please complete the following information

[2019-05-28 19:03] kvasukib commented on #975
@android-bash Thank you for reporting to us. Are you using `TransferService` or `TransferNetworkLossHandler` in your app? These components will check for network connectivity change and pause the on-going transfers when the network is offline and resume them when the network comes back online irrespective of the app being in background or foreground.

[2019-05-28 19:04] kvasukib commented on #977
@ronzeidman This is currently a hard limit imposed by the Pinpoint service. We will take this as a backlog item to add client side validation to enforce the limits imposed by the Pinpoint Service.

[2019-05-28 20:36] minbi commented on #981
Please use [#getStatusCode()](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-apigateway-core/src/main/java/com/amazonaws/mobileconnectors/apigateway/ApiResponse.java#L81) on the result.

[2019-05-28 20:39] minbi commented on #979
Hi @JeetSA ,

When you call `signIn()` is the `onResult` or `onError` called? If the sign-in failed then this behavior is expected.

If the `onError` is called can you provide the entire stacktrace for the exception returned?

[2019-05-29 00:28] minbi commented on #951
Hi @markorakita ,

The `false` that you are referring to actually does something different. It flips between forcing an online check as seen [here](https://github.com/aws-amplify/aws-sdk-android/blob/1b0d944f738e637f79d15db14f895db5e2edf1f5/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L968).

When false (make network calls if necessary), it checks wi

[2019-05-29 03:11] minbi commented on #957
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-05-29 03:11] #957 closed

[2019-05-29 03:14] minbi commented on #960
Thanks for the update. @kvasukib Can you make a note of this crash?

[2019-05-29 03:24] minbi commented on #946
@BartolomeMejia Are you still facing this issue? Have you check out #942 ?

[2019-05-29 14:07] #946 closed

[2019-05-29 15:03] ronzeidman commented on #977
@kvasukib thanks for the response.
From what you're saying can I understand that it's by design? So even when you enforce a client side validation the best thing you can do is to truncate the events to fit the request (and lose the old unsent data) and you won't split it to several requests (conserving all the data). Right?

[2019-05-29 15:41] kvasukib commented on #977
@ronzeidman Not necessarily. The ideal situation would be to batch up-to 100 events in a single network call to Pinpoint and send multiple batches from the events stored in the local database on the device so we avoid data loss.

The limit of 100 events per network call is imposed by Pinpoint service and cannot be altered at this moment. See https://docs.aws.amazon.com/pinpoint/latest/developergui

[2019-05-29 18:30] agalfioni commented on #981
I haven't a method getStatusCode() in Result object. The available methods are getter and setter of properties defined in Model Schema and equals(), hashCode(), toString(), etc...
(Result class is generated from a model defined in API Gateway)

[2019-05-29 20:23] rodrigoarias commented on #964
@kvasukib I've released the app with version 2.13.5 and we've already getting reports of the following:
`Caused by java.lang.IllegalStateException: java.lang.IllegalArgumentException: key == null
       at com.amazonaws.internal.keyvaluestore.KeyProvider18.getKey(KeyProvider18.java:108)
       at com.amazonaws.internal.keyvaluestore.AWSKeyValueStore.setPersistenceEnabled(AWSKeyValueStore.java:138)

[2019-05-29 20:47] kvasukib commented on #964
@rodrigoarias This GitHub issue only covers the crash which appears in the issue description iwhich was fixed in version `2.13.5`. However the crash you are experiencing will be addressed as part of #937

[2019-05-29 21:02] owdeveloper opened #1001 "UnrecoverableKeyException while initializing CognitoCachingCredentialsProvider in Android 6"
**Describe the bug**
Firebase Crash report show many errors/crashs in android.

**Implementation Code**
[code]
[code]
[code]

**Last 5 days - Firebase Crash Error**
[code]
[code]
[code]
[code]
[code]
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment Information (please complete the following information):**
 - AWS Android SDK Version:
[code]
 - Dev

[2019-05-29 21:08] rodrigoarias commented on #964
@kvasukib , ok, then yes, the other issues seems to been fixed

[2019-05-29 21:29] kvasukib commented on #1001
@owdeveloper Sorry for the inconvenience caused.

1) Are you able to reproduce this problem locally?
2) Do you have insights on if the end-user who is experiencing the crash
  2.1) upgraded from an older Android version to Android 6 recently?
  2.2) changed their password recently?
  2.3) set the phone state to NO_LOCK

[2019-05-30 08:00] ronzeidman commented on #977
Thanks, should I track this question for the fix or you've opened a new issue I should subscribed to?

[2019-05-30 14:27] owdeveloper commented on #1001
@kvasukib ,
1 - We can not reproduce this location.
2 - Our users did not report the problem in store.

We are concerned about the volume of errors in the crahs report.

[2019-05-30 16:49] kvasukib commented on #977
@ronzeidman I have tagged this as a feature request, so we will use this GitHub issue for tracking it.

[2019-05-30 17:29] minbi commented on #890
Hi @MushMal, Can you take a look at this issue?

[2019-05-30 17:34] minbi commented on #933
Hi @alphaDroid89 ,

What use-cases are you trying to support? I might suggest you try using [AWSMobileClient](https://aws-amplify.github.io/docs/android/authentication) and also use the latest version of the SDKs, currently 2.13.5

[2019-05-30 17:42] minbi commented on #924
Hi @nchorniy ,  Does @markorakita 's answer help?

A small tidbit to add is: Inside your state listener, when the SIGNED_OUT_USER_POOLS_TOKENS_INVALID state is triggered, you can determine from your own parameters (online/offline, current activity) whether you want to sign-in again or `releaseSignInWait()` to allow the blocked calls to fail. Then the app can just handle the failure case and move o

[2019-05-30 19:07] MushMal commented on #890
@chiragdesai4 the e2e sample with AWS Rekognition integration works with any stream produced into KVS. The stream can be produced using different methods using different platforms. For Android, you have correctly included a link to the demo application which can be used to capture and stream video stream from an Android device. You could also use PutMedia API directly if you have a video clip in t

[2019-05-30 21:32] desokroshan commented on #599
@rafagan For the line that you commented out what value did you use for `updateChangedAttributes`? To give you some context, `updateItem` updates the fields of a given row in DynamoDB table provided the keys(Primary partition key and Primary sort key) are unchanged. If the key values have been altered, the boolean `updateChangedAttributes` will be false in which case a new entry will be made in th

[2019-05-30 21:38] kvasukib commented on #711
@luych888 Sorry for the delayed response. I am currently working on this and will provide an update soon.

[2019-05-30 22:49] #903 closed

[2019-05-30 22:53] kvasukib commented on #710
@usmanrana07 I am trying out adding `@Keep` annotation in the `Operation` interface annitation in `aws-android-sdk-apigateway-core` and see if we enforce keeping the annotation when `minify` is enabled. I will keep you posted on how the testing goes.

[2019-05-30 23:42] alphamu commented on #940
@desokroshan I developed this issue recently on my Pixel (original) and found the following:

- Issue came up after an account had been deleted from cognito and recreated several times (with exact same details, first name, last name, email, phone number, email was set as verified).
- On the Android SDK the user could not login and I would get the `CognitoInternalErrorException`.
- Uninstalling the

[2019-05-30 23:59] alphamu commented on #940
So @eax32 was spot on, I delete the `CognitoIdentityProviderCache` and it works!

[2019-05-31 18:01] ygnessin commented on #937
@kvasukib have there been any updates on this? It is preventing us from keeping our SDKs up to date.

Thanks for all your hard work!

[2019-05-31 18:04] minbi commented on #981
Apologies. If you are looking for a 500 status code, then it should throw an exception as seen [here](https://github.com/aws-amplify/aws-sdk-android/blob/8195815be960a85ead9fb417f235a46253aa1052/aws-android-sdk-apigateway-core/src/main/java/com/amazonaws/mobileconnectors/apigateway/ApiClientHandler.java#L295)

[2019-05-31 18:23] agalfioni commented on #981
Sry but i'm using generated Android SDK as described in documentation [https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-generate-sdk-android.html](url). The problem is that i can obtain response object with statusCode and another info...

To clarify, i need to obtain all statusCodes (like 200, 4xx, 5xx).

[2019-05-31 20:31] minbi commented on #981
The status code 2xx will not be returned and the SDK will read the contents and marshal the response into the models you defined in the service. All other status codes will be returned as an exception.

There are two ways now that you can do this depending on which you think is appropriate for your system.
1. Encode a status code into the modeled response and have your backed always return 200.
2.

[2019-05-31 22:22] alphamu commented on #937
I suspect this issue is related to:
https://github.com/aws-amplify/aws-sdk-android/issues/940
My issue when away when I manually delete all of AWS sdk's sharepreferences.
The issue seems to come up for accounts that have been delete from Cognito any recreated with the exact same details a few times.

[2019-05-31 22:34] kvasukib commented on #940
@alphamu When the user signs out, do you call the appropriate `signOut` method from the SDK? That should clear the contents of SharedPreferences and wipe the credentials and the associated encryption keys used for encryption of those credentials. You don't have to manually wipe the contents of the SharedPreferences.

[2019-05-31 22:45] alphamu commented on #940
Yes, I do. As far as I can tell, it doesn't clear the shareprefernces, in this or any other AWS shareprefernce file.
I simply call `awsMobileClient.signOut()` no callback or anything.

[2019-06-01 00:03] desokroshan commented on #887
@BillBunting My hunch was that either there was a bug in the `@DynamoDBMarshalling` annotation or that its usage was incorrect. I tried using the annotation to map DynamoDB type String to java type Double and it worked as expected and your usage of it seems just fine. In your case I would expect the `@DynamoDBMarshalling` annotation to be invoked at the very least. What is the type of `archived` a

[2019-06-02 04:34] BillBunting opened #1003 "AWSMobileClient.getInstance().showSignIn() buttons do not work after sign-out or invalid token"
**Describe the bug**
When a user needs to sign-in the Auth UI sign-in screen is displayed,  but,  in some cases, the showSignIn screen's buttons may be clicked, give "click" visual feedback, but do not do anything and the user remains on the sign-in screen. The user is unable to sign back in until deleting the app and reinstalling or, in some cases, by terminating the app and restarting it. Clicki

[2019-06-02 08:01] rahulkapoor1 commented on #394
There can be multiple reasons for this issues including -
1. Cert mismatch in passed Keystore
2. Unexpected or non unique client Id, depending on cloud side implementation
3. Wrong pub, sub topics

[2019-06-02 10:05] beersheba opened #1004 "Crash on connecting to MQTT using ALPN"
**Describe the bug**
I'm getting crash on connecting to MQTT using ALPN.

[code]

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
AWS IoT

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.13.4
 - Device: Lp PT7003_AC
 - Android Version: 5.1
 - Specific to simulators: No

**Additional context**
Connect on

[2019-06-02 14:00] Aqsathemes commented on #394
@rahulkapoor1
I resolved this issue, thank you very much.
The problem is in the policy, I changed it from:
`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:*",
      "Resource": "arn:aws:iot:us-east-2:928634954636:topic/*"
    }
  ]
}`
To this:
`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "

[2019-06-03 14:07] BillBunting commented on #1003
Currently testing in 2.13.1, and I don't seem to be able to reproduce the issue.  The problem seems to have started since 2.13.1 and was noted specifically in 2.13.5.

[2019-06-03 17:04] minbi commented on #942
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-06-03 17:04] #942 closed

[2019-06-03 18:01] jarvis32123 opened #1005 "Add acknowledge callback to subscribeToTopic() like the iOS IoT SDK has"
The iOS IoT SDK has an acknowledge callback that is fired when you successfully subscribe to a topic. This is very useful.

Can you add the same thing to the android version?

Thank you.

[2019-06-03 19:33] BillBunting commented on #887
@desokroshan , thank you for your help. Below is the info you requested.

1. Type of the "archived" attribute in DynamoDB table as viewed in the AWS console is sometimes a Number and other times a Boolean. The data type is Number (as set in the iPhone version of the app as follows)

[code]

The value is assigned as follows as a NSNumber with a value of the date or zero (NO):

[code]

The iPhone ap

[2019-06-04 09:25] Herna1994 commented on #890
I am highly interested in this.

I am trying to make an app where the frontal camera and Kinesis starts on MainActivity and keep waiting until a face is recognized, once it is, whenever it´s already on database or not to stop the stream and let me continue.

But I haven´t been able to get both Kinesis  + Rekognition together, it is driving me mad actually. Wish anyone can help on this, and please,

[2019-06-04 12:25] partheebanj opened #1006 "Video upload fails to Amazon S3 bucket inconsistently"
**Describe the bug**
Uploading videos to Amazon S3 fails inconsistently. I have been able to upload videos successfully, but there are certain instances when the upload fails with the following error: com.amazonaws.AmazonClientException: Unable to execute HTTP request: connect timed out.

**To Reproduce**
Uploading videos to Amazon S3

Your code

                val key = AccountSessionManager.aws

[2019-06-04 14:48] agalfioni commented on #981
Great, i was trying to obtain statusCode from the generated SDK and could'nt get it.

When a statusCode 4xx or 5xx is returned as an exception, it's the same exception for all cases? Can you post some documentation, i can't find it.

For the moment i don't need to differentiate 2xx status codes, only 4xx and 5xx status codes.

[2019-06-05 20:13] JaysonSunshine commented on #684
Hey, Amplify

We too have run into this issue. It's very useful to have custom scopes so that we can have fine-grained Cognito authorizers on our API Gateway resource. Any update would be great. :)

-Jay

[2019-06-05 22:37] desokroshan commented on #944
Closing this in favor of https://github.com/aws-amplify/aws-sdk-android/issues/951

[2019-06-05 22:37] #944 closed

[2019-06-06 07:04] jamesatfish commented on #937
Further to the notes I left against [https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/137](https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/137), a number of the users who experience this issue with our apps have had their accounts deleted and recreated in Cognito with the same email address (username) on several occasions.

The only way we can restore access for th

[2019-06-06 15:32] kvasukib commented on #711
@luych888 I have submitted a PR #1002 to allow passing a `JSONObject` containing the configuration from the `awsconfiguration.json` file. You can store the information in JSONObject in your own secure mechanism and provide it at runtime through the constructor.

[2019-06-06 15:59] rahulkapoor1 opened #1008 "AndroidKeyStore with aws"
**Describe the bug**
I am trying to use single keystore which is provided by a provider AndroidKeystore. I am using same key to save multiple certs.

After sending that Keystore to a client, I am getting EOF exception before connection establishment. When I try with single cert in my AndroidKeystore, it start working.

**My assumption**
I can send a same Keystore which can have multiple certs in i

[2019-06-06 17:24] desokroshan commented on #951
We will update this once we have completed the following action items:
1. Updated the documentation
2. Ran some benchmarking experiments.

[2019-06-06 17:37] kvasukib commented on #958
This has been fixed in `2.13.5` version of the SDK. closing the issue.

[2019-06-06 17:37] #958 closed

[2019-06-06 17:39] kvasukib commented on #940
@alphamu @eax32 `AWSMobileClient.signOut()` internally calls `CognitoUser.signOut()` which clears the tokens cached in the SharedPreferences. It clears the access token, id token and refresh token.

However the `lastKnownUser` field is not cleared from the `CognitoIdentityProviderCache ` SharedPreferences and.

Also do you use the rememberDevice functionality through our SDK where it remembers the

[2019-06-06 17:50] kvasukib commented on #1006
@partheebanj Thank you for reporting to us. The exception you reported occurs when the network goes offline when a transfer is in progress. We have two recommendations to checkpoint the transfer and then resume when network comes back online.

1) Using a `TransferService` will register a callback with Android to get notified of the network connectivity changes. When network goes offline, the ongoi

[2019-06-06 18:31] bdhandap commented on #890
@Herna1994 @chiragdesai4  Please take a look at the [KinesisVideo-Rekognition Integration examples ](https://github.com/aws/amazon-kinesis-video-streams-parser-library#kinesisvideo---rekognition-examples).

[KinesisVideoRekognitionLambdaExample](https://github.com/aws/amazon-kinesis-video-streams-parser-library/blob/master/src/main/java/com/amazonaws/kinesisvideo/parser/examples/lambda/KinesisVide

[2019-06-06 20:11] minbi commented on #926
Hi @JeetSA @tvanmanh ,

If you change the method signature to be optional it works fine.

[code]

This is a corner-case we'll have to investigate.

[2019-06-06 20:25] alphamu commented on #940
I wasn't switching devices and I haven't explicit set autoBackup in my
manifest. All my phone's were signed in with the same account, yet
installing the app and signing into an other phone worked.

I am not using remember last known user. Is the SDK configured to remember
the last known user by default? This could explain why even though I
uninstalled the app, the issue remained after reinstalling

[2019-06-06 20:27] alphamu commented on #940
Just checked, seems allowBackup is true by default in the Manifest.

On Fri., 7 Jun. 2019, 3:40 am Karthikeyan, <notifications@github.com> wrote:

[2019-06-07 01:30] Crisp3333 opened #1009 "Update Mutation with null values"
**State your question**
I have an application where certain fields can be null. However, I notice updating fields that contains non-null values, cannot be updated to null. A work around is just setting null fields to the string value `"null"` and checking for this string value during query time, or for update mutation. The work a round is not a hassle, but I was just wondering if this is how `grap

[2019-06-07 03:02] eax32 commented on #940
@kvasukib  our workaround is to clear shared prefs before signin.

[2019-06-07 03:21] tvanmanh commented on #926
Thanks so much!

Vào Th 6, 7 thg 6, 2019 vào lúc 03:11 minbi <notifications@github.com> đã
viết:

[2019-06-07 12:40] cbm-mghebaji commented on #547
@minbi I saw that you changed the status of issue to Product Review. Can you tell me please when do you thing this feature will be released ?
We are waiting for it to use Secrets Manager in our iOS and Android apps.

Thanks for help

[2019-06-07 17:27] desokroshan commented on #1009
Closing in favor of https://github.com/awslabs/aws-mobile-appsync-sdk-android/issues/194

[2019-06-07 17:27] #1009 closed

[2019-06-08 06:41] itaisteinherz opened #1012 "Authentication using phone number only"
**State your question**

I need to authenticate and allow users to login to my app using their phone number only, by confirming it (using a one-time password sent using SMS) on registration and on every login.

How could one go about implementing this?
I already tried using the default Amplify CLI wizard, but the login screen it generated always required me to use a username/email address as the p

[2019-06-10 13:30] shubhamssinghal commented on #328
I am still getting the same issue with latest AWS SDK
along with that at the time of sing out its throwing below exception
" Access Token does not have required scopes "
If anyone got the solution kindly please help me out
Thank You

[2019-06-10 13:30] shubhamssinghal commented on #871
I am still getting the same issue with latest AWS SDK
along with that at the time of sing out its throwing below exception
" Access Token does not have required scopes "
If anyone got the solution kindly please help me out
Thank You

[2019-06-10 15:26] JeetSA commented on #926
It is working fine. Thanks @tvanmanh for your support.

[2019-06-10 15:26] #926 closed

[2019-06-10 18:29] sulewicz commented on #785
This is also affecting Pinpoint SDK.
Any reason why ApacheHttpClient is not used instead?
At least this is how I managed to solve it for now.

[2019-06-10 18:58] #979 closed

[2019-06-10 21:08] imhashir opened #1014 "Not able to call AWSMobileClient.getInstance().getUserAttributes() after SignInState value DONE"
This issue started happening when I updated my AWS dependencies. On the previous version, it logs in perfectly. Following are my current dependencies:

[code]

Here's my code:

[code]

It crashes when I call **AWSMobileClient.getInstance().getUserAttributes()**

Here's the log:
[code]

[2019-06-10 21:53] rodrigoarias commented on #937
Is there any approximate date of when there will be a fix?
More than 75% of my app crashes are due to this.

[2019-06-10 22:13] desokroshan commented on #1004
Can you please share more context around the snippet? The snippet you have shared works fine for me and does not reproduce the error.

[2019-06-10 23:11] kvasukib commented on #937
@rodrigoarias Sorry for the delayed response. We are still working on the issue. Currently we have the following two issues:

Crash in API 23-28: `UnrecoverableKeyException` that occurs intermittently.
Crash in API 18-22: Failure during decryption.

Do you have any successful attempts in reproducing the issue locally?

[2019-06-11 07:43] ahsan7766 commented on #1001
I am also getting the same error as described above.
Alot of reports on google play console and firebase crashes
.at this line
`CognitoCachingCredentialsProvider awsCreds =
                new CognitoCachingCredentialsProvider(context, config);`
and our crash log is
`Caused by: java.lang.IllegalStateException:
  at com.amazonaws.auth.CognitoCachingCredentialsProvider.initialize (CognitoCachingCred

[2019-06-11 08:21] gmamessier commented on #547
@minbi Hello, we are quite interrested too by this update so we can implement SM more easily on our apps. Do you have any idea of when it could be released ?
Thanks a lot

[2019-06-11 10:51] anry200 opened #1015 "AWS SDK does not clean up internal cache on user sign out."
## Describe the bug
AWS SDK does not clean up internal cache on user sign out.

## To Reproduce

**Steps to reproduce**
[code]

**Expected result:**
        User 2 signed in
**Actual result:**
        User 1 signed in

## Which AWS service(s) are affected?
aws-amplify
aws-android-sdk-mobile-client

## Expected behavior
User 2 should be logged in instead of user 1

## Environment Information (pleas

[2019-06-11 12:32] beersheba commented on #1004
Crash happens in `NativeCryptoJni.init()`, on this line:
`System.loadLibrary("conscrypt_jni");`

There are other JNI libs used in the project.
Path to them defined in app build.gradle
[code]
May this be the reason?

[2019-06-11 13:23] rodrigoarias commented on #937
@kvasukib No, I wasn't able in any of my devices

[2019-06-11 14:04] semaspahi opened #1016 "Using "withMaxFaces" with "IndexFacesRequest" with Rekognition SDK"
Hello, as in this https://docs.aws.amazon.com/rekognition/latest/dg/add-faces-to-collection-procedure.html documentation I want to use "withMaxFaces" with "IndexFacesRequest" but realized that mobile SDK doesn't support it.

I'm using AWS Rekognition service with SDK Version: 2.13.6
implementation 'com.amazonaws:aws-android-sdk-rekognition:2.13.6'

I am trying to add max 1 person(biggest face) to

[2019-06-11 14:55] kvasukib commented on #717
@since2014 Sorry for the delayed response. I couldn't reproduce the issue for files of sizes within 1MB.  Are you able to reproduce this problem now? If so, can you paste a code snippet?

What is the content type of the file you are uploading?

[2019-06-11 14:56] kvasukib commented on #711
@luych888 The fix to add a new constructor has been released in `2.13.6` version of the SDK. Please upgrade and let us know if it solves your problem.

[2019-06-11 14:59] kvasukib commented on #972
@markacoss Checking if you are able to reproduce the issue locally? If so, can you share the steps to reproduce?

[2019-06-11 15:39] luych888 commented on #711
Dear Kvasukib,

Thank you so much!

We will try it as soon as possible!

Best Regards!
Yongchun Lu

[2019-06-11 22:31] kvasukib commented on #1015
@anry200 Thank you for reporting to us. I am looking into reproducing the issue.

[2019-06-12 00:21] markacoss commented on #972
@kvasukib I did experience the issue a few times when first switching to the new library but have not been able to reproduce again. Sorry not very helpful.

[2019-06-12 02:22] luych888 commented on #711
Dear Kvasukib，

The solution is work， please help close this issue！

Thanks again~

[2019-06-12 10:54] partheebanj commented on #1006
` tsIntent = Intent(applicationContext, TransferService::class.java)
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O) {
            val notification: Notification = Notification.Builder(this, channelId)
                    .setContentTitle("Upload Service running")
                    .setContentText("Video Upload in process")
                    .setContentIntent(pendingIntent)

[2019-06-12 12:17] crj92 commented on #635
Just following this, is there any update on this, Thanks in advance.

[2019-06-12 14:18] #711 closed

[2019-06-12 14:22] kvasukib commented on #1006
@partheebanj Thank you for the information. Do you get a `onStateChanged()` callback with `WAITING_FOR_NETWORK` state when you use `TransferService`? Also have you declared `TransferService` in the `AndroidManifest.xml` file?

[2019-06-12 15:05] kvasukib commented on #1016
@semaspahi Thank you for reporting to us. We are working on to update the low-level client with the latest changes from Amazon Rekognition.

[2019-06-12 19:44] kvasukib commented on #1014
@imhashir Thank you for reporting to us. I tried the following and I was able to retrieve the user attributes of the signed-in user when the `SignInState` is `DONE`.

[code]

[code]

From the logs you posted here, I can see that the signIn operation has not succeeded because it failed while federating the token.

Caused by: com.amazonaws.services.cognitoidentity.model.InvalidIdentityPoolConfigurat

[2019-06-12 20:35] kvasukib commented on #1015
@anry200 I tried with the following code and I couldn't reproduce the issue. I got two different set of user attributes (different subs) in the sub field of the user attributes.

[code]

Can you verify if the sub field in the user attributes of two different users are same or different?
How are you comparing the user attributes of the different users?

[2019-06-12 22:52] #933 closed

[2019-06-12 22:53] #975 closed

[2019-06-12 22:53] #599 closed

[2019-06-13 10:34] midaslefkowitz opened #1017 "TransferUtility adjust TransferNetworkConnectionType"
My android app uses AWS Transfer Utility to facilitate transferring videos to and from an S3 bucket. The app has a setting (which the user can adjust) to allow transfers via Wifi only or to allow transfers regardless of connection type.

The current version of the android amazon sdk allows the developer to pass a TransferNetworkConnectionType in the options that are used in the TransferUtility bui

[2019-06-13 17:03] kvasukib commented on #889
We are adding this issue to our backlog. We will post an update here when we get to it.

[2019-06-13 19:58] desokroshan commented on #1004
I would strongly suspect that to be the case. Modifying the default source set configuration to point to different directory for prebuilt .so files changes the place where Gradle looks to gather file for each component of the source set and being unable to locate `libconscrypt_jni.so` throws up the stack trace you shared. Could you try to reproduce this issue in the following sample app with the s

[2019-06-13 20:33] imhashir commented on #1014
Thanks for your response. Everything is working on the current version of my application that uses the same identity pools/user pools but uses a previous API version. This issue seems to be happening after updating API version.
After a bit more search, I found that others are having similar issues on this API version.

One of them is this #942 and the other one is [this SO question](https://stacko

[2019-06-13 21:17] desokroshan commented on #1008
@rahulkapoor1 Thanks for reaching out. The connect APIs do not explicitly iterate over all the certificates in the KeyStore to ensure a matching cert but you can use [`AWSIotKeystoreHelper.getIotKeystore`](https://github.com/aws-amplify/aws-sdk-android/blob/1d492dc7d8ad37a14596ddc337ba1a0733ec1182/aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotKeystoreHelper.java#L207-L

[2019-06-13 23:35] palpatim opened #1018 "Lex sample requires CognitoAuth SDK"
**Describe the bug**
Following the instructions on the [Lex Sample App](https://github.com/awslabs/aws-sdk-android-samples/tree/master/LexSample) in the Android Sample Repo, I ran into two problems attempting to initialize AWSMobileClient:

1. The AWS CLI injected an "Auth" section into the generated `awsconfiguration.json` file, despite my not using Hosted UI
1. The SDK would not properly intiali

[2019-06-13 23:37] minbi commented on #948
Hi @aslamhossin ,

How are you trying to sign-in? If you are using `federatedSignIn` token retrieval is not currently supported.

Sample code:
[code]

[2019-06-13 23:59] desokroshan commented on #887
@BillBunting Thanks for the all the details. Your code looks just fine and your custom marshaller should have been invoked. I would still need to investigate what causes the DoubleUnmarshaller to be invoked and yield the stack trace that you have shared. Would it be possible for you to reproduce the issue with this sample app :

https://github.com/awslabs/aws-sdk-android-samples/tree/bf648d2f7702c

[2019-06-14 02:30] aslamhossin commented on #948
Is there any exception caught? In my case, it was my in configuration.json, so please recheck your configuration JSON and removed the unused part from it otherwise it will try to configure unused part and failed.

[2019-06-14 08:22] itdextrous opened #1019 "Useage of google auth"
Hello sir/ma'am
please assist me how i can use google integeration in aws conginto

[2019-06-14 09:55] imhashir commented on #1014
I used the method mentioned at the end of [this reply](https://github.com/aws-amplify/aws-sdk-android/issues/942#issuecomment-491978498) and it worked. Don't know if it's going to have any bad impact or any other issue later on, but for now, it's working.

[2019-06-14 10:39] Junaid1111 opened #1020 "Unable to add TagResource in amazon SNS"
Hi,
I have tried many different gradle links starting from 2.2.9 to 2.13.6 but still tagresource function is missing....!

Amazon SNS Offical Docs say you can add tag to amazon sns Topic...!

https://docs.aws.amazon.com/sns/latest/dg/sns-tutorial-list-add-remove-tags-for-topic.html

but i am unable to find that function...!

[2019-06-14 15:51] minbi commented on #948
Thanks for the followup.

For future readers:
The AWSMobileClient will read all relevant parts of the awsconfiguration.json and use all relevant parts. If there are resources identified in your awsconfiguration.json that are not configured to work together they should be removed in the case of AWSMobileClient.

Closing this issue.

[2019-06-14 15:51] #948 closed

[2019-06-14 18:55] #1008 closed

[2019-06-15 17:11] markorakita commented on #951
@minbi Today I encountered another issue with using AWSMobileClient.getInstance() as a credentials provider.

If you create a table in DynamoDB and you want to set fine grained policy to allow users to query only fields in the table that they added, you have to create a table with primary key being UserID. I tried setting user sub as UserID since policy has a condition:
[code]

But that doesn't wo

[2019-06-17 02:43] kvr2277 commented on #450
Is there a way to schedule notification to single user/single endpoint? Currently what I'm aware is that we need to create campaigns to schedule notifications in future. If there's a way to schedule notifications (say send a push notification to user after 1 hour from now reminding him to check the app again etc)

[2019-06-17 07:11] narisakor opened #1040 "AWS Secrets Manager for Android"
I want to implement the AWS Secrets Manager on Android application but I can't find the document or sample code of "aws-sdk-android". please suggest to me.

[2019-06-17 08:22] sim7087 opened #1041 "Unable to get attribute 'UserSub' in response of /signUpInBackground API call"
**Which AWS Services is the feature request for?**
Retrieval of 'UserSub' in signUpInBackground/ signUp API's response.

**Is your feature request related to a problem? Please describe.**
Actually, UserSub is basically a Cognito UUID which helps us find users in the backend through this uniques identifier. So, retrieving it at the time of sign up was required in the application. Because of this li

[2019-06-17 15:05] kvasukib commented on #1017
@midaslefkowitz Thank you for reporting to us. This is currently a limitation of `TransferUtility`. The current design does not allow us to use a different network connection type for each transfer. I will take this as a feature request to the team for prioritization.

Meanwhile, I wanted to suggest a workaround and see if that works for you. You can construct a `TransferUtility` object for each t

[2019-06-17 15:08] kvasukib commented on #1019
@itdextrous Can you provide more details around what issue you are running into while integration Google SignIn with Amazon Cognito?

Here is the [link](https://aws-amplify.github.io/docs/android/authentication#google-with-cognito-identity) to our docs which explains how to integrate Google SignIn with Amazon Cognito.

[2019-06-17 15:10] kvasukib commented on #1020
@Junaid1111 Sorry for the inconvenience caused. We are looking into generating the SDK for the updated model.

[2019-06-17 15:10] kvasukib commented on #547
#1040 will be tracked here.

[2019-06-17 15:11] kvasukib commented on #1040
Thank you for reporting to us. We will track this request as part of #547 issue. Closing this issue.

[2019-06-17 15:11] #1040 closed

[2019-06-17 16:04] midaslefkowitz commented on #1017
@kvasukib, thanks for replying. Your workaround is a good idea, however I also need to be able to change the preferred network connection for requests that are already queued and/or in progress. The reason for this is (for example) if a user has aqueued

[2019-06-17 17:25] kvasukib commented on #1041
@sim7087 Are you using `AWSMobileClient` (`aws-android-sdk-mobile-client`)? The `SignUpResult` returned from SignIn https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/results/SignUpResult.java currently does not have the `userSub`. We will add it to `SignUpResult`.

[2019-06-17 17:28] kvasukib commented on #1017
@midaslefkowitz Have you tried using `TransferUtility.resumeAllWithType()` to resume the paused transfers? When doing so, you could construct a `TransferUtility` instance with the preferred network connection type.

[2019-06-18 08:50] midaslefkowitz commented on #1017
Just to clarify, you are saying that I can have two `TransferUtility` instances, each with a different `TransferNetworkConnectionType`. Let's call them AnyNetworkTransferUtility and WifiOnlyTransferUtility.

Then, if the user decides that they want to change their preferred network connection type (from ANY to WIFI for example), I can simply pause all transfers on the AnyTransferUtility object and

[2019-06-18 10:31] shubhamssinghal opened #1042 "How to refresh the Refresh Token?"
I am using AWS SDK for authentication
After every 1 hour , refresh token get expired so how to regenerate the refresh token or refresh the session so that user does not need to login again

[2019-06-18 10:33] shubhamssinghal opened #1043 "How to know expiration time of refresh token?"
Is there any function in aws android sdk to know expiration time of refresh token as we want to check if it is less than or equal to 1 hr or not ?

[2019-06-18 10:48] partheebanj commented on #1006
[code]

We are currently using onStateChanged with TransferState.COMPLETED and TransferState.FAILED

[2019-06-18 15:31] beersheba commented on #1004
@desokroshan Can't build the sample app in Android Studio 3.4.1. Getting this error:
`Gradle sync failed: Plugin with id 'com.android.application' not found.`

Please suggest.

[2019-06-18 20:41] rohandubal commented on #1042
Hello @shubhamssinghal

You can update the refresh token duration from service side (max of 10 years is possible) to ensure that new token is fetched always. If the duration of refresh token is shorter, the user will have to sign in again.

Thanks,
Rohan

[2019-06-18 20:52] rohandubal commented on #1043
Hello @shubhamssinghal

There isn't a way in which I believe we can know the expiry of refresh token. I will . check with service team and update back.

Thanks,
Rohan

[2019-06-19 06:07] shubhamssinghal commented on #1043
Hello @rohandubal
If any method exist please convey me
Thank You

[2019-06-19 06:17] shubhamssinghal commented on #1042
Hello @rohandubal
Sorry for misunderstanding, what i want is to get new Id and access Token as it expires after every one hr. as per Doc Id and access token can be regenerate with the help of refresh token. initiateAuth method. But not able to access this method in my sdk. Can you please share some example code to update Tokens.

[2019-06-19 06:21] shubhamssinghal commented on #1043
Hello @rohandubal , Normally we have provided 10 years in refresh token expiration time, But we are performing AdminGlobalSignout method to revoke all sessions of a user, if he login via new device. As per doc it takes 1 hr to revoke tokens, Thats why i need to know is there a work around to know expiration time of refreshToken.

[2019-06-19 09:16] narindermalik2 commented on #328
Hi, I am also getting this exception due to which my success block doesn't execute. I am willing to ignore this error but how i will get the session object then?

[2019-06-19 09:17] narindermalik2 commented on #871
Hi, I am also getting this exception due to which my success block doesn't execute. I am willing to ignore this error but how i will get the session object then?

[2019-06-19 09:55] LuzianW commented on #937
We are also getting reports of this crash on some users' devices, after updating SNS SDK to 2.13.5
(`com.amazonaws:aws-android-sdk-sns:2.13.5`)

Devices reported:
- Samsung SM-G710L (`KTU84P.G710LKLUBPK1` / `ms01ltelgt`), Android 4.4.4
- Wiko RIDGE FAB 4G (`l5320`), Android 5.0.2

Also not able to reproduce on local devices.
If stack traces could be of help, let me know.

[2019-06-19 11:49] narindermalik2 commented on #871
Solved. In my case, I was not passing the deeplink after the custom scheme in the redirect url. So essentially the the redirect url in the Auth Builder should look somehting like "appscheme://xyz1x.app.goo.gl/abcd1efGHi2jklmN3". The string after appscheme:// should be the deep link (without the https)

[2019-06-19 12:00] narindermalik2 commented on #328
Solved. In my case, I was not passing the deeplink after the custom scheme in the redirect url. So essentially the the redirect url in the Auth Builder should look something like "appscheme://xyz1x.app.goo.gl/abcd1efGHi2jklmN3". The string after appscheme:// should be the deep link (without the https)

[2019-06-19 18:54] desokroshan commented on #1004
@beersheba I have created  a PR, referenced above, updating the gradle version in the sample to the latest. Can you please try it out confirm if it works?

[2019-06-19 20:09] SolisNestor commented on #937
Hello, I think I have the same problem and I reproduce it with the following steps:

- In the manifest file set the parameter allowBackup to True (android: allowBackup = “true”)
- Install and run the application, get a token with Cognito (At this time everything works fine)
- Uninstall the app
- Reinstall and open the application. When trying to get the token the problem is generated

I think the

[2019-06-20 06:37] ygnessin commented on #937
@SolisNestor nice find!

I can confirm that in our app we also have the following in our manifest:
[code]
In our `backup_scheme.xml` there are certain domains that we exclude, for example:
[code]
Perhaps there is a solution for this issue that can be implemented by excluding a certain domain/path from backup?

Thanks!

[2019-06-20 09:38] beersheba commented on #1004
Yes, branch update-pubsub-sample can be built on my side

[2019-06-20 15:49] kvasukib commented on #1017
@midaslefkowitz You are right. The network connection type is being stored in the transfer database. A transfer if started with a particular network connection type, for example WiFiOnly will need that network connection type to complete.

I will take this design choice we made to the team for further discussion and evaluate if we could change this behavior. Thank you for pointing it out.

[2019-06-20 19:24] kvasukib commented on #972
@markacoss Thank you for the response. I will add the closing soon label to this issue for now. Please feel free to re-open when you are able to reproduce it locally and if you get logs and crash report. Thanks.

[2019-06-20 19:25] #964 closed

[2019-06-20 19:29] kvasukib commented on #960
@mbk820 Thank you for the bug report. I will track this crash as part of #937 issue. Closing this issue.

[2019-06-20 19:30] #960 closed

[2019-06-20 20:16] kvasukib commented on #951
@markorakita Yes, you're right. You could do `AWSMobileClient.getInstance().getIdentityId()` to retrieve the Cognito Identity ID and use it in your app. Please let us know if you have any other questions.

[2019-06-20 22:59] kvasukib commented on #541
@fdelaporte Sorry for the delayed response. I am able to reproduce the issue successfully.

Single-part upload:

[code]

Multi-part upload:

[code]

I see that for multi-part uploads, the Tags miss the key1=value1. I will look into fixing it.

[2019-06-21 08:03] narindermalik2 commented on #871
Same here

[2019-06-21 10:17] ajayprakashshukla commented on #310
I think there is space at a encoding time, that's why there showing %20. When we can remove space then there not will be show %20.

[2019-06-21 18:51] ekkelenkamp opened #1045 "AndroidManifest.xml app scheme doesn't match documentation"
**Describe the bug**
The AndroidManifest.xml app scheme doesn't match documentation. See:

https://github.com/awslabs/aws-sdk-android-samples/blob/master/AmazonCognitoAuthDemo/app/src/main/AndroidManifest.xml

The value is set as follows:

 <data android:scheme="demoapp" android:host="demo.cognitoauth.com" android:path="/signin"/>

**To Reproduce**

[code]
When following the lab example, the follo

[2019-06-21 19:58] BillBunting commented on #887
@desokroshan , thank you for looking at the code.  I don't have the resources at this time to set up and test the bug in the demo application.  I put it in my backlog.

[2019-06-22 01:25] appfactoryCo opened #1048 "AWS Cognito User Pool Setup"
I'm new to AWS

I'm having trouble working on a project with AWS SDK already setup.

I wanted to start fresh with terminal commands: `amplify remove api` and `amplify remove auth` and then `amplify add api` and `amplify add auth`. Not sure, but in my mind, this will change the AWS API to work with my AWS account.

but then I get GraphQL endpoint link that leads me to a page with this error:

    {

[2019-06-22 09:00] ekkelenkamp commented on #937
I see the same issues on the example provided on github: https://github.com/awslabs/aws-sdk-android-samples/tree/master/AmazonCognitoAuthDemo
The issue happens most of the time if the allow backup is enabled.

[2019-06-23 08:09] beersheba commented on #1004
@desokroshan crash is reproduced with AndroidPubSub project.
It happens on adding

[code]
to `defaultConfig` of **build.gradle**

[2019-06-24 02:13] jasan-s commented on #540
@gauravk95  i wanted to use firebaseAuth for web in cognito. were you ever able to get it working for android?

[2019-06-24 07:42] shubhamssinghal opened #1050 "Re-generate Access and Id token after every 1 hour in android"
To get new Id and Access token we are using this **AWSJAVASDK-cognitoidp** method
 --   implementation 'com.amazonaws:aws-java-sdk-cognitoidp:1.11.360'

But in **AWSAndroidSdk-cognitoidentityprovider**  we do not have adminInitiateAuth method of class AdminInitiateAuthResult which is found only in above **AWSJavaSDK**
 --  implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.6.3

[2019-06-24 18:23] rohandubal commented on #1043
Hello @shubhamssinghal

I checked with the service team, and this is currently not supported.

Thanks,
Rohan

[2019-06-24 18:25] #1043 closed

[2019-06-24 19:19] logo17 opened #1051 "AuthenticationType Android Mobile Client"
Is there a way to set the AuthenticationType as USER_PASSWORD using the AWSMobileClient on Android?

- SDK AWSMobileClient

*com.amazonaws:aws-android-sdk-mobile-client:2.13.6*

 - SDK Version: [2.13.6]

[2019-06-24 23:14] #854 closed

[2019-06-25 06:20] minionsong commented on #670
Anyone here?
I changed intent's flag from `FLAG_ACTIVITY_NO_HISTORY | FLAG_ACTIVITY_NEW_TASK` to `FLAG_ACTIVITY_SINGLE_TOP`
After that it works good on 2-factor authentication but `chrome custom tab` intent is remain on history stack. Also I can call multiple `chrome custom tab`s all intents are remain on stack.
which flag is better for this?

[2019-06-25 11:51] narindermalik2 opened #1053 "(Android & iOS) Cognito Hosted UI : After re-login - shouldn't ask for OTP"
**Describe the bug**
**Is your feature request related to a problem? Please describe.**
Generally cognito's behaviour is that once a user has logged in by entering credentials and OTP, re-login only requires entering credentials but not OTP again. However, in the case of using the cognito hosted UI. OTP screen comes on every login

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cogn

[2019-06-25 15:57] palpatim commented on #1048
@appfactoryCo

This appears to be a CLI question. Unfortunately I don't have permissions to transfer the issue to that repository, but you can open this issue at https://github.com/aws-amplify/amplify-cli/issues and the CLI team can help investigate.

[2019-06-25 15:57] #1048 closed

[2019-06-25 16:07] palpatim commented on #1050
@shubhamssinghal

The JavaSDK is not compatible with Android, so the duplicate class error is expected.

We suggest using [AWSMobileClient](https://aws-amplify.github.io/docs/android/authentication) for authentication, which transparently handles token refreshes as needed.

[2019-06-25 19:05] undefobj commented on #1012
@itaisteinherz We chatted about this internally and here is the status:
- If you want to just use a phone number AS the username, just select that option and use the phone number for the input field. You might have to build out your UI with `AWSMobileClient` rather than using drop-in auth but it's doable
- If you want an "Alternative SignIn" option, meaning "just select the standard “username only

[2019-06-25 20:20] itaisteinherz commented on #1012
@undefobj If I understood you correctly, what I'm looking for is the second option. I'll open an issue over at the CLI repo.

[2019-06-25 20:26] itaisteinherz commented on #1012
Moved to aws-amplify/amplify-cli#1723.

[2019-06-25 20:26] #1012 closed

[2019-06-26 07:14] AlexKashi opened #1055 "Multiple Push Notification Channels with Pinpoint"
**State your question**
I created an app that has multiple push notification channels, eg feed comments, likes, messages.

Is there a workaround enable/disable push notifications for each channel individually. When creating an EndpointProfile, on the android device, optOut is an all or nothing approach.

To send the push notification I am using a Lambda function and calling the [send_users_message

[2019-06-26 07:35] VirRajpurohit commented on #687
@minbi
Can we expect any update on the same?

[2019-06-26 12:31] anry200 commented on #956
I have the same stack trace on Sign out

Steps to reproduce:
AWSMobileClient.signin(..)
AppSync make subscription
AppSync mutate call
AWSMobileClient.signout(..)

Actual result:
App Crashed with stack trace above

Expected result:
Not so many crashes inside SDK...

[2019-06-26 14:21] palpatim commented on #1055
In Pinpoint terms, "Channel" is a delivery method like Email, APNS, or FCM. As such, a customer opts in or out to that channel on an all-or-nothing basis. It sounds like what you could do is set endpoint attributes with notification preferences, define [Pinpoint segments](https://docs.aws.amazon.com/pinpoint/latest/developerguide/audience-define.html) with those more granular preferences, and deli

[2019-06-27 03:51] Gperez88 commented on #1041
@sim7087 do you found workaround?

[2019-06-27 05:15] sim7087 commented on #1041
Yes I found workaround. Now, I am using REST API for retrieving UserSub

On Thu, Jun 27, 2019 at 9:21 AM Gabriel Perez <notifications@github.com>
wrote:

[2019-06-27 06:31] AlexKashi commented on #1055
Thank you for the timely response.

After examining the pinpoint documentation I am aware that I can specify notification preferences by adding custom endpoint attributes to my endpoint profile.

I am finding it difficult to understand how to generate a segment for a single user. It seems as though I would have to make a different segment for each user by hardcoding the userId in a user attribute.

[2019-06-27 13:03] LuzianW commented on #937
We downgraded the SNS SDK from 2.13.5 to 2.12.5 (based on some reports here, it seemed that this might solve the issue for the moment), but still get this error reported from some user devices.

[2019-06-27 14:56] #951 closed

[2019-06-27 19:26] #972 closed

[2019-06-27 20:12] kvasukib commented on #1006
The `TransferUtility` when used with `TransferNetworkLossHandler` pauses the transfers when network goes offline. However there are certain circumstances where the transfer cannot be paused and eventually fails with `TransferState` set to `FAILED`.

1) When app is in background and if there is an active transfer that is in progress and network goes offline, it depends how `TransferNetworkLossHandl

[2019-06-27 20:14] kvasukib commented on #940
I am closing this issue and linking to the main issue #937 where we track this bug.

[2019-06-27 20:14] #940 closed

[2019-06-27 20:26] #717 closed

[2019-06-27 20:26] #924 closed

[2019-07-01 07:45] beersheba commented on #1004
@desokroshan can you please check it and provide an update?

[2019-07-01 10:24] usmanrana07 commented on #710
@kvasukib do you have any update or any idea that how long it may take to resolve the issue as my app is on stake due to this issue as i can't obfuscate it.

[2019-07-02 13:29] NiaNingXue opened #1061 "Repeat refresh token"
**Describe the bug**
I user name and psw to sign in
[code]
but the logcat repeat to log, when I use s3 to upload, it report that the token is invalide
here is the log
[code]

**Which AWS service(s) are affected?**
s3

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.13.6

[2019-07-02 16:35] santaclawn commented on #394
My device was ahead of actual time. Then I set it to get the time automatic from net, it actually solved the problem! Thx.

[2019-07-02 23:12] AlexKashi commented on #1055
I figured it out. In a lambda function, you can send a push notification to a client with the send_user_messages API, while including a custom data field encoding the Android notification channel.

[code]

In the Android App on can specify the notificationChannelId in the [NotificationDetails](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobileconnectors/pinpoint/targ

[2019-07-02 23:12] #1055 closed

[2019-07-03 02:20] virtualprodigy opened #1063 "Image URL for S3 Image. S3 configured for Authenticated Users"
**State your question**
 Is there a way to get a URL for images stored on s3?
I set up my S3 bucket using the `Amplify CLI` to allow authenticated users to view images stored in an `S3 bucket`. I am used amplify to setup an `Amazon Cognito User Pool` to provide access to `S3`. I tried manually constructing the URL in the format `"https://[application.bucket].s3.amazonaws.com/[key]"` but it seems t

[2019-07-03 16:30] kvasukib commented on #956
@zhiyua-git Sorry for the delayed response. Your call to getTokens() is coming from isSignedIn(). Can you move that call to a background thread and wait until the operation is done to check it?

@anry200 The error you are experiencing is due to the fact that the user is signed out and the credentials are cleared on the device, however there are AppSync operations that are invoked after the user is

[2019-07-03 18:11] dayona commented on #854
I am Still facing this issue - scenario 1)
Is there a change which fixed it ?

Device Oneplus 6
Camera preview on device Is correct but on web application its rotated Left .

[2019-07-03 19:43] chintan2181997 commented on #909
I am getting below errors When i execute MAke module from your step 4.?

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':aws-android-sdk-core:getApi23'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskEx

[2019-07-03 19:59] kvasukib commented on #909
@chintan2181997 Sorry for the inconvenience caused. I have documented the instructions to build the SDK here: https://github.com/aws-amplify/aws-sdk-android/blob/develop/README.md#pre-requisites-to-build-the-sdk

[2019-07-03 20:49] kvasukib commented on #909
@zhiyua-git Thank you for the update. I will update the libs with the latest.

[2019-07-03 21:09] kvasukib commented on #1063
@virtualprodigy Thank you for reporting to us.

You can generate a pre-signed URL for the object you are accessing and use the pre-signed URL as the image URL.

You can look at one of our tests (https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/model/GeneratePresignedUrlRequestIntegrationTest.java#L135) for reference o

[2019-07-03 21:13] kvasukib commented on #1061
@NiaNingXue Can you post a code snippet of how you are using our SDK to upload files to S3?

The following code snippet will let you initialize `AWSMobileClient` and use it to get `AWSCredentials` that can be used with `TransferUtility` to upload files with S3.

[code]

Source: https://aws-amplify.github.io/docs/android/storage