[2019-07-03 21:21] kvasukib commented on #1051
@logo17 Thank you for reporting to us. Sorry for the inconvenience caused.

The `AWSMobileClient` does not let you specify the `AuthenticationType`. You need to use the `aws-android-sdk-cognitoidentityprovider` SDK in order to specify the `AuthenticationType`.

You can read our [API Reference](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobileconnectors/cognitoidenti

[2019-07-03 21:27] kvasukib commented on #1014
Closing this issue. Please feel free to re-open if the issue still persists.

[2019-07-03 21:27] #1014 closed

[2019-07-04 05:00] virtualprodigy commented on #1063
@kvasukib This was exactly what I needed. Thank you so much.

[2019-07-04 05:00] #1063 closed

[2019-07-04 18:15] deepakrokz commented on #903
Hi @kvasukib
Sorry for the delay in response, I am using TransferService.
I am starting this service in Application class
startService(new Intent(mInstance.getApplicationContext(), TransferService.class));

and about retry and upload handling using this code intialization
`private void initData() {
        transferRecordMaps.clear();
        // Use TransferUtility to get all upload transfers.

[2019-07-05 22:26] kvasukib commented on #777
We release the fix in `2.13.7` version of the SDK. Please refer to the [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#change-log---aws-sdk-for-android) for more details.

[2019-07-05 22:26] kvasukib commented on #977
We release the fix in `2.13.7` version of the SDK. Please refer to the [CHANGELOG](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#change-log---aws-sdk-for-android) for more details.

[2019-07-06 07:57] mbk820 commented on #777
Ok, @kvasukib let me update the version and see if new version eliminates crashes from the application. Thanks.

[2019-07-06 18:25] addodelgrossi opened #1065 "Error execute createMediaSource using sdk version 2.13.+"
**Describe the bug**
When you run the `kinesisVideoClient.createMediaSource` method, the error is returned:

[code]

The problem occurs when using sdk **com.amazonaws: aws-android-sdk-kinesisvideo: 2.13.** +, If you use the **com.amazonaws: aws-android-sdk-kinesisvideo: 2.11.**  The problem does not occur.

**To Reproduce**
You can reproduce the problem using the AWS AmazonKinesisVideoDemoApp samp

[2019-07-08 09:30] partheebanj commented on #1006
- We are not using TransferNetworkLossHandler exclusively in our project, but it is being used within the AWS SDK (in TransferUtility).

- We are using TransferService as Foreground Service in Oreo and above OS devices.

**Please specify a way to detect and avoid a race condition as mentioned in point 2 above.**

[2019-07-08 11:51] Junaid1111 commented on #1020
Any Update???

[2019-07-08 12:10] mlabieniec commented on #1020
We have planning today and will take a look at pulling this in.

[2019-07-08 12:40] Junaid1111 commented on #1020
Please let me known when its done,
Thanks,

[2019-07-08 17:35] kvasukib commented on #1065
@zhiyua-git Can you have a look at this? Thanks.

[2019-07-09 09:41] hoangtran-agilityio opened #1066 "Federation from the Hosted UI failed"
**Describe the bug**
Trying to use Hosted UI for Authentication Follow this [link](https://aws-amplify.github.io/docs/android/authentication#manual-setup-1)

But it throws this
[code]
- It created an user in the user pool. But throw error above

**To Reproduce**
[code]

**Expected behavior**
Create an user in user pool and able to login

**Environment Information (please complete the following inf

[2019-07-09 18:37] ArthurSav commented on #937
Getting quite a few crashes, using `2.13.4`

[code]

[code]

Is the issue being worked on?

[2019-07-10 16:39] #923 closed

[2019-07-10 20:20] marcaoortega commented on #937
We Downgraded to 2.12.5 now;

Subcribed here, for news , about this issue !

Thanks !

[2019-07-11 08:15] woanversace commented on #1066
@royjit Any update on this issue?

[2019-07-11 08:21] willhappenio commented on #1066
Stuck in same issue. Any Idea?
Trying to working around with Cognito > Auth0 > Social Accounts

[2019-07-11 18:03] royjit commented on #1042
Hi @shubhamssinghal,

Please refer [here](https://aws-amplify.github.io/docs/android/authentication#token-fetch-and-refresh) on documentation and code sample for refreshing token.
To initialize an app with auth you can refer [here](https://aws-amplify.github.io/docs/android/authentication#initialization).

[2019-07-12 05:46] psyrenpark commented on #1018
thanks~ ^^
your nice

[2019-07-12 14:33] Gingeskahn18 commented on #296
# Push - i have the same Problem here

[2019-07-12 14:36] Gingeskahn18 opened #1067 "Cannot evaluate $Proxy6.toString()"
**Describe the bug**
My problem is when I'm trying to create the client which request the apis this error is throwed:

Method threw 'com.amazonaws.mobileconnectors.apigateway.ApiClientException' exception. Cannot evaluate $Proxy6.toString().

Your code
apiClient = new ApiClientFactory()
        .credentialsProvider(AWSMobileClient.getInstance())
        .build(FacebookrestapiClient.class);

**Whic

[2019-07-12 15:31] markorakita commented on #951
@minbi Hi, have you had a chance to run the benchmarks yet?

[2019-07-12 23:10] #977 closed

[2019-07-14 18:26] addodelgrossi opened #1068 "Add Tag to Video Stream is not implemented KinesisVideoClient"
**Which AWS Services is the feature request for?**
Add a tag to a Video Stream

**Is your feature request related to a problem? Please describe.**
Tags are important resources for video identification and classification.

**Describe the solution you'd like**
The video is created with two defaults tags that the SDK includes, but they are not possible to change through the SDK.

**Describe alternati

[2019-07-15 07:26] BaranEm commented on #122
@shaivyaaggarwal @jayabals28 Could you solve the issue? I'm facing the same despite I put the code in an AsyncTask block.

[2019-07-15 14:50] palpatim commented on #1068
@MushMal could you take a look at this?

[2019-07-16 10:14] BaranEm commented on #1067
I have the same issue here. Tried every possible solution I found in the web, but nothing worked..

[2019-07-16 11:16] Gingeskahn18 commented on #1067
@BaranEm

Whats thinks you tried?

[2019-07-17 14:23] qwertynature commented on #684
Any update on this?

[2019-07-17 14:50] alphaDroid89 opened #1073 "How to clear active user session in Android Cognito"
Hi Team,

Here is my use case,

Consider my user name and password as "alpha01@xyz.com" and "Hello@1234" respectively.

- I logged in my application with the above valid credentials I got the expected result.
- Now I Kill/remove the application from the stack by using the recent button.
- As per my requirement, I need to force the user to log in at each time my application is launched.
- **Now the

[2019-07-17 17:32] palpatim commented on #1073
@alphaDroid89

If you require users to sign in on every app launch, the best way to ensure that behavior would be to sign out at every app launch prior to presenting any UI. Simply providing a sign in UI at app launch isn't sufficient to clear locally cached tokens.

Are you saying that the login succeeds even when signing in with the wrong password? Signing in while the user is already signed in

[2019-07-18 08:11] Gingeskahn18 commented on #1067
Morning. What thinks you tried?

[2019-07-18 08:12] markorakita opened #1074 "Pinpoint is losing events when device is offline"
**Describe the bug**
When device is offline, if you call **pinpointManager.getAnalyticsClient().submitEvents()** it will drop events with this message:
`E/EventRecorder: AmazonClientException: Failed submission of 3 events, events will be removed from the local database.`

The bug is in [EventRecorder ](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-pinpoint/src/main/ja

[2019-07-18 15:58] #1019 closed

[2019-07-18 16:58] #1050 closed

[2019-07-19 17:11] BaranEm commented on #1067
@Gingeskahn18 I searched the web & the aws forum for the issue, but nothing helped. In my case not `$Proxy6.toString()` was thrown, but `$Proxy0.toString()`. My code (communication with backend apis) works now and this error is still thrown, but only presented to me when debugging.

Something must be wrong with the way you are creating the client I guess. I'm not sure whether it will help you, but

[2019-07-19 21:05] #1015 closed

[2019-07-19 23:18] saltedpotatos opened #1078 "idToken not retrieved from stored cache without an artificial delay"
**Describe the bug**
We use a Cognito id token to make an authenticated request to API Gateway.

When using the apigateway library, I ran into issues referenced in  #767 and parsed everything manually. So I decided to drop apigateway and make the requests in retrofit.

To obtain the id token, I call
` val idToken = AWSMobileClient.getInstance().tokens.idToken.tokenString`

If I open the app in a s

[2019-07-20 11:07] alphaDroid89 commented on #1073
@palpatim Thanks for the quick response. Am also trying to log out the user before application launch.  In that case, some time logout call will go onFailure block.

[2019-07-22 01:27] addodelgrossi commented on #1065
@zhiyua-git some idea ? Unfortunately only working with version 11, when updating occurs the error above. Thanks.

[2019-07-22 11:08] JeetSA opened #1082 "Global Sign Out is not working"
**Describe the bug**
When we login into 2 devices and we sign out globally from one device, in other device the sign in state is true. After signing out from one device when we try to sign out globally, it is returning exception with error "Access Token has been revoked".

**Steps to Reproduce**
- Sign in into 2 devices and globally logout from one device.
- Check sign in state in other device.

*

[2019-07-23 08:00] namanh007 commented on #871
Please help me, i creating flugin flutter with hostedUIAws and getting problem :( please tell me why?
LOGIN: onError:
    com.amazonaws.mobileconnectors.cognitoauth.exceptions.AuthNavigationException: user cancelled
        at com.amazonaws.mobileconnectors.cognitoauth.AuthClient$4.onNavigationEvent(AuthClient.java:624)
        at androidx.browser.customtabs.CustomTabsClient$2$1.run(CustomTabsClie

[2019-07-23 08:02] namanh007 commented on #871
when i test in android app, it working, but also getting error user cancelled although getting state SIGN_IN

[2019-07-23 09:25] namanh007 opened #1083 "User pool federation with hosted UI, "AuthNavigationException: user cancelled" always thrown before onSuccess and when using in flugin flutter, it always return "User cancelled " and state "SIGN_OUT""
**Describe the bug**

[code]

**Gradle**

[code]

[2019-07-23 19:00] palpatim commented on #1082
This appears to be a duplicate of #1670, so the same answer applies:

`isSignedIn()` looks at the cached state of the login on that device. If you attempt to get credentials, you should see that the refresh token is no longer valid, and the user must go through a login process on that device.

[2019-07-23 19:03] zhiyua-git commented on #1068
Hi @addodelgrossi ,

You can call tagStream for your case. https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/AWSKinesisVideo.java#L323

You can also remove the tags if you don't want the default tags. https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-kinesisvideo/src/main/java/com/amazo

[2019-07-23 19:28] spencerelliott opened #1085 "Add public method to determine if CognitoUser is signed in with valid session in Android SDK"
**Which AWS Services is the feature request for?**
Android Cognito User Pools SDK

**Is your feature request related to a problem? Please describe.**
It is not feasible to use `AWSMobileClient` for my current project, so I am not able to use the workaround provided in #260. I need to be able to see if a user has signed in and has valid credentials for my logic.

**Describe the solution you'd like*

[2019-07-23 21:35] zhiyua-git commented on #956
Send a fix in pull request: https://github.com/awslabs/aws-sdk-android-samples/pull/321

[2019-07-24 03:32] addodelgrossi commented on #1068
@zhiyua-git thanks Thanks for the answer.

I tried to use tagStream right after uploading the video, but I always have the error:

[code]

the stream information is correct, is there any sequence, I used AWSKinesisVideoClient

[2019-07-24 04:04] zhiyua-git commented on #1068
What region are you in? You will need to pass the region of your stream when you construct AmazonKinesisVideo, then use it to call tagStream(), if region is not set, it will default to us-west-2.

[2019-07-24 09:42] JSmyth886 commented on #710
Is there any update on this, does version 2.14.0 include any fixes for this issue?

[2019-07-24 13:13] addodelgrossi commented on #1068
Yes, I am using the same region.

Only it was necessary to use two distinct objects.

The first KinesisVideoClient to create Video, and the second AWSKinesisVideoClient to tag, would this sequence?

The KinesisVideoClient object does not support the tagStream.

[2019-07-24 20:36] zhiyua-git commented on #1068
Are you calling AWSKinesisVideoClient.tagStream() right after you call MediaSource.start()? It will take some time (usually ~1 - 3 seconds) before the stream is created and changed to ACTIVE status. You can use AWSKinesisVideoClient.describeStream() to make sure the stream is in ACTIVE status before calling AWSKinesisVideoClient.tagStream().

[2019-07-24 22:29] desokroshan commented on #1004
@beersheba Can you elaborate on why you need this directive? I am not very familiar with it so can't comment on a workaround for handling this. What is clear though is that it's obstructing linker from locating the required binaries.

[2019-07-24 22:49] desokroshan commented on #1083
@namanh007 Thanks for reaching out. Can you please share more details :

1. Set of steps to reproduce the issue
2. Relevant code sample
3. Which SDK and version are you working with.

Thanks!

[2019-07-24 22:53] desokroshan commented on #1066
@hoangtran-agilityio @willhappenio Thanks for reaching out. I will try to reproduce the issue and get back to you.

[2019-07-25 09:21] beersheba commented on #1004
Because I develop for armeabi device and use JNI libs (*.so).
All my libs reside in src/main/jniLibs/armeabi directory.
I use this directive since Gradle 4, otherwise, my libs are not available to use.

[2019-07-25 13:09] gitnarqt opened #1088 "TransferUtility does not wait for network connectivity"
**Describe the bug**
TransferUtility does not wait for network connectivity and fails the upload instead. In other words, the state of TransferObserver will be FAILED instead of WAITING_FOR_NETWORK

`2019-07-25 16:03:48.133 22847-22847/ai.nar.ravenai E/AWSS3Service: onError: Error uploading image.
    com.amazonaws.AmazonClientException: Unable to execute HTTP request: Network is unreachable

[2019-07-25 16:31] kvasukib commented on #1088
@gitnarqt Sorry for the inconvenience caused.

Have you registered the `TransferService` in `AndroidManifest.xml` and start the service manually from the app? This is required since the `2.7.0` version of the SDK.

Does this happen for single-part uploads?
Do you experience the same behavior for multi-part uploads and downloads?
Are you seeing this error in other devices/emulators?
What Android ve

[2019-07-25 16:39] gitnarqt commented on #1088
@kvasukib thank you for getting back to me.

I did register the TransferService in AndroidManifest.xml without starting the service manually. Is there any sample code to spin up the service manually I can use?

- It does happen for single part uploads. Is this a normal behavior?
- Will try for multi-part uploads and downloads tomorrow
- Didn't try on other devices, will try it tomorrow
- Android 7

[2019-07-25 18:28] kvasukib commented on #1088
@gitnarqt There is an example of starting the service here:

https://github.com/awslabs/aws-sdk-android-samples/blob/master/S3TransferUtilitySample/src/com/amazonaws/demo/s3transferutility/MyApplication.java#L16

[2019-07-25 19:45] kvasukib commented on #1016
@semaspahi The Rekognition SDK in Android has been updated in `2.14.0` version. Please upgrade to the latest and let us know if it work for you.

[2019-07-26 09:52] gitnarqt commented on #1088
@kvasukib it worked perfectly! I just had to start the TransferService like you said.

One more question, if the upload was successful, TransferUtility removes the TransferRecord. Is that correct behavior as it wasn't like this in the previous versions?

[2019-07-26 13:31] palpatim commented on #1078
@saltedpotatos

Are you initializing the AWSMobileClient before making the call to `AWSMobileClient.getInstance().tokens.idToken.tokenString`? If so, recall that [`initialize`](https://aws-amplify.github.io/docs/android/authentication#initialization) is an asynchronous method; are you waiting for it to complete before attempting to retrieve the tokens?

[2019-07-26 14:47] kltz opened #1090 "AmazonS3Client upload and download file throw "Wrong version of key store." exception with Android 9"
Full stacktrace attached.
[trackstrace.txt](https://github.com/aws-amplify/aws-sdk-android/files/3436210/trackstrace.txt)

**To Reproduce(dirty code)**
[code]

**Environment Information:**
 - AWS Android SDK Version: 2.14.0
 - Device: Simulator, Xiaomi A2 Lite
 - Android Version: Pie 9

[2019-07-26 17:40] kvasukib commented on #1088
@gitnarqt Thank you for the confirmation. Glad it worked. Yes, TransferUtility removes the TransferRecord if the upload was successful.

[2019-07-26 17:44] addodelgrossi commented on #1068
Thanks @zhiyua-git ! I put a longer time after creation and it worked.

[2019-07-26 17:44] #1068 closed

[2019-07-26 22:18] palpatim opened #1092 "Pinpoint crash: "INTERNET permission not granted""
Customer reports that they see infrequent crashes from the Pinpoint library:

[code]

We've found that the SDK validates if the Internet permission has been granted through the `checkSelfPermission` call which may not work in certain devices/manufacturers/Custom Android implementations.

We need to investigate to see if we can remove this validation from the SDK as other SDKs don't do this check.

[2019-07-27 08:38] nguyenxuantruong commented on #888
I also have this issue.

[2019-07-27 10:42] aslamhossin commented on #888
@nguyenxuantruong  sometimes this issue occurred for aws configuration JSON file. In my case, it has occurred for default user pool. If you don't use user pool then remove the default pool config from JSON file.

[2019-07-27 18:46] GerardoRobledo opened #1093 "NumberFormatException thrown in TransferRecord.updateFromDB"
**Describe the bug**

Fatal Exception: c.f.c.t: java.lang.NumberFormatException: For input string: "ANY"
       at com.google.gson.internal.bind.TypeAdapters$7.read + 228(TypeAdapters.java:228)
       at com.google.gson.internal.bind.TypeAdapters$7.read + 218(TypeAdapters.java:218)
       at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$1.read + 131(ReflectiveTypeAdapterFactory.java:1

[2019-07-28 03:14] sylvarant commented on #888
+1

[2019-07-29 12:39] adityaprajapati5687 opened #1096 "KMS module not working"
I want to integrate with KMS module in android, means I want to create a key, encrypt data and decrypt data from android app.

it is not working.

[2019-07-29 14:42] palpatim commented on #1090
@kvasukib Related to keystore issues?

[2019-07-29 14:44] rodrigoarias commented on #937
Any news? Is this getting fixed soon?

[2019-07-29 15:04] shawn-lin-013 commented on #937
We found some workarounds, but unfortunately this issue has NOT been solved yet.
Still getting crashes from user devices.

[code]

**AWS SDK:**
2.13.7

**Android OS:**
 Android 4.3 to 5.1

[2019-07-29 15:20] palpatim commented on #1096
@adityaprajapati5687

Could you please provide more detail to help us understand your problem? The "Bug" template "New issue" is the minimum information we need:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected

[2019-07-29 17:24] kvasukib commented on #937
I am actively working on a fix for this problem and will update here when we roll out a fix.

[2019-07-30 06:03] pranav-credencys commented on #802
@mbk820  You can encrypt access key and secret key instead of put it directly in the code.

[2019-07-30 06:08] credencys-maitri commented on #802
@mbk820  you can use encryption technique i.e. AES encryption to encrypt Access Key and Secret key, instead of putting it directly in the code.

The way which @kvasukib have provided to use AmazonS3Client is the best. You can move forward with that.

Hope this will help.

[2019-07-30 17:34] palpatim commented on #1065
The fix for this has been released on https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.14.1

Please let us know if you have any questions.

[2019-07-30 18:03] zhiyua-git commented on #1065
Hi @palpatim , Can you also update the version to be 2.14+? Thanks.
https://github.com/awslabs/aws-sdk-android-samples/blob/master/AmazonKinesisVideoDemoApp/build.gradle#L50

[2019-07-30 21:10] Akefhabbal opened #1100 "Where to put the CA certificate in PubSub project"
Hi,

I'm using AWSIoT in my android app and I made certificates and attached policy to them, then I saved those certificates on my server, and when the app requests them I send the 3 certificates to the app which are CA, Certificate, and PrivateKey and I save them in the Keystore. The problem is when I want to save the certificates I use this funciton
`AWSIotKeystoreHelper.saveCertificateAndPrivat

[2019-07-30 21:31] palpatim commented on #1065
@zhiyua-git Thanks for the catch! The script we use to bump versions didn't catch that build.gradle's pattern.

[2019-07-31 04:02] 8600862 opened #1101 "putObject get error on android"
I try implementation different version of sdk from 'com.amazonaws:aws-android-sdk-s3:2.8.+' to 'com.amazonaws:aws-android-sdk-s3:2.14.+'

when I putObject to our s3 on android, get error:
Copy Source must mention the source bucket and key: sourcebucket/sourcekey (Service: Amazon S3; Status Code: 400; Error Code: InvalidArgument; Request ID: f87f38d8-b346-11e9-8706-b496913358d8)
400
InvalidArgument

[2019-07-31 07:09] JeetSA commented on #1082
@palpatim Yes, I am getting that exception, but only after I kill the app from recent and relaunch it. Otherwise I am able to get the tokens.

[2019-07-31 10:16] 8600862 commented on #1101
I find the reason is we not support trunk upload signature. then I disable chunk like:
S3ClientOptions.Builder builder = S3ClientOptions.builder();
        builder.disableChunkedEncoding();
        builder.setPathStyleAccess(true);
        clientOptions = builder.build();
boolean disabled = clientOptions.isChunkedEncodingDisabled();
and disabled shows true, but the error is the same

[2019-07-31 15:47] palpatim commented on #1082
@JeetSA

Let's define 2 devices:
- Device 1: Sign out globally using the code as above:
[code]
- Device 2: "Check sign in state"

What code are you using to check the sign in state on Device 2?

[2019-07-31 16:42] desokroshan commented on #1083
@namanh007 Can you to reproduce this issue in the [cognito auth sample app](https://github.com/awslabs/aws-sdk-android-samples/tree/master/AmazonCognitoAuthDemo). That will help us root cause and fix the issue.

[2019-07-31 17:59] saltedpotatos commented on #1078
Sorry for the delay, was on vacation.

I guess I mistakenly assumed that it was initialized since I was seeing AWSMobileclient doing things in the log prior to the crash. I will look into waiting on initialize to complete before attempting to read the token string and report back.

Thanks!

[2019-08-01 01:10] desokroshan commented on #1100
@Akefhabbal Thanks for reaching out. CA certificate should not be required every time client connects to IoT. Certificate Id and private key alone should be enough. Can you please share the error/stacktrace for the case where your app fails to connect to AWS IoT?

[2019-08-01 01:33] lionheart1060 opened #1103 "Upload Fails with error Log tag "AwsChunkedEncodingInputStream" exceeds limit of 23 characters"
**State your question**
Getting error while uploading any file from Android 6.0.1

**Which AWS Services are you utilizing?**  - S3

**Provide code snippets (if applicable)**
08-01 09:39:43.977 8286-9177/? D/UploadTask: Failed to upload: 2 due to Log tag "AwsChunkedEncodingInputStream" exceeds limit of 23 characters
<img width="890" alt="螢幕快照 2019-08-01 上午10 28 02" src="https://user-images.githubus

[2019-08-01 06:10] JeetSA commented on #1082
I am checking the refresh token as per your previous answer. So I am not getting exception in below function till I am not removing app from recent.
[code]

[2019-08-01 19:08] bveenvliet opened #1106 "Unable to set 'CognitoUserAttributes.mfaOptions' in request of /signUpInBackground API call"
**Which AWS Services is the feature request for?**
Cognito user registration / signUp

**Is your feature request related to a problem? Please describe.**
Cognito user registration / signUpInBackground() has a parameter CognitoUserAttributes but you are unable to set the private field mfaOptions. The business requirement I am trying to meet is that SMS MFA be decided by new users during registratio

[2019-08-01 22:24] desokroshan commented on #1106
@bveenvliet Thanks for reaching out. Quick clarification, are you using [AWSMobileClient.signUp](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L1679) or are you using [CognitoIdentityProvider](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-cognitoidentityprovider/sr

[2019-08-01 22:35] desokroshan commented on #1103
@lionheart1060 Thanks for reporting the problem. Can you please work off of the [PR](https://github.com/aws-amplify/aws-sdk-android/pull/1105) and let us know if it fixes your issue?

[2019-08-01 22:37] desokroshan commented on #1051
Closing this issue because of inactivity. Please feel free to open a new issue if you have follow-up questions

[2019-08-01 22:37] #1051 closed

[2019-08-02 05:45] lionheart1060 commented on #1103
@desokroshan Thanks for reply
I'm kinda new to android studio, i should be using sdk version : 2.14.2 on branch roshan/Issue#1103
? But i can't find the newest version though...<img width="937" alt="螢幕快照 2019-08-02 下午2 37 24" src="https://user-images.githubusercontent.com/53545072/62347174-caaff700-b533-11e9-8873-5595ee47a19b.png">

[2019-08-02 06:28] desokroshan commented on #1103
Version 2.14.2 isn't published yet so you will not be able to find it in Android Studio. You can do the following to use the PR code in you app :

1. In a freshly cloned repo, checkout the branch "roshan/Issue#1103"
2. Import the "aws-android-sdk-s3" module by File -> New -> Import Module..., provide path to `aws-android-sdk-s3` module from the branch above and follow the dialog instructions to ad

[2019-08-02 09:46] lionheart1060 commented on #1103
Thanks a lot, it worked!

[2019-08-02 13:52] palpatim commented on #707
@thebehera Checking to see if this issue was resolved via your conversation with support?

[2019-08-02 14:02] owdeveloper opened #1108 "KeyProvider18.java line 90"
**Describe the bug**
We're getting a very high volume of AWS library crashes in Firebase Crashlytics, could you check?

**Which AWS service(s) are affected?**
Android SDK 2.13.5
`implementation "com.amazonaws:aws-android-sdk-core:2.13.5"`
`implementation "com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.13.5"`
`implementation "com.amazonaws:aws-android-sdk-appsync:2.10.0"`

**Screenshots**

[2019-08-02 14:09] owdeveloper opened #1109 "KeyProvider23.java line 80"
**Describe the bug**
We're getting a very high volume of AWS library crashes in Firebase Crashlytics, could you check?

**Which AWS service(s) are affected?**
Android SDK 2.13.5
`implementation "com.amazonaws:aws-android-sdk-core:2.13.5"`
`implementation "com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.13.5"`
`implementation "com.amazonaws:aws-android-sdk-appsync:2.10.0"`

**Screenshots**

[2019-08-02 14:56] palpatim commented on #937
Also related to:

- https://github.com/aws-amplify/aws-sdk-android/issues/1108
- https://github.com/aws-amplify/aws-sdk-android/issues/1109
- https://github.com/aws-amplify/aws-sdk-android/issues/1001

[2019-08-02 14:57] palpatim commented on #1001
Working on a fix for this now as part of #937

[2019-08-02 14:57] palpatim commented on #1109
Working on a fix for this now as part of #937

[2019-08-02 14:57] palpatim commented on #1108
Working on a fix for this now as part of #937

[2019-08-02 14:58] desokroshan commented on #1103
Thanks for the confirmation. I will work on getting the PR out in next release.

[2019-08-02 16:46] desokroshan commented on #777
Closing due to inactivity. Please open a new issue if the exception persists.

[2019-08-02 16:46] #777 closed

[2019-08-03 15:05] natnaelw commented on #635
Any updates on this? was this feature added to cognito?

[2019-08-04 05:06] desokroshan commented on #635
We will track this in https://github.com/aws-amplify/aws-sdk-android/issues/1041. Closing this as duplicate.

[2019-08-04 05:06] #635 closed

[2019-08-04 07:18] deepakrokz opened #1110 "Using start TransferService is Application Class Also for a background event crashes in Android O & above"
**Describe the bug**
Here is in my application, I am trying to start TransferService in Application class but it's being crashed all the time.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**

2.14.1 and older

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2019-08-04 23:54] kvasukib commented on #1110
Calling `startService` when the app is in the background will crash your application on devices running Oreo and above. This is due to the limitations on background processing that Android has.

The solution for devices running Oreo and above would be to invoke `startForegroundService` with a valid notification object passed through the intent to `startForegroundService`.

Please refer to [Support

[2019-08-05 03:56] #1088 closed

[2019-08-05 05:14] crj92 commented on #1041
@sim7087 Hi, I a using com.amazonaws:aws-android-sdk-cognitoidentityprovider, for signup process. Can you hint on the api call for the workaround you mentioned, Thanks in Advance.

[2019-08-05 05:47] deepakrokz commented on #1110
Hi @kvasukib,

I have given my sample code of starting service that's what I am using and I.e. startForegroundService not startService. Please suggest

[2019-08-05 05:49] deepakrokz commented on #1110
I know calling startService in background will crash the app for running os oreo and above I have already mentioned

[2019-08-05 05:59] kvasukib commented on #1110
@deepakrokz Thank you for the information, You need to pass in a valid notification object through the intent to `startForegroundService`. Are you passing one? I couldn't find that in your sample code.

The [documentation for TransferService](https://aws-amplify.github.io/docs/android/storage#supporting-transferservice-on-oreo-and-above) talks about it.

What is the crash you are experiencing? Can

[2019-08-05 06:41] dkch90 opened #1113 "Video upload not working on mobile network"
**Describe the bug**
I'm uploading videos on s3. Its working fine but whenever cancel the video and upload it again, on mobile network its not working, actually not getting progress update for this. The same thing  is working well on wifi and in case of small size video. I'm not able to fix the issue. please suggest the proper solutions. Thanks

**Code:**```
**Upload and resume Code:**
[code]
**Ca

[2019-08-05 11:12] deepakrokz commented on #1110
Hi, I have simply started the foregroundservice without any notification id. I will share crash report in sometime

[2019-08-05 15:14] palpatim commented on #1113
@dkch90

Could you please provide more detail to help us troubleshoot this issue? At a bare minimum, we'd like the information we request in the "Bug Report" template when you file a new issue (see below). Especially important are clear steps to reproduce, code and/or configuration snippets, your SDK version, and any relevant error or log messages you're seeing in the device logs.

---

**Describe

[2019-08-05 15:17] palpatim commented on #890
Closing due to inactivity. If you have additional questions, please file a new issue.

[2019-08-05 15:17] #890 closed

[2019-08-05 15:20] palpatim commented on #887
Flagging this to autoclose for now. @BillBunting if you're able to find time to provide a repro sample, please feel free to reopen this issue or file a new one linked to this issue.

[2019-08-05 15:44] palpatim commented on #1073
@alphaDroid89 Can you provide a small sample app that reproduces this behavior, for example by modifying the [existing User Pools sample](https://github.com/awslabs/aws-sdk-android-samples/tree/master/AmazonCognitoYourUserPoolsDemo)? I'm puzzled by the behavior description, but without more details as to your call pattern, I'm reluctant to offer any theories.

[2019-08-05 16:11] palpatim commented on #1082
[It seems likely this is related to #1670, so I'll address this comment to both stated problems.]

The `getTokens` call retrieves its data from cached credentials unless those credentials are expired, so the behavior you're seeing is expected.

I would encourge you to reframe your question in terms of "I want to accomplish X use case" and see if detecting the global signed-in state is actually fun

[2019-08-05 17:35] raphkim commented on #1101
Hello @8600862,

I'm sorry that you are having trouble with this issue.

Would you be able to provide the code snippets where you configure your S3 client and call putObject?

[2019-08-05 19:23] deepakrokz commented on #1110
This is the crash log
 android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{45f5c55 u0 com.canlah/com.amazonaws.mobileconnectors.s3.transferutility.TransferService}
        at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1760)
        at android.os.Handler.dispatchMessage(Handler.java:106)
        at andro

[2019-08-05 19:35] kvasukib commented on #1110
@deepakrokz This is due to the fact that you did not pass a valid notification object through the intent. See [my above comment ](https://github.com/aws-amplify/aws-sdk-android/issues/1110#issuecomment-518096863)about how to pass in a valid notification through the intent.

On devices running Oreo and above, a notification needs to be displayed in the system tray to run the service in foreground.

[2019-08-05 20:13] felmoreno1726 opened #1115 "Error in decryption key initializing CognitoCachingCredentialsProvider"
**Describe the bug**
Amazon crash on initialization of CognitioCachingCredentialsProvider.

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
I am trying to user the Amazon polly service

**Expected behavior**
A clear and concise description of what you expected to happen.
The code shown should initialize a TTS client.

**Screenshots**
This is the application

[2019-08-05 20:54] kvasukib commented on #1115
@felmoreno1726 Sorry for the inconvenience caused. This issue mainly occurs when the encryption key used to store data is deleted and the new encryption key generated is not able to delete the encrypted data.

I am actively working on a fix as part of #937. I will post an update when there is a PR for testing and when the release will be out.

[2019-08-05 23:36] felmoreno1726 commented on #1115
This issue is only present in of the latest sdk updates? I don't see the bug showing up anymore after downgrading to aws_version 2.12.1

[2019-08-06 05:16] kvasukib commented on #1115
@felmoreno1726 Yes. This issue is present only from `2.12.3` version of the SDK where the credentials stored on the device will be encrypted before storing. The summary of the changes are present here: https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2123

[2019-08-06 08:57] deepakrokz commented on #1110
@kvasukib thanks for your instant support. I tried your notification related intents but not exactly able to configure intent fields values. Can you please help me with that so that I can test and finish this. There is no such example available out there in my search

[2019-08-06 09:26] JeetSA commented on #529
Hello @achatina ,
Did you find the solution for this as I am trying to implement like same thing.

[2019-08-06 09:27] JeetSA opened #1117 "Sign in user with any unique id in Cognito"
In our application, we have a feature that we can scan the RFID card. The card will be holding the unique ref id of the user created on AWS Cognito.

We need to implement a functionality like when user scans the RFID card, user will directly logged into the application.

**So is there any method for sign in in cognito with any unique id of Cognito and without password? Or is there any other way to

[2019-08-06 09:53] yuri2o1o opened #1118 "Unable to execute HTTP request: socket failed: EPERM on attempt to upload an image to s3 bucket"
Im getting this error: "com.amazonaws.AmazonClientException: Unable to execute HTTP request: socket failed: EPERM (Operation not permitted)" when trying to upload an image (jpeg) file to an s3 bucket. The bucket is set up, public, and i managed to upload to it using javascript... i also checked and i have all the required permissions, here they are:
uses-permission android:name="android.permission

[2019-08-06 10:57] addodelgrossi commented on #1065
resolved, thanks !

[2019-08-06 10:57] #1065 closed

[2019-08-06 16:04] kvasukib commented on #1110
Th [documentation](https://aws-amplify.github.io/docs/android/storage#supporting-transferservice-on-oreo-and-above) has the example of how to pass a notification through the intent.

I am pasting the code snippet again here for reference.

[code]

[2019-08-06 16:42] deepakrokz commented on #1110
Hi @kvasukib,
I have seen this and tried to pass different string values for each putExtra keys, but it's not satisfying. That's why I asked for any configured example of this with some real data. I will modify that according to my need. Waiting for your quick response on the same.
Thanks

[2019-08-06 18:03] bveenvliet commented on #1106
I'm using CognitoUserPool.signUpInBackground() directly which is a part of the aws-android-sdk-cognitoidentityprovider.
    implementation "com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.14.0"

I cannot use AWSMobileClient.signUp() as it doesn't allow you to pass in the mfaOptions.
In the original feature request under "Describe alternatives you've considered", I mentioned that I tried pa

[2019-08-06 19:43] desokroshan commented on #1106
@bveenvliet Thanks for the clarification, I was a little confused by your initial message when you said "I tried creating my own CognitoUserAttributes class". I think you meant you instantiated the `CognitoUserAttributes` and added the key-value pair `"phone_number":"SMS"` to it? Is that the correct? Can you please share the relevant code snippet?

[2019-08-06 21:57] royjit commented on #1118
Hi @yuri2o1o Sorry for the inconvenience caused. Could you please provide the following details:

1. AWS SDK version
2. Android version
3. Size of file you are uploading
4. Does this issue occur all the time?
5. Are you getting any callback on `onProgressChanged` or `onError` methods?

[2019-08-07 07:49] yuri2o1o commented on #1118
1. im using version 2.6.+ (and 2.6.7) here are my dependencies:
implementation ('com.amazonaws:aws-android-sdk-mobile-client:2.6.7@aar') { transitive = true }
    implementation 'com.amazonaws:aws-android-sdk-s3:2.6.+'
    implementation 'com.amazonaws:aws-android-sdk-cognito:2.6.+'

2. im using min API level 21 and testing on a nexus emulator running android version 10
3. about 50kb (and as i sai

[2019-08-07 13:39] Guneetgstar opened #1119 "How to manually refresh CognitoUserSession in Android?"
In our application logic, the user claims gets changed according to the user interactions with the app and so the ID Token. If the old ID Token is sent to the cloud the request might get rejected. I need a way so that I can forcefully update the ID Token which is a valid case for me as by default Cognito uses cached tokens and only refreshes it after 3 hrs and I cant depend on that (at least if I

[2019-08-07 18:52] bveenvliet commented on #1106
https://gist.github.com/bveenvliet/e421c0173c634f465f1c33d1740115c9

[2019-08-08 10:29] alphaDroid89 commented on #1073
@palpatim  Sure I will send a sample app with an above-mentioed use case, meantime can you please guild me how to clear "CognitoidentityserviceproviderCache". If I clear this cache my problem will be solved.

[2019-08-08 16:39] cristian-stoichin commented on #684
Anything?

[2019-08-08 17:26] desokroshan commented on #1106
mfaOption that you passed in the class above will not be passed down to service since the [SignUpRequest](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/services/cognitoidentityprovider/model/SignUpRequest.java) class does not have a property corresponding to mfaOption. As pointed out above, you should try to add `"pho

[2019-08-08 18:40] raphkim commented on #1093
Hello @GerardoRobledo,

I'm sorry that you had trouble with this bug. It appears that there's an issue with serializing/deserializing transfer utility option in our loss handler, which we are currently investigating. Meanwhile, would you be able to provide more details regarding reproducing this bug?

Thank you!

[2019-08-09 05:25] dakeshi opened #1122 "push open rates has not updated in aws pinpoint console"
**Describe the bug**
It has not updated push open rates in the console even though I got push message successfully and opened its message on the device.

**Which AWS service(s) are affected?**
pinpoint

**Expected behavior**
increasing push open rates if recipients opened it

**Screenshots**
![Amazon_Pinpoint_Console](https://user-images.githubusercontent.com/8563047/62755930-d6aa3480-bab0-11e9-94

[2019-08-09 13:37] Karthikkb007 commented on #502
Still the issue is not fixed it is happening in Android Pie version other versions are working good

[2019-08-09 14:07] mahi1518 opened #1123 "How to implement custom authentication for awsmobileclient andriod"
**I want to implement custom authentication in cognito using cognito trigger ?**

I already implement custom authentication using python aws SDK and it working fine.
My challenge in the implementation of custom authentication using aws mobile client is to
where to  define the **AuthFlow='CUSTOM_AUTH'** in my android code
the document I follow
https://aws-amplify.github.io/docs/android/authenticati

[2019-08-09 14:09] mahi1518 opened #1126 "How to implement custom authentication using aws mobile client"
**I want to implement custom authentication in cognito using cognito trigger ?**

I already implement custom authentication using python aws SDK and it working fine.
My challenge in the implementation of custom authentication using aws mobile client is to
where to  define the **AuthFlow='CUSTOM_AUTH'** in my android code
the document I follow
https://aws-amplify.github.io/docs/android/authenticati

[2019-08-09 14:27] #707 closed

[2019-08-09 14:35] SandyRagaie commented on #429
I am working on Android project now and this feature request blocks a main functionality in the application, is there any known work around we can do to overcome this until aws sdk is released?

[2019-08-09 15:03] desokroshan commented on #1041
@crj92 I have submitted a PR which changes SignUpHandler to receive `SignUpResult` in the callback. The `SignUpResult` can be used to obtain userSub. Can you work off of the PR and let me know if you have any issues?

[2019-08-09 16:24] deepakrokz commented on #1110
`Intent tsIntent = new Intent(mInstance.getApplicationContext(), TransferService.class);
        NotificationChannel channel = new NotificationChannel(CHANNEL_MESSAGE,
                "Channel human readable title",
                NotificationManager.IMPORTANCE_NONE);
        ((NotificationManager) getSystemService(Context.NOTIFICATION_SERVICE)).createNotificationChannel(channel);

        Notifi

[2019-08-09 16:57] raphkim commented on #1004
Unfortunately, Google currently only has support for four architectures on their [conscrypt_jni.so library](https://github.com/google/conscrypt#android). Exclusively filtering for 'armeabi' will not include any binary in your APK, causing your app to be unable to locate the library. I would suggest removing the abiFilter to allow the binaries to be zipped with APK and seeing if an armeabi device i

[2019-08-09 20:39] desokroshan commented on #429
@SandyRagaie Thanks for reaching out. Supporting custom Auth in Android SDK needs paho version 1.2.1 which causes regression and breaks the SDK https://github.com/eclipse/paho.mqtt.java/issues/345. I will look into possible workarounds and provide an update soon as I can.

[2019-08-09 21:39] GerardoRobledo commented on #1093
Hello @raphkim,

Sure, the issue started to happen after updating our app dependency from 2.12.0 to 2.13.5.
Whenever resumeAllTransfersOnNetworkAvailability() method was called the app crashed.
For the end user this was after entering the app after a while or after switching airplane mode off.

 The workaround that helped me:
 Inside onCreate() method from my Application class delete ""awss3transf

[2019-08-10 08:51] Guneetgstar commented on #1119
Any updates @desokroshan ?

[2019-08-11 07:44] sachinavm12 commented on #696
Hi @minbi,

Any update on this as it is a valid use case when using custom claims?

[2019-08-12 06:27] sachinavm12 commented on #1119
@awsmobilesdk Any update on this?

[2019-08-12 07:36] deepakrokz commented on #1110
Hi @kvasukib,

Please respond, it's really urgent. Also one request why don't you ask your team to update sample related to S3 on github. It will really helpful for everyone.

Waiting for your reply

Thanks

[2019-08-12 15:47] #1061 closed

[2019-08-12 15:47] #887 closed

[2019-08-12 15:47] palpatim commented on #1126
Dupe of #1123

[2019-08-12 15:47] #1126 closed

[2019-08-12 16:47] #1078 closed

[2019-08-12 16:47] #1096 closed

[2019-08-12 18:26] kvasukib commented on #1110
@deepakrokz It is expected for the notification to show up in the system tray when the service is running. This is the expected behavior of Android Foreground services. See https://developer.android.com/guide/components/services#Foreground for more information.

Our SDK (TransferUtility) currently does not support running the transfers when the app is closed. We will evaluate if we want to support

[2019-08-12 21:21] desokroshan commented on #1119
@Guneetgstar Thanks for reaching out. For your specific use case you do not need to manually refresh the token. Even if user attribute changes during user's interaction with the app the access and Id token will still be valid as long as they have not expired. The tokens are validated by their signature and typically the claims in the token are not checked during token validation and thus changes i

[2019-08-12 21:26] desokroshan commented on #1119
@sachinavm12 SDK currently does not support manual refresh of tokens. We are tracking this request in https://github.com/aws-amplify/aws-sdk-android/issues/696. We will post all updates regarding this feature request there. Thanks for your patience!

[2019-08-12 21:29] desokroshan commented on #634
Adding Manual Refresh of tokens to the list as requested in https://github.com/aws-amplify/aws-sdk-android/issues/696.

[2019-08-12 21:32] desokroshan commented on #696
@sachinavm12 At this point we do not have an update on this feature. I have added this to the https://github.com/aws-amplify/aws-sdk-android/issues/634 for tracking. We will post an update once the feature is released.

[2019-08-12 22:02] desokroshan commented on #1117
@JeetSA Thanks for reaching out. Cognito does not support sign in without password out-of-the-box but this feature can be implemented with Cognito custom authentication feature. Please refer to the following blog for details on how to implement it :
https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/

Android SDK however does not support custom a

[2019-08-13 04:25] AnhDTN commented on #1083
hello, sorry for the late

[2019-08-13 04:25] AnhDTN commented on #1083
please check my git hub
https://github.com/AnhDTN/demo_aws_hostedUI.git

[2019-08-13 04:31] AnhDTN commented on #1083
this is project sample i create, please login with google(may be get exception "USER CANCEL") and then click addattribute, this get exception com.amazonaws.services.cognitoidentityprovider.model.NotAuthorizedException: Access Token does not have required scopes (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 3827ffad-049b-4305-be64-390dea0

[2019-08-13 04:36] AnhDTN opened #1129 ""User Cancel" when using hostedUi when userstate is "SIGN_IN" and then get attribute return exception com.amazonaws.services.cognitoidentityprovider.model.NotAuthorizedException: Access Token does not have required scopes (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 3827ffad-049b-4305-be64-390dea0badc6)"
https://github.com/AnhDTN/demo_aws_hostedUI.git
Above is my github, please check it and tell me why occur error.
Thanks you <3

[2019-08-13 06:43] dkch90 commented on #1113
@palpatim I have updated my question have posted code as well. please look hope now this is clear to you.

[2019-08-13 07:07] mahi1518 commented on #1123
@royjit @palpatim  Is there any way to implement this using Andriod mobile client any trick to achieve this. As it really required because OTP sms from coginito failed to reach customer mobile maximum time and aws Cognito does not send OTP on email.

any suggestion will be appreciated.

[2019-08-13 09:55] JesusMartinAlonso commented on #873
I'm facing a similar issue
Here are my steps to reproduce it:

1.- Initialize AWSMobileClient

[code]

2.- Sign in users using `hosted UI`:
[code]

3.- After a successfull sign in, close the app

3.- Open the app again

`AWSMobileClient.getInstance().initialize()` says that the userState is SIGNED_IN, but fails to retrieve the tokens:

[code]

I have debugged the SDK and the issue is that `hostedU

[2019-08-13 14:21] desokroshan commented on #1129
Will track it in https://github.com/aws-amplify/aws-sdk-android/issues/1083 since it has more context.

[2019-08-13 14:21] #1129 closed

[2019-08-13 16:58] raphkim commented on #1093
Hi @GerardoRobledo,

Thank you for providing more details. I believe that the core issue was with the old record in your database if deleting it helped fix the issue, but I added a small change to make sure that deserialization is completed properly. Would you be able to incorporate the changes in your app to test if this PR helped with your issue?

But first of all, would you be able to check if

[2019-08-13 17:35] palpatim commented on #1123
@mahi1518 Unfortunately right now, the only workaround would be to use [Cognito User Pools SDK](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-cognitoidentityprovider) directly, and that SDK is not compatible with AWSMobileClient.

If you are not in a time crunch for this feature, we are actively working on integrating custom auth into AWSMobileClient, but I don't have

[2019-08-14 02:41] AnhDTN commented on #1083
@desokroshan  hello, i am namanh007. my problem just when login with facebook and google first time always get error "User cancel" but user state is "SIGN_IN". Please skip error getAttribute because i fixed

[2019-08-14 03:26] AnhDTN commented on #1083
please check with google account, because i'm lose account test for facebook

[2019-08-14 07:17] mahi1518 commented on #1123
We are using Cognito authentication service to manage and authenticate our user.
We configure cognito MFA and verify user mobile number at the time of signup and at the time of the user signing an OTP is sent to verified user mobile number an by providing this we get id token from cognito.
But from last 20 days failure rate of SMS in SNS service is increased and many time after 2 or 3 attempts of

[2019-08-14 07:34] lionheart1060 commented on #1103
@desokroshan My apologies. Seems like version 2.15.0 will include the modifications of long log tags, any information for release date? Issue #1105 was merged around 5 days ago though.
Thanks.

[2019-08-14 14:09] palpatim commented on #1123
@mahi1518 Thank you for the additional details. We'll investigate this and see if we can get any insights into why your SNS failure rate has increased over the past 2-3 weeks.

Can you confirm some other points:

- Can you confirm that you haven't made any **code** changes prior to noticing the increased failure rate?
- Can you confirm that you haven't made any **configuration** changes prior to n

[2019-08-14 15:00] GerardoRobledo commented on #1093
deleting it once permanently fixed the issue.

[2019-08-14 15:29] deepakrokz commented on #1110
Hi @kvasukib,

Thanks for getting back, actually we don't want to continuously display a notification to users as it will be more irritating for the user. Looking for background stuff in case of app killed

Thanks for your support.

[2019-08-14 16:43] desokroshan commented on #1042
Closing since this is well-past its "closing-soon" days.

[2019-08-14 16:43] #1042 closed

[2019-08-14 16:59] raphkim commented on #1093
Okay. That seems to confirm that the issue was with database migration rather than with data serialization. We will be closing this issue for now, but please feel free to contact us with an update if this issue arises again. Thank you.

[2019-08-14 16:59] #1093 closed

[2019-08-15 09:53] Thembelani commented on #437
Please, please, please for the love of the All-mighty, please create a doc for this additional configuration for people who only use specific functionality like Push Notification. This is not in the set up doc

[2019-08-15 16:34] desokroshan commented on #437
@Thembelani Can you provide link to the set up doc you are referring to?

[2019-08-15 19:12] sictiru commented on #1110
+1 on updating the sample app. Just started on changing the S3 SDK from an older version but found the docs I need here.

[2019-08-16 07:23] mahi1518 commented on #1123
@palpatim
I didn't make any changes as you maintain above. After all this error and failure occure than we setup error log in my sns service.
I get mainly three types of error message

`{
    "notification": {
        "messageId": "3c3fb29c-5b9a-53be-a7f6-e7521b8fc747",
        "timestamp": "2019-08-14 16:59:01.352"
    },
    "delivery": {
        "phoneCarrier": "Airtel",
        "mnc": 31,

[2019-08-16 08:07] chirag-ss opened #1131 "Facebook access token does not authenticate on cognito pool [Android]"
I am getting an error: NotAuthorizedException: Token is not from a supported provider of this identity pool.

I am using dependancy: com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.9.1

Below is my code once I get access token from Facebook,
credentialsProvider = new CognitoCachingCredentialsProvider(
                getApplicationContext(), // Context
                BuildConfig.AWS_IDENT

[2019-08-16 10:11] alex-Lotus opened #1132 "How to detect if user is blocked when token is still valid without calling cognitoUser.getDetails()?"
We want to check if user became blocked when app moved to foreground and log him out. Would be great if SDK will support this natively like cognitoUser.isBlocked() or isActive().

[2019-08-16 12:37] JesusMartinAlonso commented on #888
+1

[2019-08-16 14:25] desokroshan commented on #873
@JesusMartinAlonso Thanks for reporting the error. I will take a look at it and get back to you. r

[2019-08-16 14:34] desokroshan commented on #1131
@chirag-ss Thanks for reaching out. Can you please share more details around this.
1. Have you added facebook as an authentication provider for the identity pool in the AWS Console?
2. What SDK version are you using?

Also, we recommend using AWSMobileClient for most of the common authentication use cases. Have a look at the following document for details on how to use facebook sign-in in your app

[2019-08-16 14:50] desokroshan commented on #1132
@alex-Lotus  Can you provide more details around your use-case. Are you using [AWSMobileClient](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-mobile-client) or are you using our [Cognito User Pools SDK](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-android-sdk-cognitoidentityprovider)? Do you mean blocked when refesh token is invalid and user needs to

[2019-08-16 15:17] alex-Lotus commented on #1132
We using Cognito User Pools SDK, blocking means user access token, refresh token and idToken are invalidated

[2019-08-16 17:26] desokroshan commented on #1132
Thanks for the clarification. We recommend using AWSMobileClient for your Auth use case. Is there a reason you are not able to use AWSMobileClient?
If all the tokens including Refresh Token, have expired and your app attempts to call an AWS Service, AWSMobileClient will dispatch a state notification that a re-login is required. At this point you can choose to present app user with a login screen a

[2019-08-16 18:57] kvasukib commented on #888
I am working on this issue and will have an update when the fix is released. Thank you for the patience.

[2019-08-16 18:57] kvasukib commented on #873
I am working on this issue and will have an update when the fix is released. Thank you for the patience.

[2019-08-16 20:05] #1100 closed

[2019-08-17 20:24] chirag-ss commented on #1131
Yes @desokroshan, I have added Facebook as an authentication provider for the identity pool. Also, I have gone through all the steps in the below link,
https://docs.aws.amazon.com/cognito/latest/developerguide/facebook.html

I am using cognitoidentityprovider SDK, I have already mentioned the dependency which I am using. (com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.9.1)
https://mvnrepo

[2019-08-17 23:56] markorakita commented on #1074
@kvasukib Are there any updates on this bug? It's been a month. Thanks

[2019-08-19 13:35] Nikooos opened #1136 "Migrate users with a Lambda Trigger"
I'm trying to migrate users from our existing user management system into our user pool without a password reset.

For iOS I found [this example](https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-ios-sdk-user-migration-lambda.html) which explains that adding a boolean to the awsconfiguration.json with the key MigrationEnabled and value YES should do the magic. This wor

[2019-08-19 17:45] BillBunting commented on #1003
I continue to observe the behavior documented in this issue, even after upgrading to 2.14.2. It may be related to a token or other timeout issue. It works some of the time, but after a long period of time, the SignIn UI buttons stop working as described previously following a sign-out.

[2019-08-19 18:06] BillBunting commented on #565
This remains a confirmed problem even in 2.14.2.

[2019-08-19 18:11] BillBunting commented on #564
Please continue to work on this issue.  Entering a phone number that requires a '+' is tedious and very confusing to most USA users.  It requires the user to immediately switch keyboard views to find the '+'.  Many users get frustrated and abandon the app because of the poor sign-up experience! Please add code to detect a USA formatted number and automatically add the +1 as needed or otherwise fix

[2019-08-19 18:54] #1131 closed

[2019-08-19 20:37] kvasukib commented on #888
The HostedUI (CognitoAuth) object has a lifecycle that starts from showSignIn and ends at signOut. However when getTokens() is called after initialize, the hostedUI object is null.

There are two objects for hostedUI (one through awsconfiguration.json and other through code). The AWSMobileClient.initialize always constructs hostedUI through awsconfiguration.json and does not construct the hostedUi

[2019-08-19 20:37] kvasukib commented on #873
The HostedUI (CognitoAuth) object has a lifecycle that starts from showSignIn and ends at signOut. However when getTokens() is called after initialize, the hostedUI object is null.

There are two objects for hostedUI (one through awsconfiguration.json and other through code). The AWSMobileClient.initialize always constructs hostedUI through awsconfiguration.json and does not construct the hostedUi

[2019-08-19 21:35] #1119 closed

[2019-08-19 22:35] #1117 closed

[2019-08-20 05:05] patrickkempff commented on #1136
Having the same issue, not sure how to set `MigrationEnabled` on Android

[2019-08-20 09:26] lionheart1060 commented on #1103
@desokroshan Hi. I'm glad that version 2.15.0 is now released, but now i'm still encountering the problem for every log tag that is over 23 characters.
<img width="1363" alt="螢幕快照 2019-08-20 下午6 25 44" src="https://user-images.githubusercontent.com/53545072/63335259-ff1b1400-c377-11e9-9bb8-1da5c67c012a.png">
Please revisit the issue again.

[2019-08-20 14:59] desokroshan commented on #1005
@jarvis32123 This was released in the version 2.14.2 of the SDK.

[2019-08-20 14:59] #1005 closed

[2019-08-20 14:59] desokroshan commented on #1103
@lionheart1060 The fix has been released in the latest version 2.15.0. Please let us know if you face any issues. Thanks!

[2019-08-20 16:35] BillBunting commented on #1003
Here is another use case that demonstrates the issue. When the token is expired. Presenting the sign-in has buttons that don't work properly. This was a user that upgraded from AWS 2.13.1 to 2.14.2.

[code]

[code]

[code]

[2019-08-20 17:02] kvasukib commented on #1003
@BillBunting Sorry for the inconvenience caused. From the error logs you posted I could see the following:

[code]

This means that the SDK is trying to register `FacebooKSignInProvider` because of the presence of the `FacebookSignIn` snippet in the `awsconfiguration.json`. AWSMobileClient reads `awsconfiguration.json` for `FacebookSignIn` and expects the `aws-android-sdk-auth-facebook` dependency

[2019-08-20 22:16] lionheart1060 commented on #1103
@desokroshan Sorry, I'm having the problem actually using 2.15.0 though... (when I'm constructing AmazonS3Client in this case above)

[2019-08-20 23:04] BillBunting commented on #1003
@kvasukib The problem is not the dependencies as far as I can tell. Rolling back to all AWSMobileClient API versions to 2.13.1 fixes the problem.  Broken since 2.13.5.  It only occasionally fails when the token is bad or after calling sign out. The app was already initialized and running successfully with the user successfully logged in. Here are the dependencies.

[code]

[2019-08-21 00:42] BillBunting commented on #1003
@kvasukib The problem is not the dependencies as far as I can tell. Rolling back to all AWSMobileClient API versions to 2.13.1 fixes the problem.  Broken in  It only occasionally fails when the token is bad or after calling sign out. The app was already initialized and running successfully with the user successfully logged in. Here are the dependencies.

[code]

[2019-08-21 00:54] BillBunting commented on #1003
@kvasukib  I confirmed the bug was introduced in 2.13.4. I can reproduce the bug by signing out of the app, then the sign-in screen will appear and buttons can not be pushed starting in 2.13.4.  I works in 2.13.1, 2.13.2, and 2.13.3. So, a change was introduced in 2.13.4 somewhere causing this bug which remains in 2.15.0 to date.

Here is the use case error logs after signing out using 2.13.4.

I

[2019-08-21 02:36] lionheart1060 commented on #1103
@datkinnguyen My apologies, seems like i'm using the outdated org.apache.commons.logging.LogFactory which doesn't implement getLog (i suppose?). It works fine now after modifying my source using the latest version.

[2019-08-21 04:54] desokroshan commented on #1103
Thanks for the confirmation. Closing.

[2019-08-21 04:54] #1103 closed

[2019-08-21 07:30] akmustafa commented on #444
It helps me to learn the ProviderName format for CognitoAWSCredentials.
Thank You

`cognito-idp.eu-west-1.amazonaws.com/eu-west-1_xxxxxx`

[2019-08-21 08:46] beersheba commented on #1004
@raphkim thank you very much!

I found a workaround:
1. renamed *.so directory to armeabi-v7a
2 changed gradle abiFilters to "armeabi-v7a"

and it works )

[2019-08-21 08:49] #1004 closed

[2019-08-21 13:17] palpatim commented on #937
We released a fix for this on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you have any questions or continue to see crashes related to retrieving encrypted data.

[2019-08-21 13:18] palpatim commented on #1108
We released a fix for this on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you have any questions or continue to see crashes related to retrieving encrypted data.

[2019-08-21 13:19] palpatim commented on #1109
We released a fix for this on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you have any questions or continue to see crashes related to retrieving encrypted data.

[2019-08-21 13:19] palpatim commented on #1001
We released a fix for this on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you have any questions or continue to see crashes related to retrieving encrypted data.

[2019-08-21 13:20] palpatim commented on #1115
We released a fix for this on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you have any questions or continue to see crashes related to retrieving encrypted data.

[2019-08-21 13:28] anticafe opened #1145 "There is no sync version of `AWSMobileClient.initialize( Context, Callback<UserStateDetails>)`"
**Is your feature request related to a problem? Please describe.**
I want to use `awsMobileClient.initialize(context, object : Callback<UserStateDetails> {}` but that method is async. Although there is a sync version (`awsMobileClient.initialize(context)`) but it's about to deprecated, so I must use the async version.
However, I want to use it in sync context (for example `val userStateDetails = a

[2019-08-21 16:56] palpatim commented on #1145
Thank you for the feature request. We'll add this to our backlog to triage and update when we have more information.

[2019-08-21 17:05] palpatim commented on #1082
Closing due to inactivity

[2019-08-21 17:05] #1082 closed

[2019-08-21 17:20] palpatim commented on #1073
I'm not sure what `CognitoidentityserviceproviderCache` is referring to, but you can clear the CognitoCachingCredentialsProvider's cache using the [`clear()` method](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/auth/CognitoCachingCredentialsProvider.java#L537) to clear the cached credentials **and** identity. You can call `clearCredent

[2019-08-21 17:35] alphaDroid89 commented on #1073
@palpatim Thanks for your response, I already did the same. Your response makes me much confident on what it did. Thanks for your support.

[2019-08-21 17:38] palpatim commented on #1073
Sounds good. I'll close this for now. If you get time to reproduce the issue where you were apparently able to sign in using different credentials, please file a new issue with details (and hopefully a sample). :)

[2019-08-21 17:38] #1073 closed

[2019-08-21 18:03] #1106 closed

[2019-08-21 19:55] palpatim commented on #1123
We have not been able to find any cause on the service side so far. While we continue to investigate:

Is it safe to say the increase is due to an increase in this type of failure, or are you asserting that the previous two failures types have also occurred more frequently?

[2019-08-21 21:33] #889 closed

[2019-08-22 02:39] anticafe commented on #1145
While waiting for official fix, here is a workaround to invoke `awsMobileClient.initialize(context)` in synchronous - keep in mind it only works in Kotlin but not Java because `AWSMobileClient` is final and doesn't allow to subclass it.
- Create a file `AWSMobileClientExtension.kt` in `com.amazonaws.mobile.client` package (Note: must use this package to be able to access package-protected method i

[2019-08-22 06:17] mahi1518 commented on #1123
Yes @palpatim, at the time failure I got this mostly of this type.

[2019-08-22 07:33] Ranchee opened #1148 "How can I use the sdk source code in my project"
**State your question**
I'm using AmazonKinesisVideo,but I want to made some change in the sdk，How can I use the sdk source code(with my change) in my project
**Which AWS Services are you utilizing?**
AmazonKinesisVideo
**Environment(please complete the following information):**
 - SDK Version: 2.14.+

[2019-08-22 16:52] desokroshan commented on #1148
@jet-le Thanks for reaching out. Entire Android SDK is structured as separate module for each of the AWS service. Consequently you can import the required module in your project just like any other android library using instructions here: https://developer.android.com/studio/projects/add-app-module#ImportAModule
Once you have added it to your project you can add dependency on it in your app code b

[2019-08-22 17:22] #1092 closed

[2019-08-22 19:56] garrettfritz commented on #888
any idea when this fix will be released? This particular bug is a killer for our application.

Thanks!

[2019-08-23 03:08] palpatim commented on #541
This was released on [2.15.1](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.15.1). Please let us know if you continue to have problems.

[2019-08-23 09:27] saaksshi commented on #116
This issue again coming when I'm sending Arabic response in lambda

[2019-08-23 09:28] saaksshi commented on #116
It's works fine in Lex console testing but in swift mobile app Arabic gets truncated.

[2019-08-23 15:53] mharlowfod commented on #437
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/mobile-hub-add-aws-mobile-analytics.html#mobile-hub-add-aws-mobile-analytics-app

The above doc does not mention anything about enabling different things in IAM. Please elaborate here and there.

[2019-08-23 23:28] palpatim commented on #888
This has been merged and will go into our next release.

[2019-08-23 23:29] palpatim commented on #873
This has been merged and will go into our next release.

[2019-08-25 13:03] Ranchee commented on #1148
I've resolved the issue,thank you very much.

[2019-08-25 13:03] #1148 closed

[2019-08-25 18:10] palpatim commented on #1123
Thanks for the additional info. We're still investigating this with the service team and will update when we have more info.

[2019-08-26 07:13] davormaricdev opened #1157 "CognitoInternalErrorException: Failed to authenticate user"
**Describe the bug**
When trying to authenticate with one of our test accounts, I receive: "CognitoInternalErrorException: Failed to authenticate user" followed by "InvalidParameterException: Missing required parameter REFRESH_TOKEN (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: InvalidParameterException; Request ID: dcad640e-3a51-4f12-8f65-56643b4f5d53)"

The authenticatio

[2019-08-26 09:39] JesusMartinAlonso commented on #888
@palpatim Is there an estimated time for the next release?
Thanks you!

[2019-08-26 13:45] palpatim commented on #888
@JesusMartinAlonso No firm time, but our plan is to have it out this week.

[2019-08-26 13:48] palpatim commented on #1110
We will take on updating the sample app as a feature request and update here when we have more information.

[2019-08-27 01:05] bobguy1234 opened #1159 "AWSMobileClient - Confirm if user has signed up successfully"
Right now I'm using the AWSMobileClient to sign up users. How do I confirm that a user has successfully signedup? The callback method for signUpResult is a bit confusing to me.

When I successfully signup a user it returns two Booleans...false and null which I have no idea what that means...Could someone explain? I'm using the code provided by the AWS Amplify docs:

https://aws-amplify.github.io/d

[2019-08-27 06:12] MichalCR opened #1160 "Android cognito passwordless sign-in"
**State your question**
Hi,

I'm trying to use cognito passwordless sign-in feature. I follow this example: https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/ and deployed lambda functions. I'm able to register the user but when I'm trying to login him using this method:

`AWSMobileClient.getInstance().signIn("<email>", "<password>", null, new C

[2019-08-27 07:00] chikason opened #1161 "AWS Amplify MFA mobile phone Verification and Authentication"
**Am not receiving Authentication and Verification code on my mobile phone after registration. It was working before but suddenly stopped working.**

**AWS Amplify for Android**
[code]

**Environment(please complete the following information):**
 - SDK Version: amplify cli 1.12.0

[2019-08-27 08:22] davormaricdev commented on #1157
@palpatim The issue seems to be resolved as of 2.15.1

[2019-08-27 09:14] Rattletech opened #1162 "Having issues in configuring kinesis firehose."
After setting up AWS Kinesis, I tried to push the data to an S3 bucket through kinesis firehose stream. Here I have mentioned my details for your clear understanding.

Kinesis data streams name: **APP_STREAM**
Kinesis Firehose delivery streams name: **APP_DELIVERY_STREAM**
S3 bucket name: **APP-09-08-2019**
Cognito role name:  ### Cognito_APPdemoUnauth_Role

**Scenario**

I have selected delivery

[2019-08-27 11:21] #1159 closed, assigned to nobody

[2019-08-27 11:38] bobguy1234 opened #1163 "Is this the correct usage? MobileClient storing CognitoId after successful Sign up"
I'm using the AWSMobileClient to signup a new user. After they successfully sign up I would like to store their unique uuid aka "sub" id in my SQL database.

    AWSMobileClient.getInstance().signUp(username, password, attributes, null, new
    Callback<SignUpResult>() {
    @Override
    public void onResult(final SignUpResult signUpResult) {
        runOnUiThread(new Runnable() {
        @Overri

[2019-08-28 04:06] zach-snell opened #1165 "Uploading files in Android Q not possible without creating temporary file"
**Which AWS Services is the feature request for?**
AmazonSDK S3

**Is your feature request related to a problem? Please describe.**
Android changes to scoped storage makes it impossible to get direct filepaths to create File objects needed for uploading.

https://developer.android.com/preview/privacy/scoped-storage

**Describe the solution you'd like**
A method of uploading that works with the all

[2019-08-28 07:54] Ranchee opened #1166 "How can I streaming video & audio at the same time using Kinesis Video on Android APP ?"
**State your question**
I want to stream video & audio at the same time  on Android App，the offical demo(aws-sdk-android-samples) is only support video，Can you provder a demo ？

**Which AWS Services are you utilizing?**
Kinesis Video

**Environment(please complete the following information):**
Kinesis Video 2.15+，Android plaform.

[2019-08-28 15:49] deepakrokz commented on #1110
Hi @kvasukib,

Please update eagerly waiting for your update..

[2019-08-28 17:21] patrickkempff commented on #1136
@palpatim thank you for your reply.

I am indeed using AWSMobileClient, mostly because the docs recommend it. Is there an other way to do it without the need of implementing scenario's like transitioning from offline to online and refreshing credentials at the appropriate time so that errors do not occur when actions are taken and connectivity is not available?

[2019-08-28 19:39] chikason commented on #1161
![Screenshot_20190828-202043_1567020156974](https://user-images.githubusercontent.com/52418760/63886938-81888100-c9d3-11e9-9157-7a62cae87dd8.png)
![Screenshot_20190828-202117_1567020125498](https://user-images.githubusercontent.com/52418760/63886958-936a2400-c9d3-11e9-9d4e-df03f7c8c4b5.png)

Does this screenshot have what you asked me of or is the configuration generated by the CLI that's inside m

[2019-08-28 19:53] #1016 closed

[2019-08-28 20:53] #1132 closed

[2019-08-28 22:51] desokroshan commented on #873
A fix has been released in version 2.15.2 of the SDK. Please upgrade and verify.

[2019-08-28 22:52] desokroshan commented on #888
This has been released the version 2.15.2 of the SDK. Please feel free to upgrade and verify the fix.

[2019-08-28 22:54] desokroshan commented on #889
A fix has been released in the version 2.15.2 of the SDK. Please feel free to upgrade and verify.

[2019-08-28 23:12] garrettfritz commented on #888
Yep, this seems to be working fine now, tested with facebook/google/amazon providers.

Appreciate the fix, thank you!

[2019-08-29 11:53] Ranchee commented on #1166
@garishsood  @desokroshan  I‘ve read the amazon-kinesis-video-streams-producer-sdk-java. My Question is： How can I produce an "Audio frame" just like 1549577161733573000-audio-false-frame in the resources/data/audio-video-frames/ folder?

[2019-08-29 16:35] #1160 closed

[2019-08-29 17:22] #888 closed

[2019-08-29 17:24] desokroshan commented on #1160
@MichalCR Were you able to resolve the issue?

[2019-08-30 04:06] #541 closed

[2019-08-30 11:35] ketanspryox commented on #639
Hi i am working with aws reKognition  in android  i want to scan image and check whether it is  s3 bucket is there any who can help me with that

[2019-08-30 16:58] raphkim commented on #806
Hi @freszu,

I wasn't able to reproduce the exact bug, but I think I have a potential fix for your issue. Would it be possible to test your app with this [code base](https://github.com/raphkim/aws-sdk-android/tree/gson-fix) to see if your issue is resolved?

If not, would you be able to provide us with more information regarding what proguard rules you used to obfuscate your code? For example, did

[2019-08-31 09:10] mregnauld opened #1171 "Invalidate or refresh access token manually"
**Which AWS Services is the feature request for?**

Cognito

**Is your feature request related to a problem? Please describe.**

In my project, I have users in different Cognito user pool groups with different IAM roles. For example, one group contains the users that use my Android app for free, and another group contains the users who pay for advanced features. Those features are APIs in API Gate

[2019-08-31 09:16] mregnauld commented on #658
I just experienced the same problem with the SDK version 2.14.1.
Is there any update?

[2019-08-31 09:17] ekkelenkamp commented on #937
I've been testing with the 2.15.1 release for a week now and haven't seen the issue anymore. Looks like the issue has been fixed. Thanks for the update!

[2019-08-31 22:23] ArthurSav commented on #937
Released 2.15.1 this week and no crashes so far.

[2019-09-01 17:12] rodrigoarias commented on #937
So far so good, thanks for the fix.

[2019-09-01 19:02] AlexKashi opened #1172 "Pinpoint Analytics Exceeded maximum endpoint per user count: 10"
Same Issue as https://github.com/aws-amplify/amplify-js/issues/1378

Clearing android cache creates an additional endpoint. After multiple times the endpoint limit is reached, and none of the old endpoints are deleted.

The fix seems to be implemented in the javascript SDK but not in android.

I added - "mobiletargeting:GetUserEndpoints" to my I AM policy but that did not help.

[2019-09-01 20:13] deepakrokz opened #1173 "Crashes while using TransferService in Oreo & Above"
**Describe the bug**
Getting this crash log:
[code]

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
S3 upload
**Expected behavior**
As per discussion in this thread [https://github.com/aws-amplify/aws-sdk-android/issues/1110#issuecomment-525806163](url), I implemented above code in my application class and calling the same from different for some devices it

[2019-09-03 05:57] snowswinginthewind opened #1174 "Some undisable log makes information insecurity"
**To Reproduce**
1.Keep the isPersistenceEnabled's value is true.
2.after install, open the app which used for the first time,you can see the logs contain AWS account info.
I tried the "disabling all Loggings" method as official doc:https://aws.amazon.com/cn/blogs/mobile/logging-with-the-aws-sdk-for-android/ ,It doesn't work.

**Which AWS service(s) are affected?**
aws-android-sdk-core:2.13.+, 2.1

[2019-09-03 06:03] snowswinginthewind opened #1175 "Make the logs in the SDK can be disabled"
**Which AWS Services is the feature request for?**
aws-android-sdk-core:2.13.+, 2.14.+, 2.15+

**Is your feature request related to a problem? Please describe.**
I tried to disable logs in SDK with below method, it doesn't work:
https://aws.amazon.com/cn/blogs/mobile/logging-with-the-aws-sdk-for-android/
Some SDK logs may let users get AWS account info, it's insecurity.

**Describe the solution yo

[2019-09-03 17:28] desokroshan commented on #937
Thanks for the feedback!

[2019-09-03 17:28] #937 closed

[2019-09-03 20:52] royjit commented on #1175
Closing this as duplicate for issue #1174

[2019-09-03 20:52] #1175 closed

[2019-09-04 16:05] tanujsai opened #1177 "javax.net.ssl.SSLHandshakeException: SSL handshake aborted:"
**Describe the bug**
In Android 4.x we are observing SSL handshake aborted for subscription initialization.

 **To Reproduce**
Can be reproduced by using any kitkat (4.4.X) devices

 **Which AWS service(s) are affected?**
AWS Subscription feature.

 **Error Logs**
[code]

**Environment Information**
 - AWS Android SDK Version: 2.13.7
-- com.amazonaws:aws-android-sdk-core:2.13.7
-- com.amazonaws:aw

[2019-09-04 17:35] htrujill commented on #1136
Will custom migrations using LambdaTriggers be supported soon in AWSModileClient?

[2019-09-04 18:46] christina-immanuel commented on #1115
I'm on 2.15.2 and I get the same error.

[2019-09-04 18:58] royjit commented on #1053
Hi, Thank you for reaching out. Could you please share the settings that you use in your Cognito user pools? Also are you using AWSMobileClient ?

[2019-09-04 19:05] desokroshan commented on #1163
@bobguy1234  PR https://github.com/aws-amplify/aws-sdk-android/pull/1107 has been released in the version 2.15.2 of the SDK. Please feel free to try it out and let me know if you have any feedback.

[2019-09-04 23:12] #873 closed

[2019-09-05 19:13] BillBunting commented on #1003
Any update on this?

[2019-09-05 23:09] raphkim commented on #1020
Hi @Junaid1111 ,

Thank you for waiting. The requested change was merged and we plan to make it available in release 2.16.0. I hope this resolves your issue.

[2019-09-06 17:01] #1001 closed

[2019-09-06 17:01] #1108 closed

[2019-09-06 17:01] #1109 closed

[2019-09-06 18:57] TrekSoft commented on #1165
Hey Zach, I haven't tried this out yet but it seems like within the new scoped storage you can still get URIs to external files. From that, you could call uri.getPath() to create the File object. Does this answer your question?

[2019-09-07 01:48] zach-snell commented on #1165
@TrekSoft
I would not call myself an Expert so feel free to correct me.

However, as I understand it, you can not use this from a MediaStore Content URI which is the only real way to access files in Android 10.
The recommended way I found would be to get the data object from MediaStore. However, they are removing that in Android 10 as well.

Thanks for looking at this!

Zach

[2019-09-07 08:32] artakka-isp commented on #854
Wrong orientation

[2019-09-09 12:01] samyakjain commented on #354
I am also facing the same issue. Why this issue has been closed?

[code]

[code]

[2019-09-09 12:08] Arpanbajpai commented on #354
Just make sure to insert Locale of your country inside your app.

[2019-09-09 15:57] TrekSoft commented on #1165
Hey, yeah so I tried this example they give in the documentation there of how to use the storage access framework and then called uri.getPath() in addition to the getString method they show in the example and it worked great for returning the path of the file: https://developer.android.com/guide/topics/providers/document-provider#results

[2019-09-09 16:13] zach-snell commented on #1165
@TrekSoft  I agree with you that StorageAccessFramework will more than likely work.

I guess I was wanting to find a way to follow the recommended method for accessing media type files for Android.

If storage access framework is the way to go then I will just have to deal with that but know that it causes a degraded user experience.

Basically I want to offer them to upload any media file on thei

[2019-09-09 17:06] TrekSoft commented on #1165
Ah gotcha - yeah I don't think there's a way around getting user permissions for external storage.

[2019-09-09 17:06] #1165 closed

[2019-09-09 17:15] zach-snell commented on #1165
@TrekSoft
We can keep this closed for now but just to be clear, MediaStore/ContentResolver already requires external file permission.

SAF with Android 10 will just require a user to use the "Picker" to select your access.

I am fine with granting permissions. It just sucks when you require user input and they can fail to grant the correct location etc. Very error prone.

Thanks anyways!

Perhaps

[2019-09-09 17:31] TrekSoft commented on #1165
Yeah feel free to reopen this issue if you end up having a specific use case code sample you can post here where our existing functionality limits the usability of your app.

[2019-09-10 06:56] samyakjain commented on #354
How to do that? Also what if my app gets downloaded from a different country would that be a problem?

[2019-09-10 07:00] Arpanbajpai commented on #354
While initializing app just declare Locale with country code in your app

[2019-09-10 10:06] samyakjain commented on #354
Thanks a lot. This solved the error

[2019-09-10 13:13] deepakrokz commented on #1173
Can somebody help me with this problem? I am expecting a solution to this.

[2019-09-10 21:13] desokroshan commented on #1115
@christina-immanuel Thanks for the feedback. We will investigate and get back to you.

[2019-09-11 08:06] gitnarqt opened #1190 "Getting timeout in TransferUtility on unstable connection"
**Describe the bug**
I'm trying to upload 20 images of 30MB each to my S3 bucket using the Amazon android SDK and TransferUtility. It starts off well until I get this error for some of the uploads:

`java.util.concurrent.ExecutionException: com.amazonaws.AmazonClientException: Unable to execute HTTP request: timeout
        at java.util.concurrent.FutureTask.report(FutureTask.java:123)
        at

[2019-09-11 19:57] mzeccavb commented on #1177
Experienced same issue with AppSync using JellyBean device

[2019-09-12 08:00] cmbaykal opened #1212 "Custom Authorization"
Hi in the AWS Amplify IOS SKD has pubsub custom authorization but android sdk hasn't.
I resarch many contents. Custom authorization can be added android but not legally.

[2019-09-12 14:12] adrianolc opened #1191 "UnsupportedOperationException when try to use CognitoUserPool with awsconfiguration file without AppClientSecret property"
I'm trying to create CognitoUserPool using the awsconfiguration.json file passing the instance of AWSConfiguration instead of creating CognitoUserPool passing all ids on the constructor.

With this constructor
/** * Constructs a user-pool with default {@link ClientConfiguration}. * * @param context REQUIRED: Android application context. * @param awsConfiguration REQUIRED: Holds the configuration r

[2019-09-13 05:42] arindamxd opened #1193 "TransferService (S3) crashing for Pixel 3a (Android 10) on background"
**Describe the bug**
Trying to upload data to S3 while in the background it's crashing on Android 10 devices.

Log
[code]

**Which AWS service(s) are affected?**
S3 & TransferService

**Expected behavior**
Using WorkManager instead of using Service/IntentService may solve the problem.

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.2.+
 - Dev

[2019-09-13 08:24] adrianolc commented on #1191
Exactly it's not because is NULL it's because is EMPTY.

But yep, I gonna share with you what did you ask

[2019-09-13 08:33] adrianolc commented on #1191
So this is our CognitoUserPool on awsconfiguration.json

[code]

[2019-09-13 08:38] adrianolc commented on #1191
And this is our AuthenticationHandler, we wrapped it on CustonHandler to fit better in our architecture.

[code]

We are using this constructor here and it is working fine, but we've like to use the one we just pass the AWSConfiguration to make it simple

`CognitoUserPool(context, config.cognitoPoolId, config.cognitoAppClientId, null, config.cognitoRegion)`

[2019-09-13 16:10] shashikdm opened #1211 "More customizability in the Drop in UI"
Drop in UI is amazing feature. It would be even more useful if following methods were implemented:
- `setUsernameHint, setPasswordHint`
- `signUpOptions.AddField("fieldname")`
- `signUpOptions.rmField("fieldname")`

It will also feel nicer if there's a please wait animation or spinner when clicked on login

[2019-09-13 17:22] TrekSoft commented on #1173
Hi @deepakrokz,

Just wanted to give you a quick update that KV will be back on Monday so I'll let him know you're looking for an update on this.

[2019-09-13 17:36] CezaryGoralski opened #1194 "Long response time in confirmSignUp, signIn"
**State your question**
Hello currently Im using AWSMobileClient to authenticate my users in my application and I have observed that the response time is ussaly quite long  for those 2 requests ( confirmSignUp, signIn). For the confirmSignUp is ussualy around 11-14s, sometimes it's about 3-4s (rarely).
![image](https://user-images.githubusercontent.com/11683322/64882063-97957300-d65c-11e9-96c5-0e4

[2019-09-13 17:42] desokroshan commented on #1191
I am sorry, I meant empty but typed out null instinctively. I have edited the comment.

[2019-09-13 19:00] desokroshan commented on #1191
Can you try using `AuthenticationDetails(username, password, authParameters, null);` with an empty mapOf<String, String>() along with a dummy password for creating authentication details.
Also if you want to use `AuthenticationDetails(userName, authParams, null)`, cam you make sure that the type of authParams map is explicitly set to <String, String>. From a quick research online it looks like typ

[2019-09-13 19:35] vishveshpandya commented on #1194
Yes, I am also facing the same issue. It is taking way longer to get API response.

[2019-09-13 20:23] TrekSoft commented on #1118
Hey Yuri,

I reproduced the steps in that article and it's missing one key step - you need to go to your IAM service, select roles, find the role you created in Incognito for unauth users (should look like Cognito_<your role title>Unauth_Role), click Attach Policies, check AmazonS3FullAccess, and then AttachPolicy.

Let me know if that fixes your issue.

[2019-09-13 21:53] LiMuBei opened #1196 "Using AWS Android SDK with Room library"
**State your question**
I'm trying to use AWS Android SDK together with the Room library for local data persistence in my app. In the `lintDebug` task I am getting an error (see below) because of version conflicts with the gson library. Is this somehow fixable? Are these libraries incompatible in these versions?

**Which AWS Services are you utilizing?**
Cognito User Pools

**Provide code snippets

[2019-09-15 21:11] commoncrow commented on #631
I have a similar requirement, anonymous user but requirement to validate the app instead. Did you manage to find a way around this ? Or use firebase to validate the app store ?

[2019-09-15 21:26] mihirmendapara opened #1198 "AndroidPubSUb example not working.(Failed to initialize Cognito Identity;)"
**Describe the bug**
After following the step's provided in
 https://github.com/awslabs/aws-sdk-android-samples/blob/master/AndroidPubSub/README.md

able to launch application on my android device but button of "connect" is not active.so not able to connect my device to AWS.

after this i download old sample from

https://github.com/awslabs/aws-sdk-android-samples/tree/03488248f78cc3654b2486cc86ec

[2019-09-15 21:29] markorakita commented on #1074
@kvasukib @palpatim Any updates here? Another month went by.. :)

Offline support is crucial feature in the app I am developing, so this issue is really a deal breaker for me. If you don't plan to fix it, it would be useful to know so I can find some replacement for AWS Pinpoint.

[2019-09-16 09:39] adrianolc commented on #1191
@desokroshan found the problem, we can't use `mapOf` but `mutableMapOf`.
So the error was that the SDK tries to add this null ` secretHash` on the  `authenticationParameters` and it does not accept a new value because it's not mutable

Thanks for the help

PS: more and more people are using kotlin nowadays, you guys should keep it in mind when writing documentation, this case was 0 clear and toke

[2019-09-16 16:33] desokroshan commented on #1198
@mihirmendapara Can you please share your awsconfiguration.json. The above error usually is result of identity pool not being setup correctly. I am able to work perfectly with the sample app as is following the instructions. Can you please make sure you followed the identity pool setup perfectly. Thanks!

[2019-09-16 16:36] desokroshan commented on #1196
@LiMuBei Thanks for reaching out. Can you share more information about the Room library you are trying to use such as its version etc.?

[2019-09-16 16:38] desokroshan commented on #1194
@CezaryGoralski Thanks for reaching out. Is this spike in the time take a recent phenomenon or has it always been there? Did you upgrade the SDK version recently which caused this increase in the API calls? Can you share more information around this?

[2019-09-16 16:46] desokroshan commented on #1193
Calling `startService` when the app is in the background will crash your application on devices running Oreo and above. This is part of limitations introduced by Android on background processing for devices running Oreo and above : https://developer.android.com/about/versions/oreo/background.

The solution for devices running Oreo and above would be to invoke `startForegroundService` with a valid

[2019-09-16 16:50] LiMuBei commented on #1196
@desokroshan Sure! Here are the dependencies in my `build.gradle`:
[code]

Where the Room version is defined as `room = '2.1.0'`

[2019-09-16 16:52] LiMuBei commented on #1196
I'm basically following this codelab: https://codelabs.developers.google.com/codelabs/android-room-with-a-view-kotlin/

[2019-09-17 00:44] desokroshan commented on #1191
@adrianolc I was expecting it to have something to do with the way map was declared since your error was not from the service. Good to hear that its working and thanks for your feedback.
Btw, we suggest using AWSMobileClient for all authentication use cases in your app. Is there a reason you are using CognitoIdentityProvider SDK instead of AWSMobileClient? We are working on custom auth support in

[2019-09-17 02:21] alan0987270275 commented on #1018
Thank you so much!!!!

[2019-09-17 08:15] roylee0704 opened #1200 "ClientConfiguration: How do I configure "RequestTimeout""
**State your question**

How do I configure "RequestTimeout" via `new ClientConfiguration()`? In AndroidSDK doc, I'm able to set it via `new ClientConfiguration().withRequestTimeout()`, however that function is missing under `AWS-amplify`.

**Which AWS Services are you utilizing?**

I'm utilising AWS-SQS with maximum long-polling: 20s. Apparently, I received an Exception `Unable to execute HTTP re

[2019-09-17 08:20] adrianolc commented on #1191
We're using because of the custom auth, when you release it on the AWSMobileClient then we can try and stop to use directly on cognito

[2019-09-17 08:21] #1191 closed

[2019-09-17 15:22] freszu commented on #806
Hi @raphkim sorry for coming with an answer so late.

So i managed to make a local build with your changes and use generated jars instead.
The mentioned enum was still removed upon obfuscation and i experienced the same error until i reapplied the rule mentioned in first post. It seems that R8/proguard thinks that this enum is never used and so it's removed upon obfuscation/something is renamed.
T

[2019-09-17 15:29] mregnauld opened #1201 "Delete user account from AWS Cognito using the Amplify Android SDK"
**Which AWS Services is the feature request for?**
Cognito

**Is your feature request related to a problem? Please describe.**
Using `AWSMobileClient` in an Android app allows to do pretty much anything, except deleting a user. A user cannot delete his account by himself from AWS Cognito only using `AWSMobileClient`.

**Describe the solution you'd like**
Is it possible to get a function that allow

[2019-09-17 16:22] CezaryGoralski commented on #1194
@desokroshan Thank you for response. I have started developing by using AWS amplify around 1 month ago so for me it was there from the beginning. I didn’t increase the lib version so probably it’s not the case and it’s strange that other requests like forgotPassword, resendSignUp, federatedSingIn via facebook and google are taking much less time than confirmSignUp and signIn. If you have any idea

[2019-09-17 16:32] kvasukib commented on #1200
@roylee0704 Thank you for reporting to us. We do not support `requestTimeout` at this moment. By `requestTimeout` do you mean `The amount of time to wait (in milliseconds) for a request to complete before giving up and timing out.`? If so, we will take this as a feature request add it to our backlog for prioritization.

[2019-09-17 20:23] Shakezulla57 commented on #616
This still seems to be an issue. Setting an emulator into a poor network state will make the transfer fail (which is expected). Once a good network is reestablished the transfer will resume itself and complete. However, the `TransferObserver` won't have its `TransfertState` updated. The issue is that we can't seem to accurately tell if an upload has actually failed (for real) or has failed initial

[2019-09-18 04:15] roylee0704 commented on #1200
@kvasukib  Yes, that's what I meant :)

Alright noted, thanks for the prompt reply!

[2019-09-18 05:15] arindamxd commented on #1193
Thanks, fixed it by upgrading Core + S3 version to **2.15.+**.

[2019-09-18 05:15] #1193 closed

[2019-09-18 05:43] Mehdi-android opened #1203 "Manual setup instead of amplify add auth"
**State your question**
I want to do manual setup for amplify add auth, as I want to allow users to authenticate using cognito.

**Which AWS Services are you utilizing?**
AWS Amplify

**Environment(please complete the following information):**
- implementation 'com.amazonaws:aws-android-sdk-core:2.15.2'
- implementation ('com.amazonaws:aws-android-sdk-mobile-client:2.13.+@aar') { transitive = true

[2019-09-18 08:42] cjeremylin opened #1204 "Please provide refreshSession() method in AWSMobileClient for getting latest access token"
**Which AWS Services is the feature request for?**
Cognito Auth

**Is your feature request related to a problem? Please describe.**
At this moment, there is no public method to exchange the latest access tokens with refresh token in AWSMobileClient. This use case is similar with #1171 . According to official documentation says "ou don’t need to refresh Amazon Cognito tokens manually" [1], but in s

[2019-09-18 16:16] palpatim opened #1207 "Allow Pinpoint targeting client to update user attributes"
(See https://github.com/aws-amplify/aws-sdk-ios/issues/1861 for the equivalent iOS feature)

---

The `targetingClient`'s `updateEndpoint` flows do not expose the ability to update UserAttributes, which is supported by the Pinpoint [UpdateEndpoint](https://docs.aws.amazon.com/pinpoint/latest/apireference/apps-application-id-endpoints-endpoint-id.html#UpdateEndpoint) operation.

These attributes ar

[2019-09-18 22:28] desokroshan commented on #1041
This has been release in version 2.16.0 of the SDK.

[2019-09-19 02:22] BillBunting commented on #1003
Still a problem for me after upgrading to 2.16.0. After sign-out, especially after an hour, the buttons on the provided sign-in UI do not do anything.

[2019-09-19 10:55] hasbisevinc commented on #684
Any update?

[2019-09-20 11:52] truongnguyen-agilityio opened #1208 "refreshToken is invalid after signed in"
**Describe the bug**
After I signed in my app successfully. I get refreshToken but it's invalid

Get refreshToken success
[code]

Get refreshToken expiration fail
[code]

Error
[code]

[2019-09-20 13:08] amarpulli1994 opened #1209 "Run mqtt subscription in android service"
I m going to run mqtt subscription in android service. When i was run the application, getting null object refernce.
My service file:
[code]
Log files:
[code]
[code]

[2019-09-20 17:12] kvasukib commented on #1209
@amarpulli1994 Thank you for reporting to us. You need to create the `AWSIotMqttManager` object before using it. See https://github.com/awslabs/aws-sdk-android-samples/blob/master/AndroidPubSub/src/com/amazonaws/demo/androidpubsub/PubSubActivity.java#L207 for further details.

[code]

[2019-09-20 17:22] kvasukib commented on #1208
@truongnguyen-agilityio Sorry for the inconvenience caused.

What SDK are you using? `AWSMobileClient` (`aws-android-sdk-mobile-client`) or `CognitoUserPools` (`aws-android-sdk-cognitoidentityprovider`)?

Can you post a code snippet where you initialize the SDK objects and the code which performs the signIn?

Do you wait until the signIn operation completes before checking for the refresh token?

[2019-09-20 18:19] TrekSoft commented on #1190
Hey Nicolas,

Looks like this is probably the same issue as #1006 so I'll close this one out and you can track that one which we'll be actively working on. If, though, it looks like the solution over there or problem is not the same as yours, feel free to reopen this.

[2019-09-20 18:19] #1190 closed

[2019-09-20 19:25] kvasukib commented on #1003
@BillBunting I am looking at the changes introduced in `2.13.4` version of the SDK: https://github.com/aws-amplify/aws-sdk-android/commit/6366298d05f71288a410446812c437df1790a7bf#diff-4c45bdc12da735f85afbec1351910e2dR2932 mainly on the change where a call to `registerConfigSignInProviders` is introduced as part of `showSignIn` API where we register the SignIn providers if they are not registered (

[2019-09-20 22:00] desokroshan commented on #1203
@Mehdi-android Thanks for reaching out. We recommend using CLI for backend configuration rather than manual configuration. You mentioned that you ran into some issues while configuring via amplify add auth. Can you share more details about the problem you ran into?

[2019-09-20 22:25] desokroshan commented on #1191
@adrianolc We have released support for custom auth in AWSMobileClient in the latest release 2.16.0. Please refer to the documentation here https://aws-amplify.github.io/docs/android/authentication for more details. Let me know if you have questions.

[2019-09-20 22:42] desokroshan commented on #1201
@mregnauld Thanks for reaching out. AWSMobileClient does not have a deleteUser method by design. We do not see a very relevant mobile use case for it. Please let us know more about your particular use case so that we can see if there are alternate ways of achieving it. Thanks!

[2019-09-21 00:30] chikason opened #1210 "AWSMobileClient amazonS3 Image/file upload error"
** CognitoCachingCredentialsProvider login Error **

** Amplify amazons3 **

**
[code]
 **
**Error Message **
 1 validation error detected: Value '{www.amazon.com=}' at 'logins' failed to satisfy constraint: Map value must satisfy constraint: [Member must have length less than or equal to 50000, Member must have length greater than or equal to 1] (Service: AmazonCognitoIdentity; Status Code: 400;

[2019-09-21 04:45] amarpulli1994 commented on #1209
@kvasukib thnaks for response,
I tried initialization AWSIotMqttmanager in android service like below way

[code]
But when i was publish the message from one client, didn't get any message which is sent from client.

[2019-09-21 08:57] mregnauld commented on #1201
Well, what if the users of my mobile app want to delete their accounts? It looks like a pretty relevant use case to me, especially with the GDPR reglementation in Europe.
I already know a workaround by using the `CognitoUser.deleteUserInBackground()` function, but it's just that I'm surprised that there is not an equivalent in the Amplify SDK.
But maybe it's not good practice and in that case, wha

[2019-09-21 11:32] gitnarqt commented on #1006
I had the same issue #1190 and was able to solve it by increasing my connection timeout and socket timeout to 5 minutes.

[2019-09-21 15:59] mihirmendapara commented on #1198
Hi Roshan,

here is my awsconfigration.json

{
  "Version": "1.0",
  "IdentityManager": {
    "Default": {}
  },
  "CredentialsProvider": {
    "CognitoIdentity": {
      "Default": {
        "PoolId": "ap-south-1:3bf4XXXX-XXXX-XXXX-9d8e-6cXXXd0daf43",
        "Region": "Regions.AP_SOUTH_1"
      }
    }
  }
}

[2019-09-21 17:53] desokroshan commented on #1212
@cmbaykal Thanks for reaching out. This issue is already being tracked in https://github.com/aws-amplify/aws-sdk-android/issues/429. Please follow that thread for updates. Closing this as duplicate.

[2019-09-21 17:53] #1212 closed

[2019-09-22 13:19] chikason opened #1213 "AWSMobileclient Transferutility Image upload. Access Denied when I use Cannedcontrollist for public access"
** Access Denied when I use CannedAccesscontrollist for public access but works after removing the  CannedAccessControlList **

*AWS Amplify **

AWSMobileclient Transferutility Image upload. Access Denied when I use Cannedcontrollist to public access

 TransferUtility transferUtility = TransferUtility.builder()
                        .context(getActivity().getApplicationContext())

[2019-09-23 01:34] truongnguyen-agilityio commented on #1208
I am using `com.amazonaws:aws-android-sdk-mobile-client` version 2.16.0

this is my codes:
[code]

[2019-09-23 07:00] Mehdi-android commented on #1203
Somehow after installing CLI when I try to run command amplify configure, it says command not found.
Node version - v11.15.0
NPM version - 6.7.0.

Tried uninstalling & installing node but nothing helped.

`Successfully installed the Amplify CLI
----------------------------------------
Javascript Getting Started - https://aws-amplify.github.io/docs/js/start

Android Getting Started - https://aws-am

[2019-09-23 17:19] kvasukib commented on #1198
@mihirmendapara The region value should be ```"Region": "ap-south-1"```

[2019-09-23 20:28] BillBunting commented on #1003
@kvasukib I checked what you recommended.

Please note, the problem is intermittent, like a race condition or timeout unless the token is expired (an hour has past), then it happens every time.

https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L3144

This log statement does not appear.

Rather, I

[2019-09-23 22:31] raphkim commented on #1006
Hi @partheebanj

We have identified the root cause of your problem to be how `TransferUtility` is currently implemented to handle interrupted transfers from an actual network loss (as detected by Android OS). In such case, the transfer state will be set to `WAITING_FOR_NETWORK` and resume itself automatically upon regaining connection. Otherwise, transfer state will be set to `FAILED` and it will

[2019-09-24 00:29] BillBunting commented on #1003
@kvasukib  It is possible that by not repeating the AWSMobileClient.getInstance().initialize after sign out, the problem may be resolved. Testing and sending to beta testing.

Thank you for your assistance!

[2019-09-24 04:18] SwiftyWang opened #1215 "Cognito - Sign In - Error in federating the token"
**State your question**
Exactly same found as https://github.com/aws-amplify/aws-sdk-android/issues/942.
I tried to remove the CredentialsProvider and IdentityManager sections then can retrieve accessToken. But have same warning **Failed to federate tokens during sign-in
    java.lang.Exception: Federation is not enabled, please check if you have CognitoIdentity configured.**

Any update about thi

[2019-09-24 04:19] SwiftyWang commented on #942
@luanalbineli Have you fixed it yet? I have same issue as yours. My awsconfiguration.json is copied from iOS side.

[2019-09-24 21:17] BillBunting commented on #887
For future reference, a custom marshaller can only handle a string type in DynamoDB (@DynamoDBMarshalling). The iOS version of my app was marshaling a NSNumber to either a Boolean or a Number in DynamoDB.

[2019-09-25 02:05] SwiftyWang commented on #1215
I checked the mobile client sdk maybe issues happened here
[code]
inside **__signIn_** method.
Here isFederationEnabled() always will be true and I cannot find a place to set it false.
Anyone can help?

[2019-09-25 15:17] DmitryDoneIT opened #1217 "User session is not valid after session onSuccess"
**State your question**
My application uses cognito authentication and recently, on some devices, a problem started that after a successful session, this session is not valid, based on  firebase crashlytics, this happens only with Redmi Note 6 Pro, MI 9 and some other devices, also users of these devices reported that they cleaned the application cache and it didn’t help
also these users were chec

[2019-09-25 16:58] fovea1959 opened #1218 "AmazonCognitoYourUserPoolsDemo does not build against 2.16"
**Describe the bug**
Current version of AmazonCognitoYourUserPoolsDemo from https://github.com/awslabs/aws-sdk-android-samples does not build (last commit 38ca99d).

There was a breaking change in 2.16.0 of com.amazonaws:aws-android-sdk-cognitoidentityprovider that AmazonCognitoYourUserPoolsDemo needs to be modified for (the signature for the onSuccess method in SignupHandler() changed, see https:

[2019-09-25 17:10] desokroshan commented on #1218
@fovea1959 Thanks for pointing that out. I will update the sample app and let you know

[2019-09-25 17:27] fovea1959 commented on #1218
Possible patch:
[code]

[2019-09-25 20:44] desokroshan commented on #1218
@fovea1959 I have updated the sample to be compatible with version 2.16.0 of the SDK. Please let us know if you have continue to see issues. Thanks!

[2019-09-25 20:44] #1218 closed

[2019-09-25 23:21] raphkim commented on #1173
Hi @deepakrokz

I see that you are starting foreground service for Oreo & above android versions, which is the correct approach. Would you be able to check that you have provided the app with foreground service permission by including `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in your `AndroidManifest.xml` file?

[2019-09-25 23:46] raphkim commented on #1113
Hi @dkch90

Thank you for reporting this issue. May I ask why you chose not to use the built in `TransferUtility.cancel(transferId)` API to cancel your transfers? Would you be able to try it with that instead and let us know the result? Thanks!

[2019-09-26 00:30] #1041 closed

[2019-09-26 10:47] SubirZ commented on #1160
Hi @desokroshan,
I am trying to implement the passwordless signIn, but in the mobile SDK sign-in method has a mandatory password field, on providing null/""(blank) password it throws an error.

for blank password:""
Sign-in errorIncorrect username or password. (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 47494e68-687c-4eb1-aae3-8c2a3a88

[2019-09-26 15:28] rbarbish commented on #873
Still seeing this on 2.15.2, on initialize it will tell me a user is signed in "result.getUserState().equals(UserState.SIGNED_IN)", then later on when I try to getTokens() it will say "AWSMobileClient: waitForSignIn: userState:SIGNED_OUT_USER_POOLS_TOKENS_INVALID in the console".

[2019-09-26 17:33] rbarbish commented on #873
See the following code block, immediately after it reports UserState.SIGNED_IN it fails at the line to getTokens() with the console output "D/AWSMobileClient: waitForSignIn: userState:SIGNED_OUT_USER_POOLS_TOKENS_INVALID"

`AWSMobileClient.getInstance().initialize(context, awsConfig, new Callback<UserStateDetails>() {
            @Override
            public void onResult(UserStateDetails result)

[2019-09-27 05:41] deepakrokz commented on #1173
Yes, I have already. I have mentioned this thing in earlier issues threads

[2019-09-27 18:13] #1118 closed

[2019-09-27 18:26] kvasukib commented on #1090
@kltz Sorry for the delayed response. This issue is not related to AWS SDK for Android and I suspect it is related to `okhttp`.

The AWS SDK for Android has a HTTP client implementation that is a wrapper on top of the default HTTP client implementation given by the Android Platform and the Android device. In this case, from the stacktrace I can see that `okhttp` client library is being used for ma

[2019-09-27 18:34] TrekSoft commented on #1213
Hey Chikason,

Just reproduced the issue on my end so investigating it now.

[2019-09-27 19:20] desokroshan commented on #1215
@SwiftyWang Thanks for reaching out. Can you please share the structure of your awsconfiguration.json that causes the exception. Also can you please share your identity pool configuration including all the configured identity providers?

[2019-09-27 19:57] desokroshan commented on #1217
@DmitryDoneIT Thanks for reaching out. Given that you are experiencing this issue on selected devices, a bug in the primary code path is unlikely. From the implementation of isValid() https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserSession.java#L113 method it looks lik

[2019-09-27 20:15] kvasukib commented on #1003
@BillBunting Thank you for providing additional details.

Why do you call `initializeMobileClientAndSignOut` in the `onResume` method of your activity? My main question is why are you signing out the user every time the activity is being resumed?

[code]

For this I would recommend checking if your IdentityPool has Unauthenticated access enabled. When the user is signed out, there is no valid toke

[2019-09-27 20:17] desokroshan commented on #1203
@Mehdi-android Thanks for sharing the details. It looks like this an open issue with ampli cli https://github.com/aws-amplify/amplify-cli/issues/778. You can follow the thread for updates on that issue.
But to unblock you, if you need to manually configure the awsconfiguration json please make sure you are using [AWSMobileClient](https://github.com/aws-amplify/aws-sdk-android/tree/master/aws-andro

[2019-09-27 20:24] TrekSoft commented on #1213
Alright so here's what's happening. When you setup storage and authentication through the Amplify CLI, it creates IAM policies which set the following default permissions (if you give the full permissions to auth and guest users during the CLI setup process):

- Anything uploaded to the public folder can be read/write/deleted by both authenticated and guest users (however, those guest users will s

[2019-09-28 04:31] LinearLogic commented on #1160
For anyone running into this, @desokroshan's [snippet](https://github.com/aws-amplify/aws-sdk-android/issues/1160#issuecomment-525407716) works like a charm, just not with the authflow lambdas deployed by the [Serverless App](https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:520945424137:applications~amazon-cognito-passwordless-email-auth) referenced in [the blog

[2019-09-28 20:05] deepakrokz commented on #1173
Hi @raphkim,

I am facing one more issue in some of devices like Karbon and Nokia devices:

       at android.app.ActivityThread.handleCreateService + 3081(ActivityThread.java:3081)
       at android.app.ActivityThread.-wrap4(ActivityThread.java)
       at android.app.ActivityThread$H.handleMessage + 1575(ActivityThread.java:1575)
       at android.os.Handler.dispatchMessage + 111(Handler.java:111

[2019-09-28 20:18] chikason commented on #1213
Ok.  I thought that the public means anywhere no matter where the request is coming from.
I later use or write policy that gave public access on the bucket without knowing that the App could access it.
But tell me,  in the app I wouldn't download the App using AWSMobileclient but access it using image processing library like Glide. My question is will it recognize the call made through this Api or

[2019-09-29 06:15] uokitomer commented on #684
Any updates?

[2019-09-29 18:29] deepakrokz opened #1226 "Crashes related to com.amazonaws.internal.keyvaluestore.KeyProvider23.getKey"
**Describe the bug**
I am getting such crashes on fabric report and play store's Android Vitals section.

KeyProvider23.java line 73
com.amazonaws.internal.keyvaluestore.KeyProvider23.getKey

Fatal Exception: java.lang.RuntimeException: Unable to create service com.canlah.services.KaraokeUploadService: java.lang.IllegalStateException: Error in initializing the CognitoCachingCredentialsProvider.

[2019-09-30 13:36] TrekSoft commented on #1213
Ok, how are you going to get the link to pass to Glide?

[2019-09-30 16:37] kvasukib commented on #1226
@deepakrokz This issue has been fixed in [2.15.1](https://github.com/aws-amplify/aws-sdk-android/blob/master/CHANGELOG.md#release-2151) version of the SDK. Please upgrade to the latest to get the bug fixes.

[2019-09-30 19:15] chikason commented on #1213
Knowing the actually address of the bucket. Each time I am uploading a file  I construct a URL linking the file using filepath. I'll first of all get the extension of the file ( i.e .MP4 ) and use it to build the filepath with whatsoever I chose to name the file.  And after that, I save it on database.

[2019-09-30 19:57] TrekSoft commented on #1213
Gotcha - ok yeah it wouldn't be able to access it. So for now you should use the override I mentioned to be able to set the ACL policy as you were trying to do.

[2019-09-30 19:58] TrekSoft commented on #1213
Or, you can use the GeneratePresignedURL method from the S3 Client to get a URL you could save in your database that would be accessible even with the current default public folder settings:

https://docs.aws.amazon.com/code-samples/latest/catalog/java-s3-src-main-java-GeneratePresignedURL.java.html

[2019-09-30 20:51] raphkim commented on #1173
Hi @deepakrokz

Thank you for the update. I believe the keystore issue was already addressed in the other thread.

Regarding running TransferService in the foreground, we will further investigate the issue to identify the cause of inconsistency between devices.

[2019-10-01 07:12] Mehdi-android commented on #1203
Thanks. But please solve that CLI issue as lot of developers are facing this CLI issue.

[2019-10-01 07:12] #1203 closed

[2019-10-01 12:06] evans-github commented on #873
Getting the same issue as @rbarbish

[2019-10-01 13:35] jonsmirl commented on #634
I would like to see Federated login implement in the drop-in UI using the social SDKs. This would support rapid prototyping of apps to show clients. The clients all want social logins and they are used to seeing the social SDK login flows. You don't want to have to develop a custom authentication solution before the client is sold on the project.  Start with a functioning drop-in supporting social

[2019-10-01 20:49] TrekSoft commented on #1213
Closing this issue for now - feel free to reopen if you have any more questions.

[2019-10-01 20:49] #1213 closed

[2019-10-01 21:15] BillBunting commented on #1003
@kvasukib , thank for taking a look.

In `onResume` the user is only signed out if they have not agreed to the app's terms and conditions and they are not already signed in (`bio` is null if they are not signed in). If they have already agreed to terms and conditions, and the AWSMobileClient has not been initialized, it will be initialized.  Otherwise, the app just continues and loads the user dat

[2019-10-02 12:23] karlkilgi commented on #684
Any updates on this? @minbi @rohandubal

[2019-10-03 00:16] #1101 closed

[2019-10-03 17:53] #1053 closed

[2019-10-04 06:38] HashimAli09 opened #1231 "ConcurrentModificationException in pauseAllTransfersDueToNetworkInterruption, aws-android-sdk-core:2.16.0"
**Describe the bug**
I see that this issue was already opened before https://github.com/aws-amplify/aws-sdk-android/issues/777

But we are still rarely encountering a ConcurrentModificationException at
pauseAllTransfersDueToNetworkInterruption in aws-android-sdk-core:2.16.0

`java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1441)
        at

[2019-10-04 06:53] chandusam2002 opened #1232 "S3 GetObject request failing with "More data read(78279) than expected" error."
**Describe the bug**
AmazonS3Client's getObject call to retrieve a s3 object is failing with an error com.amazonaws.AmazonClientException: More data read (78279) than expected (76839). The s3 object that is being retrieved has Content-Encoding of gzip and i verified that the actual content length is 76839 (used aws cli to confirm).

Not sure it matters but the s3 object is using kms server encrypt

[2019-10-04 07:33] whhotw opened #1233 "aws-sdk 2.16.x proguard configuration"
Currently
[code]
<img width="1193" alt="Screen Shot 2019-10-04 at 3 31 16 PM" src="https://user-images.githubusercontent.com/6612648/66189384-35101f80-e6bc-11e9-9d78-03626551f8a3.png">
Compile fail always. help wanted!

[2019-10-04 13:03] chris6647 opened #1234 "Implied READ_PHONE_STATE permission"
I am experiencing the same issue as https://github.com/aws-amplify/aws-sdk-android/issues/380
Having upgraded from `com.amazonaws:aws-android-sdk-iot:2.6.18` to `com.amazonaws:aws-android-sdk-iot:2.16.1@aar`
I now find the permission READ_PHONE_STATE having been added, as the merge report states:

[code]

When I tried to include the source code from release_v2.16.1 and its dependant modules, as ne

[2019-10-04 17:21] TrekSoft opened #1235 "Add access to a method to get connection status on demand for IOT"
**Which AWS Services is the feature request for?**
IOT

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A way to get connection status on demand without relying on a callback

**Describe alternatives you've considered**
- Calling connect just to get connection status and reading the callback
- Tracking connection status in app state

**Ad

[2019-10-04 17:40] raphkim commented on #1231
Hi @HashimAli09

I see that you are using s3 version 2.13.5, but this bug was fixed in 2.13.7. Would you be able to let us know if this behavior still happens when you update the dependencies? Thank you!

[2019-10-04 17:55] juanto121 commented on #684
Updates would be much appreciated.

[2019-10-04 19:10] emarc-m opened #1236 "S3 upload MD5 not automatically populated"
**State your question**

I've read the documentation for the MD5 file integrity check when uploading files to S3. Please see: https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/services/s3/model/ObjectMetadata.html#getContentMD5--

It says on the documentation that
[code]

However, looking at the database entry for the transfer utility, it does not contain any data about th

[2019-10-04 19:18] #1090 closed

[2019-10-04 22:39] raphkim commented on #1173
@deepakrokz

Hi, would you be able to provide us with the logs from TransferService so that we may better assess the situation? Also, can you confirm that the notification ID you are passing is not already being used or reserved by the device?

[2019-10-05 12:07] HashimAli09 commented on #1231
Yes! after updating the dependencies, I am not getting the exception.

thank you soo much for your quick help.

[2019-10-05 12:07] #1231 closed

[2019-10-07 04:13] whhotw commented on #1233
Solved.
[code]

[2019-10-07 04:13] #1233 closed

[2019-10-07 07:17] hummatli commented on #471
Android Studio offers 16+ for basic Android App. I think the supprot has to SDK 16+

[2019-10-07 09:20] DmitryDoneIT commented on #1217
@desokroshan  I checked on user devices where authorization did not work, and yes, based on data on device, the token expired for 1 hour, most likely this is due to wrong time zone or the set time manually.
also my application used CognitoUser.getDetails which throw a CognitoNotAuthorizedException in this case, but a direct call with GetUserRequest and AmazonCognitoIdentityProviderClient solved my

[2019-10-07 17:35] #1226 closed

[2019-10-07 21:35] #1198 closed

[2019-10-08 04:16] SwiftyWang commented on #1215
Sorry for the later.
[code]
Currently I am using this one and will have an warning.
[code]

[2019-10-08 17:23] raphkim commented on #1234
Hi @chris6647

Thank you for reporting this bug. Would you be able to try building from the new PR #1239 to see if your issue is resolved?

[2019-10-08 18:06] raphkim commented on #1236
Hi @emarc-m

To answer your question, the S3 client will automatically set and attach content MD5 hash to object metadata without having to do so manually. Would you be able to provide us with the code snippet you are using to set up your transfer utility object and to upload the file?

[2019-10-08 18:16] emarc-m commented on #1236
Hi @raphkim. Thanks for following up.

This is the Transfer utility initialization code:
[code]

Here's a code snippet of the usage of the upload API from `TransferUtility`

[code]

[2019-10-08 18:38] raphkim commented on #1236
May I ask your use-case for obtaining MD5? The MD5 hash is attached in the http request header and the integrity of file upload is checked automatically in the backend.

[2019-10-08 18:47] emarc-m commented on #1236
I'm trying to confirm that the SDK is doing what was stated in the Javadocs to ensure that the MD5 consistency check is actually happening. I wanted to be assured that the file will not be corrupted during transport.

I tried checking the existence of the computed MD5 value in the following places:
* awss3transfertable.db, `content_md5` entry is null
* `UploadTask#createPutObjectRequest L:457` `up

[2019-10-08 19:16] raphkim commented on #1236
Thank you for reporting this issue. I identified the root cause to be that the high level client `TransferUtility` does not inherit metadata from the low level client `AmazonS3Client`. MD5 consistency check should still be performed by the low level client during `putObject` to confirm that the file was not corrupted during transport. This can be checked with a breakpoint in `AmazonS3Client#putObj

[2019-10-08 19:47] emarc-m commented on #1236
I understand. I can confirm that `AmazonS3Client#putObject L:1978` does indeed do the MD5 verification check.

Will this issue be address in a future version of the SDK?

Thank you for looking into this.

[2019-10-08 22:00] raphkim commented on #1236
@emarc-m
To further clarify, `content-md5` field in `TransferRecord` database is used to store user's custom MD5 hash so that it can be later used in content validation process if user desires. It is not meant to store the content MD5 hash that was generated by S3 client (which is generated only if the user did not provide a custom MD5 hash). Therefore, you will not be able to access the client-ge

[2019-10-08 23:04] emarc-m commented on #1236
Thank you for clarifying.

Please feel free to close this once #1240 is merged.

[2019-10-10 00:39] raphkim commented on #1232
Thank you for reporting this issue. I was able to reproduce that error, and I'll look into correcting this.

[2019-10-10 10:37] mohsenk commented on #871
Any news ?
I have same problem.
When i try to login after a signout it return's user canceled exception without showing google signin page. but login was successfull.

[2019-10-10 18:07] #1113 closed

[2019-10-11 00:27] #1006 closed

[2019-10-11 02:27] kaustavghosh06 opened #1248 "RFC: Other installer options for the Amplify CLI"
Currently, the CLI uses npm as a package manager and requires users of the CLI to install npm with node version > 8.2 for successful installation of the CLI.
This RFC is to gauge community interest around the CLI being published to other package managers if there's a disinterest in installing the CLI via npm or yarn.

Some of the options which we're considering are the following:
* brew for macOS

[2019-10-11 02:31] undefobj commented on #1248
Parent RFC: https://github.com/aws-amplify/amplify-cli/issues/2561

[2019-10-11 02:34] undefobj commented on #1248
Some additional options we would like feedback on:
- Gradle dependencies and installation
- Cocoapods hooks & build phases

[2019-10-11 08:54] chris6647 commented on #1234
Hello @raphkim
Thanks for helping out :) This doesn't seem to actually fix the issue, because, as I tried to explain before, I only get the the inferred permission when getting the artifact via maven, and not when either copying in the source in a module manually, or building the aar locally and including that. I tested with 2.16.1.
The only way I see that I can test your code properly, is if you

[2019-10-11 16:57] raphkim commented on #1234
You would have needed to clone the repo and build the aar file yourself to be able to use it. However, this will be available in 2.16.2 release in the near future to be taken directly from maven if you would prefer to test it then.

[2019-10-11 17:22] desokroshan commented on #1160
@SubirZ We have released support for passwordless sign in MobileClient in 2.16.0. You can find documentation [here](https://aws-amplify.github.io/docs/android/authentication#customizing-authentication-flow). You can pass a dummy password and should not run into error. Please give it a try and let me know if you see issues?

[2019-10-11 17:34] desokroshan commented on #1160
@LinearLogic Yeah the lambdas in blog post does not work. You can use Amplify CLI to get lambda templates that you can then use to tweak to meet your use case.
https://aws-amplify.github.io/docs/cli-toolchain/cognito-triggers

[2019-10-11 17:37] kvasukib commented on #1209
@amarpulli1994 You need to establish a MQTT connection for publications and subscriptions to work. Please look at the [docs](https://aws-amplify.github.io/docs/android/pubsub#establish-connection) for more information.

[2019-10-11 18:09] kvasukib commented on #1196
@LiMuBei Thank you for reporting to us. The `aws-android-sdk-core` depends on `gson` library for serialization and deserialization. One possible workaround you could do it to exclude the `gson` library version that we depend on in your `build.gradle` and declare a version of `gson` that would work for you.

We have not tested or upgraded our `gson` version beyond the current version we support `2.

[2019-10-11 19:55] desokroshan commented on #1201
@mregnauld We plan on supporting admin operations through [Amplify Cli](https://aws-amplify.github.io/docs/cli-toolchain/quickstart). This is not currently supported by the CLI but is a work in progress. For now, only way would be for the developer to manually delete it from the console or use one of the low-level API.

[2019-10-11 20:21] desokroshan commented on #1215
I do not see any identity pool information in the configuration file, which is why we see the CognitoIdentity not configured exception. You need to create an identity pool and add user pool as an authentication provider for the setup to work. Please refer to the documentation for more details : https://aws-amplify.github.io/docs/android/authentication

[2019-10-11 20:27] desokroshan commented on #1217
@DmitryDoneIT I would expect `CognitoUser.getDetails` to work just fine. Can you share the stack trace and repro steps for `CognitoNotAuthorizedException` ?

[2019-10-11 20:29] kvasukib commented on #1208
@truongnguyen-agilityio Thank you for the response. Have you successfully initialized AWSMobileClient and is the user signed in successfully before the IdToken can be accessed by the `cognitoUserPoolsAuthProvider`? You can refer to `AWSMobileClient` initialization here: https://aws-amplify.github.io/docs/android/authentication#initialization

Also, I don't see in your code snippet where you are re

[2019-10-11 20:37] kvasukib commented on #1210
@chikason Thank you for reporting to us. You need to wait until `getTokens` finishes execution and returns the token.

[code]

[2019-10-11 20:49] desokroshan opened #1249 "Move IoT classes for internal consumption in an internal folder"
**Which AWS Services is the feature request for?**
IoT

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any al

[2019-10-12 20:13] seristomXOZ opened #1250 "Using AWSIotMqttManager on Android 21"
**Question**
Hi there!
So I am using this sdk for subscribing to a PubSub Server on Android SDK 21+. Apparently it doesnt work on devices lower than SDK 27 (or maybe I'm doing something wrong).
I was just wondering if there is another way to make it work or if there is a plan to use another lib than the underlying lib creating this problem?
https://github.com/eclipse/paho.mqtt.java/issues/633

**W

[2019-10-13 13:00] seristomXOZ commented on #1250
I had a problem with the update of the dependencies. 2.16.0 seems to work now.
Sorry for the inconvenience. 🤦‍♂

[2019-10-13 13:00] #1250 closed

[2019-10-14 02:35] SwiftyWang commented on #1215
identity pool is must need? Because when I added Identity pool info there is an error happened:
[code]

[2019-10-14 08:07] chris6647 commented on #1234
That's exactly what I did - fetched the repo, and built the aar myself. But as I said, that didn't change anything as the previous release also worked like that. It only doesn't work when fetched from maven for some reason. I'll hold out for the 2.16.2 release and test it properly then.

[2019-10-14 09:49] mark-tussock commented on #1217
I also have users experiencing this issue, although I have not been able to reproduce yet and do no have access to any logs. Will look at adding in some logging with crashlytics but would appreciate any extra details from your findings. Thanks

[2019-10-14 23:58] palpatim opened #1256 "Set engine in Polly Presigned URL requests"
(Android version of iOS feature request https://github.com/aws-amplify/aws-sdk-ios/issues/1973)

**Which AWS Services is the feature request for?**

Amazon Polly

**Describe the solution you'd like**

The Amazon Polly service allows setting the `engine` ("standard" or "neural") used to generate speech from text. https://docs.aws.amazon.com/polly/latest/dg/API_SynthesizeSpeech.html#polly-Synthesize

[2019-10-15 08:51] awc opened #1257 "IoT: Unknown response causes NPE when calling AWSIotDataClient.getThingsShadow"
**Describe the bug**
When I try to make request for the shadow of the IoT device, sometimes got NPE by unknown response.

**To Reproduce**
I cannot reproduce this random phenomenon.
I get the following requestId for a client with this issue:(no responseId for unknown response)
*Time: 2019/10/10 16:14:33 "America/Chicago"*
*x-amzn-RequestId: a86c741a-6945-37be-af2c-565e94154c06*
The code I used:
[c

[2019-10-16 19:36] oliveira-marcello opened #1259 "AWSIotMqttManager NoClassDefFoundError with Android < 7"
In version 2.16.1, calling AWSIotMqttManager.connect causes NoClassDefFoundError below to be thrown. Version 2.16.0 doesn't have this problem. This is probably because 2.16.1 uses a newer paho version that causes this when Android API level is lower than 24 (https://github.com/eclipse/paho.mqtt.java/issues/633)
[code]

**To Reproduce**
Using Android with API level < 24
[code]

**Which AWS service(

[2019-10-18 17:21] kvasukib commented on #1215
@SwiftyWang You need a Cognito Identity Pool created and configured with the Identity Provider (Cognito UserPools, Facebook or Google, etc.) on the backend with Amazon Cognito. After the successful configuration, you need to specify these values in the `awsconfiguration.json` file.

From the exception `Caused by: com.amazonaws.services.cognitoidentity.model.NotAuthorizedException: Token is not fro

[2019-10-18 17:53] kvasukib commented on #1194
@CezaryGoralski Thank you for the response.

How are you measuring the time for `confirmSignUp` and `signIn` operations?
Does the measurement only include the network request or any other interactions in the app?
Can you demonstrate how your signIn operation works?
How many challenges are included as part of signIn?

[2019-10-18 17:55] kvasukib commented on #1163
Closing this issue as the code changes to expose `userSub` through `SignUpResult` is released.

[2019-10-18 17:55] #1163 closed

[2019-10-18 18:47] #1209 closed

[2019-10-18 20:16] palpatim commented on #1123
Sorry for the delayed response on this, but we have gotten a bit more guidance on this from the service.

TTL expired comes when the device does not recieve the message during the timeout period of 72 hours (3 days). This is also why the device ack time in the logs is around 3 days because we do not hear back from our downstreams until they have finished trying to send and have a final failure.

W

[2019-10-18 20:26] kvasukib commented on #1162
@Rattletech Sorry for the inconvenience caused.

I tried to create a policy which grants `firehose:PutRecordBatch` permission to a Kinesis Firehose Delivery Stream and here is the example snippet of a policy:

[code]

where `XXXXYYYYZZ` is the 10-digit AWS Account ID.

Can you post a code snippet of constructing a `CognitoCredentialsProvider` with the Identity Pool and using it with the KinesisFir

[2019-10-18 20:51] kvasukib commented on #1177
@tanujsai Sorry for the inconvenience caused.

In my research in Android documentation, I have observed the following:

- On devices older than Android 5.0 TLSv1.1 and TLSv1.2 protocols are not enabled by default.
- SSLv3 protocol is not disabled by default on devices older than Android 5.0.
- SSLv3 is not a secure protocol and it is therefore desirable to remove it from our client's list of suppo

[2019-10-18 20:54] TrekSoft commented on #1174
Hi @snowswinginthewind - thanks for bringing this to our attention. You are absolutely correct that the information in that post is no longer accurate and we currently don't have a way of setting the log level for what will output or turning them off altogether.

I am working on adding this functionality now and will update this issue when it's being pushed for release.

[2019-10-18 20:55] kvasukib commented on #1172
@AlexKashi

Is the Android cache being cleared during development and testing or this is happening at runtime in production?

[2019-10-18 21:37] AlexKashi commented on #1172
The android cache is cleared manually, similarly to [aws-amplify/amplify-js#1378](https://github.com/aws-amplify/amplify-js/issues/1378). Each time the cache is cleared the SDK creates a new endpoint that does not get deleted until 10 endpoints are created, and the limit is hit.

By inspecting the source code for both the android and js SDKs it seems as though the fix is only implemented in the JS

[2019-10-18 21:47] #1210 closed

[2019-10-18 23:09] desokroshan commented on #1259
@oliveira-marcello Thanks for reaching out. I will investigate and get back to you

[2019-10-19 11:16] mohsenk opened #1262 "I get "No cached session error" after calling getToken() when user state is SIGNED_IN"
**Describe the bug**
At first when i login with Google HosteUI everything is good. but after close and open app. my userStateListener  says that user is "SIGNED_IN" and i'm going to get call getTokens() method but it returns error "No Cached Session".

[code]

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.15.1
 - Device: OnePlus 5T
 - Androi

[2019-10-21 12:43] SubirZ opened #1264 "NullPointerException Attempt to invoke virtual method 'java.lang.String com.amazonaws.services.cognitoidentityprovider.model.CodeDeliveryDetailsType.getDestination()' on a null object reference"
Getting the following issue on SignUp result using the AWSMobileClient.
**It always goes into onError() even after providing a valid username, email, password.
In AWS console the user is getting created and validated as well.**

[code]

**To Reproduce**
A code sample or steps:
[code]
**Which AWS service(s) are affected?**
AWSMobileClient SignUp()

**Expected behavior**
SignUp Result as success or

[2019-10-21 14:34] markorakita commented on #1074
@kvasukib @palpatim Another month went by, any updates?

[2019-10-21 15:07] xanscale commented on #1259
same problem here. various devices but all with android 6

lib ver: 2.16.1

[2019-10-21 15:13] xanscale commented on #1259
this changelog seams interesting:

[2019-10-21 15:31] xanscale commented on #1259
https://developer.android.com/reference/javax/net/ssl/SNIHostName

this class is added in android 7.0

[2019-10-21 15:40] xanscale commented on #1259
https://github.com/eclipse/paho.mqtt.java/issues/633

[2019-10-21 18:13] desokroshan commented on #1161
@chikason Thanks for sharing the details. You configuration looks fine to me. I was not able to reproduce the issue using this configuration. Another potential reason for not receiving the confirmation code could be that you have hit your SNS quota which is used to send the confirmation messages. Can you check if that is the case?

[2019-10-21 19:23] kvasukib commented on #1264
@SubirZ Thank you for reporting to us. Sorry for the inconvenience caused.

Does this happen for every signUp operation?
Have you configured MFA in Cognito UserPools?
Can you describe the SignUp flow you have configured with Amazon Cognito?

[2019-10-21 19:24] kvasukib commented on #1262
@mohsenk We did some bug fixes to AWSMobileClient for Hosted UI in the versions later than `2.15.1`. Can you upgrade to the latest, verify and let us know?

[2019-10-21 20:44] mohsenk commented on #1262
No i tried with 2.16.1 but i still get same error.

[2019-10-22 05:46] SubirZ commented on #1264
@kvasukib Thanks for the reply. No, we haven't configured our user pool to have MFA or Verification enabled in our settings. The signup flow is as follows,

We have set email and name as required attributes for the user pool.
We are calling the signup method on AwsMobile client with required parameters (username, password) along with attributes.

When we are doing that, the user is successfully be

[2019-10-22 09:02] ebaychannel commented on #684
Any updates?

[2019-10-22 10:14] cmbaykal commented on #429
Hi. I saw the new release. I wonder when the custom auth is added to AWS SDK ?

[2019-10-22 12:40] anandsuthar2018 opened #1265 "Publish status success but message not received on cloud"
**Describe the bug**
Sometimes(randomly) publish message does not appear on the cloud. Android app receives publish status success in publish callback though registered clients and AWS cloud does not receive published message.

**To Reproduce**
Random issue but reproduces frequently.

Your code
[code]

**Publish Result:**
    *********
    Topic: <Topic>
    Connection: true
    Publish msg: <Mess

[2019-10-22 16:05] tomsterritt commented on #1160
@desokroshan I'm also trying to use custom auth flow, using 2.16.0 and similar lambda as the gist above and passing a dummy password, however I get the error:
`Auth signIn error USER_SRP_AUTH is not enabled for the client. (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: InvalidParameterException; Request ID:...`

[2019-10-23 02:57] kvasukib commented on #429
@cmbaykal This is still in our backlog for prioritization. We will let you know through this issue when the changes are being released.

[2019-10-23 05:31] zekapp commented on #134
I stumble upon a thread related uploading presignUrl in Stackoverflow. it might help in case of you missed it.

https://stackoverflow.com/questions/45991720/upload-a-file-to-aws-s3-pre-signed-url-using-retrofit2

[2019-10-23 10:51] clowestab opened #1267 "Endpoint UserId not persisted across app restarts"
**State your question**
I am trying to create an endpoint user and assign a user ID such that I can send push notifications to devices owned by a given user.

When I create a `EndpointProfileUser`, set the user ID, and update the endpoint the specified user ID is not persisted across app restarts.

There is not very much documentation for this, and the documentation that does exist is outdated and

[2019-10-23 12:55] arrmixer opened #1268 "Fatal Exception: com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "cognito-identity.us-east-1.amazonaws.com": No address associated with hostname"
**Describe the bug**
A clear and concise description of what the bug is.

Fatal Exception: com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "cognito-identity.us-east-1.amazonaws.com": No address associated with hostname

**To Reproduce**
A code sample or steps:
The app crashes during the onBoarding stage of the app (user first downloads or upgrades the ap

[2019-10-23 15:47] r-supriya opened #1269 "The input parameters do not get passed to the Appsync query"
** Which Category is your question related to? **
Amplify- AppSync Query

** What AWS Services are you utilizing? **
Amplify, AppSync, DynamoDB, Cognito

I'm trying to use AppSync to query a DynamoDB database from my Android app. I'm following the steps as in: https://aws-amplify.github.io/docs/android/api#run-a-query
After running this code:
[code]
I expect the response in the GraphQL Callback to

[2019-10-23 19:46] kvasukib commented on #1269
@r-supriya Thank you for reporting to us.

1) Have you tried with other ResponseFetchers such as NETWORK_ONLY, NETWORK_FIRST, CACHE_ONLY? Can you observe the behavior with other response fetchers?

2) What Authorization Mode do you use? Are you using the same Authorization Mode on both the AppSync console as well as the SDK?

3) Do you see any errors in the response when data() is null? Can you ch

[2019-10-23 20:18] kvasukib commented on #1268
@arrmixer Thank you for reporting to us. Can you surround the code which calls `cognitoCachingCredentialsProvider.getIdentityId()` with a try/catch to catch for appropriate exceptions such as `AmazonClientException` which is the super class of all exceptions thrown by the SDK?

This way you can inspect to figure out the call failed due to loss of network and not let the app crash and instead have

[2019-10-23 21:37] kvasukib commented on #1265
@anandsuthar2018 Thank you for reporting to us. I have few clarifying questions to ask before I can proceed with further debugging.

"A device A uses AWS IoT SDK for Android to publish a message on a topic. Your expectation is there are certain other devices B, C, D, etc. that uses AWS IoT SDK for Android that are subscribers. These subscribers initiated a MQTT connection and subscribed to the **s

[2019-10-24 06:41] anandsuthar2018 commented on #1265
@kvasukib find inline answers to your questions below.

**Q1:** Is my understanding of the scenario you have correct?
**Ans:** Yes, you understood my scenario correctly and other devices are subscribed to the same topic.

**Q2:** However devices B, C, and D have not received the subscription messages even though there are subscribed?
**Ans:** Yes, devices B, C, and D have not received the message

[2019-10-24 07:23] r-supriya commented on #1269
@kvasukib
1. Yes, I have tried with other ResponseFetchers. They all give a similar response -with null data.
2. I use AMAZON_COGNITO_USER_POOLS on both, the console as well as the SDK.
3. Yes, The response.hasErrors() is true. The error message is:
`[Error{message='Variable 'PK' has coerced Null value for NonNull type 'String!'', locations=[Location{line=1, column=16}], customAttributes={}}]`
 Bu

[2019-10-24 12:03] arrmixer commented on #1268
@kvasukib thank you for your fast and thoughtful respond. Yeah you are right that should work. I should have looked into the docs a little more instead of making that assumption.
Thank you. I will give you feedback if that doesn't solve the problem.

[2019-10-24 15:46] np161 opened #1270 "Errors with adding modules"
I have added the s3 module along with the core and kms modules but the core module seems to be giving errors

![errors](https://user-images.githubusercontent.com/6806188/67502214-74a7a700-f67d-11e9-9b0c-11c961b7f6c2.PNG)

I have set the ANDROID_HOME and ANDROID_PLATFORM variables
![vars](https://user-images.githubusercontent.com/6806188/67502344-a587dc00-f67d-11e9-91f0-41b629d2ef7c.PNG)

I also ha

[2019-10-24 17:51] kvasukib commented on #1270
@np161 Thank you for reporting to us.

Can you try setting it to `23` instead of `26`? The reason is `KeyPairGeneratorSpec` is being used in API levels `18-22` and is deprecated and removed after `23`. So `26` will not be able to compile the code.

Is there a reason why you are building from source? You can consume the artifacts for `s3` and `kms` through maven.

[code]

[2019-10-24 17:53] kvasukib commented on #1264
@SubirZ Thank you for sharing the history of the old issue and the details. The issue has been addressed in the Cognito UserPools SDK (`aws-android-sdk-cognitoidentityprovider`), however the issue still exists in AWSMobileClient SDK (`aws-android-sdk-mobile-client`). I am working on a fix for the problem and in the process of testing it. I will update this issue with more details when the bug fix

[2019-10-24 18:01] SubirZ commented on #1264
@kvasukib Thanks for the prompt reply, eagerly looking forward to the resolution of the issue. Thank you!

[2019-10-24 18:05] np161 commented on #1270
Thanks for the reply.

Changing to 23 doesnt seem to have fixed it

The reason I am using the code is because I am having an issue others mentioned with the TransferService. Context.startForegroundService() did not then call Service.startForeground()
error.

This is the code

    Notification notification = new Notification.Builder(getApplicationContext(), "1")
                        .setContentT

[2019-10-24 18:31] kvasukib commented on #1270
@np161 Sorry for the inconvenience caused. I hear your concern now.

Did you try `export ANDROID_PLATFORM=28` or `export ANDROID_PLATFORM="28"`?
Can you navigate to `build.gradle` of the `aws-android-sdk-core` module and run `getApi23` task and see if the getApi23 task succeeds?

[2019-10-24 20:46] np161 commented on #1270
Ah I meant chaning the compile and targetSDK version from 26 to 28

[2019-10-24 21:28] kvasukib commented on #1264
PR #1272 will address this issue.

[2019-10-24 22:19] np161 commented on #1270
so it seems with targeting sdk 28 you need to the FOREGROUND_SERVICE permission and also add notification channels

    NotificationManager mNotificationManager = (NotificationManager) this.getSystemService(Context.NOTIFICATION_SERVICE);

                String name = "transferer";
                int importance = NotificationManager.IMPORTANCE_LOW;

                NotificationChannel mChannel =

[2019-10-25 06:40] np161 commented on #1270
@kvasukib Im not sure if the notification channel needs to be added to the actual TransferService instead of outside when trying to start the service

[2019-10-25 13:49] #1217 closed

[2019-10-25 13:49] #1196 closed

[2019-10-25 14:49] #1208 closed

[2019-10-25 15:04] agalfioni opened #1273 "Corrupted uploaded files in S3"
**Describe the bug**
Videos uploaded with TransferUtility upload method in S3 are corrupted (size of videos in S3 are lesser than original videos located in device).

**To Reproduce**
Multipart upload with TransferUtility

[code]

**Which AWS service(s) are affected?**
S3

**Expected behavior**
I expect that videos are in S3 only if upload is successful.

**Environment Information (please complete

[2019-10-25 19:21] yesitsdave opened #1274 "If credentials cannot be retrieved by CognitoCachingCredentialsProvider when AWSIotMqttManager is attempting to reconnect, AWSIotMqttManager starts making multiple, rapid, overlapping connection attempts. This sometimes lastingly affects reconnection."
**Describe the bug**
If credentials cannot be retrieved by CognitoCachingCredentialsProvider when AWSIotMqttManager is attempting to reconnect - for example, if there is no data connection available on the device - AWSIotMqttManager starts making multiple, rapid, overlapping connection attempts, some of which have the same reconnection attempt number. If the data connection to the device is then r

[2019-10-25 21:49] #1215 closed

[2019-10-26 11:24] rynkowsg opened #1275 "Crash of AWS IoT SDK v2.16.1 on Android 5.1"
**Describe the bug**
[code]
**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
IoT

**Expected behavior**
No crashes on launch.

**Screenshots**
No screenshots.

**Environment Information (please complete the following information):**
 - AWS Android SDK Version: 2.16.1
 - Device: Custom Device
 - Android Version: 5.1
 - Specific to simulators: No

**Additional

[2019-10-27 07:20] chikason opened #1276 "Handling AWS Push Notifications on Android"
I have been trying to implement push notifications on my android project. I tried using the the tutorial on amplify page but am not getting something right.

1. **Push Notifications**
 https://aws-amplify.github.io/docs/android/push-notifications

2. **Handling FCM/GCM Push Notifications**
https://aws-amplify.github.io/docs/android/push-notifications-handle-fcm

**Does this tutorial or implementat

[2019-10-28 10:44] np161 commented on #1270
@kvasukib I was wondering if there is any news about this. I have tried all i can but cannot get the notification channels to work. and like I mentioned previously have a feeling that the channel needs to be added inside the service. If it doesn't can it be created outside the service like the code example above.

This causes the service to not work on any android 9 devices.

[2019-10-28 18:14] BillBunting commented on #1003
Still struggling with and unable to upgrade from 2.13.3. Works in 2.13.3, but signIn, Facebook, and Google buttons do not work in versions up to and including 2.16.1.

[2019-10-28 18:29] BillBunting opened #1281 "Android 10 Dark Theme breaks AWSMobileClient SignIn screen"
**Describe the bug**
The AWSMobileClient showSignIn UX does not support Android 10 Dark Theme. The username and password text field background color is white and the foreground text color is also white, username and password fields are thus not visible. The background of the text box should be dark in the dark theme. The white lower background should also be dark. The UX should match the iOS versi

[2019-10-28 20:10] desokroshan commented on #1275
This is being tracked here https://github.com/aws-amplify/aws-sdk-android/issues/1259
Closing as duplicate.

[2019-10-28 20:10] #1275 closed

[2019-10-28 20:53] kvasukib commented on #1270
@np161 The Notification Channel needs to be created in the app before the notification is constructed. As Android Oreo (26) imposes this requirement strictly, the app needs to create it. The `TransferService` only has the responsibility of displaying the notification by passing it through the `startForeground` method.

[2019-10-28 21:00] np161 commented on #1270
ah thanks for reply it seems that there were other points in the app creating notifications that I was mistaking for being the transfer service one. I added channel to all other notifications and everything seems fine now.

[2019-10-28 21:00] #1270 closed

[2019-10-28 22:20] kelpAid opened #1283 "SNS stop sending notification, Android 5 Java 8"
**Describe the bug**
The code used to work without the region needed to be specified.
We would like to know if the SDK changed and if so where.

**To Reproduce**
When using the code without the region line it wont send notificactions through SNS.
By adding the line it now sends the notificaction.
[code]

**Which AWS service(s) are affected?**
SNS

**Expected behavior**
The code should send notific

[2019-10-29 16:20] arrmixer commented on #1268
@kvasukib we're good thanks for the help!

[2019-10-29 16:20] #1268 closed

[2019-10-30 11:56] RWOverdijk commented on #1115
Same issue here. Any news?

[2019-10-31 10:52] yesitsdave commented on #1274
@desokroshan Thanks for the response. I don't know if this happens on older versions - I've only tried 2.16.1.

[2019-10-31 18:26] LiMuBei commented on #1196
So I was able to resolve this, by manually adding the missing Gson dependency for Room.

[2019-10-31 21:51] trivedishivang commented on #1264
@kvasukib Has the release date planned for #1272  planned?

[2019-10-31 23:50] TrekSoft commented on #1174
You're all set now - you can now call LogFactory.setLevel(Level) with the level you want

[2019-10-31 23:50] #1174 closed

[2019-11-01 02:20] kvasukib commented on #1256
Released in 2.16.2.

[2019-11-01 02:20] #1256 closed

[2019-11-01 16:03] alex-pathspot opened #1289 "TransferNetworkLossHandler can crash the thread when using a poor network connection"
**Describe the bug**
TransferNetworkLossHandler is crashing on an illegal state exception when the network connection is poor.
[code]
**To Reproduce**
1. Use a slow network connection (~100kbps)
1. Attempt to upload files to s3.
1. on upload failure, terminate TransferUtility and create a new instance for when the network reconnects.

**Which AWS service(s) are affected?**
S3

**Expected behavior*

[2019-11-01 18:33] TrekSoft commented on #1289
Could you post the code snippet from the customer performing the steps To Reproduce? I'm curious about step 3 in your "To Reproduce" section - they shouldn't be creating a new instance of TransferUtility when there's a network disruption. It's built to automatically handle network disruptions and finish the upload.

[2019-11-03 00:21] haorans1994 commented on #639
Hey there, I have a question...when I run this code:
                        //Load source and target images and create input parameters
                        try (InputStream inputStream = new FileInputStream(new File(sourceImage))) {
                            sourceImageBytes = ByteBuffer.wrap(IOUtils.toByteArray(inputStream));
                        }
                        catch(Exceptio

[2019-11-03 06:02] haorans1994 commented on #639
Hi
I was developing a demo in Android, So I use your code, and did some changes:

public class MainActivity extends AppCompatActivity {

    ImageView imageView;

    Float similarityThreshold = 70F;
    ByteBuffer sourceImageBytes = null;
    ByteBuffer targetImageBytes = null;
    AmazonRekognition rekognitionClient = new AmazonRekognitionClient(new BasicAWSCredentials(
            "xxxxxxxxx",

[2019-11-03 22:18] jakejscott opened #1290 "How are you generating the code for services?"
How are you generating the code for services?

I'm looking to port this sdk to Dart/Flutter and I'm wondering how your doing the codegen?

[2019-11-05 00:23] raphkim commented on #1289
Hi, I investigated and documented this issue in #1006.

Automatically handling transfer failure from poor network is a feature that isn't supported by `TransferUtility` at the moment. `TransferNetworkLossHandler` automatically handles exceptions thrown when it detects that the device's connection state is "off", which wouldn't be the case if the connection is simply slow.

Thankfully, even if a tr

[2019-11-05 09:32] gauravchaddha commented on #684
Any Update?

[2019-11-05 13:43] RWOverdijk commented on #1115
Disabling backups worked so I didn't check again.

[2019-11-05 17:11] jibreel opened #1294 "Allow disabling `forcedAlias` in confirmSignUp"
**Which AWS Services is the feature request for?**
AWS Mobile Client, Cognito

**Is your feature request related to a problem? Please describe.**
There is currently no way to prevent users from creating accounts with duplicate credentials, as `forcedAlias` is always set to true.

**Describe the solution you'd like**
I would like to add a parameter to the AWSMobileClient#confirmSignUp method that a

[2019-11-05 18:18] #1294 closed

[2019-11-06 02:02] undefobj commented on #1290
Code generation is done with a manual build tool that isn't public. However we're looking at Flutter support for the future. If you have interest please respond on this issue with your use case: https://github.com/aws-amplify/amplify-js/issues/1852

[2019-11-06 02:02] #1290 closed

[2019-11-06 03:30] perryhoekstra opened #1296 "AWS Amplify & MFA Verification"
**State your question**

I am using the AWS Amplify framework to interact with a Cognito User Pool. I can successfully authenticate a user using the AWSMobileClient class. However, every time a user logs in, an SMS MFA is sent to their phone for secondary authentication. However, I have been unable to determine how to validate through the AWSMobileClient the MFA code sent to the user's phone and w

[2019-11-06 04:51] kvasukib commented on #1264
The fix has been released in `2.16.3` release. Please upgrade and let us know if the fix works.

[2019-11-06 07:55] anees17861 opened #1297 "Resend Verfication Code for Forgot Password"
**State your question**
How to resend code for Cognito Forgot password flow.
The normal steps for resetting your password using otp via sms works fine but if the user does not receive an otp then there should be a way to resend otp.

I tried calling ` resendConfirmationCode` which gives error "user already confirmed". This is expected since as per the docs it's to be used for only registration of

[2019-11-06 12:29] Joseph82 opened #1298 "Pinpoint initialisation crash"
I am using `com.amazonaws:aws-android-sdk-pinpoint:2.14.1`

I don't know how to reproduce the crash but I get this report in Google Play:

[code]

Any idea?

[2019-11-06 15:05] alex-pathspot commented on #1289
The issue appears to occur when a paused transfer utility is abandoned for garbage collection, and then the network resumes.

There was a flaw in the code that first abandoned the object before cancelling all transfers. Essentially the flow was the following

[code]

Replacing the above with the following appears to mitigate the crash
[code]

This could indicate a possible race condition on networ

[2019-11-06 17:23] kvasukib commented on #1298
@Joseph82 Thank you for reporting to us. This issue has been fixed in `2.15.2`. Please upgrade to the latest `2.16.3` and it should fix the problem.

[2019-11-06 17:31] kvasukib commented on #1289
@alex-pathspot What is the reason to set `tu = null`? and recreate new `TransferUtility` instances. We recommend to use one `Transferutility` instance for the lifecycle of the app without re-creating it.

[2019-11-06 17:38] alex-pathspot commented on #1289
We create a new TransferUtility on loss of network, because we create a new session on any network failure.

[2019-11-06 17:48] kvasukib commented on #1273
@agalfioni Thank you for reporting to us. Sorry for the inconvenience caused.

Have you tried without setting the content disposition to see if it interferes with the data transfer and integrity?

Does this happen for all files? for all .mp4 files?

Is this problem specific to a device configuration?

Is this problem specific to an Android API Level Version?

[2019-11-06 17:50] kvasukib commented on #1289
@alex-pathspot You do not have to re-create `Transferutility` instances on any event. The network loss handling is done by `TransferNetworkLossHandler` and `TransferService` whose lifecycle is the lifecycle of the app and is a standalone component which is de-coupled from `TransferUtility`.

We recommend not to re-create different `TransferUtility` instances and just have one for the app.

[2019-11-06 17:55] alex-pathspot commented on #1289
What is the best way to handle session credentials expiring then?

[2019-11-06 18:00] kvasukib commented on #1289
@alex-pathspot If session credentials expire during the course of a transfer, you would receive a `onFailure` callback. Upon `onFailure`, you can resume the transfer or start an other transfer for the same S3 key.

Please correct me if I'm understanding the session credentials problem correctly.

[2019-11-06 20:15] trivedishivang commented on #1264
Thanks! Will test it and update.

[2019-11-06 20:52] trivedishivang commented on #1264
@kvasukib
aws_sdk_version = '2.16.3'
In our case we have disabled signup verification and the code on Android is below

AWSMobileClient.getInstance().signUp(lowerCaseLogin, pw, new HashMap<>(), validationData, new Callback<SignUpResult>() {
            @Override
            public void onResult(SignUpResult result) {
                Log.v(TAG,"SUCCESS : " + result.toString());
                AWSM

[2019-11-07 15:11] alex-pathspot commented on #1289
Note we are fetching our s3 credentials via the method outlined in the following blog post. However the role associated provides s3 access, not dynamoDB access.

https://aws.amazon.com/blogs/security/how-to-eliminate-the-need-for-hardcoded-aws-credentials-in-devices-by-using-the-aws-iot-credentials-provider/

[2019-11-07 15:13] agalfioni commented on #1273
Hi @kvasukib ,

about the questions, i only upload to S3 .mp4 files, the error persist in the problem detected device (Samsung S7, Android 8.0.0). I try to reproduce the error with same app version in other devices with Android 7.0.0, 8.1.0, 9.0.0 but no problem was detected.

I can try don't set content disposition, but it seems that the problem is not about this configuration...

[2019-11-07 19:49] raphkim commented on #1297
Hi @anees17861 ,

At the moment, there is no way to resend the same OTP to the user. The recommended action if the user did not receive it the first time is to repeat the process to send a new OTP.

Please note that there is a limit to how many times a new OTP can be generated for a user per hour to prevent security risks.

[2019-11-07 23:21] kvasukib commented on #1273
@agalfioni Does this error happen for all .mp4 files in (Samsung S7, Android 8.0.0) device?
Have you enabled Server-Side Encryption (SSE) on your bucket? Is there any other special configuration you have enabled for your bucket?

Can you paste the code snippet for creating AmazonS3Client and TransferUtility?

[2019-11-07 23:54] raphkim commented on #1289
May I ask which implementation of `AWSCredentialsProvider` you are using to instantiate your `AmazonS3Client` object? Ideally, you should manage your credentials directly from the provider rather than creating a new instance of S3 client each time.

[2019-11-08 01:31] BillBunting commented on #1281
Any update?  Users who have Android 10 and use Dark Theme can not sign in. This is more of a bug than a feature request at this point.

[2019-11-08 03:25] anees17861 commented on #1297
It doesn't have to be the same otp. Take the case if sign up. If the user doesn't receive a otp he calls resend confirmation code to get a new otp. But it doesn't invalidate the previous otp. If for some reason the user receives the first otp after clicking resend, that otp will still work. We don't have to restart the process of sign up.

In case of forgot password though if I restart the process

[2019-11-08 15:34] alex-pathspot commented on #1289
We were manually creating a `BasicSessionCredentials` from the HTTP reply to our https credential endpoint that is authenticated using our IOT core private keys. What is the correct `AWSCredentialsProvider` for this scenario?

[2019-11-08 22:41] raphkim commented on #1289
Using `BasicSessionCredentials` is not a recommended practice. I suggest that you use something along the line of this:

[code]

Credentials providers such as above can be used to instantiate S3 clients.

Or is there any specific use-case for using IOT service over Cognito to obtain credentials?

[2019-11-08 22:48] raphkim commented on #1297
In such scenario, it would make sense to invalidate the previously generated OTP because otherwise there would be two or more passwords mapped to the same user account, which should never happen.

[2019-11-08 22:49] alex-pathspot commented on #1289
The [amazon blogpost](https://aws.amazon.com/blogs/security/how-to-eliminate-the-need-for-hardcoded-aws-credentials-in-devices-by-using-the-aws-iot-credentials-provider/) and IOT core do not require cognito to fetch the STS credentials. I wrote my own `CredentialsProvider` that extends the base class that fetches the credentials via the HTTPS request outlined in that post.

It seems like the SDK i

[2019-11-09 00:06] raphkim commented on #1289
Does your app use IOT as its core functionality? Otherwise, we strongly recommend that you look into Cognito as your method of authentication, as the SDK currently does not support authentication via IOT core.

[2019-11-09 00:14] alex-pathspot commented on #1289
Yes it uses IOT as it's core functionality.

[2019-11-09 03:19] anees17861 commented on #1297
Tell me if this flow makes sense. The user starts a session by calling forgot password. In the same session he can call resend otp which generates new otp for that session. Once the user sets up the new password for that session with any one of the otp, the password will be changed and the entire session is over. Since the session is over the rest of the otps will be invalidated

[2019-11-09 03:21] anees17861 commented on #1297
I agree that if a new session is generated the previous one should be invalidated to avoid multiple passwords.

[2019-11-09 03:26] anees17861 commented on #1297
Maintaining sessions can also help in dividing the forgot password flow into two parts, verify otp first and then enter the new password which I believe is a popular feature request

[2019-11-10 01:31] BillBunting commented on #1003
Still having the issue in 2.16.3. Users report the Google (or Facebook) sign-in buttons do not do anything. The happens when users have not used the app in a while. Had to revert back to 2.13.3 again.

[2019-11-11 18:57] agalfioni commented on #1273
I don't enable any encryption in the bucket, i only set as Metadata the keys Content-Disposition and Content-Type as video/mp4.

Here the code:

**Create AmazonS3Client:**
[code]
**Create TransferUtility:**

[code]
I detect that the error occurs when i try to upload consecutively more than one video (only the first upload is successful, the other videos are corrupted). To repeat the upload procces

[2019-11-11 22:10] kvasukib commented on #1115
Closing the issue as 2.15.1 contains the fix.

[2019-11-11 22:10] #1115 closed

[2019-11-12 09:03] theemathas opened #1304 "Is it possible to use two versions of the AWS SDK?"
**State your question**
I am building an Android library (which would compile into an AAR file). Our library uses the AWS SDK, although this is not exposed in its public classes. I have found a problem when an Android app wants to use the AWS SDK on its own, and this app also wants to use our library.

If the app wants to use the same version of AWS SDK as our library, then there's no problem. How

[2019-11-12 17:33] trivedishivang commented on #1264
I am by passing the error on SignUp. But can you verify this on your your end @kvasukib . Has the usage changed since then? Thanks!

[2019-11-12 20:32] Crisp3333 commented on #1115
I beg for this issue to be opened up back. It happened has happened twice. And I am using the latest version of the sdk. It happened on Sunday and disappeared Monday, and now it has happened again. This behavior happens when you uninstall your app and try to reinstall it.

[2019-11-12 20:58] kvasukib commented on #1115
@Crisp3333 What version of the SDK are you using? Can you please upgrade to the latest: 2.16.3? We fixed this issue in 2.15.1.

Also if you notice any issues after upgrading to 2.16.3, please post the complete the stacktrace and a code snippet and contents of your build.gradle, the Android API level, device specific details where the issue occurs.

[2019-11-12 21:02] kvasukib commented on #1304
@theemathas Gradle build system (and any build system in general) will enforce using one version of a library artifact in a project. You can recommend the consumer of your library to exclude the version of the AWS SDKs that your library is depending on and they can manually import a version of AWS SDK in their build.gradle that will be compatible for their app as well as your library. See [gradle

[2019-11-13 18:42] #1298 closed

[2019-11-14 04:43] Crisp3333 commented on #1115
@kvasukib sorry for the late reply, my app is using 2.15.1. I have fixed the issue today. What I did was go to my app settings in android App Info -> Storage -> Clear data. I think after deleting the app, various data for the app are still on the device, and when you download it again it is using/refering that same stale data/credentials which I believe cause `Missing required parameter REFRESH_TO

[2019-11-14 06:49] kvasukib commented on #1115
@Crisp3333 Thank you for confirming. I am aware of the `Missing required parameter REFRESH_TOKEN.` issue and `2.15.1` contains the fix for it as well. I recommend clearing the app data, however the SDK has exception handling implemented for errors coming from the persistent store and you shouldn't be seeing this error starting `2.15.1`.

I recommend uninstalling and re-installing the app in the wo

[2019-11-14 09:19] leafygreens88 opened #1305 "Where should I call the method to get user attributes?"
I'm currently using the AWSMobileClient's Android SDK and I am unsure where I should call the method to retrieve a user's account attributes (The user's uuid, username, etc).

[code]

Should I call it in my MainActivity? I make my network call in my Fragment's onViewCreated so should I call it in onCreate?

I'm using Retrofit to make my network call and when I try to getIdentityId(), it returns th

[2019-11-14 14:30] Crisp3333 commented on #1115
Thank you, I will definitely do that should this problem pops up again.

[2019-11-14 18:52] ximenaperez commented on #1160
I'm getting the same error @desokroshan , did you find out what the problem was?

[2019-11-15 15:22] truongnguyen-agilityio commented on #1262
I tried with 2.16.3 but still get error

[2019-11-15 17:07] ximenaperez opened #1306 "Passwordless Custom Auth flow"
Hi all,

I'm having an issue when attempting sign in doing a custom auth flow for passwordless sign in.
I followed the docs here: https://aws-amplify.github.io/docs/android/authentication#custom-authentication-in-amplify

I got a awsconfiguration.json exactly like the one there, with those two sections including the custom part.

My issue is that when I attempt sign in, with a dummy password as it

[2019-11-15 21:35] #1305 closed

[2019-11-15 22:26] bobguy1234 opened #1307 "Cognito - getInstance().getTokens() Error: Failed to federate the tokens"
Works without an issue when calling
[code]
Right after I login.
[code]
However when I resume activity(go to another app) and come back and try getting tokens again I get the error:
[code]
Not sure why. Heres my current awsconfiguration:

[code]

[2019-11-16 09:03] theemathas commented on #1304
So... it's impossible to have more than one version of the SDK in one app, and the best I can do is specify which version I want?

[2019-11-18 07:24] anandsuthar2018 commented on #1265
Hi @kvasukib,

Have you found anything related to this issue?

[2019-11-18 09:25] thomasvsundert commented on #871
@kvasukib any updates on this? We also still see this issue in our app with the latest version of the SDK

[2019-11-19 00:33] varunbharill commented on #1232
Hi,
I am getting a very similar exception. I am getting a gzip object -> getting its stream -> passing it into GZIPInputStream.

[code]

The exception I get is below:
[code]

Any though on the workaround?
@drochetti

[2019-11-19 10:09] mrinalTASKER commented on #873
Getting the same issues @desokroshan for 2.15.2

[2019-11-19 17:10] chandusam2002 commented on #1232
@drochetti you may this option. You would be overriding the content type encoding  header.

[code]

[2019-11-19 18:08] desokroshan commented on #1306
@ximenaperez Thanks for reaching out. Can you share your user pool settings?

[2019-11-19 18:10] desokroshan commented on #1304
That's correct

[2019-11-20 00:31] pcashdown-tu commented on #684
Any update on this?

[2019-11-20 06:03] rbarbish opened #1314 "AWSKeyValueStore - Failed to communicate with keystore service"
**Describe the bug**
Occasionally we receive the following exception (see Stacktrace) on calling AWSMobileClient.getInstance().getTokens(), which eventually causes the Cognito user to be signed out (SIGNED_OUT_USER_POOLS_TOKENS_INVALID event) and the "token" and "provider" to be nulled out in the AWSKeyValueStore. It seems to be related to fetching the keys from SharedPreferences, read/write locki

[2019-11-20 14:01] usmanrana07 commented on #710
any update?

[2019-11-20 14:05] BillBunting commented on #1281
@TrekSoft   Any update? My app is already in production a with Dark Theme capability, but the sign-in with AWSMobileClient does not work because users can not see the fields. Can you give me an estimate on when Dark Theme will be supported here?

[2019-11-21 08:02] vdharmani commented on #394
Getting Same issue when i re-connect the device and hit login then getting same issue in some android devices.

Unable to execute HTTP request: Hostname cognito-idp.eu-central-1.amazonaws.com not verified:
    certificate: sha1/zD3oLGOCYOtZiu3qfI7z4JGdlRM=
    DN: CN=cognito-idp.eu-central-1.amazonaws.com
    subjectAltNames: [cognito-idp.eu-central-1.amazonaws.com]

Thanks.

[2019-11-21 09:33] prechtelm commented on #1314
Same error here when using the SDK higher than 2.14.2. We need a fix for that asap!!

[2019-11-21 20:31] ximenaperez commented on #1306
Hi @desokroshan

I have moved forward with this issue a little bit, but still not getting it to work properly. I noticed that I was missing a few dependencies, and after updating my dependencies to the latest versions and adding a user pool dependency, the sign in worked.

My issue now is that the sign in returns SIGNINSTATE = DONE, when it should be CUSTOM_CHALLENGE. After adding logs on the lamb

[2019-11-22 01:58] #1257 closed

[2019-11-22 07:32] truongnguyen-agilityio commented on #1262
any new ? @kvasukib @mohsenk

[2019-11-22 11:10] VeegaP commented on #1234
Any updates on this?

[2019-11-26 00:17] dokutoshi commented on #1314
This is a known issue and our team communicated with AWS that the planned release would not solve the issue.

[2019-11-26 06:50] SubirZ opened #1332 "User is not allowed to login on entering email id in upper case"
Hi all,

we are facing an issue when attempting sign in using the username in uppercase (In our case the username is an email address).

Steps to reproduce:
Actual username and password:
some.user@gmail.com
Asdf123@

Username entered in uppercase
SOME.USER@GMAIL.COM

I've tried on a Pixel 2XL with Android 9.(emulator)
Pixel2 with Android 9.(device)

Thanks in advance for the help!

[2019-11-26 14:20] agalfioni commented on #1273
It's seems that the problem isn't device specific. The same behaviour detected in Motorola Moto G4 when upload consecutively video files to S3.
The corrupted files' size in S3 are minor than original videos in the device. The expected behaviour is the files in S3 are in it only if the upload was successful right? Or it's possible that part of files are present in S3 when upload fails?

[2019-11-26 14:30] adrianolc commented on #1306
We're passing for a similar problem before we had also the problem in getting authenticated straight, it doesn't matter the password we sent. We just did an adjust on how we define the auth challenge on the server-side and fixed the problem.

But now the problem is by sending the `SRP_A` the server responds with `Incorrect username or password`. We never had a password and the way we do login righ

[2019-11-26 15:33] alejouribesanchez opened #1333 "TransferListener is null when the upload start in airplane mode"
**Describe the bug**
1. Put your phone in Airplane Mode, start normal uploading and you never get any callback in the TranferListener.

**To Reproduce**
1. Put your phone in Airplane Mode
2. Upload a file
3. Nothing happens

Your code
`transferUtility!!.upload(bucket, pathPrefix, file).setTransferListener(listener)`

**Which AWS service(s) are affected?**

**Expected behavior**
fun onStateChanged(

[2019-11-26 15:35] alejouribesanchez commented on #1333
@kvasukib could you help me with this?, I thought you fixed this in the past, but the bug is still there, or maybe @minbi can help me with this?

[2019-11-26 18:25] kvasukib commented on #1314
@rbarbish @prechtelm @dokutoshi Sorry for the inconvenience caused.

Whenever there is an issue with the Android KeyStore, `AWSKeyValueStore` will catch all exceptions and handle them appropriately. In this case, when decrypt fails, the get call will return null and the attributes map in the AWSMobileClient will have null for the key specified.

This is expected behavior given the implementation o

[2019-11-26 18:35] rbarbish commented on #1314
@kvasukib - Any plans for an alternate implementation that is successfully fetches the cached token 100% of the time? Possibly circumventing the Android KeyStore? This is makes for an extremely bad app experience for any implementation of this SDK.

[2019-11-26 18:44] #1304 closed

[2019-11-26 22:11] prechtelm commented on #1314
@kvasukib couldn't agree more with @rbarbish
This needs to work 100% of the time. Letting the user sign in again is no solution.

[2019-11-27 07:34] anandsuthar2018 commented on #1265
Hi @kvasukib,

Is there any update?

[2019-11-27 10:51] pmargom commented on #684
Please, give any update about this feature.

[2019-11-27 16:28] oenayet commented on #1306
I'm suffering the same issue on Android. Sign in returns SIGNINSTATE = DONE, when it should be CUSTOM_CHALLENGE ....

[2019-11-27 18:51] desokroshan commented on #1306
@oenayet @ximenaperez @adrianolc I wanted to verify your userpool settings before I go deeper with the issue. What is the Auth flow configuration for you App Client. Auth flow configuration should be ALLOW_CUSTOM_AUTH :

<img width="864" alt="Screen Shot 2019-11-27 at 10 50 00 AM" src="https://user-images.githubusercontent.com/4340938/69751369-ce2f4580-1103-11ea-8df4-7a3848df059c.png">

 Do you ha

[2019-11-27 18:58] oenayet commented on #1306
@desokroshan  Here are my settings.
![cognito_client](https://user-images.githubusercontent.com/1844423/69751711-fa70b380-114f-11ea-922d-8ce5a4779cc2.jpg)

I generated the lambdas using both CLI client and using a serverless AWS application:
https://console.aws.amazon.com/lambda/home?region=us-east-1#/create/app?applicationId=arn:aws:serverlessrepo:us-east-1:552623489034:applications/amplify-passw

[2019-11-27 19:05] ximenaperez commented on #1306
Hi @desokroshan , my userpool settings look exactly like the ones you posted.

<img width="897" alt="Screen Shot 2019-11-27 at 4 04 15 PM" src="https://user-images.githubusercontent.com/5935015/69752265-96d68e00-112f-11ea-8227-40f9144fbfc1.png">

The lambdas are set up appropriately I think. I didn't write them myself but they are handwritten by another developer, and he tested them with a javascr

[2019-11-27 19:13] desokroshan commented on #1306
Great, thanks for the confirmation. I'll dig further.

[2019-11-28 10:54] Carlo73KM opened #1335 "aws-sdk-android-samples/AndroidPubSub/ sample app not connecting"
Hi,
I have followed the step-by-step guide but the CONNECT button is grey(inactive) constantly and there is no connection at all. I have changed all the values in the sample code and also modified the Policies/Identities according to description. Can you please suggest what to check in order to get the app working?

AWS Cognito,AWS IoT
 - Device:  HTC U11
 - Android Version:  Android 9
Thanks in a

[2019-11-28 13:27] orcuns commented on #1172
Same issue happens to our project too. What I've tried is called`aws-android-sdkpinpoint:GetUserEndpoints` and open some space by deleting some of the endpoints.

But the other problem that I've encountered is on deserializing the httpResponse. Apparently `com.amazonaws.services.pinpoint.model.transform.GetUserEndpointsResultJsonUnmarshaller.java` is simply creating an instance return it. Thats wh

[2019-11-29 10:44] aakivbhatia commented on #1041
Can we have this fixed in iOS SDK as well ? Couldnt find in v2.12.2

[2019-11-29 11:42] adrianolc commented on #1306
@desokroshan or config is also like you asked and we handwritten also the lambda. We're using cognito since the begin of the Project, this May, but using directly the `CognitoUserPool`, it's working fine since then.

As I said, I had also the  problem with SIGNINSTATE = DONE we solve it changing the lambda, but now we get an exception saying `Incorrect username or password` as we don't use passwor

[2019-11-29 11:44] rynkowsg opened #1336 "Using v2.16.4 causes FileInputStream crash on Android 5.1"
**Describe the bug**
I was using v2.16.0 on Android 5.1 and it worked fine.
Today I tried to update it to v2.16.4 and I got an issue with reading files in my app:
[code]

**To Reproduce**
[code]
It seems that `FileInputStream(file)` throws an exception.
To be honest I don't know how to explain that, yet. This file is not read by AWS SDK, I'm reading a file in my own code, but still, I got this iss

[2019-11-29 11:48] sim7087 commented on #1041
It is already fixed in ios SDK. I got this issue on android SDK

On Fri, 29 Nov 2019, 16:14 aakivbhatia, <notifications@github.com> wrote:

[2019-11-29 13:20] zubairzahoor opened #1337 "I have AWS Cognito Pool of Users that I want to authenticate from the android app. After authentication, I need to get accesstoken and idtoken fso that I can use them for other purposes. I use AWSMobileClient for SignIn."
I have not configured Amplify and I have directly copied the awsconfiguration.json file.

[2019-11-29 19:00] austinn opened #1338 "AWSMobileClient.getInstance().signIn() takes forever to login on wifi (sometimes)"
**Describe the bug**
Unfortunately I'm not entirely sure what the issues is. It's hard to reproduce and I can only reproduce it on a certain wifi network, though I've had some user's say it's not working for them as well. After calling AWSMobileClient.getInstance().signIn(), it takes 2-5 minutes to login. This also happens on AWSMobileClient.getInstance().initialize(). If I switch to LTE data it w

[2019-11-30 11:19] maff91 opened #1339 "Identity provider key for 'Sign in with Apple'"
**State your question**

Recently Amazon added 'Sign in with Apple' support to Cognito ([Link](https://aws.amazon.com/about-aws/whats-new/2019/11/amazon-cognito-now-supports-sign-in-with-apple/))
What is the identity provider key to use for federated login in this case?

[code]

**Which AWS Services are you utilizing?**

Cognito

[2019-11-30 15:25] austinn commented on #1338
Update: I haven't touched anything since yesterday but today everything seems to be working. All the error messages from the SDK are gone as well.

[2019-11-30 15:25] #1338 closed

[2019-12-02 10:56] aakivbhatia commented on #1041
@sim7087 SignupResult doesnt have UserSub in it.

[2019-12-04 08:34] Jade0101 opened #1346 "Failed to get credentials from Cognito Identity when testing aws-sdk-android-samples/AndroidPubSub/"
I am testing aws-sdk-android-samples/AndroidPubSub/ from https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSub.

Enviroment setting is,
`dependencies {
    def aws_version = "2.16.+"
    implementation "com.amazonaws:aws-android-sdk-iot:$aws_version"
    implementation "com.amazonaws:aws-android-sdk-mobile-client:$aws_version"
    implementation "com.android.support:support-

[2019-12-05 07:18] syumaK commented on #437
@mharlowfod , the Pinpoint IAM policy documentation link can be found under React Native section here: [https://aws-amplify.github.io/docs/js/analytics](https://aws-amplify.github.io/docs/js/analytics)

In summary, I use the following policy sample :

    {
        "Version": "2012-10-17",
        "Statement": [
            {
                "Effect": "Allow",
                "Action": [

[2019-12-05 07:21] poora-best opened #1347 "Passwordless Custom Auth Flow in awsmobileclient"
Hi All,

I'm having an issue when attempting sign in doing a custom auth flow for passwordless sign in.
I followed the docs here: https://aws-amplify.github.io/docs/android/authentication#custom-authentication-in-amplify

I got a awsconfiguration.json like the one there, with those two sections including the custom part.

I am facing two issues with this which are:

1. I have written a Lambda pre-

[2019-12-05 08:10] poora-best commented on #1306
@ximenaperez Did you find the solution for this?

I am facing two issues with this which are:

I have written a Lambda pre-authentication trigger to validate if the user is already existing in the database (RDS) or not. But when I try to sign in, this lambda method does not invoke.

Second is when I sign in using the CustomAuthFlow calling method AWSMobileClient.getInstance().confirmSignIn() the f

[2019-12-05 13:14] kraakk001 opened #1348 "AWSMobileClient reset feature"
**Which AWS Services is the feature request for?**
The AWSMobileClient for Android.

**Is your feature request related to a problem? Please describe.**
We are currently developing an Android application that uses the AWSMobileClient.
We are retrieving our awsconfiguration.json from an API to support multiple companies with different stacks.

We use the altered AWSConfiguration that supports a JSON

[2019-12-05 13:55] ximenaperez commented on #1306
@poora-best I haven't. I believe it's a bug somewhere because I'm having the same issue in iOS, and no one seems to have answers. I just tried doing a workaround in the lambdas that when I get SRP_A, I change it to what I want and then my sign up/sign in with confirmation works fine. But still waiting for a proper solution.

[2019-12-05 15:03] poora-best commented on #1306
@ximenaperez Can you post your lambdas ?
Thanks

[2019-12-05 15:15] ximenaperez commented on #1306
@poora-best sorry, I did not do that part myself. I know the workaround was something like that but I don't have access to the lambdas at the moment. The issue was always that when we were expecting an empty session, we were getting a session object with SRP_A, so when we got a session object like that we would just set it to null or something like that.

[2019-12-06 06:39] poora-best commented on #1306
@ximenaperez Ok

[2019-12-06 09:32] ThinkHattke commented on #1215
@desokroshan I am not using the Identity pool, how do I configure my awsconfiguration.json file.

My current configuration file looks like this
 `{
    "UserAgent": "aws-amplify-cli/0.1.0",
    "Version": "0.1.0",
    "CognitoUserPool": {
        "Default": {
            "PoolId": "poolId",
            "AppClientId": "clientId",
            "AppClientSecret": "secrectcode",
            "Region": "

[2019-12-06 15:48] BillBunting commented on #1281
Any update? Users with Dark Theme are unable to sign-up or sign-in to any app using the MobileClient sign-in screens.

[2019-12-06 15:49] BillBunting commented on #568
Any progress?

[2019-12-06 21:35] desokroshan commented on #1306
@ximenaperez Sorry about the delay. Would you mind sharing your lambdas here and stack trace. I have not been able to reproduce the issue on my end. I suspect it has something to do with the Auth Flow definition. Here is a sample Define Auth Challenge lambda for passwordless sign-in that works seamlessly for me :

[code]

In this Auth challenge definition, first is SRP_A where Cognito validates th

[2019-12-06 22:52] HeinousGames commented on #1346
Our production app is also having issues getting the cognito caching credential provider. We updated the library to 2.16.4 but the issue still remains. Not sure what is going on here.

[2019-12-06 23:29] raphkim commented on #1339
Unfortunately, Android SDK does not yet support Sign-in with Apple feature. An alternative would be to implement a custom identity provider as described in [here](https://docs.aws.amazon.com/cognito/latest/developerguide/developer-authenticated-identities.html).

[2019-12-07 11:53] LucaSchweri opened #1361 "TOTP Software Token MFA support for AWSMobileClient"
**Which AWS Services is the feature request for?**
AWSMobileClient

**Is your feature request related to a problem? Please describe.**
AWSMobileClient doesn't support TOTP Software Token MFA and it is not possible to combine AWSMobileClient with the CognitoUser class to sign in the users with AWSMobileClient and do the TOTP Software Token MFA using the CognitoUser class. It would be possible to on

[2019-12-08 00:23] maff91 commented on #1339
@raphkim Thank you for answer.
Is it even on roadmap? Any estimations when the integration is planned to be delivered?

[2019-12-09 00:57] kvasukib commented on #1339
@maff91 The `aws-android-sdk-cognitoidentityprovider` SDK will be updated with support for `SignInWithApple` in the next upcoming release. However we don't have the support in `AWSMobileClient` at this moment through the enum you mentioned.

See [PR](https://github.com/aws-amplify/aws-sdk-android/pull/1362/files#diff-2949a3798ae1a86ffd84ddf2ee29e229R30) for details. We will use this issue to addre

[2019-12-09 14:51] awesome2live opened #1369 "Is there any way to connect of amplify framework with IOT analytics or android with Iot analytics?"
**State your question**

**Which AWS Services are you utilizing?**

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25]

**Device Information (please complete the following information):**
 - Device: [e.g. Pixel XL, Simulator]
 - Android Version: [e.g. Nougat 7.1.2]
 - Specific to simulators:

If you need help with un

[2019-12-09 20:45] kvasukib commented on #1369
@awesome2live Thank you for reporting to us. We do not have a low-level client for IoT Analytics at this moment. We will take this as a feature request.

[2019-12-10 05:47] anandsuthar2018 commented on #1265
Hi @kvasukib,

Is there any update?

This is a blocker situation for us. Hoping to get a response soon.

[2019-12-10 12:38] nir-ilumisolutions opened #1373 "java.lang.NoClassDefFoundError: AmazonS3Client;"
I am using Amazon AWS S3 for downloading a file. When I try to initialize it shows below error.

[code]

Here is my code :
[code]
I am using it with SDK Version :
 - implementation 'com.amazonaws:aws-android-sdk-s3:2.3.3'

I am using Google Pixel Android 9.0 device.

[2019-12-10 16:55] adrianolc commented on #1306
@desokroshan I gonna check with the backend developers here our  Define Auth Challenge. Then I gonna write back here.

Thanks

[2019-12-11 08:07] kvasukib commented on #1373
@nir-ilumisolutions I would recommend to upgrade to `implementation 'com.amazonaws:aws-android-sdk-s3:2.16.+'` and perform a gradle sync and see the behavior.

[2019-12-11 11:47] zubairzahoor commented on #1337
AWSMobileClient.getInstance().getTokens().getAccessToken().getTokenString();
This works now, seems like there was a problem with some attributes in awsconfiguaration.json

[2019-12-11 11:47] #1337 closed

[2019-12-11 14:27] adrianolc commented on #1306
Hi @desokroshan!

So, I verify the Auth Definition lambda with our backend developer we didn't have the "SRP_A" verification there. We add this validation and tried again, but still getting 'Incorrect username or password`.

We saw the logs and seems that the Lambda is sending the right response, but still, the SDK or cognito throws this exception.

Request/Response

[code]

Exception:
![Screensho

[2019-12-12 05:12] santhedan opened #1377 "SDK does not handle RESET_REQUIRED state"
**Describe the bug**
The bug reported in amplify-js also exist in the Android SDK.

https://github.com/aws-amplify/amplify-js/issues/4516

**To Reproduce**
A code sample or steps:
- Import a user in cognito pool make sure that the state of user is RESET_REQUIRED
- Call the AWSMobileClient.getInstance().signIn() API with correct parameters

You will see the following exception in logcat:

com.amazo

[2019-12-12 05:21] Thaina opened #1378 "When we will have unity SDK ?"
I want to to use datastore sync with unity

[2019-12-13 08:21] cagriyilmaz commented on #429
Hi @desokroshan @kvasukib, do you have any news about custom authentication feature for android sdk?

[2019-12-14 00:03] desokroshan commented on #1306
@adrianolc Are you using this the updated lambda with the current SDK as is or are you using it with your changes in https://github.com/aws-amplify/aws-sdk-android/pull/1334?

[2019-12-17 13:06] adrianolc commented on #1306
@desokroshan I'm not using my changes. Try to use the current SDK and for live app using directly CognitoUserPool

[2019-12-17 13:12] patrickkempff commented on #1136
Any updates on this?

[2019-12-17 16:51] tomfielder opened #1382 "TransferUtility - possible to use multiple S3 clients (or creds/settings)?"
I have a use case for the TransferUtility where I need to be able to upload files to different buckets/keys/regions using potentially different credentials. So, it'd be great if I was able to specify the S3 client to use at the time of initiating the upload.

I can see in `TransferUtility.submitTransferJob(...)` that it stores references to the S3 client via `S3ClientReference.put(id, s3)`. So, un

[2019-12-18 13:52] bsafwen opened #1383 "Client disconnects when it tries to subscribe to a non existing topic"
**Describe the bug**
Client disconnects when it tries to subscribe to a non existing topic. The client gets an IOException on the socket.

**To Reproduce**
Subscribe to a non existing topic

**Which AWS service(s) are affected?**
iot

**Expected behavior**
Broker should not close the socket if the client tries to subscribe to a non existing topic.

**Environment Information (please complete the fo

[2019-12-18 18:34] desokroshan commented on #1383
@bsafwen Thanks for reaching out. Can you please provide some relevant code snippets. I am unable to reproduce the issue on my end. I connected to IoT and tried publishing and subscribing to  topics with random name but was never disconnected by the broker. Would it be possible for you to reproduce it in the following sample app :
https://github.com/awslabs/aws-sdk-android-samples/tree/master/Andr

[2019-12-18 18:59] desokroshan commented on #1382
@tomfielder Thanks for reaching out. TransferUtility currently does not support the ability to use multiple S3 clients. I have marked this as a feature request and will update the thread with more details after discussion with the team.

[2019-12-18 19:10] desokroshan commented on #1335
@Carlo73KM Thanks for reaching out. I am unable to reproduce the issue in the either of the IoT samples. Can you please provide following details to help reproduce the issue:
1. Which of these samples are you using - https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSubWebSocket or https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSub?
2. Usually if co