[2018-06-04 17:49] softwarejoint commented on #468
Thanks, hope this comes out soon. This will prevent a duplicate call that we have to make after each file upload

[2018-06-06 07:35] rr0055256 opened #473 "Mulit-part upload fails with transfer acceleration in 2.6.+"
Facing issue when we have transfer acceleration enabled on the S3 client object with Amazon AWS Android SDK 2.6+. However, the transfer acceleration works with 2.2+.

Below are the details -
1. The version of SDK used - 2.6+
2. The issue was detected in the actual device - Android 6.0.0
3. Problem is solved with a lower version of the SDK (2.2.+)
4. The issue is not related to Android OS version.

[2018-06-06 16:11] ngriffiths opened #474 "Cannot resume upload that is WAITING_FOR_NETWORK (404, NoSuchUpload)"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
  * `aws-android-sdk-s3`
* In what version of SDK are you facing the problem?
  * `2.6.20`
* Is the issue limited to Simulators / Actual Devices?
  * Unknown. Only seen on actual devices
* Can your problem be resolved if you bump to a higher version of SDK?
  * I doubt it, as the

[2018-06-07 07:07] emumair commented on #265
Facing same issue for SDK version 28.
Runs well on version <= 27 but throws exception when app is run on version 28.

`testCompile 'commons-logging:commons-logging:1.1.1'`
OR
`testImplementation 'commons-logging:commons-logging:1.1.1'`
both are not working.

Using `implementation 'commons-logging:commons-logging:1.1.1'` is not allowed as build is failed..

[2018-06-07 10:12] appndigital opened #475 "S3 SDK impacting more than 10% of users with 2 major crashes"
###

* What service are you using?
S3 and cognito

* In what version of SDK are you facing the problem?
2.6.+

* Is the issue limited to Simulators / Actual Devices?
ActualDevices

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific Android/OS version?
Only Android

###

We have 2 majors crashes on our app related to Amazon S3.

1. URLHt

[2018-06-07 16:59] kvasukib commented on #475
Thank you @appndigital for reporting to us. Sorry for the inconvenience caused.
Can you post a stack trace and a sample code snippet?
Can you check if there are intermittent network connectivity issues?
What is the frequency of this issue? For every file, type, and size?
Does this occur on certain devices or Android versions?

[2018-06-07 18:23] kvasukib commented on #474
Thank you @ngriffiths for reporting to us. Sorry for the inconvenience caused. The transfer state is set to `WAITING_FOR_NETWORK` when the `TransferService` gets a broadcast message that the network connectivity is lost. The `TransferService` will resume the transfer when the network is online (by getting a broadcast message). Can you check if the device was offline during this time?

I can see th

[2018-06-07 19:29] kvasukib commented on #473
Thank you @rr0055256 for reporting to us. Sorry for the inconvenience caused.  I wrote a test with the code sample you posted and the transfer went through successfully. Do you have transfer acceleration enabled on the bucket in the S3 console?

The endpoint should be <bucket-name>.s3-accelerate.amazonaws.com however in your stack trace, I don't see the bucket-name in the hostname.
Does this error

[2018-06-08 05:38] emumair opened #476 "NoClassDefFoundError: org/apache/commons/logging/LogFactory"
* What service are you using?
**Mobile Analytics**

* In what version of SDK are you facing the problem?
`implementation 'com.amazonaws:aws-android-sdk-core:2.4.2'`
`implementation 'com.amazonaws:aws-android-sdk-mobileanalytics:2.4.2'`

* Is the issue limited to Simulators / Actual Devices?
**No**

* Can your problem be resolved if you bump to a higher version of SDK?
**No**

* Is this problem rel

[2018-06-08 07:09] tomjanne opened #477 "Feature Request: Cognito "InitiateAuth" request allowed custom "scopes" in AccessToken"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Cognito

Hello,

we are currently using a Cognito User Pool for authenticating our Application Users. These are accessing an Amazon API Gateway secured by a Cognito Authorizer with OAuth (custom) scopes.

At first we tried using the Android sdk from your Documentation
https:/

[2018-06-08 09:28] appndigital commented on #475
Hi @kvasukib
Here is a code snippet

`TransferUtility transferUtility = new TransferUtility(s3, this);

            final TransferObserver observer = transferUtility.upload(
                    Utils.AWS_BUCKET,     /* The bucket to upload to */
                    title,    /* The key for the uploaded object */
                    fileToUpload        /* The file where the data to upload exists */

[2018-06-08 09:29] appndigital commented on #475
It happens on various brands of phones and version of Android.

[2018-06-08 10:36] ngriffiths commented on #474
Hi @kvasukib, thanks for getting back to me.

I previously said _"disconnecting and re-reconnecting the phone to a WiFi network does not resume the transfer"_, but that's actually not true, sorry about that. Below is an example of how changing network state affects the transfer. When I mention progress percentage, I'm talking about `bytesCurrent` and `bytesTotal` reported by `TransferListener.onPr

[2018-06-08 17:32] kvasukib commented on #475
Thank you @appndigital for the quick reply. I see that you are getting an exception when you are trying to list object through the AmazonS3Client. Can you post a code snippet of how you are constructing the AmazonS3Client object, transfer utility object and the call to listObjects?

[2018-06-08 21:10] vision669 opened #478 "Mobile Hub Logout in Offline mode and user need to sign back in when connection is established"
I just downloaded android Mobile Hub app. I added user sign as the backend. Everything works fine when there is good connection, but when the phone is in offline mode ( no internet connection) the user is automatically sign out and the cache dataset save on the phone is wipe. User needs to login again when connection is established. Most app i know work flawlessly with or without connection with m

[2018-06-08 21:44] #437 closed

[2018-06-08 22:59] minbi commented on #476
Hi @emumair ,

Thanks for reporting this issue. Currently, it looks like we may be able to remove this dependency.
We will investigate and reply here when we have more information.

[2018-06-08 23:00] minbi commented on #476
Also, Mobile Analytics is no longer recommended, please use AWS Pinpoint instead.

[2018-06-10 04:11] #390 closed

[2018-06-10 12:21] beersheba opened #479 "IOException: WebSocket Response header: Incorrect upgrade"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
IoT

* In what version of SDK are you facing the problem?
2.6.18

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific Android/OS version?
No

* Can you give us

[2018-06-11 07:34] edward-sentongo commented on #475
Running the sample app (https://docs.aws.amazon.com/aws-mobile/latest/developerguide/getting-started.html#add-aws-mobile-sdk-connect-to-your-backend) produces the same error:

_"Unable to execute HTTP request: Unable to resolve host "cognito-identity.eu-west-1.amazonaws.com": No address associated with hostname"_

[2018-06-11 17:36] rr0055256 commented on #473
Thanks for your response. Yes, transfer acceleration is enabled on the bucket. Yes, you are right, once you enable the transfer acceleration on the bucket, it points to <bucket-name>.s3-accelerate.amazonaws.com. However, the sdk code, does not allow me to set the end point manually as its says, I only have to enable transfer acceleration method. I'm able to upload without transfer acceleration ena

[2018-06-11 23:06] kvasukib commented on #474
Thank you @ngriffiths for the detailed information. From the "(2) Disable WiFi. Phone switches over to 4G. Transfer resumes, reports increased progress then become "waiting for network" again.", I can see that the transfer is in waiting for network even if the network is available and connected to 4G. Am I correct here?

TransferService registers with the ConnectivityManager and gets a broadcast m

[2018-06-12 08:33] ngriffiths commented on #474
Yes, what you wrote is correct. The transfer is in waiting for network even though the network is available and connected to 4G.

I'll try and make some time to investigate this further as soon as I can.

[2018-06-12 08:45] Plinzen commented on #328
Hi,
is there any plan to fix this issue? It's quite difficult to distinguish between a real error or just a "log information".

[2018-06-12 15:40] markwhitaker commented on #260
I'm facing the same problem with version 2.6.18 of the SDK. Specifically, I'm trying to detect if the user is logged in while the app is offline (e.g. due to lack of network signal).

My test steps are:

1. Run app and sign up/log in
2. Close app
3. Put device into Flight mode
4. Repeatedly: Launch app / wait for app to load / close app

Expected behaviour is that the app will always bypass the si

[2018-06-12 18:47] cbommas commented on #479
Hello @beersheba
Sorry to hear that you are running into issues. I tried to reproduce this behavior by using the AndroidPubSub sample (https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSub) with multiple versions of paho, (1.1.0, 1.1.1, and 1.2.0) and was able to connect and have pub/sub working.

Can you share more details about your setup and, if possible, a code-snippet t

[2018-06-13 10:32] softwarejoint commented on #468
Any updates on this?

[2018-06-13 21:41] kvasukib commented on #473
Hi @rr0055256, Thank you for the detailed response. I tried the following:

 public AmazonS3Client getS3Client(Context context) {
        final CountDownLatch countDownLatch = new CountDownLatch(1);

        if (sS3Client == null) {
            BasicAWSCredentials credentials = new BasicAWSCredentials(key, secret);
            sS3Client = new AmazonS3Client(credentials);
            sS3Client.setR

[2018-06-14 04:05] rr0055256 commented on #473
Thanks. Solved my problem. The issue was , I had already enabled transfer acceleration on the bucket. Disabling the transfer acceleration in the bucket and then enabling via the function from the code solved the problem.

[2018-06-14 12:44] SahajRana opened #480 "How to POST in AWS cloud logic for Android?"
* What service are you using?

AWS Mobile Hub , Cloud Logic, API gateway, AWS Lambda

* In what version of SDK are you facing the problem?

2.6.22

* Is the issue limited to Simulators / Actual Devices?

It is occurring on all the devices

* Can your problem be resolved if you bump to a higher version of SDK?

Tried not working

* Is this problem related to specific Android/OS version?

No

* Can

[2018-06-14 17:18] kvasukib commented on #473
Thank you @rr0055256 for confirming. I have added few tests in TransferUtility on transfer acceleration.

[2018-06-14 17:18] #473 closed

[2018-06-15 15:14] ngriffiths commented on #474
@kvasukib I have logcat output for the scenario I described in my second comment. I'd rather not post it here, can I send it to you via email or another method?

[2018-06-15 17:10] ngriffiths commented on #474
From a brief investigation this afternoon, I've seen that:

1. Five `UploadPartTask` are created for transfers 1684, 1686, 1687, 1688, 1689.
1. All of the underlying `PUT https://my-bucket.s3.amazonaws.com` requests result in a `404`.
1. All of them call https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadPartT

[2018-06-15 17:33] kvasukib commented on #474
@ngriffiths Thank you for the detailed reply. Can you send the logcat output to karthba@amazon.com?

[2018-06-15 18:37] kvasukib commented on #474
@ngriffiths In your last comment, was there any network disconnect and reconnect?

[2018-06-15 19:15] ngriffiths commented on #474
@kvasukib Will email the logcat output ASAP.

The steps I described in my last comment took place after enabling a network connection. No disconnection took place after that.

[2018-06-16 02:11] icochico commented on #394
Hi,

I am experiencing the same issue. Android 7.0 and `com.amazonaws:aws-android-sdk-iot:2.6.22`. mqttManager tries to connect but loses the connection and then tries to reconnect in a loop. Does anybody have a solution for this?

[code]

[2018-06-16 07:34] jomon-neona opened #481 "AWS MQTT disconnect issue - publish data is sometimes not comming to cloud"
What service are you using?
    aws-iot-device-sdk-embedded-C

    In what version of SDK are you facing the problem?
    2.2.1

    Is the issue limited to Simulators / Actual Devices?
    No

    Can your problem be resolved if you bump to a higher version of SDK?
    No

    Is this problem related to specific Android/OS version?
    No

 We have currently getting error while publish data to th

[2018-06-16 07:46] #481 closed

[2018-06-16 22:54] icochico commented on #394
Hello everyone,

Just want to give you an update, I found a solution and I want to share it for anybody that will experience this problem in the future. The problem lies with the fact that the `AWSIotMqttManager` is automatically autoreconnecting and does not allow Exceptions to be thrown and visualized on the logcat. All it takes is to do this:

`mqttManager.setAutoReconnect(false);`

To be able

[2018-06-18 09:28] beersheba commented on #479
In my setup i use both aws sdk and paho mqtt.
As i see in aws iot internals, it's also using paho mqtt 1.1.0 internally.

[code]

When i increase paho version to 1.2.0 in app gradle, AWSIotMqttManager starting to throw the exception.

[2018-06-18 13:47] mukeshsolanki commented on #390
this is not stale

[2018-06-19 04:21] softwarejoint commented on #468
Hey guys, any update on this feature?

[2018-06-19 05:56] kvasukib commented on #468
HI, @softwarejoint Sorry for keeping you waiting. We will have the fix out in our upcoming release. We will update this thread once the release is out.

[2018-06-19 13:33] vishal-rai commented on #365
@kvasukib Is this feature available now?

[2018-06-20 02:55] KateLeeCandy opened #482 "Why HttpMethodName class not contains OPTIONS?"
The HTTP OPTIONS method is used to describe the communication options for the target resource.
Why HttpMethodName not contains OPTIONS?

[2018-06-20 15:42] minbi commented on #482
Hi @KateLeeCandy ,

Can you clarify your use-case? Are you using API Gateway or AppSync and need that enum?

[2018-06-20 15:47] minbi commented on #478
Hi @vision669 ,

The demo app does not cover all use-cases. This behavior can be modified to suit your needs.

[2018-06-21 08:41] KateLeeCandy commented on #482
We need to use AWS4Signer with com.amazonaws.DefaultRequest#setHttpMethod, and found HttpMethodName not contains OPTIONS...

[2018-06-21 23:53] kvasukib commented on #480
Thank you @SahajRana for reporting to us. Sorry for the inconvenience caused. The URL path has special characters in it and the SDK URL encodes the path, hence it says method not found. We will investigate on this and get back to you.

[2018-06-22 18:44] kvasukib commented on #468
Hi @softwarejoint, Thank you for the patience. We have released 2.6.23 with support for additional headers.

**1. Object Tagging - Single tag**

[code]

**2. Object Tagging - Multiple Tag**

[code]

**3. isRequesterPays**

[code]

Please let us know if this works for you and any feedback you have.

[2018-06-22 19:04] softwarejoint commented on #468
Much thanks. Just 1 question, the below call, is this object expiry or http cache expiry

setHttpExpiresDate

[2018-06-22 19:44] softwarejoint commented on #468
Much appreciated it works well for me. However some points as this can hit other users of library.

Could you document the change in the code. It still says that it will prefix x-amz-meta- to the custom user tag. But the condition is not so.

Also while uploading directly the `populateRequestMetadata` process same user metadata differently.

[code]

[2018-06-22 20:22] kvasukib commented on #468
Thank you @softwarejoint for the feedback. We will update the Javadoc accordingly in the upcoming release.

I understand your concern about `populateRequestMetadata()`. We are working on to fix this in the upcoming release. There are two places you can attach user metadata: the put object request and the object metadata.

The populateRequestMetadata() treats the user metadata attached in the objec

[2018-06-22 20:23] #468 closed

[2018-06-25 00:51] markacoss commented on #400
@kvasukib Do you have an ETA when this issue might be resolved? Still having crashes in production.

[2018-06-25 13:03] davinctor commented on #265
@emumair I think this problem related to x86 architecture. Because I also ran on Android Emulator x86 arch and it fails, but on the device works well.

[2018-06-25 14:41] dercdev commented on #477
Hi,
sorry that I can't help you with that, but i am also interested in an answer. I am in a similar situation and would like to add custom elements to the scope of the access token.

[2018-06-25 15:03] kvasukib commented on #467
Thank you @nbonatsakis for reporting to us. Sorry for the delayed response. Are you trying to federate a social provider signin with Cognito UserPools? Can you explain your use-case?

[2018-06-25 17:34] kvasukib commented on #482
Thank you @KateLeeCandy for the reply. What AWS service are you sending this request to?

[2018-06-25 18:44] kvasukib commented on #461
Thank you @aeroma for reporting to us. Sorry for the inconvenience caused. We will fix the threading issue and update here once the release is out.

[2018-06-25 20:14] deysuman opened #483 "Crash on com.amazonaws.auth.AWSCredentialsProvider.getCredentials()' on a null object reference"
* I use aws dynamodb android

My gredle code is

implementation 'com.amazonaws:aws-android-sdk-ddb-mapper:2.6.23'
    implementation ('com.amazonaws:aws-android-sdk-mobile-client:2.6.23@aar') { transitive = true }
    implementation group: 'com.amazonaws', name: 'aws-android-sdk-core', version: '2.6.23'

* Is the issue limited to Simulators / Actual Devices?

[2018-06-25 20:33] kvasukib commented on #483
Thank you for reporting to us. Sorry for the inconvenience caused. Can you post a code snippet if possible and the stack trace? Have you added the following line to your app?

[code]

[2018-06-25 22:07] deysuman commented on #483
@kvasukib see r=this

`package com.park24x7.app;

import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.util.Log;
import android.view.View;
import android.widget.Button;
import android.widget.TextView;

import com.amazonaws.auth.AWSCredentialsProvider;
import com.amazonaws.mobile.auth.core.IdentityHandler;
import com.amazonaws.mobile.auth.core.IdentityManager;
i

[2018-06-26 11:19] mseleng commented on #476
👍 Same issue here, now with
`implementation 'com.amazonaws:aws-android-sdk-sns:2.6.23'`

[2018-06-26 16:12] jmgamboa commented on #420
@kvasukib I am using the fix you posted but getting "method call expected" error on the CognitoCachingCredentials
[code]

[2018-06-26 16:50] kvasukib commented on #420
@jmgamboa  Are you trying to do in Java or Kotlin?

Java:

[code]

Kotlin:

[code]

[2018-06-26 17:11] jmgamboa commented on #420
@kvasukib it was Java. copy-pasta issue. resolved for me thanks.

[2018-06-26 17:13] kvasukib commented on #483
Please change to the following code:

[code]

Let me know if this works for you.

[2018-06-26 17:19] kvasukib commented on #420
Thank you for confirming.

[2018-06-27 20:08] #462 closed

[2018-06-27 21:08] #464 closed

[2018-06-27 23:07] deysuman commented on #483
When i paste your code then get this error. **Failed to read Region from AWSConfiguration please check your setup or awsconfiguration.json file**

This is my aws configuration file
![image](https://user-images.githubusercontent.com/22560930/42004281-c9281d1e-7a8c-11e8-83c4-2bdea26ef78a.png)

[2018-06-27 23:48] minbi commented on #483
Your configuration json should contain:

[code]

The region depends on where your table is located.

[2018-06-28 18:29] elliott-accolade commented on #476
Having this issue with both
` api 'com.amazonaws:aws-android-sdk-kinesis:2.2.+'
    api 'com.amazonaws:aws-android-sdk-core:2.2.+'`

and
`    api 'com.amazonaws:aws-android-sdk-kinesis:2.6.+'
    api 'com.amazonaws:aws-android-sdk-core:2.6.+'

[2018-06-28 18:42] elliott-accolade commented on #265
Running on a Pixel XL 2 w/ API 28, still have the same issue.

[2018-06-28 21:31] NikolayAtSony commented on #470
I disagree, this is still a valid issue which needs to be addressed. @kvasukib, any updates on when we can expect the fix?

[2018-06-28 23:02] minbi commented on #169
The `DeadLetterListener` is also available to recover records that will be eliminated from the local database.

[2018-06-28 23:02] #169 closed

[2018-06-29 03:05] #478 closed

[2018-07-01 11:37] maff91 opened #484 "Cognito: Unable to verify secret hash for client"
### Problem.
`CognitoUser.getSession` initiated with "USER_PASSWORD" authentication type does not send secret hash with the in auth request which leads to: "NotAuthorizedException: Unable to verify secret hash for client"

### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Cognito

* In what version of SDK are you facing the pro

[2018-07-02 10:45] ngriffiths commented on #474
@kvasukib Did you receive the logcat output? Do you need any more information from me?

[2018-07-02 10:54] AIlll opened #485 "IOT sdk loop Reconnecting"
* What service are you using?
aws-android-sdk-iot
* In what version of SDK are you facing the problem?
2.6.23
* Is the issue limited to Simulators / Actual Devices?

* Can your problem be resolved if you bump to a higher version of SDK?
no
* Is this problem related to specific Android/OS version?
android4.4.2

* Please include a stacktrace if applicable.
[code]
When the connection is successful，co

[2018-07-02 16:17] kvasukib commented on #474
I haven't. Can you send it again?

[2018-07-03 05:18] kvasukib commented on #485
Thank you @AIlll for reporting to us. Can you post a code snippet if possible?

[2018-07-03 07:55] ngriffiths commented on #474
Just sent to karthba@amazon.com

[2018-07-04 04:53] aroravinay4 commented on #394
Hello folks,

The client fails to connect initially, and remains stuck attempting to reconnect.we have attempted providing credentials using both Cognito and basic AWS.

We are using  "UUID.randomUUID().toString() + System.currentTimeMillis();" for generating client id.

  07-03 19:45:59.840 12813-12813/com.net.pubsubandroidfinal D/com.net.pubsubandroidfinal.MainActivity: topic = hi 07-03 19:46:03

[2018-07-04 09:35] Sahana312 opened #488 "Resumable downloads"
I am using TransferUtility to download zip files from the s3 bucket. I have a scenario, where I need to pause a download and resume it when ever the user clicks on resume. How do I do this? Is the id coming from the observer listener unique for each download from a device? If the user pauses the download on Day 1 and wants to resume on Day 2, how do I achieve this using TransferUtility?

[2018-07-04 09:38] #488 closed

[2018-07-05 06:50] maskaravivek commented on #400
@kvasukib Any update on this? My app is experiencing crashes on Android 8.0 devices because of this issue.

[2018-07-05 16:13] kvasukib commented on #400
@markacoss  @maskaravivek  Sorry for the delayed response. We are still working on to prioritize it. I will have an update on this next week.

[2018-07-05 19:50] SahajRana commented on #480
hi, did you fixed the problem?

[2018-07-05 21:48] kvasukib commented on #485
@AIlll Thank you for the reply.
1) Do you experience reconnect for every connect? Or does this happen only for certain connect calls?
2) Are there issues with network connectivity during the time you are trying to connect?
3) What type of network are you on?

[2018-07-05 21:55] kvasukib commented on #474
Thank you @ngriffiths for sending the logs:

1. Exception: The specified upload does not exist. The upload ID may be invalid, or the upload may have been aborted or completed. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchUpload; Request ID: A1BC7C14942F38BF). This occurs when the S3 idle timeout of 20 seconds is met and the client has not been sending data to S3.  Now S3 removed any me

[2018-07-05 22:15] kvasukib commented on #479
@beersheba Do you face this error when you use 1.1.0? Or does this error occur the moment you upgrade your app from 1.1.0 to 1.2.0?

[2018-07-05 22:28] kvasukib commented on #449
@pwa16000  Thank you for the reply.

1. "I did not get any callback with failed delivery status, or said, looks callback was not invoked." >>> We have found the bug in the code wherein an error condition we do not invoke the callback. I am working on to fix this issue.

2. publishString invokes publishData under the cover and both the sync and the async versions of the method calls the same functi

[2018-07-05 22:33] kvasukib commented on #460
Thank you @anje89 for reporting to us. Sorry for the inconvenience caused. We will fix the bug and update this thread once the fix is released.

[2018-07-05 23:20] #463 closed

[2018-07-06 00:48] AIlll commented on #485
@kvasukib
1. it doesn't happen repeatedly.
2.maybe for sometimes
3.wifi

[2018-07-06 02:38] minbi commented on #484
A fix has been released in version 2.6.24

[2018-07-06 07:19] Oxbowl opened #490 "AWS IoT Issues"
Hi, Thanks for viewing this.
I will make a long story short. Basically, I connected the AWS IoT Core with my Raspberry Pi for the home automation system with Andriod App built by Android studio.
So far I will make everything successfully. But I wanted to add on something such as:
1. I want to create a button for - show the status of current devices. Example like I turned on my aircon in past 1 hou

[2018-07-06 08:39] AIlll commented on #485
Is it related to the region? I am in China

[2018-07-06 08:41] andrey-kaiser opened #491 "Delete, create then login error"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Cognito

Hello,
we are currently using a Cognito User Pool for authenticating our Application Users. All works fine, until I found "issue" with Deleting account. So, if user deletes account, then creates a new one with same email and then try to login he encounter error.

Her

[2018-07-06 09:56] developerboi opened #492 "Application Crash when adding cognitoidentityprovider and cognitoauth."
I am using Aws Cognito Auth and Aws Cognito Identity Provider.

I am facing problem when i add both sdk together 2.6.24 latest version.

implementation 'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.6.24'
implementation 'com.amazonaws:aws-android-sdk-cognitoauth:2.6.24@aar'

This is is reproducing on actual devices. I am using the latest sdk version. The issue is occurring on all devices

[2018-07-06 14:58] AIlll commented on #485
It seems that I have solved the problem , but I am not sure what the problem is.

[2018-07-06 15:42] AIlll commented on #485
[code]

[2018-07-06 16:35] minbi commented on #491
Hi @andrey-kaiser ,

Thank you for reporting the issue. We will investigate and report back here.

[2018-07-06 16:39] minbi commented on #490
Hi @Oxbowl ,

The github issues are for reporting issues and feature requests. For information like "How do I build X?" Please post a thread in [AWS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=210). They will be better able to assist you. Thank you.

[2018-07-06 16:39] #490 closed

[2018-07-07 01:28] karannaik commented on #476
Has anyone solved this problem yet?

[2018-07-07 21:23] hzdi commented on #471
+1
Should support API 16 as well, lot of people in third world countries have devices with API 16.

[2018-07-08 12:37] beersheba commented on #479
@kvasukib no, when i use 1.1.0 it works fine. Occurs on update

[2018-07-09 06:50] minbi commented on #492
Hi @developerboi ,

Thank you for reporting this issue. We are investigating this issue and will reply back here.

[2018-07-10 19:52] sapra5379 opened #493 "Android application already running on EC2 now Explain how to add SSO with FB & Gmail(IDB)"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
EC2 hosted application

* Is this problem related to specific Android/OS version?
Android

Please explain to me it would be really appreciated as i have set the pool with my requirements!

where i need to change as i dont have android developer with me but if you guys can guide m

[2018-07-11 13:13] cbommas commented on #493
@sapra5379
The following link https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-user-sign-in.html contains the details on how to setup user signin and federation using AWS.

[2018-07-11 17:40] KhaledSoliman commented on #471
+1

[2018-07-12 07:36] faizanmirza opened #494 "Feature Request - Add Identity Provider in Auth Builder"
In current **aws-android-sdk-cognitoauth** Auth builder, do not have identity provider parameter due to this i am unable to set identity provider directly. I have looked into Auth.java class but key was not found. Similarly parameter **identity provider** is available on [web](https://github.com/aws/amazon-cognito-auth-js) and [ios](https://github.com/awslabs/aws-sdk-ios-samples/tree/master/Cognit

[2018-07-13 21:02] danielvtan opened #496 "Loading app offline causes the User to signout"
* What service are you using?
AWS AppSync

* In what version of SDK are you facing the problem?
aws sdk android 2.6.24

* Is the issue limited to Simulators / Actual Devices?
no

* Can your problem be resolved if you bump to a higher version of SDK?
latest

* Is this problem related to specific Android/OS version?
no

* Can you give us steps to reproduce with a minimal, complete, and verifiable ex

[2018-07-14 17:53] cbommas commented on #494
@faizanmirza
I have added your request to the team's backlog. We will reply back on this thread once we get an update about whether the request has been priortized, ETA etc.

[2018-07-16 18:53] kvasukib commented on #496
Thank you for reporting to us. Sorry for the inconvenience caused. When IdentityManager makes a network call to get the credentials based on the token presented, the network call fails and `onCognitoError` is called which currently invokes `signOut`. Source: https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-auth-core/src/main/java/com/amazonaws/mobile/auth/core/IdentityManager.jav

[2018-07-16 21:36] kvasukib commented on #492
@developerboi Looks like there is stack overflow in your crash. I can see a recursion happening:
Auth.getSession -> AuthClient.getSession -> MainActivity$callback. I looked at the sample and at line 140 we are not invoking `auth.getSession()` again.

Did you modify the callback and are you invoking `auth.getSession() `from the onSuccess callback?

[2018-07-17 04:33] danielvtan commented on #496
Hi, i found the solution. iprevoiusly used IdentityManager for checking if the user is signed in and signing out. I removed it and just used cognito user poll for checking if signed in amd loging out.

[2018-07-17 04:33] danielvtan commented on #496
Hi, i found the solution. iprevoiusly used IdentityManager for checking if the user is signed in and signing out. I removed it and just used cognito user poll for checking if signed in amd loging out.

[2018-07-17 04:33] #496 closed

[2018-07-17 13:22] ngriffiths commented on #474
Thanks @kvasukib, I'll look into the workaround you mention.

How did you get on with simulating switching networks?

[2018-07-18 07:55] wuseal opened #497 "When change to V2 Signature, Upload failed when files bigger then 5MB"
Hi, When setting this
[code]
standard endpoint, It will work ok when upload file below 5 MB ,and when upload file bigger then 5MB .It will throw an exception like this:
[code]
Help! Is there anything i missed?

SDK version:2.6.19
Real Device Environment

[2018-07-18 15:04] miketrewartha opened #498 "Can't upload file over Airtel 3G connection"
* **What service are you using?**
`com.amazonaws:aws-android-sdk-s3:2.6.25`

* **In what version of SDK are you facing the problem?**
2.6.25

* **Is the issue limited to Simulators / Actual Devices?**
Unsure about emulator, definitely exists on real device (Nokia 6.1)

* **Can your problem be resolved if you bump to a higher version of SDK?**
No, I'm on the most recent version

* **Is this problem

[2018-07-18 16:52] #475 closed

[2018-07-18 19:10] miketrewartha commented on #498
I'm using an `AmazonS3Client`, like so:

[code]

This project is closed source, so I changed one line to just show `com.example.Repo`, but it's identical otherwise:

[code]

I've also tried a pre-signed URL and get a nearly identical result- the connection never gets established because of an SSL issue. For some reason, this doesn't happen on WiFi and only seems to happen on the Airtel network, al

[2018-07-18 19:53] miketrewartha commented on #498
So here's an interesting, seemingly related tidbit. If I use the `AP_SOUTH_1` region like below, the issue goes away and I instead get an API error complaining about the URL I used. That's expected (given the bucket isn't in the `AP_SOUTH_1` region) and indicates the issue isn't actually an SSL issue, but rather an issue with region... Maybe Airtel is refusing to connect to the `US_EAST_1` region

[2018-07-18 23:44] kvasukib commented on #498
@miketrewartha Thank you for posting the analysis. Can you try other regions to see if you face the same issue? The default region SDK uses is us-east-1 but you can always override it by `setRegion(Region.getRegion(Regions.MY_PREFERRD_REGION))`.

[2018-07-19 00:55] wuseal commented on #497
@minbi Thank you for your reply，Our business have been using version 2 signature from six years ago, now we want to upgrade to use android sdk, the default signature is v4 in the newest version sdk, all works ok but when we generate a presigned url with expiration longger than 7 days it throw out an exception says that expiration only can be 7 days at most, but our app need the presigned url Valid

[2018-07-19 01:20] wuseal commented on #497
@minbi Hi, this is the code that I set the region to  us-west-2
[code]
Am I setting right? if it's ok,should it do work?

[2018-07-19 03:50] miketrewartha commented on #498
We've decided to deal with this by delegating the upload to an API endpoint of our own (which I have no trouble accessing over Airtel). This was a frustrating problem to find though, so I'd like to get it fixed for others. I'll get to trying the other regions sometime in the next few days.

[2018-07-19 07:36] wuseal commented on #497
@minbi I am puzzled, why uploading file smaller than 5MB can be successful, uploading more than 5MB will report the signature mismatch error?

[2018-07-19 14:03] mpirogov opened #499 "AWS S3 upload issue"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS S3
* In what version of SDK are you facing the problem?
2.6.24
* Is the issue limited to Simulators / Actual Devices?
Actual Device
* Can your problem be resolved if you bump to a higher version of SDK?
not yet.
But there are no update with S3.
* Is this problem related to sp

[2018-07-19 18:14] kvasukib commented on #499
Thank you @mpirogov for reporting to us. TransferService cannot be invoked from a background service in Android 8.0 due to the background service limitations imposed by Android 8.0.

If you are invoking TransferUtility from a service context, please do the following in your AndroidManifest.xml file. The following example uses MainService from which TransferUtility is invoked.
[code]

[2018-07-19 20:32] kvasukib commented on #498
Thank you! Let us know how the testing goes.

[2018-07-20 01:50] mpirogov commented on #499
Thank you @kvasukib

[2018-07-20 04:07] kvasukib commented on #499
@mpirogov Let me know if this works.  Closing for now. Please reopen if the issue persists.

[2018-07-20 04:07] #499 closed

[2018-07-20 04:23] kvasukib commented on #479
It appears to be an issue with 1.2.0 version of the paho client. I am testing to see the compatibility of IoT SDK with 1.2.0 version of the paho client. Will post an update here shortly.

[2018-07-20 13:47] quadrant2 commented on #400
@kvasukib Working to prioritize? You offered an update in a week two weeks ago. With great power comes great responsibility. Many many devs are affected by this.

[2018-07-20 17:05] kvasukib commented on #432
@mohitmahi  Can you try the following and see if the transfer service starts? If you are invoking TransferUtility from a service context, please do the following in your AndroidManifest.xml file. The following example uses MainService from which TransferUtility is invoked.

<service
            android:name=".MainService"
            android:enabled="true"
            android:launchMode="singleTop

[2018-07-20 17:17] kvasukib commented on #400
@quadrant2  Can you try the following and see if the transfer service starts? If you are invoking TransferUtility from a service context, please do the following in your AndroidManifest.xml file. The following example uses MainService from which TransferUtility is invoked.

[code]

[2018-07-20 21:33] dennyabrain commented on #400
we are invoking it from a JobService.. so i guess Service context.

[2018-07-20 22:05] maskaravivek commented on #400
I have already moved my file hosting needs to Firebase as this issue was affecting more than 3-4% of the users. The app was crashing for these many sessions.

[2018-07-21 11:58] imasd88 opened #500 "403 ForbiddenException on getThingShadow and updateThingShadow methods.."
Whenever I try to get the Thing Shadow using getThingShadow or update the Thing using updateThingShadow I am served with 403 ForbiddenException.
I am using Federated ID and other things like KMS, Cognito, Create Thing, Add Things to Thing Group works absolutely fine. Don't know the reason why is it failing.
I am using the Demo code.
**Update Thing Shadow**
[code]
**Get Thing Shadow**

[code]
I am

[2018-07-22 06:47] Kumfert opened #501 "API design: AWSStartupHandler is in dire need of an onError() callback"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
[code]

* In what version of SDK are you facing the problem?
 (see above)

* Is the issue limited to Simulators / Actual Devices?
 (api issue)

* Can your problem be resolved if you bump to a higher version of SDK?
 (none available)

* Is this problem related to specific Android/

[2018-07-22 23:30] kvasukib commented on #501
Thank you @Kumfert for reporting to us. AWSMobileClient#initialize currently does the following:

1) Construct AWSConfiguration and AWSCredentialsProvider objects.
2) Resume the previously authenticated session.

There are error scenarios in both 1 and 2 and `onError` callback makes sense here. I will take this request to the team. Thank you!

[2018-07-23 06:56] Kumfert commented on #501
Thanks @kvasukib .  FWIW, I found the bug in my code sample above (and a bug in AWS documentation). There needs to be an `execute()` call after initialize.  Contrary to the documentation comment at the head of the [AWSMobileClient](https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java) class (lines 51-73), th

[2018-07-23 14:05] quadrant2 commented on #400
Two questions:

1.) Does AWS understand the issue at this point and its impact on the
developers that rely on it? (ETA on fix would be appreciated).

2.) If there is no clear answer to #1, and we use the depreciated transfer
utility as a stop gap, can AWS at least guarantee that you will not phase
out the old transfer utility until this issue is resolved?

On Sun, Jul 22, 2018 at 6:25 PM, markacos

[2018-07-23 15:06] kvasukib commented on #501
Thank you @Kumfert for the feedback. For the documentation, can you point me to a link where the call to `.execute()` is missing?

[2018-07-23 15:54] Kumfert commented on #501
@kvasukib.  It's in this [page](https://aws.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobile/client/AWSMobileClient.html), which I assume is generated from this [source code](https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java) in the GitHub repo.  Specifically, look at the documentation for th

[2018-07-23 20:11] #498 closed

[2018-07-23 20:13] kvasukib commented on #501
Thank you @Kumfert for the details. I will fix the documentation. Can I know what use case are you trying to solve? There are alternative ways to achieve the same without AWSMobileClient and I could help you in that direction.

[2018-07-23 23:09] Kumfert commented on #501
@kvasukib I appreciate your kind offer.  I got myself unstuck for now, but I'm going to the AWS Loft in San Francisco for a workshop on ML and IoT... so my chances of getting stuck on something else in the future are quite high.  ;)

[2018-07-25 19:36] kvasukib commented on #176
We have added support for TransferUtilityOptions starting 2.6.16. Documentation: https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#native-transfer-utility-options

TransferUtilityOptions options = new TransferUtilityOptions();
options.setTransferThreadPoolSize(8);

TransferUtility transferUtility = TransferUtility.builder()
    // Pass-in

[2018-07-26 14:38] C0lumbo commented on #476
I'm also affected by this issue. The crash occurs downstream from the call to `new AWSKinesisFirehose`. I'm using:

`aws-android-sdk-core:2.6.+`
`aws-android-sdk-auth-core:2.6.+`
`aws-android-sdk-kinesis:2.6.+`

Release date for Android P is likely to be 3rd week of August if it follows the pattern of Oreo and Nougat. It would be frustrating if this issue prevented us from using Android P at launc

[2018-07-27 23:35] minbi commented on #477
Hi @dercdev @Beretta1979 @tomjanne ,

In the Auth builder you should be able to set scopes [code line](https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/Auth.java#L334)

The scopes that are allowed to be requested are set in the Cognito console.
[code]

Code:
[code]

[2018-07-30 18:43] minbi commented on #476
Please add dependency for now:

[code]

[2018-07-31 06:12] WoozyG commented on #384
This issue is still relevant to the Java SDK.  It is not possible to both use Advanced Security and Device Tracking at the same time from the Java SDK.  InitiateAuth takes a UserContextData attribute, with encodedData property.  That value is not documented, and source code is not available, nor is any mention made on how to compute or retrieve it using any other methods, such as embedding some Ja

[2018-07-31 06:51] chiragc-wal opened #502 "AmazonClientException: Unable to store object contents to disk"
I am using `TransferUtility` for downloading multiple files at a time. One of the files is of 1.5Gb size. The device has more than 3.5Gb of free space available and downloading on a 20 Mbps connection. The download is getting failed with below error.

[code]

[2018-07-31 11:54] mataide commented on #384
@WoozyG I agree with that. Still waiting for a solution.

[2018-07-31 14:51] C0lumbo commented on #476
`implementation 'commons-logging:commons-logging:1.1.1'`

is working for me, thanks. Initially I had problems in my submission build, I had to add this lot into my proguard rules to get that working.

[code]

[2018-07-31 16:16] kvasukib commented on #502
@chiragc-wal Thank you for reporting to us. Sorry for the inconvenience caused. What was the progress percentage when this transfer errored out?

[2018-07-31 19:15] chiragc-wal commented on #502
Hi @kvasukib, Thanks for your response. The progress on the time of failure is mostly 20 to 30 percentage but last time it was about 70 to 80%. I checked my network connection as well and it was also working fine(i mean no flickering in connection). Let me know if you need more details on this.

[2018-08-01 07:53] wuseal commented on #497
@kvasukib So? Multi-part upload throw out he signature mismatch exception?

[2018-08-01 12:35] iPaulPro commented on #471
Minimum should be API 21 at least.

Guys, it's simply not worth supporting anything under API 19 anymore. In fact, I don't believe anyone should spend time supporting anything under 21, at this point. However, API 23 as a minimum is extremely aggressive and almost-certainly not necessary.

[2018-08-01 16:01] #467 closed

[2018-08-01 16:04] minbi commented on #494
Closing in favor of #495 Thanks for the pull request.

[2018-08-01 16:04] #494 closed

[2018-08-01 16:29] appndigital opened #503 "Still getting crash with S3"
Hello,

sorry for the late answer but we still got crash with S3.

We still got issue at download (same I posted previously) and I confirm that the Internet Permission is set.

Here is how we construct the client:

[code]

Thanks

[2018-08-01 16:52] kvasukib commented on #503
Thank you @appndigital for reporting to us. Sorry for the inconvenience caused.

1) Can you post the exception message and the complete stack trace?
2) What version of SDK and Android API Level are you using?

[2018-08-01 18:01] #482 closed

[2018-08-02 05:57] chiragc-wal commented on #502
Hi @kvasukib, Any updates on this?

[2018-08-02 06:42] wuseal opened #504 "Why my presigned URL is expired"
Look at the `Expires=1533785721` below, the value meaning date to  2018-8-09. But when input into the browser, it says that the URL was expired. I am confused. Need help!
URL: https://uwseal.s3.us-west-2.amazonaws.com/1/xmind.dmg?x-amz-security-token=AgoGb3JpZ2luEG8aCXVzLXdlc3QtMiKAAl%2B8SxSi6khRiBmKY9TT%2B%2B5qbkayXx4jZ9Jr95PT2CzD8bUFiB4LME4W6UvLn0h7UQAJNenlBLTis7gc0xgH3KLvoxjifTcTx0cMDJmJePUflui

[2018-08-02 08:16] wuseal commented on #504
This is my generate code
[code]

[2018-08-02 16:50] kvasukib commented on #502
@chiragc-wal When you said multiple files at a time, can you quantify how many transfers are in parallel and what is the number of available processors on your device: `Runtime.getRuntime().getAvailableProcessors();`?

[2018-08-03 04:33] minbi commented on #459
Hi @v360 ,

We have released version 2.6.27 with the fix you suggested.

[2018-08-03 13:59] vladostaci commented on #400
@kvasukib
12% of phones using Android 8.0 and above are crashing because they AWS is starting a background service. Can someone in your team read this guide https://developer.android.com/about/versions/oreo/background and implement something that works on all Android versions. I don't thing there can be a more critical issue than this one.

[2018-08-03 16:34] xanscale commented on #260
@guillaume-tgl getCachedSession check Threshold your workaround not

[2018-08-03 16:36] xanscale commented on #260
the fix can be just make "getCachedSession" pubblic!! why not? 1 year and half for what?

[2018-08-03 18:30] xanscale commented on #260
the best workaround is:
[code]

`getSession` is sync so callbacks i ever called before going on

PS remember to call this in a asnyc thread

[2018-08-04 00:42] desokroshan commented on #504
@wuseal Thanks for reaching out.

A few questions might help root cause the issue. What credentials are you using to generate the URL? Are you using IAM user credentials? I suspect the expiration of credentials used to sign url to be culprit here. IAM instance credentials expire after a short period of time causing the generated URL to expire before the set expiration epoch seconds(Expires=1533785

[2018-08-04 04:36] wuseal commented on #504
Yes, I signed it with the IAM.You're right. I saw it on the official document, and the duration of the IAM is between an hour and 12 hours.So if I'm going to generate my expected signature link, what should I do.

[2018-08-04 10:37] appndigital commented on #503
Hello, we are using API Level 27 and using sdk version 2.6.18 for S3

Here is the stack trace:

[code]

[2018-08-04 17:50] ersps25 opened #505 "Upload multiple files using TransferUtility"
My requirement is to upload multiple images using AWS-SDK-ANDROID, I am using TransferUtility, but I didn't find any method to upload multiple images inside documentation of TransferUtility.
The only suggestion I went through on stackoverflow was to create a loop and upload multiple images, it doesn't seem me right way to do this task.
Please suggest which approach should I follow to upload multip

[2018-08-05 05:29] hendrawd commented on #386
https://github.com/PikkaPikkachu/Post-Text-Request-Lex is doesn't exist, can you give me an example of the implementation?

[2018-08-05 07:50] SahajRana commented on #480
i have solved it, if somebody needs it
[https://stackoverflow.com/questions/50845192/how-to-post-in-aws-cloud-logic-for-android/51692434#51692434](here's the link)

[2018-08-05 07:51] #480 closed

[2018-08-05 21:51] muellerfr commented on #471
Hello @anggrayudi,

I have added this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK.

[2018-08-06 02:26] AIlll opened #506 "IOT Publish error"
* What service are you using?
- **aws-android-sdk-iot**
* In what version of SDK are you facing the problem?
- **2.6.27**
* Is the issue limited to Simulators / Actual Devices?

* Can your problem be resolved if you bump to a higher version of SDK?
- **No**
* Is this problem related to specific Android/OS version?
- **Android4.4.2**
* Can you give us steps to reproduce with a minimal, complete, an

[2018-08-06 02:40] wuseal commented on #504
@desokroshan  Any solution?

[2018-08-06 05:45] AIlll commented on #506
Sometimes this happens, and reconnecting a few times may not happen.

[2018-08-06 10:08] chiragc-wal commented on #502
@kvasukib Do you need any other details?

[2018-08-06 11:15] softwarejoint opened #507 "Amazon S3 SDK TransferObserver called before transfer is completed"
### To help us solve your problem better, please answer the following list of questions.

Amazon S3
S3  sdk version: 2.6.23

We are using "TransferUtility" to download files from Amazon S3.

[code]

Issue:

"Observers: onStateChanged: completed" gets called before file is saved completely. After "onStateChanged: completed" is called, we try to load the file in player, but it fails as file has not

[2018-08-06 13:59] PikkaPikkachu commented on #386
@hendrawd It got moved to the following repo: https://github.com/PikkaPikkachu/lex-app !

[2018-08-06 17:40] kvasukib commented on #507
@softwarejoint Sorry for the inconvenience caused. In the [DownloadTask](https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/DownloadTask.java#L107), we save the file using BufferedOutputStream and after the file write is complete, we update the state of the transfer to COMPLETED.

What player do you use and what's t

[2018-08-06 18:51] kvasukib commented on #503
Thank you @appndigital for posting the code snippet. What is the frequency of this issue? Does this happen for every API call with S3?

[2018-08-06 21:30] desokroshan commented on #400
Hello Everyone, I apologize for the inconvenience caused. We have duly prioritized this issue and are currently working on it. We will release the fix in the next revision of our SDK.

[2018-08-06 21:31] kvasukib commented on #506
Hi @AIlll, Do you have permissions to publish to that topic? I have noticed this error when you don't have sufficient permissions with the authentication you have configured in AWS to access the topic. Currently, the SDK doesn't surface this error well.

Can you double check the topic name and the required policies to access the topic?

[2018-08-06 22:51] desokroshan commented on #504
@wuseal Can you please elaborate on your use case some more. I can suggest some solution based on the use case

[2018-08-07 05:45] AIlll commented on #506
@kvasukib We confirm permission to access this topic，and cannot receive messages when "Client is disconnected or not yet connected".
Connecting again after disconnecting may become normal,can pubulish messages and receive message at this time

[2018-08-07 06:59] softwarejoint commented on #507
There are lot of tasks, it will be few weeks, before we go into finding out how this occurs, for now we have put a delay of about a second and it seems to hold well. This issue can be closed

[2018-08-07 10:56] charbgr commented on #476
We also have this issue.

Including `implementation 'commons-logging:commons-logging:1.1.1'` will causes other bugs though to other libraries.

[2018-08-07 10:57] charbgr commented on #476
We also have this issue.

Including implementation 'commons-logging:commons-logging:1.1.1' will causes other bugs to other libraries.

[2018-08-07 12:31] wuseal commented on #504
@desokroshan Thank you for your reply, We want to generate a pre-designed URL to record some picture and files. and then use then on the mobile app and other websites, for our business has been using this logic a long time ago. so we would like to keep this logic for compatible, and the URL we need them to be as long as 10 years valid period. thanks, those are our use case.

[2018-08-07 15:28] silvialifecake commented on #400
There is an ETA about the resolution of this bug? Starting from November will not be anymore possible to upload a build to Play Store without targeting at least Oreo. An approximation would help my team to decide how to proceed.

[2018-08-07 16:42] desokroshan commented on #400
Everyone, Our apologies for the inconvenience caused and the delay in response. We have duly prioritized the issue and are presently working on a fix.

@linusmartensson @vladostaci Thanks for pointers to the migration guide.

I will update the thread once we have released the fix.

[2018-08-07 16:44] elliottj-accolade commented on #476
We are having this issue now when attempting to release a signed build:
`Error: commons-logging defines classes that conflict with classes now provided by Android. Solutions include finding newer versions or alternative libraries that don't have the same problem (for example, for httpclient use HttpUrlConnection or okhttp instead), or repackaging the library using something like jarjar. [Duplicate

[2018-08-07 16:49] #507 closed

[2018-08-07 16:57] kvasukib commented on #505
@ersps25 Thank you for reporting to us. This is a limitation of the TransferUtility. We will take this as a feature request to the team.

[2018-08-07 20:12] elliottj-accolade commented on #476
Also there's this: https://developer.android.com/about/versions/pie/android-9.0-changes-all#apache-nonp

```An app can be affected if it uses a non-standard ClassLoader that explicitly delegates to the system ClassLoader. These apps need to delegate to the app ClassLoader instead when looking for classes in org.apache.http.*. If they delegate to the system ClassLoader, the apps will fail on Androi

[2018-08-07 21:47] rohandubal commented on #504
Hello @wuseal ,
currently with SigV4 signing, you will not be able to achieve pre-signed URLs which are valid for such a big duration. I believe that was supported in SigV2. Since most regions now support SigV4, achieving your use-case would be difficult. Although not recommended, you can try using SigV2 for your case if supported by the region.

Thanks,
Rohan

[2018-08-07 23:49] rohandubal commented on #429
Hello,

I have added this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK.

Thanks,
Rohan

[2018-08-08 10:29] ksenia834 opened #508 "Cognito Auth isAuthenticated() returns false for logged user"
* What service are you using?
aws-android-sdk-cognitoauth

* In what version of SDK are you facing the problem?
'com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.6.+'
'com.amazonaws:aws-android-sdk-cognitoauth:2.6.17@aar'

* Is the issue limited to Simulators / Actual Devices?
It reproduced on both Simulators and device.

* Can your problem be resolved if you bump to a higher version of SDK

[2018-08-08 15:14] lucasmpaim commented on #476
+1

[2018-08-09 10:26] wuseal opened #509 "Unable to execute HTTP request: Chain validation failed"
Hello, I got this error when on device Pixel
Android OS: 8.0.0
aws-sdk-android version :2.6.19
[code]
On other devices ,All run well exception on Pixel, Is there anything wrong with Device or about the System version?
[code]

[2018-08-09 17:40] rohandubal commented on #509
Hello @wuseal

Sorry that you are facing issues while using the SDK.

Could you confirm if this device is in the same network as other devices? The stack trace points at some issue with SSL handshake.

Thanks,
Rohan

[2018-08-10 05:36] kvasukib commented on #472
@ramdeep16  Sorry for the delayed reply. Do you have a valid refresh token?

[2018-08-10 20:09] emezias commented on #476
I'm using:
api 'commons-logging:commons-logging:1.1.2'
in my dependencies so that the S3 APIs do not fail with the same NoClassDefFound. This is not the right answer.

What about this closed issue?
https://github.com/aws/aws-sdk-android/issues/265

[2018-08-10 20:26] emezias commented on #476
Android Pie runtime has a crash that's not on earlier Androids. Is anybody at Amazon on a fix for it?

[2018-08-12 07:00] appndigital commented on #503
Hi,

No it doesn't happen all the time but we get a lot of our users that are facing this issue (1 out of 10)
This is annoying since we'd like to aim 95% of crash free users

[2018-08-12 15:08] praveshkhatana opened #510 "AWSBasicSessionCredentialsProvider (IOS) alternative in Android - Question"
### No Credential Provider for BasicSession in Android.

I have user's session credentials and want to pass it to mqttManager but unable to find any suitable provider which support it. IOS version has  "**AWSBasicSessionCredentialsProvider**" which solves the purpose.

_STSSessionCredentialsProvider required long-lived credentials._

* What service are you using?
Auth service for IOT

* In what ve

[2018-08-13 21:05] mxpv opened #511 "CognitoAuth sends wrong secret hash with custom flow"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito Auth

* In what version of SDK are you facing the problem?
[code]

* Is the issue limited to Simulators / Actual Devices?
Both

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific Android/OS version?
No

* Can y

[2018-08-13 21:14] sunchunqiang commented on #510
Hello @praveshkhatana

In a java project, you can pass credential received from 'BasicSessionCredentials' to 'AWSStaticCredentialsProvider(credential)', like code below. However, the class 'AWSStaticCredentialsProvider' is  not available in android SDK. We are researching when we can add this feature to android SDK.

BasicSessionCredentials sessionCredentials = new BasicSessionCredentials(
   sess

[2018-08-14 05:31] roshanrajaratnam commented on #476
+1

[2018-08-14 09:28] praveshkhatana commented on #510
@sunchunqiang Thanks for reply, Yes this is what i did and it's working fine now.

[2018-08-14 09:29] #510 closed

[2018-08-14 14:18] emezias commented on #476
almost forgot about this issue - these lines in build.gradle seem to work with the S3 SDK so that the Android P runtime does not crash

 api 'com.amazonaws:aws-android-sdk-core:$version'
    api ('com.amazonaws:aws-android-sdk-s3:$version'){
        exclude module: 'commons-logging:commons-logging:+'
    }

[2018-08-14 20:44] ramdeep16 commented on #472
Yes

[2018-08-15 08:53] usmanrana07 commented on #199
I'm using 2.6.27 and still facing same issue.

[2018-08-15 09:37] usmanrana07 opened #513 "State of S3 TransferObserver remains WAITING and TransferListener doesn't call"
Hi! I'm using andrpod-sdk-s3 for Files transfer to S3, but the issue that i'm facing is that after calling 'upload' the state of observer remains as 'WAITING' and never changes and i don't get any callback in TransferListener. The version of sdk is '2.6.27' and android version is 7.0 . What is causing this issue?

[2018-08-15 15:56] kvasukib commented on #513
@usmanrana07 Have you declared the TransferService in AndroidManifest.xml?

[code]

[2018-08-15 17:01] usmanrana07 commented on #513
yes i've declared that, The thing is that observer Listener doesn't work when i get list of TransferObservers and set listener to them when application is closed and reopened again. While listener works fine if i set it to TransferObserver in same method where i start upload.

[2018-08-15 18:17] kvasukib commented on #513
@usmanrana07 I understand your concern better now. We have an issue related to synchronization when querying the database for transfer records when an upload is being queued. At this moment, I would recommend attaching the TransferListener object in the TransferObserver returned by the upload/download method call. Alternatively, you can query the TransferObserver for the state and progress by call

[2018-08-16 06:33] usmanrana07 commented on #513
even observer.refresh() didn't work and neither the listener.

[2018-08-16 07:33] usmanrana07 commented on #513
as refresh doesn't resume the request, so if i use` 'getTransferUtility(context).resume(observer.getId());' `  it starts the request again instead of resuming from the point where connection was broken.

[2018-08-16 08:33] usmanrana07 opened #514 "S3 fileTranfer stops uploading when app is closed even in WorkManager"
Hi! I'm using S3 TransferUtility to upload the files, the issue that i'm facing is that it stops uploading when application is closed. I want it to keep uploading running in background, for that purpose i started upload in WorkManager but still it finishes upload. What is the issue?

[code]

[2018-08-17 04:54] minbi commented on #508
We have released version 2.6.28 of the SDK. Please see if it fixes this issue.

[2018-08-17 07:19] ioannist commented on #321
There is a similar problem with the ":" character. Using the Java SDK, I obtain the key of an S3 Put event from:

`String textFileKey = event.getS3().getObject().getKey();`

If I try to Get this file, AWS will say it does not exist. To fix it, you must replace the "%3A" encoded characters of the key with ":", a rather not elegant solution.

[2018-08-17 10:35] dlazaro66 commented on #476
@minbi I'm having the same issue here; Is there any release coming soon that solves this problem?

[2018-08-17 10:48] charbgr commented on #476
This is quite blocking!

[2018-08-17 13:54] AdityaS-Cybage opened #515 "S3 Bucket Acceleration : Android example"
Hello,

I'm using **AWS SDK** for android for uploading and downloading the video files in my app.

version is : **com.amazonaws:aws-android-sdk-s3:2.6**

I want the file transfer to be accelerated using your bucket acceleration process, I've enabled the acceleration from the dashboard/console settings for the bucket. But I'm unable to enable to find any code snippet/example for the changes I've t

[2018-08-17 13:55] #493 closed

[2018-08-17 19:30] sunchunqiang commented on #511
Hi mxpv,

Can you give more detail on how your user pool and the app client are configured.

[2018-08-17 19:42] mxpv commented on #511
![image](https://user-images.githubusercontent.com/865334/44285627-f2bb2300-a21a-11e8-93f3-ec8a575ea289.png)

[2018-08-17 19:43] mxpv commented on #511
Lambda:
[code]

[2018-08-17 19:44] mxpv commented on #511
<img width="1140" alt="screen shot 2018-08-17 at 12 44 05 pm" src="https://user-images.githubusercontent.com/865334/44285717-4e85ac00-a21b-11e8-9f3e-8c34d86807cd.png">

[2018-08-18 03:47] dwaynehoy commented on #476
Adding 'commons-logging:commons-logging:1.1.1' as a dependency causes crashes in other libraries like the Google Maps SDK. This is blocking a scheduled release.

[2018-08-20 14:26] mauricegavin commented on #476
It's blocking us from uploading and downloading files to S3 in production on Android P devices.

[2018-08-20 18:05] kvasukib commented on #514
@usmanrana07 What is the reason you are using a WorkManager? The TransferUtility implements a service where it spawns threads to do the upload/download and supports background operations.

[2018-08-20 18:32] kvasukib commented on #515
@AdityaS-Cybage

[code]

Reference: https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/S3ClientOptions.java#L114

[2018-08-20 19:29] emezias commented on #265
The NoClassDef on the commons logging library is a crash problem with Android 9. This issue should be reopened

[2018-08-20 20:09] minbi commented on #265
Please comment on #476 , locking

[2018-08-20 21:02] emezias commented on #476
@minbi The problem with locking #265 is that this issue refers to MobileAnalyticsManager while the earlier, closed issue refers to a problem with client initialization. The problem I am experiencing is with the S3 client fetching keys. Developers using the S3 APIs might be led to believe that the NoClassDefFoundError on the S3 client is solved when it is not.

[2018-08-20 23:11] minbi commented on #476
@emezias , correct me if I am wrong, but aren't these both related to the usage of commons logging in the SDK?

[2018-08-21 00:35] minbi commented on #476
@emezias , we are treating this as the issue for tracking the commons logging issue for all SDKs under AWS Android SDK.

[2018-08-21 01:16] emezias commented on #476
Thanks @minbi. If that is the case the issue title referring to the
MobileAnalyticsManager is specific and confusing. Can you correct it?
Developers that do not use Amazon for analytics are affected. Issue 265 on
the S3 Amazon client was filed before this one and is still a problem.

On Mon, Aug 20, 2018, 8:35 PM minbi <notifications@github.com> wrote:

[2018-08-21 01:16] DrewCarlson commented on #476
@minbi It would be valuable in the future to include the reason and more explicit direction when stopping an active conversation.

Additionally if this is to be the primary issue for the bug: updating the title, providing details (in summary) of the root cause, and adding any insight into the status of your investigation would be appreciated.

[2018-08-21 05:26] pavlospt commented on #476
@minbi any reason why this is taking so long? Is there anything blocking you?

[2018-08-21 09:44] dlazaro66 commented on #476
Also about this:

We tried to migrate to Pinpoint but the same issue seems to be there using the version:
`com.amazonaws:aws-android-sdk-pinpoint:2.6.28`

@minbi As other people said, this issue is blocking everyone to have Android Pie support. If there's anything we can do to help you out, just ping us 👍

[2018-08-21 10:05] AdityaS-Cybage commented on #515
Thanks @kvasukib, worked for me!

Actually, i tried this one earlier but i was putting my **sub-directory** name with the bucket name itself, instead of putting it in **Key** along with the file name, my bad.

hey, is there any way to print/intercept the aws upload/download call details to get the actual endpoint url? so that this type of mistakes can be avoided?

thanks again.

[**wrt**: "For IOS

[2018-08-21 17:18] kvasukib commented on #515
@AdityaS-Cybage Thank you for the feedback.

1) You can attach a RequestHandler (Interceptor) before the request is being executed by the Client Runtime.

[code]

2) We will work on updating the documentation for Android.

Thank you!

[2018-08-21 17:18] #515 closed

[2018-08-22 07:17] jiuzhou9 commented on #476
https://github.com/freedom-java/freedom-java/issues/1
缺少资源包：
<dependency>
  <groupId>commons-logging</groupId>
  <artifactId>commons-logging</artifactId>
  <version>1.2</version>
</dependency>

[2018-08-22 09:59] nashfive opened #516 "no getSessionInBackground with username/password like in the iOS SDK ?"
I've noticed that there is a method in the iOS SDK to do an explicit getSession without using any cached tokens/refresh tokens (source: [AWSCognitoIdentityUser.m:230](https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L230)). I am using it to perform a straight sign in and I can't find a similar way to do it on Android.
Is there a reason why that met

[2018-08-23 20:43] cbommas commented on #503
@appndigital

We have seen this error on our side intermittently. In pretty much every case, this has been due a device or simulator getting into a bad network state ( i.e., device dropped off network, device transitioned networks etc) and not related to any availability issue with the cognito service. It is fairly likely that is what is happening in your case as well.

From the code you posted an

[2018-08-24 08:54] pavlospt commented on #476
Any news on the progress of the resolution of this issue?

[2018-08-25 12:02] cadam7 commented on #471
+1

[2018-08-26 04:46] #479 closed

[2018-08-26 20:47] joshwolff1 commented on #437
Hi, I was reading through this read and had the same issues.. Check out these two links.. I'm working on this now..

https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html

https://docs.aws.amazon.com/cognito/latest/developerguide/developer-authenticated-identities.html

[2018-08-27 12:05] #500 closed

[2018-08-28 03:51] tntkhang commented on #365
@kvasukib Is this feature still not available yet?

[2018-08-28 05:13] kvasukib commented on #516
@nashfive Thank you for reporting to us. Sorry for the inconsistency in the API across Android and iOS. This was a design choice made based on the platform. The Android SDK for Cognito UserPools uses a callback and continuation pattern to accept user input.

[2018-08-28 15:10] pacifire commented on #374
Still facing the same issue & no workaround has been found.
At least Amazon AWS should help us here....

[2018-08-28 21:18] kvasukib commented on #502
@chiragc-wal Thank you for the information. Sorry for the delayed response. When you constructed the file path to give to the download function, where did you create the file object? Is it in a SD card that has more space than all the files together?

[2018-08-29 02:39] dwaynehoy commented on #476
@minbi Can we get some form of update on this issue?

[2018-08-29 03:57] yebonkim opened #517 "S3TransferUtility doesn`t start uploading."
My sdk version is 26 and i`m using actual device

I added service in the right place of manifest.xml.
And I gave permission too.

When starting uploading, onProgressChanged is executed once.
[code]

but nothing happened. There is no error message.

My code is like this.
[code]

is there something i missed?

[2018-08-29 06:05] kvasukib commented on #517
@yebonkim Sorry for the inconvenience caused. Are you invoking this code from an activity or from a service?

Also, can you try the following:

**Workaround-1:**

[code]

**Workaround-2:**

[code]

Can you try the above two workarounds and see the behavior?

[2018-08-29 06:07] kvasukib commented on #513
@usmanrana07 This issue is only present in the AWS Android SDK and not in AWS iOS SDK.

Also, can you try the following:

**Workaround-1:**

[code]

**Workaround-2:**

[code]

Can you try the above two workarounds and see the behavior?

[2018-08-29 06:31] yebonkim commented on #517
Thank you for your prompt reply!

But both workarounds are not worked. They didn`t reach into onProgressChanged.

[2018-08-29 06:48] kvasukib commented on #517
@yebonkim
Can you see any exception in the Logcat window?
Can you see the logs from the point where the transfer is submitted to TransferUtility?
Also, what are the number of available processors on your mobile device? You can get this by executing `Runtime.getRuntime().getAvailableProcessors()?`

[2018-08-29 07:06] yebonkim commented on #517
both workarounds didn`t write any log.

only these logs were written.

[code]

and my phone`s the number of available processor is 8

my dependencies are

[code]

[2018-08-29 11:23] spmvanmierlo opened #518 "Method typo 'setMaxAutoReconnectAttepts'"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
aws-android-sdk-iot
* In what version of SDK are you facing the problem?
2.6.28
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No, highest at the moment.
* Is this problem related to specific Androi

[2018-08-29 11:41] spmvanmierlo commented on #518
#519 created a PR.

[2018-08-29 17:48] angli13 opened #520 "Where to find documentation on how to use Cognito User Pools and Facebook with federated identities"
Cognito User Pools, Cognito Federated Identities
ADK 2.6

I've been struggling for days to find information about this, I just can't figure it out. I have created a project on mobile hub, which created an identity pool, a user pool and facebook integration with de identity pool. The sample app works great, but I need to use a custom UI (not just changing colors), so that is when the things get ver

[2018-08-29 18:08] nbtk123 commented on #476
Adding

`implementation group: 'commons-logging', name: 'commons-logging', version: '1.2'`

Solved our problem, but definitely waiting for a fix

[2018-08-29 18:08] kvasukib commented on #514
@usmanrana07 Sorry for the delayed response. TransferUtility uses a service (TransferService) to perform uploads/downloads in the background. TransferService spawns threads from the shared thread pool to accomplish this task. However, if the app is closed, all the processes/threads in the TransferUtility will be killed. This is a limitation of the TransferUtility.

[2018-08-29 18:09] kvasukib commented on #517
What version of Android platform is your device running against?

[2018-08-29 19:44] kvasukib commented on #506
@AIlll

What version of Paho client are you using?
Can you share a code snippet if possible?
Are you using MQTT or MQTT over WebSockets?

[2018-08-29 23:57] kvasukib commented on #511
@mxpv Do you have "Generate client secret" option checked out when you are creating the app client?

[2018-08-29 23:58] mxpv commented on #511
@kvasukib Yes, this option on

[2018-08-30 00:06] kvasukib commented on #511
@mxpv Is there a reason you want the client secret along with custom auth flow? Can you uncheck it for testing purposes and use custom flow and see if you have any issues?

[2018-08-30 02:08] mxpv commented on #511
@kvasukib that's interesting. I couldn't make it work without secret 2 weeks ago, but now it works like a charm. thanks.

[2018-08-30 02:16] #511 closed

[2018-08-30 04:34] kvasukib commented on #511
Thank you for confirming!

[2018-08-30 07:01] aeroma commented on #461
Hello @kvasukib.

Do you have any updates on this issue?

[2018-08-30 10:32] yebonkim commented on #517
my device`s version is 8.0.0

[2018-08-30 16:45] kvasukib commented on #461
@aeroma Sorry for the delayed response. I am in the process of making the changes and testing it. Have you performed any testing with this change? Does it affect the reconnect behavior?

[2018-08-31 00:31] kvasukib commented on #518
The PR is merged. Closing the issue.

[2018-08-31 00:31] #518 closed

[2018-08-31 01:03] ygnessin commented on #476
@minbi this is blocking us and many other developers from adding support for Android P. Is a fix in the works?

This is not just Mobile Analytics related. In the app I'm working on, we are using Kinesis and Cognito only, and it is still occurring.

Thanks for investigating!

[2018-08-31 08:47] laramartin commented on #476
This issue is blocking us as well from supporting Android P. Any news on the status of the fix would be greatly appreciated!

[2018-08-31 12:40] pavlospt commented on #476
Am I the only one that I don't find anything related to apache logging in that release tag?

[2018-08-31 12:45] laramartin commented on #476
@pavlospt you're not alone, it wasn't fixed in the release v2.6.29, it still uses it :(

[2018-08-31 13:25] wuseal commented on #497
@kvasukib Ok, I'll use the V4 signature to upload files. thanks for your reply

[2018-08-31 13:25] #497 closed

[2018-08-31 17:45] minbi commented on #476
Hi everyone,

We are working on a fix for this issue. Please see #521 for a preview of the change and to post any comments or bug reports about the fix.

[2018-08-31 18:02] pavlospt commented on #476
@minbi Great! Is there any ETA on releasing this?

[2018-08-31 21:27] m00head commented on #476
I was using https://github.com/aws/aws-sdk-android/issues/265#issuecomment-411978696 as a workaround for an Android app with a Cognito dependencyuntil release v2.6.29, after which the workaround is no longer required.

[2018-08-31 21:58] #508 closed

[2018-09-02 19:33] ringonotts commented on #374
OK, so this all fails because the AWSStartupHandler does not have the authenticationChallenge callback implemented. Apparently this is a feature request now.<br><br>
@kvasukib tells us to have a look at
https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon-cognito-user-identity-pools-android-sdk-authenticate-admin-created-user.html

This tells us

As far as I can tell, Authenticat

[2018-09-03 19:26] mordka opened #523 "Formatting issue on devices with ldpi screen size."
There is formatting issue on ldpi devices such as Jelly Pro. It's easy to reproduce using virtual device such as 240x430, 3.6 inch.
This issue makes it impossible to authenticate.
![image](https://user-images.githubusercontent.com/3659502/44999713-a5330a00-afbf-11e8-9e36-5316b188bb21.png)

* What service are you using?
AWSMobileClient with  Auth UI using `AuthUIConfiguration`
* In what version of

[2018-09-04 11:37] faizanmirza opened #524 "AWS - Auth social login, facebook and g+ session retain in browser"
1) When user is logged in app using customtab, facebook and google session is set in chrome browser. Next time when i logout and sign up again. It logged in with same user again instead of asking for new user. As per requirement for every new sign up on social sign up. It should ask for which account should be used to login instead of saved user session.

2) Is it possible to use app webview inste

[2018-09-04 14:56] ericpearson commented on #476
this is pathetic support amazon, what gives, there are a ton of angry devs here and you won't even accept a patch

[2018-09-04 15:58] kvasukib commented on #524
@faizanmirza The current implementation of `aws-android-sdk-cognitoauth` uses Chrome CustomTabs. Are you using isAuthenticated() method to check if the user is signed in before prompting the Web UI? If so, can you upgrade to the latest version of the SDK. We fixed a bug in the latest version of SDK where isAuthenticated returned true for a signed out user.

[2018-09-04 16:10] kvasukib commented on #523
@mordka Thank you for reporting to us. Sorry for the inconvenience caused. The SignInView is not compatible with different pixel densities. I am taking this as a feature request to the team.

[2018-09-05 07:29] ringonotts commented on #374
I'm not sure why this was so hard to figure out but until this feature is fixed, then the guidance on the "welcome to Mobile AWS" (https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-user-sign-in.html) should really be changed until this feature is fully implemented.

So, for future reference, and for any other poor sole just following instructions only to find out you get

[2018-09-05 08:15] Anonymous123456789123 opened #525 "android GCM on Oreo devices crash issue"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
GCM services since we will aim to use fire-base but need a quick solution for now.
* In what version of SDK are you facing the problem?
Sdk Version 26
* Is the issue limited to Simulators / Actual Devices?
the issue is limited to Oreo devices
* Can your problem be resolved if you

[2018-09-05 17:34] rohandubal commented on #525
Hello,

Could you please specify:

Thanks,
Rohan

[2018-09-06 05:44] Anonymous123456789123 commented on #525
Hello,

please find the below as requested

What AWS Service are you using?
Google cloud messaging
 compile "com.google.android.gms:play-services-gcm:15.0.1"

What is the SDK version which you are using?
 compileSdkVersion 26
 buildToolsVersion '26.0.2'
 targetSdkVersion 23

Can you show the code snippet of how you are using the SDK in your application?

public class MyInstanceIDListenerService ex

[2018-09-07 14:29] missverma commented on #400
@desokroshan Any updates ?

[2018-09-07 15:11] vladostaci commented on #400
I'm just using a background service with a TransferManager like suggested by https://github.com/aws/aws-sdk-android/issues/400#issuecomment-391713028
The only side-effect of this is that a notification should be displayed while the service is running. You can also use a JobScheduler in case you don't want the notification to be displayed.

[2018-09-07 16:35] #477 closed

[2018-09-07 17:36] rohandubal commented on #525
Hello,

This github repo is for AWS SDKs and not the general GCM SDKs. Closing it as it is not relevant here.

[2018-09-07 17:36] #525 closed

[2018-09-07 17:40] Anonymous123456789123 commented on #525
Hi

How did you know its is aws and what do u mean by aws since im using the same ass google website and it is gcm

Regards
Sent from my iPhone

On Sep 7, 2018, at 20:37, rohandubal <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello,

This github repo is for AWS SDKs and not the general GCM SDKs. Closing it as it is not relevant here.

—
You are receiving this because you au

[2018-09-07 18:18] kvasukib commented on #476
Description of the fix: We introduced a LogFactory and Log interface in the SDK (aws-android-sdk-core) and made Apache Commons Logging and android.util.Log as implementations of the Log interface. By default, the LogFactory checks if Apache Commons Logging is present, if so, it will use the Commons Logging as the logger, else it will use android.util.Log.

Customers who want to use Apache Commons

[2018-09-08 14:39] anjalsan commented on #141
I'm still getting

[code]

Fatal Exception: java.lang.RuntimeException
Unable to start service com.amazonaws.mobileconnectors.s3.transferutility.TransferService@416bda10 with Intent { cmp=in.okcredit.merchant/com.amazonaws.mobileconnectors.s3.transferutility.TransferService }: java.lang.NullPointerException

[2018-09-10 02:49] rickymohk opened #526 "[S3][TransferUtility] Key names with special characters are not supported"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS S3
* In what version of SDK are you facing the problem?
2.6.30
* Is the issue limited to Simulators / Actual Devices?
no
* Can your problem be resolved if you bump to a higher version of SDK?
no
* Is this problem related to specific Android/OS version?
no
* Can you give us st

[2018-09-10 17:33] alejouribesanchez opened #527 "Program type already present: com.amazonaws.auth.ChunkContentIterator"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using? Mobile SDK

* In what version of SDK are you facing the problem? 2.6.30

* Is the issue limited to Simulators / Actual Devices? Both

* Can your problem be resolved if you bump to a higher version of SDK? No

* Is this problem related to specific Android/OS version? No

* Can you

[2018-09-10 21:03] alejouribesanchez commented on #527
is there anyway to use accelerate configuration using awsStaticCredentialsProvider but without use "com.amazonaws:aws-android-sdk-s3:2.6.30" ?? I am seeing that this library AWS java SDK is too big.

[2018-09-12 05:34] FilenkovMaxim opened #528 "Transfer utility doesn't resume upload after network enable if started without connection on Android 8"
* What service are you using?
Transfer utility upload.

* In what version of SDK are you facing the problem?
com.amazonaws:aws-android-sdk-s3:2.6.30

* Is the issue limited to Simulators / Actual Devices?
Actual device: Sony G3412

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific Android/OS version?
I see it on Android 8.

* Can you g

[2018-09-12 09:37] anggrayudi commented on #471
Well, it is over than a month and no update. Everyone actually can't wait too long.

[2018-09-12 16:29] alejouribesanchez commented on #527
@kvasukib any help here?

[2018-09-12 16:36] kvasukib commented on #527
@alejouribesanchez Are you using AWS SDK for Java or AWS SDK for Android?

[2018-09-12 16:43] alejouribesanchez commented on #527
@kvasukib thanks for answer I just want to use awsStaticCredentialsProvider and use the accelerate mode, what's the correct code to do this using AWS SDK for Android and transfer utility?

[2018-09-12 17:17] kvasukib commented on #527
Thank you @alejouribesanchez for the quick response. Here is the code you need:

[code]

[2018-09-12 17:30] alejouribesanchez commented on #527
@kvasukib but the AWSStaticCredentialsProvider is a class from 'com.amazonaws:aws-java-sdk:1.11.404' or that class is available in the AWS SDK for Android? because the last time I tried to implement AWSStaticCredentialsProvider that class was not available inside the AWS SDK for Android?

[2018-09-12 17:38] alejouribesanchez commented on #527
<img width="710" alt="screen shot 2018-09-12 at 12 37 30 pm" src="https://user-images.githubusercontent.com/3950665/45442820-b0a1c780-b688-11e8-8e3c-e7e90b0afe8e.png"> @kvasukib ?

[2018-09-12 19:51] kvasukib commented on #527
@alejouribesanchez If you are using AWS SDK for Android, you can use `BasicAWSCredentials`. See https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/auth/BasicAWSCredentials.java.

[code]

[2018-09-12 20:38] kvasukib commented on #527
@alejouribesanchez Does the role of the IAM user with the access and secret access key you supplied has the policy that allows put/get access to the S3 bucket? Can you verify this on the console?

[2018-09-12 22:07] kvasukib commented on #527
@alejouribesanchez Great, Thank you for confirming!

[2018-09-13 15:17] wuseal commented on #504
@rohandubal Thanks, my problem was fixed after the change to use `accessKey` and `secretAccessKey` and use SigV2.

[2018-09-13 15:17] #504 closed

[2018-09-13 15:20] wuseal commented on #509
This error has been not happened anymore for a long time, So I close this issue. Thanks.

[2018-09-13 15:20] #509 closed

[2018-09-14 01:08] #514 closed

[2018-09-14 01:09] #513 closed

[2018-09-14 01:10] kvasukib commented on #517
@yebonkim Is your app in the foreground or background when you are initiating the transfer?

[2018-09-14 19:35] achatina opened #529 "Custom sign-in with cognito"
Hello!
I have a stack and can't find solution. Back-end, after custom login, returns me username, refreshToken, idToken and accessToken. But how can i start a cognito session with this data? Just calling `getUser(username).getSessionInBackground(authenticationHandler);` not enough (getting UserNotFoundException). what can i do? Or cognito sdk has no opportunity to do this?
Using this parts of sdk:

[2018-09-15 01:36] yebonkim commented on #517
It`s foreground...

[2018-09-15 04:17] FilenkovMaxim commented on #528
@kvasukib Yes, state is WAITING_FOR_NETWORK

[2018-09-17 17:15] kvasukib commented on #528
@FilenkovMaxim That's the expected behavior. When the network is offline and if you try to start an upload, the TransferUtility puts the state of the transfer to `WAITING_FOR_NETWORK`. When network comes back online, the TransferService gets a notification and it resumes the transfers that were in `WAITING_FOR_NETWORK` state.

[2018-09-17 17:16] kvasukib commented on #517
@yebonkim I am looking into the issue and working on a fix. I will update this thread once the fix is released. Thank you for the patience.

[2018-09-17 18:31] fahmad2 commented on #303
Hi All,

Can someone update on the status of this feature request?

[2018-09-17 19:11] fahmad2 opened #530 "There should be a way to invoke a particular version/alias of a lambda function, without duplicating the interface for each version/alias"
Duplicate of https://github.com/aws/aws-sdk-android/issues/303

### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Mobile SDK

* In what version of SDK are you facing the problem?
com.amazonaws:aws-android-sdk-mobile-client:2.6.+@aar'
'com.amazonaws:aws-android-sdk-core:2.6.31'
'com.amazonaws:aws-android-sdk-lambda:2.6.30'

*

[2018-09-19 16:46] kvasukib commented on #528
@FilenkovMaxim Thank you for the feedback. TransferService receives a broadcast from Android OS when the network comes back online. To resume the transfers, we load the transfers from the database that are in WAITING_FOR_NETWORK state and we resume the transfers if they are not running.

1) Android is giving the notification early.
2) TransferService is using the deprecated network callback mechan

[2018-09-20 12:04] knollori commented on #400
@desokroshan Any updates on a fix?

[2018-09-20 17:06] kvasukib commented on #400
We have made some changes to TransferUtility in 2.7.0 version of the SDK. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#long-running-transfers).

Summary:

Starting version 2.7.0 of the SDK, Transf

[2018-09-20 18:29] kvasukib commented on #528
@FilenkovMaxim Update: Tasks 3 and 4 are complete. We released 2.7.0 with some major refactoring to the TransferUtility. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#long-running-transfers).

Summ

[2018-09-20 18:31] kvasukib commented on #517
@yebonkim

Apologies for the delay.

This problem of uploads waiting to start should go away with 2.7.0 version of the SDK.

We have made some changes to TransferUtility in 2.7.0 version of the SDK. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/h

[2018-09-20 18:31] #503 closed

[2018-09-20 18:32] kvasukib commented on #503
Apologies for the delay.

We have made some changes to TransferUtility in 2.7.0 version of the SDK. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#long-running-transfers).

Summary:

Starting versio

[2018-09-20 18:32] kvasukib commented on #474
@ngriffiths @FilenkovMaxim

Apologies for the delay.

We have made some changes to TransferUtility in 2.7.0 version of the SDK. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#long-running-transfers)

[2018-09-20 18:33] kvasukib commented on #424
@defaultbr

Apologies for the delay.

We have made some changes to TransferUtility in 2.7.0 version of the SDK. The summary of the changes can be found in [CHANGELOG](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md) or [Documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#long-running-transfers).

Summary:

Sta

[2018-09-20 18:38] robsonn commented on #424
Thanks @kvasukib.
I will test. Thanks again :D

[2018-09-21 00:28] desokroshan commented on #530
@fahmad2 ,
I have added this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK.

[2018-09-21 05:38] GingerNinja23 opened #533 "[Kinesis Streams] Partition key is not different for records within a single batch."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Kinesis

* In what version of SDK are you facing the problem?
2.3.x

* Is the issue limited to Simulators / Actual Devices?
Actual devices

* Can your problem be resolved if you bump to a higher version of SDK?
No, the issue is present in the latest version of the SDK as well

[2018-09-23 01:07] naddeoa commented on #420
Is this being tracked anywhere? If not, it might be a good idea to keep this open.

The docs are a little confusing in light of this bug: https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-analytics.html

It recommends that Android users start sessions in `Application.onCreate`, but we can't actually initialize this thing in an `Application`. Do we have to worry about re-i

[2018-09-25 00:51] muellerfr commented on #425
The Login with Amazon Android SDK has been updated to address the issue. Please download the latest version here. https://developer.amazon.com/docs/login-with-amazon/install-sdk-android.html

[2018-09-25 00:51] #425 closed

[2018-09-25 04:45] FilenkovMaxim commented on #528
@kvasukib thank you. I tried new 2.7.0 but it still doesn't work in this case.
That what I've seen in logcat

09-25 07:37:30.520 24373-24373/com.dubsapp.devel I/TransferService: Network connectivity changed detected.
09-25 07:37:30.525 24373-24373/com.dubsapp.devel I/TransferService: Network connected: true
09-25 07:37:30.538 24373-24373/com.dubsapp.devel I/TransferService: Network connectivity ch

[2018-09-26 18:14] #424 closed

[2018-09-27 07:45] #506 closed

[2018-09-27 07:46] #485 closed

[2018-09-27 09:40] #529 closed

[2018-09-27 19:50] fahmad2 commented on #530
@desokroshan,

Thank you for the response. Also need functionality to allow invocation of specific aliases in the Policy document for a specific Role under IAM. Currently, I can not allow a specific identity_pool to invoke a lambda with a specific alias. This issue came up while invoking a lambda using the Android SDK (com.amazonaws:aws-android-sdk-lambda:2.6.30).

Currently, if I add the ARN of t

[2018-09-27 22:06] sunchunqiang commented on #533
The issue is fixed in AWS SDK for Android 2.7.3. Please update your Android AWS SDK to 2.7.3, let's know if it's not fixed correctly

[2018-09-27 22:17] #533 closed

[2018-09-28 07:49] GingerNinja23 commented on #533
Thanks Frank! We'll give the latest version a try, and let you know how things work.

[2018-09-28 17:35] kvasukib commented on #248
@thomasaw We have improved the stability of `TransferUtility` in 2.7.0. Please upgrade and let us know if it fixes the issue.

[2018-09-28 17:35] #248 closed

[2018-10-01 08:56] FilenkovMaxim commented on #528
@kvasukib Hello. Do you have news on this issue?
Do you have an example working with android 8 in this scenario?

[2018-10-01 12:01] mlnarola opened #535 "Proguard Issue : "java.lang.IllegalArgumentException: Illegal query expression: No hash key condition is found in the query""
HI, I have used AWS services and used dynemo db in my application.

I am using following 3 Services of AWS.
**implementation 'com.amazonaws:aws-android-sdk-core:2.6.15'
    implementation 'com.amazonaws:aws-android-sdk-s3:2.6.15'
    implementation 'com.amazonaws:aws-android-sdk-ddb-mapper:2.6.15'**

Everything works fine and project successfully builds too.

Now I have enabled proguard in my proj

[2018-10-01 15:50] jesusdanielx15 commented on #400
Im still having these problems on Android O, in Huawei devices and some Samsung.. its Still the same error with SDK 2.7.3

[2018-10-01 17:15] kvasukib commented on #528
@FilenkovMaxim The code that you already have should work on Android 8 (Oreo). We do not rely on a service anymore to start the transfers. Instead the transfers are started directly by TransferUtility without a service. TransferService will be only be used to listen for network connectivity changes.

https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-u

[2018-10-01 17:18] kvasukib commented on #400
@jesusdanielx15 Can you share the code snippet and the crash that you are getting? TransferUtility will no longer use TransferService in order to start a transfer. Instead TransferUtility will directly queue the transfer to the thread pool. Now, TransferService has become an optional component which is used for listening to network connectivity changes. If you need the transfers to be paused/resum

[2018-10-01 17:34] jesusdanielx15 commented on #400
This is the stack trace of the crash that i am getting:

Caused by java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.drivin.mobile.app/com.amazonaws.mobileconnectors.s3.transferutility.TransferService }: app is in background uid UidRecord{d1478e8 u0a29 RCVR idle procs:1 seq(0,0,0)}
       at android.app.ContextImpl.startServiceCommon(ContextImpl.java:1538)
       at an

[2018-10-02 13:18] cbommas commented on #535
hello @mlnarola

Sorry to hear that you are running into issues. I tried to reproduce your locally, but wasn't sucessful.
To help debug your issue further,
- can you share your build.gradle and proguard.pro files
- let me know if have you turned on code obfuscation
- also, are you using the DynamoDBObject Mapper?

[2018-10-03 17:32] kvasukib commented on #400
@jesusdanielx15 Thank you for the response. Apologies for the delayed reply. Android limits the app to start a service when the app is in background. See https://developer.android.com/about/versions/oreo/background. Can you invoke the service in `onResume` of the Application class and make sure the service is started only when the app is in foreground?

[2018-10-03 20:45] jesusdanielx15 commented on #400
Dont worry, I will give it a try, thank you for your support

[2018-10-03 21:00] stephenruda commented on #400
My solution was to run my own foreground a service for the duration of the upload and stopping the service when the upload is complete.  This is still using the older version of the library so I haven't tried the changes in 2.7.0+.

My application uploads a file of logs every 24 hours, so when this happened in the background it was crashing.  The app mostly runs in the background so waiting until

[2018-10-04 04:07] muellerfr commented on #447
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-04 04:07] #447 closed

[2018-10-04 04:11] muellerfr commented on #451
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-04 04:42] muellerfr commented on #250
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-04 04:42] #250 closed

[2018-10-04 10:37] gerostam opened #536 "AmazonS3Client upload fails"
Hello,

I am experiencing an issue that did not happen before. In order to reproduce it I used com.amazonaws:aws-android-sdk-s3:2.6.26, com.amazonaws:aws-android-sdk-s3:2.7.1 and com.amazonaws:aws-android-sdk-s3:2.7.3. The problem is when I use this code to upload  a file (which I did not change and never had problems before), I receive success and the file is never uploaded.

[code]

The code nev

[2018-10-04 11:03] #536 closed

[2018-10-04 20:57] gwicks56 opened #537 "callback = COMPLETED, but no file uploaded"
**Describe the bug**
99% of the time it works fine, but occasionally, usually on ZTE phone, i get a callback saying COMPLETED, but when I check my bucket, no files have been upload.

Still using:
  implementation 'com.amazonaws:aws-android-sdk-core:2.6.18'

mainly because I don't like changing production code without good reason.

Just wondering if this was a known bug?

Example logcat:
10-04 10:5

[2018-10-04 21:59] kvasukib commented on #537
@gwicks56 Sorry for the inconvenience caused.

What version of Android are you using?
What is the name of the key of the object that you are uploading?
Did you get onProgressChanged callback?
What is the size and type of file? What is the content type?
Do you have any object metadata associated with it?

[2018-10-04 22:03] gwicks56 commented on #537
The phone is a ZTE  (N9560) I use for testing purposes, Android 7.1.1.
It should have uploaded 8 files this morning, I got an IN_PROGRESS callback for each of them,
then a few seconds later a COMPLETED callback for each of them. They were then deleted from the phone, as I do that in the COMPLETED callback. Size is a text file, encrypted on the device, between 10KB and 500KB.

Not sure what you mea

[2018-10-04 22:08] gwicks56 commented on #537
Also in case it helps, I got this logcat output between IN_PROGRESS and COMPLETED, can't find out what it means:

10-04 10:57:31.913 7031-7031/gwicks.com.sleep D/SensorUploadReceiver: Callback onStart() | ID: 8 | State: IN_PROGRESS
10-04 10:57:32.191 7031-3044/gwicks.com.sleep D/CognitoCachingCredentialsProvider: Saving credentials to SharedPreferences
10-04 10:57:32.270 7031-3052/gwicks.com.sleep

[2018-10-04 22:14] #502 closed

[2018-10-04 23:32] gwicks56 commented on #537
The bucket name is: sleepmelissa, the identifier inside that bucket was b33f160a04c40ba4. Works most of the time, but not everytime, despite the COMPLETED call back.

`public class Util {

    private static final String TAG = "Util";

    public interface FileTransferCallback {
        void onStart(final int id, final TransferState state);

        void onComplete(final int id, final TransferStat

[2018-10-05 13:42] jia-tse-zocdoc commented on #524
@kvasukib -- what if the devices doesn't have Chrome installed, or has it disabled in favor of their favorite browser? Is it possible to use app webview instead of custom tabs?

[2018-10-05 14:15] jia-tse-zocdoc opened #539 "AuthClient throws error when missing Chrome CustomTabs"
On a device that has chrome browser uninstalled or disabled, I get this error from the `AuthClient`

[code]

Any suggested work around for this?

[2018-10-05 23:03] kvasukib commented on #526
@rickymohk Sorry for the inconvenience caused. This issue has been fixed in 2.7.4. Please update your app and see if it fixes the issue.

[2018-10-07 23:39] kvasukib commented on #470
@NikolayAtSony Sorry for the delayed response. We have deprecated the client-side encryption provided through the aws-android-sdk-s3 library. Instead we have two recommended approaches:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#transfer-encryption

[2018-10-07 23:42] kvasukib commented on #416
@chandreshandroid Sorry for the delayed reply. This issue has been fixed in 2.7.4. Please upgrade and check and let us know if you have any issues.

[2018-10-07 23:43] kvasukib commented on #360
Sorry for the delayed reply. This issue has been fixed in 2.7.4. Please upgrade and check and let us know if you have any issues.

[2018-10-07 23:43] kvasukib commented on #321
Sorry for the delayed reply. This issue has been fixed in 2.7.4. Please upgrade and check and let us know if you have any issues.

[2018-10-07 23:45] kvasukib commented on #332
@hs8058  Sorry for the delayed response. We have deprecated the client-side encryption provided through the aws-android-sdk-s3 library. Instead we have two recommended approaches:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#transfer-encryption

[2018-10-08 00:32] kvasukib commented on #537
@gwicks56 Thank you for posting the code snippet. Can you print the `filePath` variable and the `key name` for the file where the upload fails to complete however the callback is invoked?

[2018-10-08 04:51] FilenkovMaxim commented on #528
Hi, I tried to take a look on your example [here](https://github.com/awslabs/aws-sdk-android-samples/tree/master/S3TransferUtilitySample)
But it didn't work at all. Util.getCredProvider() failed with
AndroidRuntime: FATAL EXCEPTION Caused by: java.lang.IllegalArgumentException: Cannot create enum from CHANGE_ME value!
Please, check your example.

[2018-10-08 09:00] AghoPwn commented on #321
I still have issues with 2.74, i'm sticking with 2.2.
I have spaces in my keys names.
With 2.2, i don't encode them and they are downloaded without issues.
With newer versions, i tried to Urlencode the key, replace space character with %20, or let the spaces unencoded, and i still can't download the file. What is the correct way to download files with space in the key name ?

Thanks,

[2018-10-08 17:32] kvasukib commented on #528
@FilenkovMaxim You have to put the right values in Constants.java file. You can see the README.md in the sample application to see how to create a Cognito identity pool and S3 bucket and supply the values (cognito identity pool-ID, cognito identity region, S3 bucket name, S3 bucket region) in the Constants.java file.

Can you do this and try again?

[2018-10-08 18:31] kvasukib commented on #537
@gwicks56 Also, can you upgrade to 2.7.4 where we have made stability improvements in `TransferUtility` and check if the issues is still reproducible?

[2018-10-08 18:32] kvasukib commented on #539
@jia-tse-zocdoc Sorry for the inconvenience caused. AWS SDK for Android - CognitoAuth relies on Chrome Custom Tabs for the Hosted UI.  We have a strong dependency on the Chrome Custom Tabs library.

[2018-10-08 18:42] gwicks56 commented on #537
One of the files should have appeared in bucket: melissasleep/b33f160a04c40ba4/Sensors/Acc/04102018_105731281_2.encrypted

melissasleep/b33f160a04c40ba4/Sensors/Acc/04102018_105731281_1.encrypted

is another one of them.

I have upgraded to 2.7.3, and have not noticed the problem again, but it's hard to be sure because it was very intermittent. Again, this was only on a ZTE device, which makes me

[2018-10-08 20:15] jia-tse-zocdoc commented on #539
@kvasukib -- what is the suggested workflow for those users who don't have chrome tabs enabled?

[2018-10-08 20:18] kvasukib commented on #537
@gwicks56 Thank you for the confirmation. I still couldn't see any progress updates for the transfer where the file is missing in S3. Can you add a log statement in the `onProgressChanged` callback method and see if TransferUtility is reporting any progress updates?

[code]

To answer your question, the issue that you reported seems intermittent. I have added few more assert statements in the test

[2018-10-08 20:45] gwicks56 commented on #537
OK, no problem, I'll do that now. The uploads only happen once a day, so I'll continue monitoring it, and see if it happens again. If so, I'll let you know ASAP. When I can I'll do some extra testing as well.

[2018-10-08 21:00] kvasukib commented on #537
Thank you for the confirmation @gwicks56

[2018-10-08 21:07] kvasukib commented on #458
@2math Hi Galeen, Sorry for the delayed response. We have done stability improvements to the AWS SDK for iOS - IoT. Can you upgrade to the latest and check if that fixes your issue? Please let us know if you have any feedback.

[2018-10-08 22:23] gwicks56 commented on #537
Also, @kvasukib, could you tell me in regards to:

Starting version 2.7.0 of the SDK, TransferService logic has been refactored. This service now will be responsible only for monitoring network connectivity changes. When the network goes offline, the transfers that are in progress will be paused. When the network comes back online, the transfers that are paused will be resumed. If you expect your

[2018-10-08 23:02] kvasukib commented on #537
@gwicks56

**2.6.x**

The TransferService in 2.6.x had the responsibilities of starting a transfer, listening to network and pausing/resuming transfers when the network connectivity changes.
1) You need to declare the TransferService in the AndroidManifest.xml file.
2) The TransferUtility starts the TransferService and you don't have to manually start the service.

**2.7.x**

The TransferService i

[2018-10-09 00:44] kvasukib commented on #520
@angli13 Hi Fernando! Sorry for the delayed response. Here is the summary of the classes. But can you explain the use-case that you are trying to solve?

SingInManager: Orchestrates a sign-in flow irrespective of the SignInProvider (UserPools, Facebook and Google, etc)

IdentityManager: Creates a CognitoCachingCredentialsProvider, handles refresh, federates a token from any SignInProvider with the

[2018-10-09 04:34] FilenkovMaxim commented on #528
@kvasukib thanks, my fault, I didn't read. I'll try.

[2018-10-09 10:07] samyakjain commented on #505
How soon can we expect this feature?

[2018-10-09 14:03] FilenkovMaxim commented on #528
@kvasukib ok, I tried the example, for begin on Android 6.
It doesn't set WAITING_FOR_NETWORK state on wifi lost. It turn to FAILED and doesn't resume upload after connection establish.
And I see error
[code]
in logcat 17 times!

[2018-10-09 16:30] kvasukib commented on #528
@FilenkovMaxim Thank you for the quick response. Starting 2.7.0 you need to add the following line in your app to start the TransferService. TransferService will not be started automatically by the SDK.

[code]

One recommended place to add this is in your Application class. Please refer to the [CHANGELOG](https://github.com/aws/aws-sdk-android/releases/tag/release_v2.7.0) and [documentation](http

[2018-10-09 19:51] FilenkovMaxim commented on #528
@kvasukib I know this, but I told about [this](https://github.com/awslabs/aws-sdk-android-samples/tree/master/S3TransferUtilitySample) example, not my app. Why it doesn't start TransferService? It's strange for sample code, isn't it?
Ok, I'll try to change it.

[2018-10-09 20:05] kvasukib commented on #528
@FilenkovMaxim Got it. I tested the sample and it works. When the network is set to offline, the transfers that are in progress and set to WAITING_FOR_NETWORK.

[2018-10-09 20:17] FilenkovMaxim commented on #528
@kvasukib but I get that error. I switch off wifi during uploading, then task get the FAILED state and doesn't continue after wifi set available. I run it on Android 6.

[2018-10-09 20:30] kvasukib commented on #528
@FilenkovMaxim Did you pull the latest changes made to the S3TransferUtilitySampleApp?

[2018-10-09 21:12] FilenkovMaxim commented on #528
@kvasukib I changed only sS3Client initialization
[code]
I use BasicAWSCredentials instead Cognito. I think it doesn't matter? Simple upload with wifi works.

[2018-10-09 21:33] kvasukib commented on #528
@FilenkovMaxim I just want to make sure you have https://github.com/awslabs/aws-sdk-android-samples/blob/master/S3TransferUtilitySample/src/com/amazonaws/demo/s3transferutility/MyApplication.java class in the app when you downloaded. The `onCreate` in the `Application` will start the TransferService.

[2018-10-09 22:28] GerardoRobledo commented on #517
If you start the service as follows you get an RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()

`  if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O) {
            startForegroundService(Intent(this, TransferService::class.java))
        } else {
            startService(Intent(this, TransferService::class.java))
        }`

[2018-10-10 09:14] harshalijain commented on #524
I am also facing the same issue. Even after calling cognitoAuth.signOut(), when i try to login through google again, I am not able to select another user.

[2018-10-11 00:07] desokroshan commented on #413
@kopevgale

You don't have need to replace the replace the following resources:
[code]
You can leave these as is. This issue has a resolution [here](https://github.com/awslabs/aws-sdk-android-samples/issues/161). Please update there if issue still persists.

Thanks, Roshan

[2018-10-11 11:26] gauravk95 opened #540 "Is it possible to use FirebaseAuth with Cognito to authenticate user for access to S3?"
**Question:**
I would like to use, the already authenticated user via FirebaseAuth using the Google+ and Facebook method, as the credential provider for the uploading objects to S3 via Cognito Mode.
Is it possible? If yes, can you refer me the docs or share some info here.

I am aware that we can allow unauthorized access, to make it work, without signing in to google+ or facebook via Cognito. I c

[2018-10-11 14:28] fdelaporte opened #541 "S3 TransferUtility : incorrect support for object tagging on single/multipart upload"
**Describe the bug**
Object tagging is not set when uploading files with size > 5MB

When file size is > 5MB there is only a `x-amz-meta-x-amz-tagging` metadata header set with actual tagging content

When file size is < 5MB, the tagging is correctly set but the wrong `x-amz-meta-x-amz-tagging` header is still set in addition to tagging

**To Reproduce**
For multipart upload:
1. Build ObjectMetada

[2018-10-11 20:15] kvasukib commented on #541
@fdelaporte Sorry for the inconvenience caused. I'm looking into reproducing the issue.

[2018-10-11 20:17] kvasukib commented on #528
@FilenkovMaxim I will check and update the AndroidManifest as required. For the error from upload operation, can you post the exception message and stacktrace that you are getting?

[2018-10-12 07:07] kashif-mujeeb-10p commented on #524
as per the requirement of @faizanmirza when the app is signup again it doesn't remove a cache that gonna be the wrong user experience, how could we achieve that?

[2018-10-12 08:34] FilenkovMaxim commented on #528
@kvasukib yes, I will able post these on Monday 15th

[2018-10-12 15:46] fdelaporte commented on #541
@kvasukib That's allright. As of now I'm using metadata to work around the problem. I initially intended to use tagging inside a lambda triggered by S3 object creation, so in the mean time I'm juste getting object headers instead of tags.

Thanks

[2018-10-12 16:56] #432 closed

[2018-10-12 16:56] #474 closed

[2018-10-12 16:56] #516 closed

[2018-10-12 17:41] kvasukib commented on #541
@fdelaporte When you say "I'm using metadata to work around the problem", can you post a code snippet of how you are accomplishing this?

[2018-10-12 17:48] fdelaporte commented on #541
@kvasukib Sorry that wasn't clear. What I meant by that is that I'm setting the values I need through metadata instead of tagging, not that I had found a way to put tagging somehow.

So for instance if I need the tag myKey=myValue, instead of doing:
`objectMetadata.addUserMetadata("x-amz-tagging", "myKey=myValue")`

I can do instead:
`objectMetadata.addUserMetadata("myKey", "myValue")`

And then I

[2018-10-12 20:02] kvasukib commented on #541
@fdelaporte Thank you for the confirmation. The intention of the SDK is to support `objectMetadata.addUserMetadata("x-amz-tagging", "myKey=myValue")` and then have the right metadata appear in the S3 console. This should be a bug in how we are passing it to S3. I am investigating in the code. Will post a reply once I know the root cause.

[2018-10-13 03:19] jchbh-duplicate opened #542 "first time call generatePresignedUrl seem not use v4 sign"
**Describe the bug**

it seems the first time generatePresignedUrl will get something like
https://bucket.s3.amazonaws.com/file?AWSAccessKeyId=accesskey&Expires=yyyy&Signature=xxxxxxx

and after a little time, it will return

https://bucket.s3.amazonaws.com/file?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20181013T025706Z&X-Amz-SignedHeaders=host&X-Amz-Expires=299&X-Amz-Credential=mmmmmmmmm&X-Amz-

[2018-10-15 00:56] desokroshan opened #543 "YourUserPools does not recover if you give wrong phone number in Sign Up"
**Which AWS Services is the feature request for?**
Cognito

**Is your feature request related to a problem? Please describe.**
Steps to repro:
-Do Sign Up
-Fill all asked fields, enter incorrect phone number
-Tap Sign up button -> View is changed to Confirm view, SMS confirmation is sent to wrong number
-Return from Confirmation view to fix phone number
-Fix phone number and tap sign up button
Act

[2018-10-15 04:55] kvasukib commented on #542
@jchbh-duplicate Thank you for reporting to us. Have you tried setting the region in the `AmazonS3Client` object and generate the presigned URL?

[2018-10-15 16:04] muellerfr commented on #543
Related to https://github.com/awslabs/aws-sdk-android-samples/issues/69

[2018-10-15 16:05] muellerfr commented on #543
Opened originally by @jukka-palomaki and commented on by @litalch.

[2018-10-15 17:33] desokroshan opened #544 "Wrong video orientation in Kinesis Stream"
**State your question**
Hi,
I am using Kinesis Video for live as well as on demand video playback in an android application. One thing i am stuck on now is getting wrong orientation while playing the video url.

**Which AWS Services are you utilizing?**
Kinesis
**Provide code snippets (if applicable)**

[code]

Above is the configuration for media. Please help!

[2018-10-15 17:35] desokroshan commented on #544
Opened originally by @gerahimanshu

[2018-10-15 20:02] kvasukib commented on #540
@gauravk95 Thank you for reporting to us. Sorry for the inconvenience caused. It is not possible to integrate a Firebase Auth user with S3 without federating with Cognito / STS. You can setup your Identity provider as a OIDC provider on Cognito console and you can federate the user's token with Cognito Identities and then you can use the Cognito credentials with S3.

[2018-10-16 06:37] depak330 opened #545 "Error in uploading files to S3 with name containing special characters"
**Describe the bug**
i am using latest sdk for download image from s3 server. file name with space download perfectly .if file name with ä it through error.

file is already available on bucket .iOS library download file perfectly. problem in only in android sdk .show error The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: AAAAAAA).

[2018-10-16 07:36] alixwar opened #546 "aws-android-sdk-cognitoidentityprovider-asf-1.0.0.jar has vulnerability CVE-2009-0608"
**Describe the bug**
Analyzing the library com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.7.5 reveals a dependency to a vulnerable library: com.amazonaws:aws-android-sdk-cognitoidentityprovider-asf:1.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Configure [OWASP dependency check plugin](https://github.com/jeremylong/dependency-check-gradle) to project
2. Add a dependency to co

[2018-10-16 08:29] FilenkovMaxim commented on #528
@kvasukib
On Android 8

[code]
On Android 6 path is null and I see the toast "Could not find the filepath of the selected file"

[2018-10-16 13:29] gauravk95 commented on #540
Thanks. Will try this out.

[2018-10-16 15:48] kvasukib commented on #545
@depak330 Thank you for reporting to us. In this case, the client is expected to do the handling for special characters before passing it to the SDK.

[2018-10-16 16:00] kvasukib commented on #528
@FilenkovMaxim The exception is being thrown from https://github.com/awslabs/aws-sdk-android-samples/blob/master/S3TransferUtilitySample/src/com/amazonaws/demo/s3transferutility/UploadActivity.java#L538.

Can you check the path of the file you are trying to upload? I can see that it is a downloads document: https://github.com/awslabs/aws-sdk-android-samples/blob/master/S3TransferUtilitySample/src/

[2018-10-16 19:30] tlubz opened #547 "Add Secrets Manager to Android and iOS SDKs"
**Describe the bug**
When managing dependencies through Gradle in Android Studio, adding implementation dependencies on Cognito and Kinesis through aws-sdk-android causes namespace conflict when alongside implementation dependency on Secrets Manager through aws-sdk-java.

**To Reproduce**
1. add in app/build.gradle:

[code]

2. build the project

**Which AWS service(s) are affected?**

Cognito, Ki

[2018-10-16 19:43] muellerfr commented on #547
Hi @tlubz,

Using the Java SDK and Android SDK in the same app is currently not supported. Why are you trying to  use the two SDKs together? Can you describe your use case?

[2018-10-16 23:17] sunchunqiang commented on #546
Hi @alixwar
The vulnerability CVE-2009-0608 was only found in Android SDK 1.0. Do we need worry about it?

[2018-10-17 06:56] arams commented on #400
@kvasukib In our project we run the background sync using the new work manager. We give the control to the system. It decides when to start our background service. During that time, we can use internet and we are able to upload few updates to our server. Same time we are trying to upload few contents to S3. But S3 transfer service is doing it in a separate upload service and it crashes. Why? Isn't

[2018-10-17 13:52] aarnaut commented on #420
Agree with @naddeoa, it's an issue. I'm having the same issue with push messages. In my case, the initialized AWS instance somehow goes out of scope. It happens if the app was in background for some time. When I receive a new push message, I forward it to PinpointManager#handleCampaignPush (according to docs), which then fails because AWS is not initialized. However, I cannot initialize AWS from m

[2018-10-17 14:17] jesusdanielx15 commented on #400
Yes it worked fine for me

[2018-10-17 15:49] kvasukib commented on #420
@aarnaut AWSMobileClient creates two objects: `CognitoCachingCredentialsProvider` and `AWSConfiguration`. As a workaround (until AWSMobileClient supports application context), I would recommend doing the following to get unblocked. The following example shows how to create a PinpointManager in the Application class.

[code]

[2018-10-17 17:12] kvasukib commented on #400
@arams If you need to upload synchronously, you can refer to `AmazonS3Client` -> `putObject` where you can pass in the bucket, key and file and do an upload. However you need to wrap the call to putObject in a background thread.

[2018-10-17 19:57] aarnaut commented on #420
@kvasukib Thank you for the quick reply. I'll give it a try.

[2018-10-17 20:10] desokroshan opened #548 "Upload throwing Access Denied"
Hi I followed the S3TransferUtilitySample to upload the sample. But it is throwing com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID:------.

I integrated the same in IOS app also. their it is working fine. I am using the same POOL_ID, BUCKET_REGION and BUCKET_NAME for android also.

Could you guys help me o

[2018-10-17 20:12] desokroshan commented on #548
[Original issue](https://github.com/awslabs/aws-sdk-android-samples/issues/261) was opened by @bsrikanth88.

[2018-10-17 20:19] kvasukib commented on #548
@bsrikanth88 Can you post a code snippet? Is the key name same in both iOS and Android apps?

[2018-10-17 22:55] sunchunqiang commented on #293
Hi @dshalev
Do you still have the issue with the latest SDK?

[2018-10-17 22:59] desokroshan opened #549 "[Android]pack the KEYSTORE file as part of the APK"
AWS androidIoT : Publish/Subscribe sample

Where to keep the "KEYSTORE_PATH" file while building the APK.

I have tried in asset/aws/iot_keystore_aws folder, but unable to the get the folder path from AssetManager.

Sample example has the path of : KEYSTORE_PATH = context?.getFilesDir()!!.getPath()

Here the gitHub :https://github.com/awslabs/aws-sdk-android-samples/tree/master/AndroidPubSub

I'm

[2018-10-17 23:00] desokroshan commented on #549
[Original Issue](https://github.com/awslabs/aws-sdk-android-samples/issues/249) opened by @arunkk-git.

[2018-10-18 10:33] gauravk95 commented on #540
I did try out the OIDC, but found that it works fine for Google Login, but has issues with Facebook login(Researched a bit online, and found that Facebook doesn't use OpenId (uses some proprietary Auth mechanism based on OAuth 2.0).

What are the alternatives for the Auth Providers that do not support OpenId? Or is there any other way to do this. I need to support both the Facebook and Google logi

[2018-10-18 15:39] Julia-Ts commented on #548
This issue is not reproduced on the 2.7.3 version of aws-android-sdk-s3, but starting from the 2.7.4 it exists

[2018-10-18 16:03] kvasukib commented on #548
com.amazonaws.services.s3.model.AmazonS3Exception: Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID:------.

comes from `aws-android-sdk-s3`. Can you print the key name?

[2018-10-18 17:16] BillBunting opened #550 "UserPools SignUpActivity, Username field, no keyboard displayed"
**Describe the bug**
The UserPools SignUpActivity does not show the keyboard for Username when the SignUpView is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign-in UI
2. Click on "Create New Account"
3. Observe "Enter your information to sign up. screen appears.
4. Observe, cursor in Username field and no keyboard

**Which AWS service(s) are affected?**
aws-android-sdk-a

[2018-10-18 19:11] kvasukib commented on #517
@GerardoRobledo Sorry for the delayed response. Just to re-iterate. TransferService starting from 2.7.0 will only be responsible for listening to network connectivity changes and auto resumes transfers that are paused when network is offline.

If you are looking to have this feature of pausing transfers when network is offline and auto-resume transfers when network is online (both when the app is

[2018-10-18 22:29] something15525 commented on #394
Any update on this? I'm having the same issue.

[2018-10-18 22:34] sunchunqiang commented on #549
Hi @arunkk-git
AWSIotKeystoreHelper APIs do not support read the file from APK assets, so you should not pack the KEYSTRORE file as part of the APK. There is also a security issue if you pack the KEYSTRORE file as part of the APK.

[2018-10-18 23:19] sunchunqiang commented on #549
Hi @arunkk-git

androidIoT APIs do not support use a KEYSTONE file inside the APK, so you cannot pack the KEYSTRORE file as part of the APK. There is also a security issue if the keystore file is in the APK.

[2018-10-18 23:32] undefobj commented on #260
@guillaume-tgl @bvirlet @keshavkaul @kulik @roshanrajaratnam @markwhitaker @xanscale
I work for the AWS Mobile team and we're working on a comprehensive solution to Auth with Cognito in our SDK that should handle this use case. If you'd like to be part of the testing in the next couple weeks please email me richthr_AT_amazon.com (replace the _AT_ with @).

[2018-10-19 03:14] minbi commented on #543
This issue was resolved in previous thread awslabs/aws-sdk-android-samples#69
This is a service limitation at this time.

[2018-10-19 03:14] #543 closed

[2018-10-19 03:48] minbi commented on #460
Hi,

We are looking into fixing this issue.

[2018-10-19 05:49] minbi commented on #520
Please feel free to open another issue if you are still having trouble. Closed issues are not actively monitored. Thank you.

[2018-10-19 05:49] #520 closed

[2018-10-19 05:52] minbi commented on #385
The service does not support this use-case. Closing because SDK cannot implement this feature.

[2018-10-19 05:52] #385 closed

[2018-10-19 05:53] minbi commented on #374
Hi,

We are looking into this issue now.

[2018-10-19 06:19] minbi commented on #472
Hi @ramdeep16 ,

Can you post a code snippet that you are using? I'm not able to find the method you are referencing.

Possibly?
[code]

or

[code]

[2018-10-19 06:36] arams commented on #400
Thanks a lot. It worked.

[2018-10-19 07:06] minbi commented on #524
Chrome Custom Tabs is more secure to use but offers less flexibility. I will discuss with the team on how we can clear the Google/Facebook sessions from the browser when signed-out.

[2018-10-19 09:17] guillaume-tgl commented on #260
We (@bvirlet and I) don't use Cognito anymore but thanks for the offer.

[2018-10-19 09:20] xanscale commented on #260
@undefobj just to know: why not make getCachedSession public?

[2018-10-19 10:14] surbhitrao opened #551 "Read a data stream from Android."
**State your question**
 How to read a kinesis data stream from Android.
**Which AWS Services are you utilizing?**
I am taking help of this blog,basically I want the JSON that contains facial recognition results that are being pushed to the data stream. I am using a Raspberry Pi 3 and its camera module

[https://aws.amazon.com/blogs/machine-learning/improve-your-customer-service-using-amazon-kines

[2018-10-19 10:36] iamtonny commented on #429
Hi, do you have any news about custom authentication for android and ios sdk??? When it can be implemented (month, half-year, year) ??  Thanx

[2018-10-19 11:01] #546 closed

[2018-10-19 16:22] muellerfr commented on #400
This issue has been closed because all questions appear to be answered. Please open a new issue if are still encountering problems.

[2018-10-19 16:22] #400 closed

[2018-10-19 21:12] something15525 commented on #394
Turns out this was just bad error messaging on Paho's/the SDKs part. I was parsing the private key into a `PKCS8EncodedKeySpec`, instead of a `RSAPrivateCrtKeySpec`. This is without using Cognito, using a private key and cert.

[2018-10-22 09:02] FilenkovMaxim commented on #528
@kvasukib I know and I did it before (just hardcode the path).
On my device the problem is that when an CONNECTIVITY_ACTION event occurs the network is not ready yet and throws Unable to resolve host "s3.eu-central-1.amazonaws.com" exception. It would be better to run the procedure not immediately, but after a couple of seconds.
Another problem is that Android 8+ disallow start service from backgr

[2018-10-22 09:17] Julia-Ts commented on #548
@kvasukib You mean key of the file that is trying to be uploaded?
Here, e.g.: 014bceee-b94a-4407-8eb6-8fed5eafc9eb/38500779-2736-4119-8864-9d1d867385b1
where 014bceee-b94a-4407-8eb6-8fed5eafc9eb is a user identityId, and 38500779-2736-4119-8864-9d1d867385b1 is just a random UUID

[2018-10-22 11:01] bsrikanth88 commented on #548
Thanks for the Support. the issue has been resolved  by changing the version.

[2018-10-22 15:22] navpreet10101991 commented on #472
void getCognitoSession() {
       CognitoUser user = CognitoAuth.getUserPool().getCurrentUser();
        AuthenticationHandler authenticationHandler = new AuthenticationHandler() {
            @Override
            public void onSuccess(CognitoUserSession userSession, CognitoDevice newDevice) {
                CognitoAuth.setCurrentSession(userSession);
               successAutoLogin();

[2018-10-22 16:54] muellerfr commented on #548
Great to hear @bsrikanth88. Please crate another issue if you need more help.

[2018-10-22 17:00] kvasukib commented on #548
@Julia-Ts @bsrikanth88 It should be a regression in 2.7.4. We are looking into fixing it. Thank you!

[2018-10-22 17:10] #461 closed

[2018-10-22 17:54] Huolju commented on #526
@kvasukib Actually, in a putObject the key is still encoded in AmazonS3Client.resolveRequestEndpoint and in HttpUtils.appendUri so the problem is still there.

![image](https://user-images.githubusercontent.com/2774525/47309093-6ba67480-d5e8-11e8-9166-557946783824.png)

[2018-10-22 18:10] #423 closed

[2018-10-22 18:25] Huolju opened #552 "S3 keys are encoded 2 times in putObject requests"
**Describe the bug**

When using the SDK URLEncoder.encode is called 2 times

**To Reproduce**
Steps to reproduce the behavior:
1. Call a put object request with an object such as abc@123.xml
2. The object is uploaded as abc%40123.xml

**Which AWS service(s) are affected?**

S3

**Expected behavior**

The object should be uploaded as abc@123.xml

**Environment(please complete the following informa

[2018-10-22 18:27] #552 closed

[2018-10-22 18:29] Huolju commented on #552
duplicated from https://github.com/aws/aws-sdk-android/issues/526

[2018-10-22 18:37] kvasukib commented on #526
@Huolju Sorry for the inconvenience caused. We are looking into fixing it. Currently the SDK uses the URLEncoder to encode the URL with the key name in it and un-encodes (escapes) certain characters. What is the key you are trying to upload?

[2018-10-22 19:02] Huolju commented on #526
@kvasukib Hi thanks for the quick answer, workgroup/538920374@edit.symbol.

[2018-10-23 07:35] snasrudeen opened #553 "Fatal Exception: java.lang.NoClassDefFoundError in PinpointManager"
**Bug**
Fatal Exception: java.lang.NoClassDefFoundError
Failed resolution of: Lorg/apache/commons/logging/LogFactory;

[code]

**Affecting**
LogFactory in PinpointManager

**Environment**
 minSdkVersion 17
compileSdkVersion 28
targetSdkVersion 28
supportLibrary version 28.0.0

**Device Information**
Device
Brand: Google
Model: Pixel
Orientation: Portrait
RAM free: 2.27 GB
Disk free: 1.4 GB

**Oper

[2018-10-23 14:38] ppamorim opened #554 "Could not find version 2.7.6."
**State your question**
The version 2.7.6 is not published on Maven and I cannot use it. When it gonna be fixed?
Thanks.

**Which AWS Services are you utilizing?**
Core and S3

**Environment(please complete the following information):**
 - SDK Version: 2.7.6 (Not available on Maven Repository)

[2018-10-23 17:00] kvasukib commented on #554
@ppamorim The maven release is in progress. It should be available soon. I will let you know when the artifacts are available on maven repository.

[2018-10-23 17:03] kvasukib commented on #553
@snasrudeen What version of SDK are you using? This issue has been fixed in `2.6.30`. Please upgrade to `2.6.30` or later.

[2018-10-23 17:43] kvasukib commented on #554
@ppamorim The maven release is complete. I performed a gradle sync with `2.7.6` version and I am able to pull it now. Apologies for the inconvenience caused in the meantime. Please let me know if you face any issues in getting it.

[2018-10-23 18:51] tlubz commented on #547
@muellerfr Thanks for getting back to me.

We are trying to use Secrets Manager from the android client to allow for remote credential loading/rotation. These credentials are not particularly "secret", but they may change, and we were thinking that Secrets Manager would fit the bill for loading them remotely and allowing for credential rotation.

However it appears that the Android SDK doesn't sup

[2018-10-23 19:00] kvasukib commented on #545
@depak330 This was a regression introduced in 2.7.4 and we reverted the changes introduced in 2.7.4. Can you upgrade to 2.7.6 and check if it fixes the issue?

[2018-10-23 19:00] kvasukib commented on #548
@Julia-Ts @bsrikanth88 This was a regression introduced in 2.7.4 and we reverted the changes introduced in 2.7.4. Can you upgrade to 2.7.6 and check if it fixes the issue?

[2018-10-23 19:00] desokroshan commented on #550
@BillBunting This issue has been fixed in the latest release ```2.7.6```. Can you please update to the latest version and confirm if the keyboard is displayed appropriately?

[2018-10-23 19:02] minbi commented on #374
Hi @akki1997 @kopevgale @Nthalk @danleahy @iamdeadman @pacifire @ringonotts ,

Please see if SDK release 2.7.6 fixes this issue for you. We have added the following enhancements:
- Preserve sign-up form fields when sign-up validation fails so that end-users can correct and try again.
- Automatically sign-in user after actions such as sign-up or forgot password.

You may see all changes in the [cha

[2018-10-23 19:04] minbi commented on #460
Hi @anje89 @BillBunting ,

Please see if SDK release 2.7.6 fixes this issue for you. We have added the following enhancements:
- Preserve sign-up form fields when sign-up validation fails so that end-users can correct and try again.
- Automatically sign-in user after actions such as sign-up or forgot password.

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/

[2018-10-23 19:05] minbi commented on #550
Hi @anje89 @BillBunting ,

Please see if SDK release 2.7.6 fixes this issue for you. We have added the following enhancements:
- UI activities will show keyboard by default when requesting input from the end-user.

You may see all changes in the [changelog](https://github.com/aws/aws-sdk-android/blob/master/CHANGELOG.md#release-276)

[2018-10-23 20:00] takn opened #555 "Error in multi-part upload when uploading a file to S3"
I am getting a failed to connect to cognito-identity error when trying to put an object in a public S3 bucket.
Right now I would like to anonymously put objects into a public bucket.
I have setup a cognito user pool which allows for unauthed roles.
The S3 bucket is public.

**Which AWS Services are you utilizing?**
S3

**Provide code snippets (if applicable)**
This is how i'm setting up my client:

[2018-10-23 20:30] kvasukib commented on #555
@takn Sorry for the inconvenience caused. I see that you are using 2.7.+ version of the SDK. We made changes to the TransferService starting 2.7 version of the SDK where you need to start the transfer service from your app manually.

Questions:
1) Did they network go offline when the transfer is in progress?

[2018-10-23 23:30] muellerfr commented on #547
@tlubz Have you looked at using [AWS KMS](https://aws.amazon.com/kms/)? Also, if the credentials not secret, can you store them in S3?

[2018-10-23 23:38] minbi commented on #472
Hi @ramdeep16 ,

We're working on a comprehensive solution to Auth with Cognito in our SDK that should handle this use case. If you'd like to be part of the testing in the next couple weeks please email richthr_AT_amazon.com (replace the AT with @).

------

The code as-is would not refresh the tokens if the *refresh token* has expired. If you are storing a reference to the `CognitoUserSession` ob

[2018-10-24 03:52] BillBunting commented on #550
@minbi Thank you very much!  Tested briefly and I see the keyboard now.

[2018-10-24 03:55] BillBunting commented on #460
@minbi Thank you very much! This has been a significant issue for us. I really appreciate the improvements.

[2018-10-24 07:12] snasrudeen commented on #553
I was using 2.6.27. Now its working fine with 2.7.6. Thanks for the support.

[2018-10-24 07:12] #553 closed

[2018-10-24 10:02] ppamorim commented on #554
@kvasukib Thank you, it's working now.

[2018-10-24 10:02] #554 closed

[2018-10-24 15:36] tlubz commented on #547
@muellerfr

Totally, they seem like viable options in general, and we have considered them. S3 may be the next best choice for us after secrets manager, short term. However this would be the only place in our system where we used kms or s3 to store api access credentials. We have been trying to converge on a single credential storage/rotation solution, and were hoping we could use secrets manager

[2018-10-24 15:48] takn commented on #555
Thanks for the quick response. I'll give that a try

[2018-10-24 16:03] muellerfr commented on #460
Great to hear @anje89, sounds like the improvements are working for you. If the the fix did not work for you, please comment on the issue, or if you need additional help, please open a new issue.

[2018-10-24 16:47] takn commented on #555
Thanks that worked. But now i'm running into a different problem that's kind of unrelated.
When I attempt to put a file into the bucket i get the error below because the file gets written to very often (it's kind of like a log file)
Would you have any advice on how i could 'stream' a file up to the bucket?
The basic use case is to write a set of log files to S3.

[code]

[2018-10-24 18:58] muellerfr commented on #547
Hi @tlubz,

There is no security reason. I will take this as a feature request to the team. i will update this issue thread when I know more.

[2018-10-25 16:39] #332 closed

[2018-10-25 16:50] NightOwlCoder opened #556 "AmazonClientException crashes app on bad network"
Hey there,
using com.amazonaws:aws-android-sdk-iot:2.7.6 to connect to my service, is crashing my app.

Full stack is below, but basically I see that this call:

https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java#L720

running in an anonymous thread will not catch AmazonClientException.

Off course, no matt

[2018-10-25 18:46] kvasukib commented on #556
@NightOwlCoder Sorry for the inconvenience caused. Can you check if the emulator when you were running your app/tests switched from one network to the other? I have encountered this issue when my emulator switches from one network to the other. If I restart the emulator and connect to the new network again, the app/tests work fine.

If I understand correctly, you are invoking `connect` method in t

[2018-10-25 18:52] kvasukib commented on #555
@takn Sorry for the delayed response. The AWS Android SDK for S3 does not support streaming content to your S3 bucket. However, you can use Kinesis Streams to stream content to your bucket.
See https://docs.aws.amazon.com/streams/latest/dev/amazon-kinesis-streams.html to learn about Kinesis Streams.

You can take a look at our SDK for Kinesis: https://github.com/aws/aws-sdk-android/blob/master/aws

[2018-10-25 19:14] #517 closed

[2018-10-25 21:56] ashwindevendran commented on #491
Hi @andrey-kaiser

Thanks for providing the request ID (obtained from here: "readProfile onFailure: User does not exist. (Service: AmazonCognitoIdentityProvider; Status Code: 400; Error Code: UserNotFoundException; Request ID: 1ad1629f-7f93-11e8-8739-17803fb06cd7)").

In order to better investigate can you provide a timestamp (UTC is fine) of when that request was made as well as the region for yo

[2018-10-25 23:36] NightOwlCoder commented on #556
Hey @kvasukib , yes I do have a callback which is never called.

The code you pointed to
`catch (final MqttException e) {`

catches `MqttException`, and what I'm seeing on the crash log is `AmazonClientException`, isn't that the reason?

[2018-10-25 23:48] kvasukib commented on #556
Got it. AmazonClientException is a runtime exception. The SDK throws this exception when the SDK cannot handle an error scenario at runtime. You can catch this exception in your app and take corresponding action. Nonetheless, we will add more error handling mechanisms in the AWSIotMqttManager.

[2018-10-26 02:48] randhika commented on #390
so, how to solve to get refresh token? still manually? store password inside app?

[2018-10-26 16:38] muellerfr commented on #470
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:38] #470 closed

[2018-10-26 16:39] muellerfr commented on #239
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:39] #239 closed

[2018-10-26 16:41] muellerfr commented on #535
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:41] #535 closed

[2018-10-26 16:41] muellerfr commented on #537
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:41] #537 closed

[2018-10-26 16:42] muellerfr commented on #416
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:42] #416 closed

[2018-10-26 16:43] muellerfr commented on #293
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:43] #293 closed

[2018-10-26 23:05] NightOwlCoder commented on #556
I can't catch that, as it is under a thread you guys create.

[2018-10-27 13:28] andrey-kaiser commented on #491
@minbi , hello!
Thats it, simply calling signOut() before deleting account fixes my issue.
Thank you for assistance!

[2018-10-27 13:28] #491 closed

[2018-10-27 16:58] depak330 commented on #545
@kvasukib thank you for reply i will check tomorrow.

[2018-10-28 16:11] #551 closed

[2018-10-29 09:02] parnekov opened #559 "AccessDeniedException rekognition.model"
**Hello. I want to compare two photos. When I connected to AWS I try to connect to AmazonRekognitionClient:**

CompareFacesResult result = new AmazonRekognitionClient(credentialsProvider).compareFaces(request);

But have this error:

**Caused by: com.amazonaws.services.rekognition.model.AccessDeniedException: User: arn:aws:sts::475877890857:assumed-role/wsirstpp-20181028230251-unauthRole/CognitoId

[2018-10-29 17:08] kvasukib commented on #556
@NightOwlCoder Apologies for the confusion. We will address this by catching the AmazonClientException and invoking the StatusCallback passed into the connect method.

[2018-10-29 17:52] takn commented on #555
Thank you. Feel free to close this now. no further questions.

[2018-10-29 18:19] kvasukib commented on #559
@parnekov Sorry for the inconvenience caused. Have you attached the policy to compareFaces from rekognition (rekognition:compareFaces) to the UnAuth role (and/or Auth role) of your Cognito identity pool? See https://docs.aws.amazon.com/rekognition/latest/dg/using-identity-based-policies.html for details.

[2018-10-29 18:38] #555 closed

[2018-10-29 18:48] kvasukib commented on #553
@snasrudeen Can you tell us how did you land up in using the `2.6.27` version? We updated our sample apps and documentation to use `2.7.+`, so we are wondering if we missed updating any of our docs to onboard with `2.7.+`?

[2018-10-29 23:20] kvasukib commented on #528
@FilenkovMaxim Sorry for the delayed reply. The delay in the network being ready could be tied to the specific device you are running your app. So I suggest you can create your own service by looking at the TransferService where you can investigate the issue related to the delay.

For the background limitations, you can use the pause/resume methods provided in TransferUtility. You need to query th

[2018-10-30 12:19] arunkk-git commented on #549
_Sorry for delay in reply._
I don't  have any requirement to put KEYSTORE file as part of the APK,
Then how to  read key

_from Code :_
 ****// To load cert/key from keystore on filesystem**
        **try {
            if (AWSIotKeystoreHelper.isKeystorePresent(KEYSTORE_PATH, KEYSTORE_NAME)) {}****

[2018-10-30 16:08] parnekov commented on #559
THIS IS WORK! Thank you very much!!!. Need to create a rule in Cognito identity pool, after edit rule and paste necessary policy.

[2018-10-30 17:19] muellerfr commented on #559
@parnekov I'm closing this issue, because it looks like this issue has been fully resolved. Let us know if you need anything else.

[2018-10-30 17:19] #559 closed

[2018-10-30 20:19] fabiopimentel opened #560 "Javadoc for Amazon Kinesis"
Hey there,

i'm looking for com.amazonaws.services.kinesis.AmazonKinesisClient in javadoc but, apparently, there isn't any references about kinesis services [there](https://aws.github.io/aws-sdk-android/docs/reference//).
However for Kinesis Video there is.

Is there another place to see Kinesis reference?

**Which AWS service(s) are affected?**
Amazon Kinesis

[2018-10-30 21:04] fabiopimentel commented on #560
Hello Kvasubik,
thanks for the answer.

KinesisRecorder is not same KinesisClient. The proposals are different.

[2018-10-31 01:06] minbi commented on #374
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-10-31 01:06] #374 closed

[2018-10-31 01:06] #460 closed

[2018-10-31 01:07] #550 closed

[2018-10-31 21:14] SamazonWelch opened #561 "Pinpoint requires undocumented IAM Role Policy to publish events"
**Describe the bug**
Publishing events on Android requires more than just
[code]
It requires
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try submitting a pinpoint event.
2. Check the logs and see errors:

[code]

**Which AWS service(s) are affected?**
Pinpoint Analytics

**Expected behavior**
The documented IAM roles are all that are required.  "*/endpoints/*" should suffice.
http

[2018-11-01 19:37] NightOwlCoder commented on #556
Hey there, any way for me getting an early release to test this?

My app keeps crashing, and I would like to help to get a faster fix.

[2018-11-01 23:18] NightOwlCoder commented on #458
hey there @mananchh, we are experiencing exact the same situation.
we are implementing a fleet of android tablets that will use IoT MQTT for "calling home".

But every one of the devices that has WiFi on looses connection and never reconnects anymore until WiFi is turned off.

Did you found out anything that could help?

[2018-11-02 15:30] DaveCunninghamICT commented on #528
@kvasukib We are seeing a similar problem with files not uploading after being offline and than going online. The AWS iOS libraries had the same issue weeks ago but are now working properly. In issue #517, you commented around Sept 20th about a refactored library and a new call. Are there any other changes we need to know about?

[2018-11-02 15:44] pedrovarela86 commented on #407
this AWSMobileClient causes memory leaks. is there a way to avoid them. thank you.

[2018-11-02 16:54] NightOwlCoder commented on #556
Hey @kvasukib, any feedback on this?

My app keeps crashing and I really need at least  a workaround...

Looks like every time there is a network hiccup it can't survive.

[2018-11-02 18:21] kvasukib commented on #556
@NightOwlCoder Sorry for the delay. I have added exception handling and passing it back to the client status callback. This change will be released in the next revision of the SDK.

[2018-11-02 22:17] kvasukib commented on #528
@DaveCunninghamICT What version of the SDK are you using?

[2018-11-02 22:33] kvasukib commented on #560
@fabiopimentel This issue has been fixed in the release 2.7.7. Now we have the javadoc for KinesisClient.

[2018-11-02 22:41] kvasukib commented on #556
@NightOwlCoder This has been fixed in `2.7.7` version of the SDK. Please upgrade to the latest and let us know if you have any feedback. You can download the SDK from this page: https://aws.amazon.com/mobile/resources/. The maven artifact for `2.7.7` should be available soon.

[2018-11-03 11:08] Janart08 opened #562 "Crash on : ClientConfiguration clientConfig = new ClientConfiguration();"
java.lang.ExceptionInInitializerError
        at com.amazonaws.util.VersionInfoUtils.getUserAgent(VersionInfoUtils.java:77)

[2018-11-04 12:50] Janart08 commented on #562
implementation 'com.amazonaws:aws-android-sdk-s3:2.7.6'
    implementation('com.amazonaws:aws-android-sdk-mobile-client:2.7.+@aar') { transitive = true }
    implementation('com.amazonaws:aws-android-sdk-auth-userpools:2.7.+@aar') { transitive = true }

ya same line

[2018-11-04 23:47] minbi commented on #562
I'm using the following code and can't reproduce. Can you provide the code that shows this error?

[code]

[2018-11-05 08:37] Julia-Ts commented on #548
Yes, it fixed, thank you.

[2018-11-05 16:42] #560 closed

[2018-11-05 21:55] BillBunting opened #564 "com.amazonaws.mobile.auth.ui.SignInUI- Phone Number Formatting Validation Improvement (Country Code)"
**Which AWS Services is the feature request for?**
com.amazonaws.mobile.auth.ui.SignInUI;
i.e.
SignInUI signinUI = (SignInUI) AWSMobileClient.getInstance().getClient(AuthenticatorActivity.this, SignInUI.class);

**Is your feature request related to a problem? Please describe.**
End users are unable to create accounts and subsequently do not use the app or contact support because they are confused

[2018-11-05 22:00] minbi commented on #564
Hi @BillBunting ,

I will take this request to the team to discuss how we might be able to support this functionality.

[2018-11-05 22:38] BillBunting opened #565 "com.amazonaws.mobile.auth.ui.SignInUI - Keyboard remains open after account confirmation code entered"
**Describe the bug**
Using the SignInUI, after the user creates an account, then they enter a confirmation code. The SignInUI will launch a new activity, but does not close the keyboard. The keyboard remains open.

My code:
        AWSMobileClient.getInstance().initialize(this, new AWSStartupHandler() {
            @Override
            public void onComplete(final AWSStartupResult awsStartupResul

[2018-11-06 05:51] mananchh commented on #458
Hey @NightOwlCoder, we haven't got past this.

Although we did find a precise scenario, this is happening with mobile data + WiFi where in the mobile cellular service provider is a specific (Jio - Gujarat, India).

The combination of mobile data + WiFi on android devices works perfectly fine with any cellular service provider except the one mentioned previously.

The tried the same cellular provid

[2018-11-06 13:02] vicpinm opened #566 "Download stops when changing from mobile data to wifi"
**Describe the bug**
I have noticed that when I download a file with mobile data, if while the file is downloading, I enable wifi on the device, the current download stops with the following exception:

    AmazonClientException: Unable to store object contents to disk: Read error: ssl=0x79731e92c0: I/O
    error during system call, Software caused connection abort
    .../System.err:     at
    c

[2018-11-06 13:33] fabiopimentel commented on #560
Thks @kvasukib!

[2018-11-07 03:56] zhouxuemeng1988 commented on #556
I have been having this problem for a year, thank you, and finally solved it.

[2018-11-07 04:55] #412 closed

[2018-11-07 04:55] #542 closed

[2018-11-07 06:33] Janart08 commented on #562
AWSCredentials credentials = new BasicAWSCredentials(accesskey,
secretkey);
        ClientConfiguration clientConfig = *new
ClientConfiguration()*; // this creating
the crash
        AmazonS3 s3Client = new AmazonS3Client(credentials, clientConfig);
        return s3Client;

On Mon, Nov 5, 2018 at 5:17 AM minbi <notifications@github.com> wrote:

[2018-11-07 20:30] minbi commented on #562
Hi @Janart08 ,

I'm not seeing the same issue you are.
If you are using Android Studio, please try `Rebuild Project` and then running. Also, you may delete the `build` folders in the project. Recently, I upgraded to Android Studio 3.2 and found some of my projects stopped building. In that case, I invalidated the Android Studio cache and re-built the project.

Another note, you have the `...mobile

[2018-11-08 02:15] kvasukib commented on #566
@vicpinm Sorry for the inconvenience caused. We made a change in 2.7.0 where TransferService has to be started explicitly in the app. Are you starting this service from your app?

[2018-11-08 02:17] kvasukib commented on #556
Thank you @zhouxuemeng1988 for the feedback. Apologies for our delay in fixing it. Please let us know how your app testing goes and we welcome your feedback.

[2018-11-08 02:32] zhouxuemeng1988 commented on #556
@ kvasukib
I am a developer in China. Our OTT customers are all over the world. When I find that the network speed is not good, or the network is abnormal, there will be frequent bugs.

`TIME=1514965079000
FINGERPRINT=HiSTBAndroidV5/Hi3798MV100/Hi3798MV100:4.4.2/Sbox8G40C/817120000073:eng/test-keys
HARDWARE=bigfish
UNKNOWN=unknown
RADIO=HiSTBAndroidV600R001C00SPC065
BOARD=bigfish
versionCode=79
P

[2018-11-08 02:56] kvasukib commented on #556
@zhouxuemeng1988 The issue you raised is different from the original issue. This happens when the network is not reachable. You can add a check for network reachability in your app before making a network call. Can you open a new issue for this and we can discuss there?

[2018-11-08 04:03] zhouxuemeng1988 commented on #556
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "cognito-identity.us-west-2.amazonaws.com": No address associated with hostname at `
This looks like the same bug

[2018-11-08 05:43] snasrudeen commented on #553
No wrong with the documentation. There was some internal miscommunication. Anyway thank you.

[2018-11-08 05:45] muellerfr commented on #553
@snasrudeen, thanks for letting us know.

[2018-11-08 08:47] zhouxuemeng1988 opened #567 "com.amazonaws.AmazonClientException: Unable to execute HTTP request: Read timed out"
*I only initialized aws related services after requesting our own server, so the user's network should be good.
*aws lot mqtt
*sdk version: 2.6.28
**Device Information (please complete the following information):**
 - TIME=1505475948000
FINGERPRINT=DPT/public_talent_3751V500/public_talent_3751V500:4.4.2/BOE/20170915.194347:eng/dev-keys
HARDWARE=hi3751
UNKNOWN=unknown
RADIO=unknown
BOARD=bigfish
ve

[2018-11-08 08:51] zhouxuemeng1988 commented on #567
It case app crash.  I tried to catch this exception, but I couldn't capture it.

[2018-11-08 16:12] BillBunting opened #568 "AuthUI UserPoolSignInView resource names for automated testing"
**Which AWS Services is the feature request for?**
com.amazonaws:aws-android-sdk-auth-userpools:2.7+
com.amazonaws:aws-android-sdk-auth-ui:2.7+

aws-sdk-android/aws-android-sdk-auth-userpools/src/main/java/com/amazonaws/mobile/auth/userpools/UserPoolSignInView.java

**Is your feature request related to a problem? Please describe.**
As a Google Play Console user, I want to know the Android resource

[2018-11-08 16:37] minbi commented on #568
Thanks for bringing this to our attention. I will bring this to the team to prioritize.

[2018-11-08 20:49] minbi commented on #476
@AnthonyUccello Do you need commons logging for your project? If not, then you can let it default to Android logging instead.

[2018-11-08 21:01] AnthonyUccello commented on #476
I spoke too soon, my build server threw this error:

[code]

@minbi Can you clarify how I let it default to Android logging instead? This is failing when I try to mock an object

[2018-11-08 21:10] AnthonyUccello commented on #476
The issue is, in the VersionInfoUtils there are missing libraries:

<img width="589" alt="screen shot 2018-11-08 at 4 09 41 pm" src="https://user-images.githubusercontent.com/3809669/48227610-c5d96080-e370-11e8-83d3-cfa9d8061302.png">

[2018-11-08 22:29] kvasukib commented on #476
@AnthonyUccello Can you upgrade to the latest 2.7.+ and see if it fixes the issue? We fixed this issue in `2.6.30`.

[2018-11-08 22:31] minbi commented on #476
@emumair This is how the code branches the logic [if else](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-core/src/main/java/com/amazonaws/logging/LogFactory.java#L39). Remove that dependency. We only included the option to go to commons logging for those that *need or depend* on functionality provided by commons logging.

[2018-11-09 00:20] NightOwlCoder commented on #458
Hey @kvasukib , any way for to help diagnose this?

My customer just found a second network location that is having the same experience.

I was wondering what would happen if we change to

`MQTT + WebSocket | SigV4 | 443`

as this table says?

![image](https://user-images.githubusercontent.com/13557039/48235283-2ae18600-e372-11e8-9e61-1c5e30ebf2d5.png)

from: https://docs.aws.amazon.com/iot/latest

[2018-11-09 10:05] zhouxuemeng1988 opened #570 "java.lang.ArrayIndexOutOfBoundsException: length=1442; regionStart=-1; regionLength=1443"
[code]

com.amazonaws:aws-android-sdk-iot
 - SDK Version: [e.g. 2.6.28]

**Device Information (please complete the following information):**
SUPPORTED_64_BIT_ABIS=[Ljava.lang.String;@b17e422
versionCode=77
BOARD=xmen
BOOTLOADER=unknown
devicesId=ba2edc61731a394e
TYPE=user
ID=MHC19J
TIME=1528270472000
BRAND=Xiaomi
TAG=Build
SERIAL=14074680091842
HARDWARE=amlogic
SUPPORTED_ABIS=[Ljava.lang.String;@4

[2018-11-09 16:11] sunchunqiang commented on #570
Hi @zhouxuemeng1988
Thanks for reporting the issue.
Does "Occasional problem" mean the issue happen some time?
Which AWS service are you using? Can you provide a code snippet that leaded to the crash?

[2018-11-09 17:12] muellerfr commented on #570
@zhouxuemeng1988, it looks like this crash happens with IoT. Do you have sample code or better yet repo steps?

[2018-11-10 01:11] zhouxuemeng1988 commented on #570
@sunchunqiang @muellerfr
`long currentTime = System.currentTimeMillis() / 1000;
        //距离上次mqtt崩溃时间大于24小时才开启aws-mqtt消息连接
        long awsCrashTime = SharedPreference.get(this).getDate("aws_Crash_long", 0L);
        LogUtils.d("RNAwsIot", awsCrashTime + "");
        LogUtils.d("RNAwsIot", (currentTime - awsCrashTime) + "");

        if (currentTime - awsCrashTime > 24 * 3600) {
            initS

[2018-11-12 19:49] kvasukib commented on #567
@zhouxuemeng1988 Sorry for the delayed response. This issue happens when the network connectivity is poor/lost. You can grab this exception by looking into the callback that you attach to the connect method. The callback will be invoked with `ConnectionLost` status and the throwable object will have the exception that is thrown by the SDK.

[2018-11-12 19:53] kvasukib commented on #570
@zhouxuemeng1988 You are invoking connect from a background thread. The connect accepts the callback where the connection status is reported.
Can you look at your logs to see if the connection was established?
And if the connection is available when the publish/subscribe operation was happening?
Do you think the exception you get is during a publish or a subscribe?

[2018-11-12 20:00] tajchert commented on #556
I'm still having that issue on 2.7.7 SDK.

Crash log:
`com.amazonaws.AmazonClientException: Unable to execute HTTP request: Unable to resolve host "cognito-identity.eu-central-1.amazonaws.com": No address associated with hostname
2018-11-12 20:58:20.798 6233-6281/pl.tajchert.canary W/System.err:     at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:441)
2018-11-12 20:58:20

[2018-11-12 20:13] kvasukib commented on #556
@tajchert Please use #567 for your issue as it is different from #556.

[2018-11-12 21:53] tajchert commented on #556
It doesn't look like #567 as it mentions Read timeout in exception, and mine as well this one ( #556 ) mentions:
`AmazonClientException: Unable to execute HTTP request: Unable to resolve host "cognito-identity.eu-central-1.amazonaws.com": No address associated with hostname` and have same stacktrace.
Which seems like correct fit, or maybe both of them have similar origin (?)

[2018-11-12 22:03] tajchert commented on #567
@kvasukib how I can attach listener for that callback?
I create DynamoDbMapper:
`DynamoDBMapper.builder().dynamoDBClient(ddbClient).build()`
and then for example scan for all objects:
`resultScan = mapper.scan(MyObject.class, new DynamoDBScanExpression());`
And this line throws `AmazonClientException` that I cannot catch as it is on the other thread so it crashes my app.

My stacktrace:

`com.amaz

[2018-11-12 22:40] tajchert commented on #567
@kvasukib
Probably my mistake. Due to some earlier work (2 years old project, earlier with 2.6.6) I had:

[code]
Sadly I don't remember the reason behind exluding commons-io. But with it not excluded it works fine - error is catched correctly.
So it seems to be working fine, sorry for creating a bit of chaos. I will report if app will crash but seems so far fine.

[2018-11-12 22:47] kvasukib commented on #567
@tajchert Thank you for the confirmation. Regardless, the SDK should be catching the exception and throwing it back to the application when the network call is made on the background thread. We will look into it. Can you post a sample code snippet right from where you create the credentials provider till the scan call is made? (Exclude the AWS configuration/sensitive information).

[2018-11-13 09:56] Ovadia-B opened #573 "How to get file from S3 for an SDK"
I am developing an SDK and I need some remote storage, without creating a API server.

Currently I am using BasicAWSCredentials with static Access & Secret Key, but when an app that uses the SDK uploads to the Google Play console, there is an Security warning.

I wanted to know if there is way to use S3 without the static keys to avoid the security vulnerability.

[2018-11-13 11:14] kyletough commented on #562
I have run into the same crash. It has occurred on my Pixel2XL and an emulator with both running Android 9.0 and it crashes on load with the initialisation of `ClientConfiguration clientConfig = new ClientConfiguration();` in the instantiation of the Cognito UserPool

I was running `2.6.25` but have now updated to `2.8.1` with it still occurring. The line shown above is the same place it is occurr

[2018-11-13 11:45] kyletough commented on #562
I have dug a little deeper within the stack trace and the bottom half refers to Apache Logging.

[code]

[2018-11-13 13:46] RolandOne opened #574 "dbTable getItem"
Hi I'm trying to make a simple adnroid app that works with dynamodb and following through this tutorial: [link](https://aws.amazon.com/blogs/mobile/using-amazon-dynamodb-document-api-with-aws-mobile-sdk-for-android-part-1/)

I have been able to connect with the dbClient and access the table. I can successfully perform the dbTable.putItem and also other methods like dbTable.getTableDescription.

I'

[2018-11-13 16:48] kvasukib commented on #573
@Ovadia-B Thank you for reporting to us. You can use Amazon Cognito Federated Identities by creating an Identity Pool. You can follow the [Authentication](https://aws-amplify.github.io/docs/android/authentication) guide in AWS Amplify to setup an Identity Pool and retrieve the AWSCredentials that are required for accessing S3.

Once you have finished setting up the [Authentication](https://aws-amp

[2018-11-13 17:23] minbi commented on #562
Hi @kyletough ,

I see the problem. Thank you for the detailed logs. We will update this thread when we have a fix.

[2018-11-13 21:10] minbi commented on #260
Hi @guillaume-tgl @bvirlet @keshavkaul @kulik @roshanrajaratnam @markwhitaker @xanscale @akashnigam010 ,

We have launched a new `AWSMobileClient` in v2.8.+ , which will work with Cognito Userpools and allow you to access methods like `isSignedIn()`.

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8.0) and [Documentation](http

[2018-11-13 21:13] minbi commented on #347
Hi @sunilRWC @aneeshjoshi ,

We have launched a new `AWSMobileClient` in v2.8.+ , which will manage the Cognito Identity federation. It will provide callbacks like `SIGNED_OUT_FEDERATED_TOKENS_INVALID` to allow developers to show a sign-in screen or otherwise refresh the token.

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8

[2018-11-13 21:14] minbi commented on #407
Hi @ajhool @NullandKale @mjsachin @pedrovarela86 ,

We have launched a new `AWSMobileClient` in v2.8.+ , which does not require an Activity context.

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8.0) and [Documentation](https://aws-amplify.github.io/docs/android/authentication)

[2018-11-13 21:16] muellerfr commented on #574
Hi @RolandOne,

We highly recommend using [AWS AppSync](https://aws.amazon.com/appsync/) to talk to DynamoDB, because it does a much better job handling online vs offline and providing real-time data. Please have a look at this guide: https://aws-amplify.github.io/docs/android/api and let us know if you can use AppSync instead.

For the specific issue you are seeing, can you post the configuration

[2018-11-13 21:17] minbi commented on #501
Hi @Kumfert ,

We have launched a new `AWSMobileClient` in v2.8.+ , which has the `onError()` callback and the documentation has been updated as well.

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8.0) and [Documentation](https://aws-amplify.github.io/docs/android/authentication)

[2018-11-13 21:18] minbi commented on #472
Hi @Kumfert ,

We have launched a new `AWSMobileClient` in v2.8.+ , which will work with Cognito Userpools and provides methods like `getTokens()` which will automatically attempt to refresh the token then retrieving.

A full details available in the [Release notes](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.8.0) and [Documentation](https://aws-amplify.github.io/docs/an

[2018-11-14 00:17] minbi commented on #562
Hi @Janart08 @kyletough ,

We have released a fix in version 2.8.2 of the SDK. Can you check whether this fixes the issue for you?

[2018-11-14 02:37] zhouxuemeng1988 commented on #567
@kvasukib  I have already handled this throwable callback,but it still crash my app.

`try {

            credentialsProvider = new CognitoCachingCredentialsProvider(
                    WXEnvironment.getApplication().getApplicationContext(),
                    cognito_pool_id,
                    Regions.fromName(region)
            );
            mqttManager = new AWSIotMqttManager(clientId, en

[2018-11-14 04:06] akashnigam010 commented on #260
Thank you.
Great work!
Will be testing soon.

Akash.

On Wed, 14 Nov 2018, 2:40 am minbi, <notifications@github.com> wrote:

[2018-11-14 10:15] kyletough commented on #562
Hi @minbi ,

Thanks for the quick turn around. I have tried the 2.8.2 SDK update and it did fix the issue for me.

[2018-11-14 12:02] RolandOne commented on #574
Hi @muellerfr
I'll take a look at AppSync for future apps. For now I'm trying to create something simple for my personal project and so far the tutorial I linked above seems to be have the least amount of setup.

Here is my table configuration which I copied from the AWS DynamoDB console.
Table name	billnumber
Primary partition key	seq (Number)
Primary sort key	number (Number)
Point-in-time recove

[2018-11-14 12:52] Ovadia-B commented on #573
Thank for your feedback, but Using Cognito require a login using (google, facebook etc.), and I am developing an SDK for other develops and apps.

I can't see how Cognito can help in that case.

[2018-11-14 14:15] kvasukib commented on #567
@zhouxuemeng1988 I have changed your code to look for the exception from the callback.

[code]

[2018-11-14 17:13] muellerfr commented on #450
Hi @ajhool,

Direct send is a feature request for the Pinpoint service. We're taking this to the Pinpoint team, and will report back on this thread if there are any updates.

[2018-11-14 18:42] kvasukib commented on #574
@RolandOne Can you try `new Primitive(1)` where you pass in `1` without the string?

[2018-11-14 18:44] muellerfr commented on #562
Excellent!

[2018-11-14 18:44] #562 closed

[2018-11-14 22:19] muellerfr commented on #249
This issue has been closed because it has not had recent activity. Please open a new issue if you still need help.

[2018-11-14 22:19] #249 closed

[2018-11-15 04:02] zhouxuemeng1988 commented on #567
@kvasukib  Thanks for your response, but I think doing this just prints the error log and doesn't solve the real crash.

[2018-11-15 04:42] NightOwlCoder commented on #556
@kvasukib hey there, is there a way for me to increase log level?

[2018-11-15 05:20] NightOwlCoder commented on #458
Hey there @kvasukib, I'm risking losing the contract here.
Right now, we have 4 different locations, all `WIFI only`, where connection **never** happens.

We have tested everything we could WIFI related, and every other app works fine, we have data and a good speed on all sites.

Is there anything I could do to help investigate this?
Even an alpha version will help me here, I need to show progress

[2018-11-15 07:29] RolandOne commented on #574
@kvasukib  I've tried that. Doesnt work returns same error

[2018-11-15 16:55] kvasukib commented on #458
@NightOwlCoder Can you email me at karthba at amazon dot com? We can jump into a call to investigate the issue further?

[2018-11-15 16:57] kvasukib commented on #567
@zhouxuemeng1988 The issue you're getting is because of a slow/stale connection. You can set `autoReconnect` to true in the `AWSIotMqttManager` where the SDK would be reconnecting when there is connection loss. Or you could check for the exception in the callback and issue a connect again.

[2018-11-15 23:04] CodingInfinite opened #576 "Retry strategy for TransferUtility"
**AmazonS3Client is not using my ClientConfiguartion. I'm uploading some songs to S3 and on slow Internet my songs are not uploded and failed several times. Although in my ClientConfiguration I have 0 maxRetry but don't know why it retries multiple time.**

**I'm using AWS S3 SDK and dependency version is 2.8.+**

**Device Information (please complete the following information):**
 - Infinix S3
 -

[2018-11-16 02:31] zhouxuemeng1988 commented on #567
@kvasukib I did not set the relevant default values. I looked at the AWSlotMqttManager source and found one of the following default values: autoReconnect=true, needResubscribe=trueminReconnectRetryTime=4, maxReconnectRetryTime=64, maxAutoReconnectAttempts=10. The automatic reconnection has been set by default.

[2018-11-16 13:33] andymartinwork opened #577 "Developer authenticated federated logins"
Amplify Auth for Cognito Identity logins using Developer Authentication

With AWS Mobile you used to be able to login to AWS using developer authenticated credentials.
I looked up the enum for federated login and found this:

[code]

I noticed in the javascript repository, there is support for developer logins:

https://github.com/aws-amplify/amplify-js/pull/425/files

Is there any reason why deve

[2018-11-16 18:31] kvasukib commented on #567
@zhouxuemeng1988 Can we setup a call to discuss the issue further? You can email me at karthba at amazon dot com.

[2018-11-16 21:25] virtualprodigy opened #578 "awsconfiguration.json missing from ./src/main/res/raw"
**Describe the bug**
I am currently integrating the AWS Amplify library into my android application. I want to leverage the login / authentication features. I followed the [Amplify docs](https://aws-amplify.github.io/docs/android/authentication) and I ran `amlify init` , `amplify auth add`,  `amplify push`. I got no errors during the setup. The application crashes when i run it because the `inital

[2018-11-16 22:04] muellerfr commented on #578
Hello @virtualprodigy,

there was an error in our documentation that I just fixed with this PR: https://github.com/aws-amplify/docs/pull/204

The awsconfiguration.json file is located in './app/src/main/res/raw'. I just validated the steps myself. Please see if you can find it there and let us know if you have any problems.

[2018-11-16 22:47] virtualprodigy commented on #578
Hey @muellerfr ,
  yeah, that totally helped. I realized I put entered in the path to `res` without the ./`app`. After I ran  `ampligy init` again things started working. Thank you for the rapid support!

[2018-11-16 22:47] #578 closed

[2018-11-16 23:57] minbi commented on #577
Hi @andymartinwork ,

The enum is provided for convenience. The `federatedSignIn(String, String)` api accepts a String, so you may pass in the required value.

[2018-11-17 12:41] CodingInfinite commented on #576
Any update on this issue..?

[2018-11-19 17:33] muellerfr opened #581 "Stream is not displaying correctly on Kinesis Console"
Issue originally opened by @marujeyakumar at https://github.com/awslabs/aws-sdk-android-samples/issues/269

**State your question**

Hi,
I am running the Kinesis Video demo app on a One Plus 6T device. I'm only able to get a few seconds (if not any seconds) of video content displaying on the Kinesis console. When I check the application logs, I see the following exception repeatedly. Anything I ca

[2018-11-19 17:51] kvasukib commented on #576
@CodingInfinite Sorry for the delayed response. What exception were you getting for your upload and how many times was the upload retried? Can you post the exception message and stacktrace?

[2018-11-19 19:36] kvasukib commented on #574
@RolandOne DynamoDB supports two types of primary keys, a Hash Key and a Hash and Range Key. A Hash Key consists of a single attribute that uniquely identifies an item. A Hash and Range Key consists of two attributes that together, uniquely identify an item. In your table, can you find what did you set as the primary key? Is just 'seq' your hash key?

[2018-11-20 10:01] brandonbai opened #582 "Iot endpoint is incorrect when using weksocket connect in China."
**Describe the bug**

When I use the endpoint like "xxxxx.ats.iot.cn-north-1.amazonaws.com.cn", the callback always output status = Reconnecting.

Then I found out the cause of this problem, just like I found this problem([Update AwsIotEndpointUtility.java #580](https://github.com/aws-amplify/aws-sdk-android/pull/580)).

step 1.
[code]
[code]
step 2.
[code]
[code]

So, Why not use endpoints direct

[2018-11-20 12:28] sagardvora opened #583 "Authentication failed due to an internal error for challenge "PASSWORD_VERIFIER""
**Describe the bug**
I am implementing aws cognito user pool using custom auth for multi factor authentication.
I have set the authentication type as CUSTOM_AUTH and custom challenge as SRP_A. which in response gives another challenge as PASSWORD_VERIFIER and the procedure fails.

**To Reproduce**
Steps to reproduce the behavior:
Code for authentication using CUSTOM_AUTH
[code]

which gives callba

[2018-11-20 12:55] rvp-thunderbuild opened #584 "AWSIotMqttManager no longer able to reconnect"
**Describe the bug**
From release 2.8.1 onwards the `AWSIotMqttManager` is no longer able to successfully reconnect after losing it's connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Succesfully connect the `AWSIotMqttManager` with AWS with `autoReconnect` enabled and amount
2. Temporarily break the internet connection (either by disabling the device's WiFi connection or moving ou

[2018-11-20 19:10] minbi commented on #260
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-11-20 19:10] #260 closed

[2018-11-20 19:11] minbi commented on #347
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-11-20 19:11] #347 closed

[2018-11-20 19:11] minbi commented on #407
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-11-20 19:11] #407 closed

[2018-11-20 19:11] minbi commented on #472
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-11-20 19:11] #472 closed

[2018-11-20 19:12] minbi commented on #501
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2018-11-20 19:12] #501 closed

[2018-11-20 19:16] muellerfr opened #585 "Single Device login"
Opened originally by @ali-mehmood-10p at https://github.com/awslabs/aws-sdk-android-samples/issues/270

**State your question**

Is it possible to restrict a single device login, if a user logs in from another device, can we invoke the previously granted access/refresh tokens? If yes, please advise.

**Which AWS Services are you utilizing?**

AWS Cognito

**Provide code snippets (if applicable)**

[2018-11-20 20:40] muellerfr commented on #545
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-21 01:43] minbi commented on #582
Hi @brandonbai ,

We have released a fix in version 2.8.4 of the SDK. Can you check whether this fixes the issue for you?

[2018-11-21 01:48] minbi commented on #540
Hi @gauravk95 ,

We support federated sign-in with Google and Facebook.
If you plan on obtaining the Facebook token in your app, you can use.

[code]

You can read more about in our updated documentation linked [here](https://aws-amplify.github.io/docs/android/authentication#federated-sign-in).

[2018-11-21 01:58] brandonbai commented on #582
The problem has been solved, thank you!

[2018-11-21 02:00] minbi commented on #582
This is great to hear. Closing.

[2018-11-21 02:00] #582 closed

[2018-11-21 02:44] brandonbai commented on #584
I also encountered the same problem, just as @rvp-thunderbuild  described it.

[2018-11-21 03:11] dennisunderwood opened #586 "AuthUI ForceChangePasswordView Form Name Mismatch"
**Describe the bug**
There is a mismatch between two variable names inside of the two associated files:
aws-sdk-android/aws-android-sdk-auth-userpools/src/main/java/com/amazonaws/mobile/auth/userpools/ForceChangePasswordView.java
and
aws-sdk-android/aws-android-sdk-auth-userpools/src/main/res/layout/activity_force_change_password.xml

The following mismatch is present, causing runtime crash:
activ

[2018-11-21 09:56] scdplzop opened #587 "AWSMobileClient signUp action for new users is not allowed when no app client secret is configured userpool"
**State your question**
When sign up a new user to no appclient secret configured userpool,  i get the exception snippets below.

App client secret is allowed in Android sdk, but the
CognitoUserPool(Context context, AWSConfiguration awsConfiguration) constructor read key AppClientSecret will always opt with empty string if AppClientSecret not set in configuration.json.

**Which AWS Services are yo

[2018-11-21 13:34] GiovanniVisentini commented on #556
I have the same exception using the pinpoint service, I'm assuming that if the mobile is offline the event is cached, instead the app crash.
the stack trace is:

`Fatal Exception: java.lang.RuntimeException: Failed to get credentials from Cognito Identity
       at com.amazonaws.mobile.client.AWSMobileClient.getCredentials(AWSMobileClient.java:265)
       at com.amazonaws.services.pinpoint.AmazonP

[2018-11-21 15:48] minbi commented on #556
Hi @GiovanniVisentini ,

Can you open a different issue? You do have a similar stacktrace, but since you are using Pinpoint the fix will be else where in the code. This thread is getting crowded by different code fixes.

Thanks

[2018-11-21 16:14] GiovanniVisentini opened #588 "Offline Pinpoint initialisation crash the app"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Put the mobile offline
2. open the app and initialise the Pinpoint service
3. sometimes the app crash with this log:

[code]

**Which AWS service(s) are affected?**
AWSPinpoint

**Expected behavior**
the app should not crash

**Environment(please complete the following inf

[2018-11-21 16:15] GiovanniVisentini commented on #556
@minbi ok sorry, I open issue #588

[2018-11-22 04:20] depak330 commented on #545
@muellerfr  thanks for reply... actually this scenario i already handle from server side with rename file.

[2018-11-22 10:53] baole opened #589 "Pinpoint's updateEndpointProfile() issue"
**Describe the bug**
pinpointManager?.targetingClient?.updateEndpointProfile() crashes

**To Reproduce**
After creating a Pinpoint manager, I try to update targetingClient and saw a crash log in Android Studio log console

**Which AWS service(s) are affected?**

Pinpoint

**Expected behavior**
No error log

**Environment(please complete the following information):**
 - SDK Version: 2.8.4

**Device

[2018-11-22 10:57] baole commented on #243
I tried to add new field in the remoteMessage payload and Pinpoint shows the icon on status bar as expected

`            val data = mutableMapOf<String, String>()
            data.putAll(remoteMessage.data)
            data.put("pinpoint.notification.icon", "ic_notification_statusbar")

            val notificationDetails = NotificationDetails.builder()
                    .from(remoteMessage.fro

[2018-11-22 11:04] baole commented on #589
It looks like the issue was marked as fix #354, but still happening.

[2018-11-22 21:06] kvasukib commented on #589
@baole Sorry for the inconvenience caused. Can you give a code snippet that reproduces the issue?

[2018-11-22 21:08] kvasukib commented on #243
@baole Can you describe what is the issue? Can you explain what is the expected behavior and the observed behavior?

[2018-11-22 21:10] kvasukib commented on #588
@GiovanniVisentini Sorry for the inconvenience caused. The SDK doesn't check for network connectivity. If the device is offline, AmazonClientException would be thrown. However, you can catch the exception or check for network connectivity from your app.

[2018-11-22 21:16] kvasukib commented on #584
@rvp-thunderbuild @spmvanmierlo Sorry for the inconvenience caused. Can you post a code snippet?

[2018-11-23 09:55] baole commented on #589
I just figure out that creating PinpointManager with different context behave differently

This is my test function:

`
    fun test(context: Context) {
        val callback = object : Callback<UserStateDetails> {
            override fun onError(e: Exception?) {
                e?.printStackTrace()
            }

            override fun onResult(result: UserStateDetails?) {
                val c

[2018-11-23 10:03] baole commented on #243
Our app have dedicated status bar icon and we don't want to show app icon on status bar. The above workaround helps to show our dedicated status bar icon for our app.

[2018-11-23 19:42] kvasukib commented on #589
@baole Are you getting the `BadRequestException` when you pass in application context however you don't get it when you pass the activity context?

I tried passing in the application context and I did not get any exception.

[code]

Can I know from what locale are you trying to send this endpoint update? You can get this from the following log statements.

Log.d(TAG, "ISO3 Country: " + context.get

[2018-11-23 21:34] kvasukib commented on #588
@GiovanniVisentini Sorry for the inconvenience caused.

1) I will take this feedback to the team and I will post on this thread when I have a reply on the offline support that `AWSMobileClient` provides.

2) For the exception thrown from the background thread, we will address the issue by propagating the exception back to the app.

[2018-11-24 06:00] CodingInfinite commented on #576
The application retried three times when the error occurs. Also, one more thing I got during upload when I cancel the upload after that when I start again the uploading it never uploads until I restart my application.

That's how I cancel the upload.

`transferUtility?.cancelAllWithType(TransferType.UPLOAD)`

[2018-11-24 06:17] anggrayudi opened #590 "AWS Auth compatibility for API 22 and lower"
This issue is regarding to #471. It's been 6 month since I asked this feature request. I always open this github page everyday to see something new, but nothing changed. You still have no time to fix this compatibility issue on API 22 and lower. At least, you can make it for API 19. We developers are suffering to wait this feature.

I thought you have a big and great team, but I am wrong. "AWS SDK

[2018-11-24 23:45] kvasukib commented on #576
To cancel the upload, you can do `transferUtility.cancel(transferObserver.getId());`

[2018-11-25 07:58] CodingInfinite commented on #576
Yes, first I do the same what you suggested but canceling the upload with id cancels successfully but never able to upload again until I restart my application.

In my Activity onCreate method, I start the TransferUtilty service.

`startService(Intent(context, TransferService::class.java))`

I have this scenario where I need to upload multiple songs to Amazon S3 and below is my method for upload s

[2018-11-26 10:00] brandonbai commented on #584
This is the main part of the code:

[code]

[2018-11-26 13:08] baole commented on #589
Hi @kvasukib

It's not clear where the "context" that uses to get locale come from. I tried the code in the "MyApplication" class and in an activity class

In MyApplication class, it shows
[code]
In an activity class, it shows
[code]

Here is the code I used for both cases:
[code]

[2018-11-26 18:38] palpatim commented on #590
Thanks for your feedback @anggrayudi. I hear your frustration (as well as that expressed by others on #471. Unfortunately, although this remains in our feature request backlog, I don't have any update on a timeline for delivery.

I will re-open #471 so we can continue to gather community interest in this feature, to help us accurately prioritize it against other work on the SDK. In the meantime, I

[2018-11-26 18:38] #590 closed

[2018-11-26 18:38] palpatim commented on #471
Re-opening this feature request so we can continue to gather community interest in this feature, to help us accurately prioritize it against other work on the SDK.

[2018-11-26 19:49] kvasukib commented on #585
@ali-mehmood-10p Can you provide more details on your issue, version of SDK and a code snippet?

[2018-11-26 20:03] #573 closed

[2018-11-26 22:01] kvasukib commented on #589
@baole The context that is passed through the PinpointConfiguration is stored in PinpointContext object. When trying to get the locale/country information, the SDK does the following:

[code]

[2018-11-27 12:12] mananchh commented on #458
Hey @NightOwlCoder, were you able to get way past this with kvasukib's help?

[2018-11-27 13:38] baole opened #591 "Upload fails with S3 acceleration enabled"
**State your question**
I try to upload files to S3 from our Android app. It works perfectly with S3 acceleration off. However, It fails to upload when S3 acceleration on.

S3 acceleration is already turned on on AWS.

**Which AWS Services are you utilizing?**
S3

**Provide code snippets (if applicable)**
The follow function is used to test with and without acceleration.

[code]

It works fine whe

[2018-11-27 18:02] jeremiasdsa commented on #394
Same Problem

`I/AWSIotMqttManager: metrics collection is enabled, username: ?SDK=Android&Version=2.8.4
I/AWSIotMqttManager: resetting reconnect attempt and retry time
D/com.amazonaws.demo.androidpubsub.PubSubActivity: Status = Connecting
W/AWSIotMqttManager: onFailure: connection failed.
D/com.amazonaws.demo.androidpubsub.PubSubActivity: Status = ConnectionLost
E/com.amazonaws.demo.androidpubsub.

[2018-11-27 19:43] muellerfr commented on #458
Hi @mananchh,

We never received an email from @NightOwlCoder, so we were not able to resolve the issue with him. There can be many different reasons for connection issues, and we are still investigating. Are the logs  errors you are seeing the same as the one posted by @2math?

[2018-11-27 21:34] MushMal commented on #581
@muellerfr thanks for reaching out. Some Android devices use encoders which output the elementary stream in a non-Annex-B format. Here is an article that covers some of the aspects: https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/troubleshooting.html#troubleshooting-producer-android-invalid-annexb

KVS producer error code reference: https://docs.aws.amazon.com/kinesisvideostreams/latest/

[2018-11-28 13:08] CodingInfinite commented on #576
Any feedback on this....?

[2018-11-28 13:30] andymartinwork commented on #577
It turns out federatedSignIn wasn't what I wanted in the end, since that would mean storing the secret in the app.

I managed to dig up the Cognito Sync Sample Demo from an old commit and create a DeveloperAuthenticationProvider.

https://github.com/awslabs/aws-sdk-android-samples/tree/a73f92a5e6a86c711f613ee3cc4cbfe91babe72a/%5BDEPRECATED%5DCognitoSyncDemo/src/com/amazonaws/cognito/sync/demo

In

[2018-11-28 18:37] kvasukib commented on #561
@SamazonWelch As discussed offline, this was a miss in the documentation which the team is working on to update. Hence closing the issue.

[2018-11-28 18:37] #561 closed

[2018-11-28 18:40] kvasukib commented on #450
@ajhool The event based trigger feature has been released: https://aws.amazon.com/blogs/messaging-and-targeting/event-based-campaigns-let-you-automatically-send-messages-to-your-customer-when-they-perform-certain-actions/

Event-based campaigns help you send messages that are timely, personalized, and relevant to your customers, which ultimately increases their trust in your brand and gives them a

[2018-11-28 18:40] #450 closed

[2018-11-28 19:18] drwjf commented on #471
Minimum should be API 21 at least. Please.

[2018-11-28 19:48] muellerfr commented on #566
This issue has been automatically closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-28 19:48] #566 closed

[2018-11-29 00:18] muellerfr commented on #577
Hi @andymartinwork,

Can you elaborate why you think that using federatedSignIn requires storing the secret? Also, can you describe your specific use case? Could User Pools work for your use case, and if not why so?

Thanks,
Frank

[2018-11-29 02:12] kcwinner opened #592 "Amplify Drop-In Auth UI without Cognito Identity Pools"
**State your question**
Is it possible to use the Amplify Drop-In Auth UI without using federated identities? The [IdentityManager](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-auth-core/src/main/java/com/amazonaws/mobile/auth/core/IdentityManager.java#L901) requires the CredentialsProvider -> CognitoIdentity region to determine the region at initialization.

I only w

[2018-11-29 08:06] andymartinwork commented on #577
I want to do this:

<img width="803" alt="screen shot 2018-11-29 at 08 57 12" src="https://user-images.githubusercontent.com/1785253/49207330-e5ced380-f3b4-11e8-8573-07ab037a24e8.png">

https://aws.amazon.com/blogs/mobile/understanding-amazon-cognito-authentication-part-4-enhanced-flow/

My company has an existing user database which we may move into user pools eventually, but are not doing that r

[2018-11-29 15:08] palpatim commented on #592
Hi @kcwinner,

I'll let @minbi chime in with a more educated answer, since my knowledge on this is a bit limited. In the meantime, can you confirm my understanding of your question: you want to use drop-in auth for UserPools authentication, without the requirement of setting up a Cognito Identity Pool as a credentials provider, is that right? Would you be able to set up a Cognito Identity Pool to

[2018-11-29 15:20] kcwinner commented on #592
Hello @palpatim !

You are correct in your understanding. I would like to use it without setting up an identity pool. A simple workflow of using a jwt for access with APIG or AppSync is where I am headed.

I actually do have an identity pool I could use. It would be easy enough to create a throw away pool and role with no permissions. Just extra overhead and resources if they aren't really useful.

[2018-11-30 16:22] YoanGJ commented on #583
I got the same error when I try to sign in a user with `cognitoUser.getSessionInBackground(authenticationHandler)`

I saw that this problem was encounter when we try to sign in a user just after verifying him but it's not my case, I closed the app after the verification via signup.

[2018-12-02 20:58] #570 closed

[2018-12-03 05:57] muellerfr commented on #540
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-12-03 05:57] #540 closed

[2018-12-03 06:01] muellerfr commented on #567
@zhouxuemeng1988, we have not heard from you. Please reach out to @kvasukib via email so we can setup a call to diagnose the issue.

[2018-12-03 14:42] Daxito commented on #526
Also facing the same issue here, I hope there is a fix soon

[2018-12-03 18:57] rafagan opened #596 "Search class seems weird in DynamoDB (aws-android-sdk-ddb-document)"
The class Search, in package com.amazonaws.mobileconnectors.dynamodbv2.document has some issues in usage:

1- It seams that it doesn't setting the ScanIndexForward appropriately with **withIsBackwardSearch**. So it never returns sorted descending, only ascending.
2- The **getCount** always returns -1
3- There isn't any way to know that the **getNextQueryResultSet** reached the end
4- The content s

[2018-12-03 19:58] #585 closed

[2018-12-04 00:38] rohandubal commented on #596
Hello @rafagan

Thanks for the feedback. `aws-android-sdk-ddb-document` is not actively maintained and I recommend you use `AWS AppSync` for these use-cases. I will take these issues to our product team for discussion.

Thanks,
Rohan

[2018-12-04 01:04] rafagan commented on #596
Sorry, but I dont know what is AWS AppSync. Where is this lib?

I already solved 1 of the problems in the class. If you wish I can send here or as a pool request.

[2018-12-04 10:36] mvievardassystem opened #597 "S3 Download fail special chars"
**Describe the bug**

I use the SDK like :
        TransferObserver transferObserver = transferUtility.download(
                GlobalVariables.getInstance().bucket,
                name,
                file
        );
        transferObserver.setTransferListener(new MyEvent());

I have a issu with a file like "+ et é_resize.png"

It works with a file like : "1 et 1_resize.png"

There is a bug i

[2018-12-04 12:16] ejmsk opened #598 "Encrypt CognitoIdentityProviderCache data"
Currently the SDK stores information using android shared preferences without any type of encryption. Stored data includes: username, client id, access token, id token, refresh token, etc.
The class that manages this information doesn’t provide any option to encrypt the stored data or to avoid persisting it in the shared preferences.
This seems a big security concern for the android platform. I be

[2018-12-04 15:46] rafagan commented on #596
I did some corrections, enabling to stop the search loop in `getNextQueryResultSet` and working with ScanIndexForward appropriately.

The problems with getCount and weird list sizes persists.

[code]

[2018-12-04 15:54] lucasmpaim commented on #596
+1

[2018-12-04 18:34] rafagan opened #599 "How to make UpdateItem work in com.amazonaws:aws-android-sdk-ddb-document:2.8.4"
My update code isn't working. It seems that is related to `updateChangedAttributes` variable in Table class.
My code (kotlin):

[code]

[2018-12-04 19:18] rafagan commented on #599
I removed the line bellow and it start working. If you know why this is happening, please tell me.

[code]

[2018-12-04 19:18] lucasmpaim commented on #599
+1

[2018-12-05 20:06] logo17 opened #600 "attachPrincipalPolicy deprecated"
**attachPrincipalPolicy method is deprecated, documentation says that we should use attachPolicy, however AttachPolicyRequest does not have setPrincipal method to associate arn certificate.**

**Do you have an alternative code example?**

**com.amazonaws:aws-android-sdk-iot:2.8.4**

[2018-12-05 20:43] minbi commented on #586
Hi @dennisunderwood ,

Thanks for pointing out the issue. We are looking at it and aiming to resolve this in a future release.

[2018-12-05 20:44] minbi commented on #587
Hi @scdplzop  ,

Thanks for pointing out the issue. We are looking at it and aiming to resolve this in a future release with pull request #593

[2018-12-05 20:44] minbi commented on #592
Hi @kcwinner ,

We are taking this as a feature request and will look into prioritizing this issue.