[2022-05-09 06:41] shiv71 opened #2892 "Getting non-fatal errors in Firebase crashlytics"
**Describe the bug**
 Getting non-fatal errors in Firebase crashlytics in our play store app.

**Which AWS service(s) are affected?**

 implementation('com.amazonaws:aws-android-sdk-mobile-client:2.20.+@aar') { transitive = true }
 implementation 'com.amazonaws:aws-android-sdk-s3:2.20.+'

**Expected behaviour**
Why they are coming and what is the solution for that non-fatal error. Are they crashin

[2022-05-10 18:38] harshikanu commented on #578
I am facing this issue. My awsconfiguration.json file is in app/src/main/res/raw/awsconfiguration.json but when I run the app, it still shows the same error.
![image](https://user-images.githubusercontent.com/50932623/167699009-6aa66658-6eb4-4042-9b33-f234ab55bfd7.png)

[2022-05-10 18:45] poojamat commented on #578
@harshikanu Sorry to hear that you are experiencing a problem with amplify. Could you please verify which amplify library are you using?

[2022-05-11 03:54] harshikanu commented on #578
@poojamat Thanks for responding back. I am using 8.1.0 version.

[2022-05-11 15:58] poojamat commented on #578
@harshikanu this repo is for amplify libraries. Could you please post your problem [here](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-android/issues).

[2022-05-12 15:18] BillBunting commented on #564
Grooming old issues: For the app I work on, I removed the ability for users to create new username/password accounts via AWS Cognito com.amazonaws.mobile.auth.ui.SignInUI due to this and related issues with the UX. Grooming my issues, closing. (New users of my app are only be offered Facebook or Google sign-in, existing Cognito userpool users may sign-in with their existing username/password.

[2022-05-12 15:18] #564 closed

[2022-05-12 15:25] BillBunting commented on #2370
Grooming my open issues: I removed the ability for new users of my app to create username/password accounts due to a few unresolved AWS UX experience issues (I received support requests/negative reviews from frustrated users dealing with the sign-up experience). Existing users may still sign-in with username/password, but all new users will sign-up with Facebook or Google.

[2022-05-12 15:25] #2370 closed

[2022-05-12 22:13] div5yesh commented on #631
Closing due to inactivity. Please reopen another issue if you are still facing the issue with the latest version of the SDK.

[2022-05-12 22:13] #631 closed

[2022-05-12 22:22] div5yesh commented on #636
You can try using `AmazonHttpClient` for making signed requests, if that fits your usecase.

Closing due to inactivity. Please reopen another issue if you are still facing the issue with the latest version of the SDK.

[2022-05-12 22:22] #636 closed

[2022-05-12 22:32] div5yesh commented on #715
Closing due to inactivity. Please reopen another issue if you are still facing the issue with the latest version of the SDK.

[2022-05-12 22:32] #715 closed

[2022-05-12 22:44] div5yesh commented on #1529
Ideally you would have to release the lock with `releaseSignInWait` when you do silent signIn or show login screen to call `signIn` which will internally release the lock. Since the credentials are expired (and auto refresh is not possible due to expired refresh token), the only way forward is to signIn again.

Closing due to inactivity. Please reopen another issue if you are still facing the issu

[2022-05-12 22:44] #1529 closed

[2022-05-13 13:55] sktimalsina commented on #2840
For anyone looking at this issue, we had an offline communication over a week ago and had shared the sample app with snippets in thread [shared in github](https://github.com/sktimalsina/EmptyApplication). I observed that aws-sdk occupies around 70KB based while building this apps release version.

@arunj-kp were you able to use this with your build config to see if I missed anything?

[2022-05-13 14:28] sktimalsina commented on #2857
@Runxing123 can you clarify more on what you are trying to achieve? AWS IOT SDK provides MQTT and WSS protocols to connect to your AWS IoT (and in turn IoT) devices. Have you looked into [AWS IoT documentation](https://docs.aws.amazon.com/iot/latest/developerguide/what-is-aws-iot.html) on how to get started with setting up IoT infrastructure first?

[2022-05-13 15:32] DomGBuzr opened #2897 "Unexpected Reconnecting state without ConnectionLost state when using MQTT messaging"
**Describe the bug**
We are experiencing an issue with using MQTT messaging within our Android app and facing unexpected disconnects and was hoping for guidance on how to fix this issue.

We are using the AWSIotMqttManager (of package com.amazonaws.mobileconnectors.iot) in order to create a connection for the user. Our implementation is to transport live audio packets as 1000 bytes through MQTT me

[2022-05-13 15:46] eeatonaws commented on #2875
@Kikimora thank you for clarifying. In the case you describe, it is possible that the same topic is subscribed to twice (`mqttClient.subscribe(...)` is called twice for the same topic). When `mqttClient.subscribe(...)` is called, the MQTT Client removes the previous subscription to that topic (if any) before subscribing to the topic.

[2022-05-13 15:56] LouieMiddleHawkeye commented on #476
@jarve Did you manage to fix this? I keep getting this trying to start a DynamoDBClient and I'm really stumped as to why.

[2022-05-13 18:29] sdhuka commented on #1232
@hackaprende @gwicks56 @chandusam2002

I am not able to repro this issue with v2.44.0. I tried with [this file](http://www.sbeams.org/sample_data/Proteomics/yeast_orfs.new.20040422.gz) and kms encryption enabled. Could you please retry with latest version and update here.

[code]

[2022-05-13 18:52] sdhuka commented on #1382
Each instance of transferUtillity will have seperate threadpool so upload using separate instance will run in parallel.

[2022-05-13 19:08] sdhuka commented on #2864
@arunj-kp can you please provide more details on the issue where the transfer work is not paused correctly? Trying to understand whether we still need this issue open or can we close since we have another issue open for feature request.

[2022-05-13 19:32] div5yesh commented on #1665
Closing due to inactivity. Please open another issue if you are having any issues with the latest version of the SDK.

[2022-05-13 19:32] #1665 closed

[2022-05-13 20:27] eeatonaws commented on #2781
To use Amazon Transcribe in the AWS SDK for Android, you will need to [setup authentication](https://docs.amplify.aws/sdk/auth/getting-started/q/platform/android/) and add the following dependency to your app’s build.gradle: `implementation 'com.amazonaws:aws-android-sdk-transcribe:<aws-sdk-version-here>’`. [AmazonTranscribeClient](https://github.com/aws-amplify/aws-sdk-android/blob/main/aws-andro

[2022-05-16 06:09] Runxing123 commented on #2857
@sktimalsina

Thanks for your replies.

Our current project is using "com.amazonaws:aws-android-sdk-iot:2.16.1"
"com.amazonaws:aws-android-sdk-mobile-client:2.12.2" is used to complete the connection of mqtt, and the function is also normal.

Now our motherboard has an integrated TPM chip, the chip model link is this [https://devices.amazonaws.com/detail/a3G0L00000AAOCcUAP/ATECC608a-CryptoAuthenti

[2022-05-16 07:49] MishalJariwala commented on #2601
@sdhuka @eeatonaws Please look into this issue if possible as soon as possible.

[2022-05-16 11:27] jarve commented on #476
No, but I found go program called rclone to use.

[2022-05-16 19:16] eeatonaws commented on #2878
Closing due to inactivity. Please create a new issue if you have additional questions.

[2022-05-16 19:16] #2878 closed

[2022-05-16 21:25] eeatonaws commented on #2892
The exception you’re observing can be due to the device losing network connection. Please check that the device has a network connection. Also, to avoid potential app crashes due to this error, you can place the code causing the exception in a try/catch block, where you catch `AmazonClientException` and in the catch block, check if the device has a network connection.

[2022-05-17 16:35] #1382 closed

[2022-05-17 16:36] #2864 closed

[2022-05-18 12:39] Papashkin opened #2904 "Social SignOut failed due to time out"
**Describe the bug**
I'm using **AWS Mobile Client** for social sign-In/Sign-Up and SignOut.
I have several _Google_ accounts for tests and found that for some devices after **signOut()** I see that a user state was changed from SIGNED_IN to SIGNED_OUT (after that using the Google sign-In option in the app I will see a list of available accounts)
But for some reason on some devices I received an `

[2022-05-18 21:22] sdhuka commented on #2269
Duplicate of #2601

[2022-05-18 21:22] #2269 closed

[2022-05-19 04:54] MishalJariwala commented on #2601
Thank you for the fix!

[2022-05-19 04:54] #2601 closed

[2022-05-19 12:41] sdhuka commented on #2807
@girishacme I am not able to repro. Could you please share more details?

1) Android OS Version?
2) AWS Android SDK Version?
3) Any sample app/code demonstrating the issue?

[2022-05-19 14:08] sdhuka commented on #2203
@vivekgabadiya You could add stopWithTask = true in your service declaration in the manifest.

`android:stopWithTask="true"`

[2022-05-19 19:23] #1232 closed

[2022-05-20 14:23] eeatonaws commented on #2875
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-05-20 14:23] #2875 closed

[2022-05-20 14:25] eeatonaws commented on #2781
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-05-20 14:25] #2781 closed

[2022-05-20 14:27] eeatonaws commented on #2840
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-05-20 14:27] #2840 closed

[2022-05-20 19:04] div5yesh commented on #785
Please use custom HttpClients if you want to set proxy settings.

Closing this issue as workaround exists and the issue has been inactive for some time. Please create a new issue if you have additional questions.

[2022-05-20 19:04] #785 closed

[2022-05-20 19:39] div5yesh commented on #1746
The logout url is missing the required query params which is the reason in HAR its response is 400. This shouldn't happen if the logout url was not overridden either in code or in config.

Regarding SAML metadata, since the SP does not have enough information about IdP endpoints and attribute mappings, please use the metadata provided by the IdP instead of generating one manually.

@janmiderback T

[2022-05-20 19:40] div5yesh commented on #1746
Closing this issue since the original question was answered and this issue has been inactive for some time. Please create a new issue if you have additional questions.

[2022-05-20 19:40] #1746 closed

[2022-05-23 14:08] eeatonaws commented on #2892
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-05-23 14:08] #2892 closed

[2022-05-27 16:19] sktimalsina commented on #2857
@Runxing123
This particular SDK is just a client application for Android and talks to the IoT endpoint as [in here](https://docs.aws.amazon.com/iot/latest/developerguide/connect-to-iot.html). And hence from SDK point of view, there supposedly should not be any difference.

I would suggest to actually give it a try and see if you run into any issues and then either reopen this issue or create a new

[2022-05-27 16:19] #2857 closed

[2022-05-27 17:11] sktimalsina commented on #2741
@hoangnam9194 I sorry that you are still facing the issue.
I tried combinations of Pixel 4a, 4 and 5 emulator on API 30 and 31 and Galaxy S21 physical device. But was unable to reproduce the issue.
Could you please provide some additional info to help me dissect the issue faster.
1. Code snippet of code block that is causing to throw the error with sensitive information redacted. I am particularly

[2022-05-27 17:15] sktimalsina commented on #2852
Closing this due to inactivity. If you are still facing the issue, please feel free to reopen with the additional info requested.

[2022-05-27 17:15] #2852 closed

[2022-05-27 20:27] eeatonaws commented on #1747
`AWSMobileClient.getInstance().getUserAttributes()` calls the Cognito GetUser API, which requires an access token. The `aws.cognito.signin.user.admin` scope grants access to Cognito APIs requiring access tokens, including GetUser (please see [Cognito documentation](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-idp-settings.html)). The `email`, `openid`, and `prof

[2022-05-27 21:20] eeatonaws commented on #2203
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-05-27 21:20] #2203 closed

[2022-05-27 21:52] eeatonaws commented on #2567
Closing this issue as it is a duplicate of #1145. Please see issue #1145 for any updates.

[2022-05-27 21:52] #2567 closed

[2022-05-27 22:08] div5yesh commented on #2904
On a successful signout, cognito tries to redirect back to the app to continue with local sigout on the device. The exception you are seeing is due to hostedUI not being able to redirect back to the app. This may be due to incorrect OAuth configuration. Please refer our documentation for [social sign-in](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/android/).

[2022-05-30 04:34] Papashkin commented on #2904
@div5yesh hello!
Thank you for the answer.
AFAIK previously the callbacks should be like this:
[code]
in the configuration JSON file.
In the documentation you shared with me I found that the redirect URL should be like that:
`<user_pool_domain>/oauth2/idpresponse`
Does this `user_pool_domain` mean the `WebDomain` from the configuration file? Or it should be something else?

[2022-06-07 14:20] #1747 closed

[2022-06-08 05:32] RandomEngy commented on #1747
This did the trick, thank you!

[2022-06-09 14:17] tylerjroach opened #2927 "ADM Push notifications not being surfaced"
**Describe the bug**
ADM pushes are not being received. Upon inspection, the push is getting to the device, but failing to be pushed to the notification drawer.

ADM message are configured with a target class of PinpointNotificationReceiver. However, ADM PendingIntent's are configured with a `getService` call instead of a `getBroadcast` call. The ADM push flow is also missing a call to set the not

[2022-06-09 19:38] eeatonaws opened #2929 "JavaDocs no longer published as of 2.18.x."
After the change to use Gradle Maven publishing plugin (as of 2.18.0), JavaDocs are no longer being published.

This situation is also true of the Amplify Android project, which uses a very similar publishing script.

https://github.com/aws-amplify/amplify-android/issues/651

This is ___not___ true of the AppSync SDK, though.

https://repo1.maven.org/maven2/com/amazonaws/aws-android-sdk-appsync-gr

[2022-06-09 19:39] eeatonaws commented on #2114
Duplicate of #2929

[2022-06-09 19:39] #2114 closed

[2022-06-09 20:08] tylerjroach commented on #2326
@changxu0306 Are you initializing `PinpointManager` in an Activity, such as MainActivity?

If the application is closed, the BroadcastReceiver (future release will be an Activity) is getting the notification bundle, but it is unable to properly route because `notificationClient` will be null at this time.  This is because the Activity class that has `PinpointManager` initialization has not been cr

[2022-06-10 14:26] eeatonaws commented on #2540
Closing this issue due to inactivity. Please create a new issue if you have additional questions.

[2022-06-10 14:26] #2540 closed

[2022-06-10 17:51] sktimalsina commented on #2741
Closing this due to inactivity. Please feel free to reopen if the issue still persists with the requested and any additional info you think will be relevant.

[2022-06-10 17:51] #2741 closed

[2022-06-10 17:53] sdhuka commented on #2807
Closing due to inactivity, please open a new issue if issue persists in the latest SDK.

[2022-06-10 17:53] #2807 closed

[2022-06-10 17:57] sktimalsina commented on #2273
Closing issue due to inactivity in related PR.
Please +1 or reopen this issue with relevant information if you are still facing the issue.

[2022-06-10 17:57] #2273 closed

[2022-06-10 20:30] #1333 closed

[2022-06-13 19:08] tylerjroach commented on #2762
This issue has been resolved and is live in v2.48.0.

[2022-06-13 19:08] #2762 closed

[2022-06-14 07:05] Papashkin commented on #2904
Any updates?

[2022-06-14 16:37] #2927 closed

[2022-06-16 04:30] Papashkin commented on #2904
@div5yesh The one thing I don't understand, in the documentation you shared with me the Amplify library is used. However, in my code, I'm using AWS SDK for Android:
[code]
Does it mean that I have to add Amplify libraries as well?

[2022-06-16 13:17] sdhuka commented on #1865
duplicate #2601

[2022-06-16 13:17] #1865 closed

[2022-06-16 13:17] skyler1grey commented on #1865
您的邮件已收悉，谢谢！

[2022-06-16 13:39] sdhuka commented on #2236
@aleksnied thanks for the suggestions. We have addressed this concerns in the [dev-preview](https://github.com/aws-amplify/amplify-android/tree/dev-preview/aws-storage-s3/src/main/java/com/amplifyframework/storage/s3/transfer/worker) of [Amplify 2.0](https://github.com/aws-amplify/amplify-android/tree/dev-preview). I recommend you to either try Amplify 2.0 or open a PR with the fix here if you hav

[2022-06-16 13:39] #2236 closed

[2022-06-16 14:21] tylerjroach commented on #2326
Documentation has been updated to recommend configuring from Application class instead of Activity.

[2022-06-16 14:21] #2326 closed

[2022-06-17 17:15] eeatonaws commented on #2897
Thank you for reporting this issue. I am unable to reproduce the issue with the latest version of the AWS SDK for Android. Please try updating to the latest version of the AWS SDK for Android. If the error still occurs with the latest version of the AWS SDK for Android, could you please provide the following information:

1. In the `publishStopListen` method, does `mqttManager.publishString(...)`

[2022-06-17 17:49] gpanshu commented on #2478
Hi, that is quite a broad question. I would recommend reading our docs to understand what we have in our different categories and what suites your situation. You will likely also need Auth and datastore other than Kinesis. I would recommend taking a look at it [here](https://docs.amplify.aws/lib/auth/getting-started/q/platform/android)

[2022-06-17 17:49] #2478 closed

[2022-06-17 17:51] gpanshu commented on #2904
@Papashkin is there a reason you are using AWSMobileClient vs the Amplify library ?

[2022-06-20 21:37] eeatonaws commented on #2374
When the device time is out of sync by more than a certain threshold (a few minutes or so), the request to connect to AWS IoT will fail since the signed URL used to connect to AWS IoT will have a time that doesn’t match the time AWS has. You can account for device clock skew by setting the time offset before connecting to AWS IoT (calling `AWSIotMqttManager.connect(…)`):
[code]
where `offsetInSeco

[2022-06-21 19:41] eeatonaws commented on #2025
Thank you for reporting this issue. I'm not observing the issue with the latest version of the AWS SDK for Android. 2.13.7 is a fairly old version of the AWS SDK for Android. Please try upgrading to the latest version of the AWS SDK for Android and see if that resolves your issue.

[2022-06-23 13:58] Inshaki commented on #1434
Any updates here?

[2022-06-23 14:17] gpanshu commented on #2904
Can you try signout with `.globalSignOut(true)`

[2022-06-23 14:24] gpanshu commented on #1974
@AlexGianq can you make the app so that when its backgrounded it does not get killed. If the app is killed you should restart the forgot password flow with requesting a new code.
Also the flow you are describing is different than the OP's question where the admin is doing a pwd reset.
I would suggest if you are still facing issues then to create a new ticket as this ticket is for a different (alth

[2022-06-23 22:31] Inshaki commented on #1771
I have the same issue now. Do you have an idea how this can be fixed?
When I log it with a hosted UI using socials the state is always SIGNED_OUT even though I have the tokens.

[2022-06-24 00:15] div5yesh commented on #523
Another option would be to use HostedUI that launches in a browser custom tab which supports basic UI customizations. Hosted UI provides consistent behavior across different device screen sizes.

Closing this issue due to inactivity. Please create a new issue if you need further assistance.

[2022-06-24 00:15] #523 closed

[2022-06-24 15:15] gpanshu commented on #2904
Hi @Inshaki I am going to setup a test app to test this feature out and report back. Please stand by.

[2022-06-24 15:19] sktimalsina commented on #1791
@Zeliret Apologies for getting back to you this late. Considering many things, changed in course of time, I wanted to check if you are still facing this issue.

[2022-06-24 15:25] sktimalsina commented on #1791
Understandable :) and thank you for prompt comment!
Closing this issue for now. Anyone interested or affected by this issue, please feel free to reopen this ticket or link this to the new one if needed.

[2022-06-24 15:25] #1791 closed

[2022-06-24 16:35] sdhuka commented on #1267
@clowestab Could you please elaborate further on what do you mean by _"the specified user ID is not persisted across app restarts."_? Are you not able to associate userId to the endpoint?

[2022-06-24 21:50] sktimalsina commented on #2319
@jprofit Apologies for getting back to you this late.
The given stack trace can occur when the app is trying to fetch the token from Cognito. And, if somehow the host or IP used for connecting cannot be resolved, maybe because of DNS latency etc, the error is thrown in HttpClient implementation level. All of these is done in a separate thread as you can see.
Interestingly, I found catch block for

[2022-06-24 21:55] eeatonaws commented on #2287
When `AWSIotMqttManager.connect(…)` is called, a try/catch block is executed where the connection status callback provided to `AWSIotMqttManager.connect(…)` is invoked, followed by calling `connect(…)` on the MQTT client. When the code in the try block fails, it goes into a catch block for `MqttException` or `Exception`. When the connection status callback fails, the catch block for Exception is e

[2022-06-27 06:56] Papashkin commented on #2904
@gpanshu  yes, we are using **AWSMobileClient** cos it's possible to invalidate tokens after signOut to keep the possibility of use another account in the same social provider. If I'm not mistaken, Amplify doesn't allow it yet.

[2022-06-27 15:43] eeatonaws commented on #2374
Closing due to inactivity. Please create a new issue if you have additional questions.

[2022-06-27 15:43] #2374 closed

[2022-06-27 16:49] mecoFarid commented on #271
@karthiksaligrama Why did you just close the ticket without giving any reference to the docs saying this is expected behaviour and how it should be resolved? The settings OP has posted implies we will get connection error or some kind of state change to `failure` but app gets stuck at this forever. Closing the question without a valid argument makes no sense. Just saying iOS and Android has differ

[2022-06-28 05:15] banji180 commented on #2842
After following the steps above, I can see the updated change in the config used by the HostedUI.

[2022-06-29 01:28] rhamnett commented on #2816
I'm seeing this issue too. I want to use normal cognito idp pool not federated

[2022-07-05 07:09] Papashkin commented on #2904
Any update?

[2022-07-05 10:07] mohitmohanwork commented on #1215
Any update on the resolution? Why do we need Identity Provider for Sign In; the Sign Configuration works for my Web App(React)- without Identity

[2022-07-05 14:23] eeatonaws commented on #2287
Closing due to inactivity. Please create a new issue if you have additional questions.

[2022-07-05 14:23] #2287 closed

[2022-07-05 14:26] eeatonaws commented on #2025
Closing due to inactivity. Please create a new issue if the issue persists.

[2022-07-07 14:54] #1267 closed

[2022-07-07 15:43] AbhishekArrk opened #2943 "AWS initialize with initialize(final Context context, final AWSConfiguration awsConfig, final Callback<UserStateDetails> callback)"
**Issue when updating Android AWS Mobile Client from 2.14.2 ver to 2.49.0**

[code]

Trying to initialize
[code]

How to add execute() which is deprecated in above initialization previously specified as below.

[code]

Can i add in onResult

createAwsSessionComponent(environment, configuration)
        doAfter.run()

Like below

[code]

**Which AWS service(s) are affected?**
Not able to initialize

[2022-07-07 15:43] cmunaro commented on #2816
I'm having the same issue using an idp pool not federated

[2022-07-08 07:48] yakubpashask commented on #394
You saved my day buddy thanks a ton!!!

[2022-07-08 07:53] yakubpashask commented on #394
You saved my day @Aqsathemes thanks a ton!!!

[2022-07-08 13:14] cmunaro commented on #2816
@rhamnett I'm experiencing it in Kotlin (Android) after invoking
[code]

[2022-07-08 17:17] eeatonaws commented on #2416
Thank you for reporting this issue. The error `javax.net.ssl.SSLException: Read error: ssl=0xdb1776d8: I/O error during system call, Connection reset by peer` can be caused by the device losing network connection. Please check if the device is connected to the Internet. Also, I’m unable to reproduce the issue with the latest version of the AWS SDK for Android. Please try updating to the latest ver

[2022-07-08 18:48] eeatonaws commented on #2943
With the latest version of the AWS SDK for Android, you can initialize AWSMobileClient with an AWSConfiguration object you create using the code below (similar to calling `initializeBuilder.awsConfiguration(configuration)` and then `initializeBuilder.execute()`):
[code]
The onResult callback of AWSMobileClient.initialize(…) will be called once AWSMobileClient is initialized. The AWSKeyValueStore e

[2022-07-08 22:43] div5yesh commented on #2816
`signInWithSocialWebUI` assumes that you have an identity pool configured. You can override this disabling the federation using `HostedUIOptions`.

[code]

Note: The API naming is incorrect.

[2022-07-09 17:15] AbhishekArrk commented on #2943
I am getting this error while i have implemented as stated

[code]

Can you let me know what went wrong

**I have debugged and found that i am going through error block**

[code]

[2022-07-12 08:18] cmunaro commented on #2816
@div5yesh how should I use `signInUIOptions`? The `options` parameter of ` Amplify.Auth.signInWithSocialWebUI` is of type `AuthWebUISignInOptions`, trying to copy `signInQueryParameters` from one to the other doesn't work.

If I should stop using Amplify.Auth to be able to configure this, I prefer to let the sdk doing the failing requests in the background ignoring the failing result in logcat.

[2022-07-12 10:00] girishacme opened #2947 "Getting error wrapped.errorStream must not be null while uploading files on s3 bucket"
**Describe the bug**
Getting below exception while uploading assets:
[code]

**To Reproduce**
A code sample or steps:
public class Utils {

    private ConcurrentHashMap<String, TransferUtility> transferUtilityConcurrentHashMap = new ConcurrentHashMap<>();
    private final Context context;
    private final GsonHelper gsonHelper;

    Utils(Context context, GsonHelper gsonHelper) {
        this.c

[2022-07-13 21:25] sdhuka commented on #2947
@girishacme Logs are pointing to failure to refresh cognito token, could you please make sure your cognito setup is working as expected.

If yes, then please share your code for SessionModel and also post clear steps to repro this.

[2022-07-14 07:40] AbhishekArrk commented on #2943
Any update on this issue ? not able to implement above changes.

[2022-07-14 10:01] Papashkin commented on #2904
Any news?

[2022-07-14 10:52] girishacme commented on #2947
@sdhuka
After receiving aws token from the server, on success token fetch:

  public void onTokenFetch(boolean isSuccessFull, AWSToken awsToken, int errorCode) {
        if (isSuccessFull) {
            SessionModel sessionModel = new CustomReplicationSession();
            sessionModel.setDeveloperProviderName(awsToken.getDeveloperProviderName());
            sessionModel.setIdentityId(awsToken.g

[2022-07-14 11:55] hackmajoris commented on #684
Found this: https://aws.amazon.com/blogs/security/use-amazon-cognito-to-add-claims-to-an-identity-token-for-fine-grained-authorization/ Is pretty new.

[2022-07-14 16:06] sdhuka commented on #2813
@kcj30906 I am not able to repro the issue on Android 11.

Could you please provide more details on how to repro this issue?

[2022-07-14 17:38] jsmpereira commented on #684
That is an article about adding claims to the `id_token`. That functionality has been available for quite some time. The missing functionality, and the context of this issue, is adding claims to the `access_token`. :)

[2022-07-15 07:49] cmunaro commented on #2816
Wow you were super fast! 🥇
Thanks @div5yesh! 💚

[2022-07-15 08:50] Papashkin commented on #2904
@gpanshu do you need more information about environment?
For example `AndroidManifest`.

[2022-07-15 14:07] eeatonaws commented on #2416
Closing due to inactivity. Please create a new issue if the issue persists.

[2022-07-15 14:07] #2416 closed

[2022-07-15 14:34] #2319 closed

[2022-07-15 15:13] AbhishekArrk commented on #2943
Hi that is for reference i have provided but in foreground also not able to do so in latest version in previous version i.e., 2.14.2 i was able to do so but after upgrading screen is stuck on splash screen where the below method runs

    ` private fun createAwsSessionComponent(environment: ApiEnvironment, configuration: AWSConfiguration) {
        val userPool = CognitoUserPool(this, configuratio

[2022-07-15 15:53] eeatonaws commented on #2943
When initializing AWSMobileClient in the foreground, do you still observe the same initialization error as you previously shared (`Can't create handler inside thread...`) or is the onResult callback of AWSMobileClient.getInstance().initialize(...) being triggered and `createAwsSessionComponent(...)` is then called in the onResult callback?

[2022-07-15 16:06] sktimalsina commented on #2802
Closing this as it is no longer relevant as per notes.

[2022-07-15 16:06] #2802 closed

[2022-07-15 18:00] sktimalsina commented on #2710
@hassanctech please take a look at this issue.

[2022-07-15 18:43] gpanshu commented on #2904
Hello @Papashkin I just finished setting up my environment and giving this use case a try following the exact steps from the Amplify documentation.
Here are my observations:
- I was able to setup Social sign in with Facebook successfully and was able to login through hostedUI
- I was able to logout (onResult: SIGNED_OUT)
- I was able to sign in again without hard signing in again since the browser

[2022-07-15 18:43] #2904 closed

[2022-07-16 01:51] AbhishekArrk commented on #2943
Yes in onResult callback of AWSMobileClient.getInstance().initialize(...) being triggered and createAwsSessionComponent(...) is then called in the onResult callback

### Previously it was like in ver 2.14.2 createAwsSessionComponent(...) was called on **initialize** so i updated initialize code with the new pattern and added these lines in **onResult** which was just like it was earlier.

    `fun

[2022-07-16 19:06] Papashkin commented on #2904
@gpanshu thanks for the participation in that issue.
Seems that my set-up was incorrect. Could you please provide me a link to a documentation when I can set the app in the same way as you did?

[2022-07-18 05:31] Papashkin commented on #2904
@gpanshu Could you please explain one thing?
How do I have to set the intents in hosted UI activity?
Right now it looks like this:
[code]
But it seems signout callback doesn't work properly: I've got the timeout issue.
I also tried to add a redirect to an Activity when the user signs in or signs out (I mean intent-filter), but it works only if I have both ways in the `AndroidManifest` (which is no

[2022-07-18 06:21] Papashkin commented on #2904
@gpanshu Also I found the reason why it works in odd way. Seems that if you have a single instance of an activity, where you handle the Cognito's callbaks:
[code]
that will mess with a timeout issue.

[2022-07-18 12:20] KdB13 commented on #175
I'm having the same problem using **KInesis Video Streams**. When I sign in for the first time, it works. However, when I reopen my app I get this `NotAuthorizedException`. I've also rechecked my **Pool ID** in the `awsconfiguration.json`.

I followed the official docs for the [Android Producer Library](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-sdk-android.html) and create

[2022-07-18 13:53] gpanshu commented on #2904
Here is the [link](https://docs.amplify.aws/lib/auth/social_signin_web_ui/q/platform/android/) to the documentation using the AWS Mobile Client. Although I would recommend giving Amplify Android plugin a try instead.

Please note we generally do not respond on closed issues. If your query is resolved leave this closed. If you are facing a different issue please feel free to open a new ticket. If y

[2022-07-18 22:53] eeatonaws commented on #2943
You may need to call `createAwsSessionComponent(environment, configuration)` and `doAfter.run()` in a different thread. Please try the following code for initializing AWSMobileClient, which will run the contents of the onResult on the UI thread:
[code]

[2022-07-20 05:54] AbhishekArrk commented on #2943
**Hi i have implemented above code and the below error is observed remaining errors were solved**

    E/AWSKeyValueStore: Error in retrieving the decryption key used to decrypt the data from the persistent store. Returning null for the requested dataKey = eu-west-XXXXXXXXXXXXXXX.expirationDate
    E/AWSKeyValueStore: com.amazonaws.internal.keyvaluestore.KeyNotFoundException: Error occurred while

[2022-07-20 11:03] girishacme commented on #2947
@tylerjroach Any update on this?

[2022-07-21 17:52] #2813 closed

[2022-07-22 09:36] kassim commented on #184
Is support for a custom okhttp client possible still? I can't seem to find an entry point for providing it?

At the moment I just wish to add the logging interceptor for debugging but I can foresee needing to add further interceptors in the future.

[2022-07-22 14:47] eeatonaws commented on #2674
Closing this issue due to inactivity. Please create a new issue with the requested information if the issue persists.

[2022-07-22 15:02] eeatonaws commented on #2943
The AWSKeyValueStore errors you are observing are only logged, but should not cause the app to crash or effect the sign in process. Are you now able to successfully sign in within the app? Also, it might be helpful to take a look at [this documentation](https://docs.amplify.aws/sdk/auth/working-with-api/q/platform/android/) for AWS SDK for Android on sign up and sign in.

[2022-07-22 18:21] emanduprat-chwy commented on #1642
It happened to me when I tried to launch hostedUI before calling AWSMobileClient.getInstance().initialize, hope this helps you.

[2022-07-22 21:14] tylerjroach commented on #2947
Referencing this previous issue as it is related: https://github.com/aws-amplify/aws-sdk-android/issues/2807

This looks similar to the previous ticket that went unresolved. It appears that the issue could be a bug in Android Studio's Network inspector. The stacktrace posted shows:
[code]

TrackedHttpURLConnection does not exist in the SDK, and is injected by Android Studio's network profiler. Are

[2022-07-23 01:10] div5yesh commented on #2816
@cmunaro, fyi, if you are not using Identity Pool, you will not be able to fetch AWS credentials to access other AWS resources. To understand your use case clearly, can you explain how are you planning to use only user pool?

[2022-07-23 01:52] AbhishekArrk commented on #2943
Key not found errors are on server level or app level. In 2.14.2 version i am not getting these errors once i upgrade i got them.

Yes it's not crashing but not able to login i am thinking that these errors are stopping the further flow. Also i have seen through blogs that the code which i am currently using is 2.14.2 compatible and for version 2.49.0 should i change sign-in/sign-up flow or the sa

[2022-07-25 05:41] nicholasphair opened #2955 "isSignedIn behavior seems wrong"
**Describe the bug**
`isSignedIn()` returns `true` when a user is signed out.

**To Reproduce**
Call [isSignedIn][1] with a UserState of `SIGNED_OUT_USER_POOLS_TOKENS_INVALID`.

I came across this after doing a sign-out on a user in the cognito console and observing the `isSignedIn` call is still returning `true`.

**Which AWS service(s) are affected?**
The [Amplify Flutter Cognito libs][2] delega

[2022-07-25 12:16] girishacme commented on #2947
No, many times, I faced this issue when I am not debugging the app,
Right now, I don't have any logs for that specific case, but I am sure I faced this issue when I was not debugging the app.

[2022-07-25 22:33] eeatonaws commented on #2943
I have observed the key not found errors in a sample app and found that they did not impact the sign up flow. With the latest version of the AWS SDK for Android, the typical sign up flow is 1) initialize AWSMobileClient, 2) sign up, 3) confirm sign up, and 4) sign in. The code for initializing AWSMobileClient is below, where in the `onResult`, you would call `AWSMobileClient.getInstance().signUp(…

[2022-07-26 14:21] gpanshu commented on #2955
Can you paste what you get from fetchAuthSession when the user is signedout from the console rather than signing out from the device explicitly ?
You can also listen to the HUB event that is sent when the session is expired and then logout your user.

[2022-07-26 23:05] nicholasphair commented on #2955
Hi @gpanshu - thanks for your response.

The case where I sign out from the device explicitly seems to work as expected.

It is actually the case where the user was signed-out from the console that I am talking about. Ultimately, It just doesn't quite understand why when a user is in a signed out state (for w/e reason) that the `isSignedIn` method would return `True`.

To be honest, my particular

[2022-07-27 11:20] pramodshri-tgsys commented on #1215
I am seeing this exception as well.

For use cases which uses Cognito for just Sign-in & Sign-up, there is no reason to use Identity pools from the standpoint of applications built using these technologies. If there are any other technical reason to create a dummy identity pool, it would be great to know it.

[2022-07-27 11:32] pramodshri-tgsys commented on #1215
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-scenarios.html

The above link has different scenarios explained. [Backend Scenario](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-scenarios.html#scenario-backend) doesn't need any identity pools. Identity pools are required when client apps need to use AWS services as per the document.

Would like to know why an

[2022-07-29 07:22] cmunaro commented on #2816
@div5yesh I have to pass the id token to my backend, then with some magic (we have different teams I don't handle that part) they give me another token that I have to use to authenticate on other services

[2022-08-01 18:55] abhishek-mobile opened #2963 "Crash due to InternalCallback: Duplicate call to execute code."
**Describe the bug**
When ever I am trying to run below code I am getting crash. till now we have total 3.2k crashes recorded.

**To Reproduce**
* Init AWS SDK before login as per document https://docs.amplify.aws/sdk/auth/getting-started/q/platform/android/#install-dependencies.

[code]

**Which AWS service(s) are affected?**
AWS Authentication
**Expected behavior**
App should not crash

**Screen

[2022-08-02 13:54] gpanshu commented on #2955
Hi @nicholasphair the isSignedIn remains true as this is how it's designed if the user has been signed out without calling the explicit signout as the signout reason could be token expiration. If you check the full response you get from a fetchAuthSession it will tell you that the token has been expired but the user has not been explicitely signed out. The reasoning for that is that you may want t

[2022-08-02 13:54] #2955 closed

[2022-08-03 13:17] KdB13 opened #2964 "KVS: Access to identity is forbidden"
**Describe the bug**
I'm trying to implement Kinesis Video Streams using these [docs](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-sdk-android.html) using the **Android Producer Library**. I've created the **User Pool** and **Cognito Identity Pool** exactly as mentioned in the docs with the defaults. When I install the sample app provided there and login, it works after first

[2022-08-03 14:41] meavydev opened #2965 "Android Cognito Hosted UI - Back Button doesn't cancel login"
We use multiple login methods, so have a screen with AWS login and our legacy login buttons.
The AWS login uses Hosted UI to display the login web page, but if the user tries to cancel the login via the back button (they want legacy rather than AWS), then the login screen has a busy progress and input is blocked.

It appears that in addition to adding the following to the Manifest:
[code]

We stil

[2022-08-04 17:58] tylerjroach commented on #2947
@girishacme Please follow up if you are able to produce a Stacktrace that does not com from `com.android.tools.appinspection`. We should be able to track down the issue if a Stacktrace is provided that is not wrapped with the Network Inspector crash.

[2022-08-05 14:27] eeatonaws commented on #2943
Closing due to inactivity. Please reopen this issue or create a new issue if you have additional questions.

[2022-08-05 14:27] #2943 closed

[2022-08-05 16:51] IhorSerbai opened #2970 "Provide correct ApiClientException.errorType handling"
com.amazonaws:aws-android-sdk-apigateway-core

I cannot detect exception type, when I get ApiClientException. getErrorType() always returns Unknown.

I would like to be able to determine did exception happen due to server error or client error(networking issue)

[2022-08-05 19:57] div5yesh commented on #2816
With further testing, I found out that just having federation disabled is not enough to return the correct signed in result. The parts of [code](https://github.com/aws-amplify/aws-sdk-android/blob/main/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java#L1102) does point out that with federation disabled sign in should end with success in absence of identit

[2022-08-08 19:22] eeatonaws commented on #2963
Thank you for reporting this issue. Where is the code block you shared (for initializing AWSMobileClient and signing in) being run, is it in the `onCreate` of your app's `MainActivity`? From the logs, the issue is occurring when `AWSMobileClient.signIn(...)` is called. Could you share the contents of the `loginAction(request)` function from your code snippet?

[2022-08-08 21:32] eeatonaws commented on #2866
Closing due to inactivity. Please reopen this issue or create a new issue with the requested information.

[2022-08-08 21:32] #2866 closed

[2022-08-09 08:36] amadeu01 opened #2974 "Cannot resolve dependencies after 2.20.x"
**State your question**

When trying to add dependencies like:

[code]
If the `aws_version` is 2.21.0 or any newer than that, it will not build the app because cannot resolve the dependency.
Even though I could find the dependency on the maven repo (https://repo1.maven.org/maven2/com/amazonaws/aws-android-sdk-core/)

I tried to use the maven repo like

[code]
However, even with that maven repo, I

[2022-08-09 09:31] amadeu01 commented on #2974
Found the problem.

there is no version newer to 2.20.0 for  `com.amazonaws:aws-android-sdk-cognito`

[2022-08-09 09:31] amadeu01 commented on #2974
Found here https://repo1.maven.org/maven2/com/amazonaws/aws-android-sdk-cognito/

[2022-08-09 09:37] amadeu01 commented on #2974
The cognito client was removed https://github.com/aws-amplify/aws-sdk-android/pull/2320

[2022-08-09 16:06] eeatonaws commented on #2974
The clients in the aws-android-sdk-cognito package were deprecated in version 2.9.0 and, as you pointed out, the package itself was removed in version 2.21.0. For similar functionality to that in the aws-android-sdk-cognito package, please take a look at [Amplify DataStore](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/android/) or the [AWS AppSync SDK for Android](https://docs

[2022-08-10 18:38] eeatonaws commented on #2964
Closing this issue since it is a duplicate of #2798. Please follow issue #2798 for any updates.

[2022-08-10 18:38] #2964 closed

[2022-08-11 18:01] tjleing commented on #2929
Reopening, fix was unsuccessful.

[2022-08-12 09:56] girishacme commented on #2947
@tylerjroach I will share the logs once this is reproducible without com.android.tools.appinspection

[2022-08-12 14:55] sdhuka commented on #2282
Apologies for very late reply!

Is this issue still happening? If yes, could you please provides with logs for us to investigate further?

[2022-08-12 17:36] sdhuka commented on #2530
@MKelman Could you please confirm whether you are still noticing these crashes?

Could you please also confirm that you are not using multiple instances of PinpointManager in your app? Because that might cause multiple instances of PinpointDatabaseHelper trying to access the database at the same time, resulting in this crash.

[2022-08-12 18:02] MKelman commented on #2530
@sdhuka looks like it is no longer an issue :)

[2022-08-12 18:02] #2530 closed

[2022-08-12 23:02] sktimalsina commented on #2970
@IhorSerbai Could you please provide more details on your usecase such as what SDK version you are using, and the code snippets on how you are using the APIGateway and where you are capturing the error so that I can answer specific question to your case.

But, since I don't have visibility to your code, take below example:

[code]

you can extract the client server error method from :
1. response

[2022-08-15 21:42] amadeu01 commented on #2974
Thanks !

[2022-08-15 21:42] #2974 closed

[2022-08-18 16:39] sdhuka commented on #2282
Closing due to inactivity, please reach out if issue still persists.

[2022-08-18 16:39] #2282 closed

[2022-08-18 18:23] gpanshu commented on #2539
HI @meavydev can you advise if this is still an issue. If it is can you advise exactly the steps you took to reproduce this?

[2022-08-19 05:38] vinod2126 commented on #1392
Error AWSKeyValueStore  -->  com.amazonaws.internal.keyvaluestore.KeyNotFoundException  Error occurred while accessing AndroidKeyStore to retrieve the key for keyAlias: com.amazonaws.android.auth.aesKeyStoreAlias

error in android automation pipeline ...using device farm

[2022-08-19 13:43] tylerjroach commented on #1392
@vinod2126 It looks like the customer was able to resolve the original issue and it was solved by simply restarting the device/computer. If you are still experiencing this isuse, can you open a new issue providing information on the Amplify version, device info, and if it is happening on all your devices running in Device Farm, or just a single device?

[2022-08-19 16:06] sktimalsina commented on #2970
Closing this issue assuming above description was helpful. If you are still facing the issue, please let us know with the additional info requested.

[2022-08-19 16:06] #2970 closed

[2022-08-19 18:38] sktimalsina commented on #2965
@meavydev
I am not able to replicate this busy hanging behavior yet and need your help on finding out more about this issue.
Could you please share the code snippet of how you are launching the hosted UI with sensitive information redacted.

This is what I've tried in both physical device and emulator:
1. create an activity with input text and a button to launch hosted UI
2. validate that I am abl

[2022-08-19 20:37] meavydev commented on #2539
Hard to say as we coded around the problem and it was... a year ago!

[2022-08-19 20:44] meavydev commented on #2965
You will have to wait for more detail until I am back at work next week.
However:
What are you setting the minimum / target  / compile SDK to? We are using 26 / 33 / 33.

We can't use Amplify... as you still don't support Kinesis and your S3 file transfer support is... poor.

The documentation was here (from memory) as we are using 2.50 above 2.27 https://docs.amplify.aws/sdk/auth/hosted-ui/q/plat

[2022-08-22 09:12] zhaojb9 opened #2989 "How to get the usernameInternal"
I wan't to get usernameInternal for my project.Anybody know how to do.
[code]

[2022-08-22 11:01] hdworld11 commented on #2965
Hi @meavydev sorry to hear that you haven't had a good experience with the S3 file transfer support. I would love to hear more about what didn't work for you so we can work towards improving this experience!

[2022-08-22 12:28] meavydev commented on #2965
As far as S3 file uploads go.
Amplify insists on inserting its own path into the file based on user.
We also couldn't find any way of setting a CannedAccessControlList.BucketOwnerFullControl which meant the uploaded files couldn't be accessed...

[2022-08-22 13:26] tylerjroach commented on #2989
@zhaojb9 usernameInternal is privately scoped and is not intended to be accessible. Is there a use case that requires you to access this variable?

[2022-08-22 14:55] sdhuka commented on #2965
@meavydev You can use the custom prefix resolver to override default file path.
Please follow this guide https://docs.amplify.aws/lib/storage/configureaccess/q/platform/android/#customization

[2022-08-22 17:54] gpanshu commented on #2539
If you remember what the workaround was or can dig it, please feel free to comment it out here to help others.

[2022-08-22 17:54] #2539 closed

[2022-08-23 04:18] zhaojb9 commented on #2989
The username of the ios version is parsed from the accesstoken, so it is the real userId. Our project needs the same userID as the ios, but the content returned by the android version is the loginID

[2022-08-23 08:32] mssitagaki commented on #2798
I too have encountered this problem.
I traced the cause to a device with a ToF camera.
This is because getSupportedResolutionsForYUV420_888 in CameraHardwareCapabilitiesHelper and getOutputSizes for ToF camera cannot be obtained.
For terminals with multiple cameras, there may be other cameras available, so the cameraUtils getSupportedCameraConfigurations cameraConfigurations.add(getSupportedCamera

[2022-08-23 09:05] KdB13 commented on #2798
@mssitagaki In my case, the app is crashing due to Cognito Identity Authorization Error. See the error in issue:

[2022-08-23 16:04] YawarOsman opened #2990 "AuthException{message=Sign-in with web UI failed, cause=java.lang.Exception: showSignIn called without HostedUI options in awsconfiguration.json, recoverySuggestion=See attached exception for more details}"
**Describe the bug**
I am trying to LogIn with Google to my app in `Flutter` but it show this error:
[code]

**To Reproduce**
A code sample:
[code]

**Expected behavior**
I expect to see google login page but this error is showed up.

I have used AWS Amplify LogIn with email and password before and it works without any error, i don't know what is wrong now.

**Environment Information (please compl

[2022-08-23 16:52] #2842 closed

[2022-08-24 14:41] sktimalsina commented on #2990
Have you setup your auth configuration to use hosted UI using aws cli as outlined here:
https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/flutter/#configure-auth-category

[2022-08-26 08:28] mssitagaki commented on #2798
@KdB13 My apologies. I misread the error.
By the way, I am also experiencing the Cognito Identity Authorization Error and would like to see a bug fix.

[2022-08-26 14:45] eeatonaws commented on #2963
Closing due to inactivity. Please create a new issue or reopen this issue with the requested information if the issue persists.

[2022-08-26 14:45] #2963 closed

[2022-08-26 14:48] eeatonaws commented on #2335
Thank you for reporting this issue. Are you still experiencing the issue with the latest versions of the AWS SDK for Android and AWS AppSync SDK for Android?

[2022-08-26 18:11] tjleing commented on #2989
@zhaojb9 Sorry, I need more details to understand your exact use case here.  What are using this variable for on iOS, and why do you need the exact same ID on Android?  There may exist a better way to accomplish what you're looking to do.

[2022-08-29 17:09] tjleing commented on #2929
Closed by #2988!

[2022-08-29 17:09] #2929 closed

[2022-08-30 20:19] #2816 closed

[2022-09-01 16:31] sdhuka commented on #2965
@meavydev Closing due to inactivity, please re-open if issue persists.

[2022-09-01 16:31] #2965 closed

[2022-09-01 16:41] tylerjroach commented on #2947
We will re-open and investigate if we receive logs without appinspection.

[2022-09-01 16:41] #2947 closed

[2022-09-01 18:13] banji180 commented on #2308
please let us know if this is still an issue?

[2022-09-08 14:44] nzayatz14 opened #3001 "Null Pointer Exception when Creating a Notification in Pinpoint"
**Describe the bug**

In my Crashes & ANR section of my app in the Google Play Store, I have noticed an uptick in crashes caused by AWS Pinpoint. I began to notice this uptick after updating my packages to version `2.47.0` and they still remain after updating to version `2.51.0`. My current imports are as follows:

[code]

The stacktrace is as follows:

[code]

**Which AWS service(s) are affected?

[2022-09-08 17:43] eeatonaws commented on #2335
Closing due to inactivity. Please create a new issue or reopen this issue if you are still experiencing the issue with the latest versions of the AWS SDK for Android and AWS AppSync SDK for Android.

[2022-09-08 17:45] tjleing commented on #2989
Closing due to inactivity. Please create a new issue or reopen this issue if you have more details.

[2022-09-08 17:45] #2989 closed

[2022-09-08 18:03] liviu-timar commented on #2335
Hello,

The issue is still there, why did you close the issue? With the latest
versions.

On Thu, 8 Sep 2022 at 20:43 Erica Eaton ***@***.***> wrote:

[2022-09-08 18:06] eeatonaws commented on #2335
Thank you for letting us know. I will reopen the issue.

[2022-09-12 22:10] tjleing commented on #3001
Thanks for reaching out, @nzayatz14!  It seems like this may happen when the library is unable to construct a notification channel -- you may want to look for Logcat messages involving that term.  We will work on making this more bulletproof, but this may also indicate an issue with the app/devices that are crashing, for example if your app registers a separate notification channel with the same I

[2022-09-13 11:23] nzayatz14 commented on #3001
Hi @tjleing,

So I am actually creating my notification channels outside of Pinpoint. Does Pinpoint inherently register channels as it receives notifications? I am not calling any Pinpoint code to register channels myself.

[2022-09-13 17:02] tjleing commented on #3001
@nzayatz14 ah yes, Pinpoint creates (or reuses) a notification channel whenever it receives a notification -- it should show up as "Notifications" in the device settings.  Please try using that channel instead (should be no extra effort to create them on your side, just removing the code to create the additional channels) and seeing if the error goes away.

[2022-09-13 19:49] tomekit opened #3003 "S3 HEAD object support"
**Which AWS Services is the feature request for?**
S3

**Is your feature request related to a problem? Please describe.**
I need to get object metadata without reading the actual S3 object data.
That's part of S3 API: https://docs.aws.amazon.com/AmazonS3/latest/API/API_HeadObject.html

**Describe the solution you'd like**
Similarly to:
`GetObjectRequest` class and `getObject` function there could

[2022-09-13 19:51] nzayatz14 commented on #3001
@tjleing that is correct they show in device settings based on which notifications I receive. I needed to create the notification channels by hand in order to specify custom sounds/vibrations/etc per channel. Does the SDK have a way to do this or to disable pinpoints channel creation in order for me to configure the channels how I need them?

Example custom channel creation:
[code]

Thanks for the

[2022-09-13 19:59] div5yesh commented on #1172
JS fix: https://github.com/aws-amplify/amplify-js/pull/2400

[2022-09-13 21:02] tjleing commented on #3001
@nzayatz14 in almost all cases I believe you'd want to create the `NotificationChannel` yourself with a channel ID matching the one that Pinpoint is looking for, `"PINPOINT.NOTIFICATION"`.  Then, instead of creating a brand-new channel for Pinpoint notifications, the library will simply use the one you have created.

In the unlikely event that the Pinpoint `NotificationChannel` is already created

[2022-09-13 21:42] nzayatz14 commented on #3001
@tjleing so as far as I can tell [from the documentation](https://developer.android.com/reference/android/app/NotificationManager#createNotificationChannel(android.app.NotificationChannel)), `createNotificationChannel()` should just update any existing channels if one already exists with the same name. So in theory there shouldn't be any issues of trying to duplicate channels. This is an odd bug t

[2022-09-13 21:43] tjleing commented on #3001
@nzayatz14 yep agreed, the method of just creating the new notification channel with the correct ID should cover all cases.  Please let me know if it works for you!

[2022-09-13 22:49] nzayatz14 commented on #3001
@tjleing that is what I am currently doing, which is why I find it strange that this bug is related to notification channel creation

[2022-09-15 19:41] tjleing commented on #3001
@nzayatz14 I see, it's possible that that isn't the issue then.  I'll look into it more (plus that "making it more bulletproof" that I was talking about above).

[2022-09-15 20:47] nzayatz14 commented on #3001
@tjleing perfect, thank you!

[2022-09-16 10:48] meavydev opened #3006 "AWS SDK Cognito Hosted UI - back button hangs rather than cancelling login"
Re-opening an issue that got auto-closed and still happens with 2.53.0

Don't try and distract with irrelevant comments about Amplify, which doesn't let us set file upload permissions and has no Kinesis support (which is why the last issue got auto closed!).

This is about the Android AWS SDK

We use multiple login methods, so have a screen with AWS login and our legacy login buttons.
The AWS logi

[2022-09-16 11:24] suresh-ramasamy002 commented on #1469
When I tired to send the IdToken to api using below code but  AWSMobileClient.getInstance().getTokens().getIdToken().getTokenString() gives below error when token expires.

     try {
                    headers.put(AUTHORIZATION, Constants.BEARER_TAG + AWSMobileClient.getInstance().getTokens().getIdToken().getTokenString());
                } catch (Exception e) {
                    e.printStack

[2022-09-16 12:01] meavydev commented on #3006
At a guess I would say the problem is that doing a back to cancel the login doesn't trigger the showSignIn onError callback unless we add the onActivityResult code.

[2022-09-16 14:29] eeatonaws commented on #2255
A fix for the issue has been released in version 2.53.0 of the AWS SDK for Android.

[2022-09-16 14:29] #2255 closed

[2022-09-16 18:56] eeatonaws commented on #2335
Hi @liviu-timar. It’s possible that `firebaseAuth.currentUser?.getIdToken(false)` is returning the old, cached ID token, rather than a new, refreshed ID token. When you observe a user state of `SIGNED_OUT_FEDERATED_TOKENS_INVALID` and then call `mobileClient.federatedSignIn(…)`, what is the user state in the onResult callback (`result.userState`)? Could you also try passing in true when you call `

[2022-09-16 20:59] tjleing commented on #3001
@nzayatz14 can I ask what SDK version you upgraded from (and also if you changed the `minSdkVersion` at the same time)?  I believe I've found a bug but I'm not sure if it'll fix your issue since the file hasn't been changed in a while.  Thanks!

[2022-09-16 21:08] nzayatz14 commented on #3001
@tjleing I updated from `v2.47.0` to `v2.51.0`, but the issue may have existed in `v2.47.0` as well. My `minSdkVersion` has been `24` and has not been updated for a very long time. So this very well may have been a longstanding issue.

[2022-09-17 00:31] div5yesh commented on #1469
The error message suggests that either user is not signed in or refresh token is expired. In both cases, the user must login again to get the tokens.

[2022-09-17 04:55] suresh-ramasamy002 commented on #1469
I've found the issue.
As it turns out, it was not really an invalid refresh token;

If you have device tracking enabled, then you must pass the users device key in the AuthParameters (which I was not doing).

I read through the description of device tracking, as https://aws.amazon.com/blogs/mobile/tracking-and-remembering-devices-using-amazon-cognito-your-user-pools and it didn't seem applicable f

[2022-09-17 04:58] suresh-ramasamy002 commented on #1827
I've found the issue.

If you have device tracking enabled, then you must pass the users device key in the AuthParameters (which I was not doing).

I read through the description of device tracking, as https://aws.amazon.com/blogs/mobile/tracking-and-remembering-devices-using-amazon-cognito-your-user-pools and it didn't seem applicable for my use-case so I simply turned it off (User Pool > Devices

[2022-09-22 23:25] arunj-kp opened #3015 "Disable multipart upload requests"
**Which AWS Services is the feature request for?**
S3 uploads

**Is your feature request related to a problem? Please describe.**
Currently, aws-sdk-android does not provide a feature to disable multipart requests. SDK should provide a configuration attribute to disable this feature. For example, a smaller file (say, less than 20MB) works faster with a regular file upload (without breaking into 5M

[2022-09-22 23:37] arunj-kp opened #3016 "Customize UPLOAD_PART_SIZE"
**Which AWS Services is the feature request for?**
S3 upload

**Is your feature request related to a problem? Please describe.**
aws-sdk-android always uses 5MB part size for multipart uploads, and the client app does not have any way to configure this to a higher value. AWS S3 team asked us to try larger size part size to improve performance. For example, if the file size is 500MB, try a 20MB par

[2022-09-23 10:00] agnihotriayush opened #3017 "Weak Hash APIs and Insecure Random Functions"
**Which AWS Services is the feature request for?**
com.amazonaws:aws-android-sdk-s3:2.7.+

**Is your feature request related to a problem? Please describe.**
The android application was found to use various dangerous and insecure functions as well as APIs. The following affected APIs and functions are listed below:
Weak hash APIs: AWS was found to be using MD5. These standards are no longer regard

[2022-09-23 13:10] heisenbergye opened #3018 "Amazon S3 - The authorization header is malformed; the region 'vpce' is wrong; expecting 'eu-central-1'"
**Describe the bug**
The authorization header is malformed; the region 'vpce' is wrong; expecting 'eu-central-1'

**To Reproduce**
A code sample or steps:
![image](https://user-images.githubusercontent.com/25834939/191966407-830eed26-7f61-41ff-ba0d-91a4abc36cbd.png)

when creating a new progress listener for transfer, it got an ERROR as the following:
[code]

maybe it is a bug similar as :
https:/

[2022-09-24 03:47] mayank1jain opened #3019 "Custom IoT Domain"
Facing issue when using a custom domain to connect AWS IoT Endpoint. We are using below SDK method

[code]

**To Reproduce**
Issue is reproducible only when using custom domain with AWS IOT android SDK. When we have tried with AWS IOTJS SDK it is working fine. Observed only port difference in final URL which is getting called.

**Android** - wss://custom-domain-iot.us:443/mqtt
**JS** - wss://custo

[2022-09-26 16:58] gpanshu commented on #3017
Thank you for posting this question. We are looking into this and will reply soon with our findings.

[2022-09-27 18:01] eeatonaws commented on #1469
Closing this issue as the issue has been resolved.

[2022-09-27 18:01] #1469 closed

[2022-09-27 20:28] fxsweety opened #3022 "Connection lost (32109) - java.io.EOFException"
We are using custom authorizer to connect to MQTT
Noticing this exception in our logs often
Connection lost (32109) - java.io.EOFException
	at org.eclipse.paho.client.mqttv3.internal.CommsReceiver.run(SourceFile:197)
	at java.lang.Thread.run(Thread.java:1012)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readByte(DataInputStream.java:275)
	at org.eclipse.paho.client.mqttv3.internal.w

[2022-09-27 21:54] eeatonaws commented on #3022
`Connection lost (32109) - java.io.EOFException` is a fairly generic error from Paho (the underlying library the AWS SDK for Android uses to connect to AWS IoT). Enabling lower level Paho logs to be displayed in logcat could reveal what the issue is. To view the Paho logs, create a new file called newlogging.properties and save it in the app/src/main/res/raw/ directory of your project. Add the fol

[2022-09-28 15:54] eeatonaws commented on #3019
Hi @mayank1jain. The `AWSIotMqttManager.from(...)` method is the right one to use for constructing an AWSIotMqttManager with a custom endpoint. To connect to AWS IoT, the `connect` method you referenced can be used, but note that the port will be appended to the endpoint and "wss://" will be added in front of the endpoint. Could you elaborate on the issue you're facing when connecting over a custo

[2022-09-28 16:15] mayank1jain commented on #3019
Thanks @eeatonaws!!

Device is not able to connect with broker when using custom endpoint with Android AWS SDK but when I used same endpoint with JS AWS SDK it worked fine.

Getting socket connection timeout error msg.

Only difference I saw in both URL is of port
Android - wss://custom-domain-iot.us:443/mqtt
JS - wss://custom-domain-iot.us/mqtt

Is there any thing extra we need to configure for c

[2022-09-28 22:19] eeatonaws commented on #3018
Thank you for reporting this issue. The AmazonS3Client is indeed parsing endpoints in VPC such that the region is "vpce". I am working on a fix for this issue.

[2022-09-29 09:23] WooYu opened #3025 "java.lang.OutOfMemoryError：org.eclipse.paho.client.mqttv3.internal.CommsReceiver.start(CommsReceiver.java:77)"
**Describe the bug**
App crash

**To Reproduce**
A code sample or steps:
[code]

**Which AWS service(s) are affected?**
Android 4.4

**Expected behavior**
A clear and concise description of what you expected to happen.
09-16 16:13:46.225  6777  3515 E AndroidRuntime: FATAL EXCEPTION: MQTT Con: chat-1552575548608749570999222
09-16 16:13:46.225  6777  3515 E AndroidRuntime: Process: com.autel.rd, PI

[2022-09-29 18:29] eeatonaws commented on #3018
A fix for the issue has been released in AWS SDK for Android 2.54.0.

[2022-09-29 18:29] #3018 closed

[2022-10-01 07:19] kingmarleycoffee opened #3035 "GraphQL query processing slowly and showing "Long monitor contention""

[2022-10-03 14:16] eeatonaws commented on #2308
Closing due to inactivity. Please create a new issue or reopen this issue if you are still experiencing the issue.

[2022-10-03 17:13] tjleing commented on #3001
Fix released with 2.54.0

[2022-10-03 20:08] fxsweety commented on #3022
Thanks, these are happening to customer that we log to a server.. but I assume these logs are local console logs right? I am not sure how to reproduce the issue to see the console. I will add and check on it

[2022-10-03 20:21] fxsweety opened #3030 "Subscription Exception after being connected"
**Describe the bug**
A clear and concise description of what the bug is.
We are noticing a lot of this exception from the logs gathered from customer
We are using custom authorization to conect to MQTT
com.amazonaws.AmazonClientException: Client error when subscribing.
Caused by: Client is not connected (32104)
	at org.eclipse.paho.client.mqttv3.internal.ExceptionHelper.createMqttException(SourceF

[2022-10-04 01:57] mayank1jain commented on #3019
@eeatonaws Any update on this?

[2022-10-04 14:50] eeatonaws commented on #3019
Outside of the initial setup steps described [here](https://docs.amplify.aws/sdk/pubsub/getting-started/q/platform/android/), there should not be anything extra to configure for a custom domain. We will work on reproducing the issue.

[2022-10-06 10:18] frankiesimon opened #3033 "Pinpoint events recorded while app is offline are not cached or sent again"
When internet is down the recorded events are not cached and are no longer sent when app goes back online.

When debugging we reached the `EventRecorder` code in the screenshot. If I'm reading it correctly, it seems the code checks if an error is retryable by looking at a cause. However. it seems another level was added to the error hierarchy so the true and retryable cause is nested one level dee

[2022-10-06 22:05] eeatonaws commented on #3017
Hello, and thank you for your patience while we investigated your reported concerns. We have analyzed the reported concerns, and they are not issues impacting the AWS SDK for Android. A more detailed response for each reported concern is provided below.
​

Weak Hash APIs:

MD5 is used to generate the value for the "Content-MD5" request parameter for multiple S3 requests. The "Content-MD5" request

[2022-10-06 22:05] #3017 closed

[2022-10-07 15:21] eeatonaws commented on #2335
Closing due to inactivity. Please create a new issue or reopen this issue with the requested information if the issue persists.

[2022-10-07 15:21] #2335 closed

[2022-10-07 15:40] liviu-timar commented on #2335
Thank you, sorry for not responding!

On Fri, 7 Oct 2022 at 18:21 Erica Eaton ***@***.***> wrote:

[2022-10-07 16:26] mayank1jain commented on #3019
@eeatonaws Were you able to reproduce the issue on your end?

[2022-10-07 20:35] eeatonaws commented on #3019
@mayank1jain apologies for the delay. We are still working on reproducing the issue and will add a comment here as soon as we have an update.

[2022-10-08 16:13] tomekit commented on #470
This 2018 link no longer works. What are the recommended approaches for client-side encryption?

[2022-10-09 09:38] WooYu commented on #2025
"2.51.0" version has that issue

[2022-10-10 06:41] wangf1978 opened #3034 "clientMetadata is not passed expectedly into AWSCognitoAuthPlugin::signIn method"
**Describe the bug**
Now metadata is passed into parameter validationData in this function, but clientMetadata is always using a fixed value Collections.emptyMap()
When signing in successfully, in the Post authentication Lambda trigger of AWS cognito, clientMetadata don't have the expected value set in Android handset client side.

**_amplify-js and amplify-ios don't have this issue, and clientMet

[2022-10-10 07:32] #3034 closed

[2022-10-10 21:30] ryamelv opened #3036 ""Client is currently disconnecting (32102)" upon Rapid AWSIotMqttManager disconnect()-then-connect()"
**Describe the bug**

If an app calls AWSIotMqttManager connect() quickly after a successful and complete call to disconnect() then a "Client is currently disconnecting (32102)" exception is thrown by AWSIotMqttManager.  A non-deterministic delay is required to avoid the exception and proceed with a successful connect().

**To Reproduce**

AWSIotMqttManager.connect()
...do things (subscribe, publi

[2022-10-10 21:42] ryamelv commented on #3036
Adding generic test app log, for a connect/subscribe/publish/disconnect/connect.  The first cycle (through the first disconnect() is as expected.  The start of the second cycle (three blank lines in the log output separate the two cycles) only gets to the connect() then gets the exception.

D/IotUserSession: iotCycle()...
I/IotUserSession: AWS IoT Device ID: <snip>
D/IotUserSession: CognitoUser...

[2022-10-10 22:15] ryamelv commented on #3036
Additional information:

In my generic test app, it reliably fails every-other connect() attempt in the loop as described previously.  But if I re-create the AWSIotMqttManager object for each loop iteration, then it succeeds every time as expected.

This is not a revolutionary insight.  :)  But it corroborates the afore described theory on the failure mode.

[2022-10-10 22:32] eeatonaws commented on #3019
@mayank1jain using the latest version of the AWS SDK for Android, I'm able to successfully connect to AWS IoT with a custom domain. Did you follow the setup instructions [here](https://docs.amplify.aws/sdk/pubsub/getting-started/q/platform/android/), including attaching the IoT policy to your Cognito Identity? Could you please provide code snippets for how you create the AWSIotMqttManager and conn

[2022-10-11 05:16] SSdCode commented on #3019
SDK Version
[code]
Code snippets
[code]

Logs
[code]

[2022-10-11 05:21] mayank1jain commented on #3019
SDK Version

[code]

Code snippets

[code]

Logs

[code]

[2022-10-11 16:06] eeatonaws commented on #3019
Thank you for the additional information. The SocketTimeoutException could be due to a poor network connection. Please check the device's network connection. Setting auto reconnect to true can also mask the actual error, particularly any setup errors (e.g., certificate or auth errors). Please try setting auto reconnect to false then connecting to AWS IoT and please provide the logs for this as wel

[2022-10-12 06:03] mayank1jain commented on #3019
@eeatonaws Device network connection is working fine. Still getting same error when tried auto-reconnect to false.

Is there any configuration that needs to be done to open the 443 port?

[code]

[2022-10-13 10:01] mayank1jain commented on #3019
It's not hardcoded we are using device serial number as client id. To check for this issue we hardcoded it. May I know reason for using randmUUID because as per my knowledge MQTT connection is established with the particular thing. Providing random UUID will not work in this case.

![image](https://user-images.githubusercontent.com/72739740/195566739-7a2d0098-d969-45c6-8234-2f0463ee3bc1.png)

We h

[2022-10-13 19:51] eeatonaws commented on #3019
Thank you for clarifying how you create the client ID. Using a random UUID isn’t required, it was just an example of how you could create a completely unique ID. Since you’ve been testing on a physical device, could you try using an emulator? This will help rule out a device specific issue or network issue. In regards to another way to debug the custom domain, it could be helpful to enable the Pah

[2022-10-14 15:48] eeatonaws commented on #2025
@WooYu could you please provide a code sample or steps to reproduce the issue as well as logs.

[2022-10-14 19:05] sdhuka commented on #3033
@frankiesimon I tried to repro this issue and found that events synced while the device is offline will cause UnknownHostException and hence considered retry able and not deleted from local db. These events are synced next when the device is online again.

Could you please confirm your observation by using the [App Inspection](https://developer.android.com/studio/inspect/database) tool available o

[2022-10-14 19:36] eeatonaws commented on #3025
@WooYu thank you for reporting this issue. The OutOfMemoryError could be due to creating many new MQTT connections (repeatedly calling the `connectMqtt(…)` method you provided) which also re-creates the underlying Paho MQTT client each time. Please check that you are not re-creating the AWSIotMqttManager or calling `AWSIotMqttManager.connect(…)` multiple times.

[2022-10-14 19:57] frankiesimon commented on #3033
Did you see the screenshots from the debug session?

https://ibb.co/JFqDc5X

the caught `amazonClientException.getCause()` returns an exception of the type `AmazonClientException` which is not of the type `UnknownHostException`. The other screenshots in the issue I opened also show how the UnknownHostException is nested one level deeper. While the UnknownHostException is thrown, the debugging show

[2022-10-14 20:30] sdhuka commented on #3033
Thanks for re-clarifying. I can now repro the issue, will work on the change to fix the issue.

[2022-10-14 21:36] frankiesimon commented on #3033
Excellent, thank you for looking into this!

[2022-10-14 22:04] eeatonaws commented on #3030
@fxsweety thank you for reporting this issue. Could you please provide a code sample showing how you use the AWSIotMqttManager to connect and subscribe? This will help us in reproducing the issue.

[2022-10-14 22:08] eeatonaws commented on #3022
Yes, I am referring to the local console logs printed in logcat. I saw you recently opened a similar issue (#3030). Is that the same as this issue or is it a separate issue?

[2022-10-18 05:32] mayank1jain commented on #2108
Any update on this ? I have same crash.

Is there any way to retry publish later if it fails to publish ?

[2022-10-21 03:03] lookx2 opened #3044 "Polly generated URL error 400 for VoiceId Hiujin"
Hi, After using the newly added Hiujin Voice from latest build to generate the polly url.
The URL returns error 400 when using Hiujin, the url is fine when using Zhiyu but not Hiujin

here is the sample URL generated which has error (I remove the token when post here)
https://polly.us-east-1.amazonaws.com/v1/speech?Text=%E8%BD%9F%EF%BC%81&VoiceId=Hiujin&OutputFormat=mp3&X-Amz-Security-Token=[token

[2022-10-21 05:32] lookx2 commented on #3044
I found the problem, it need to set the Engine to Neural

[2022-10-21 05:32] #3044 closed

[2022-10-21 14:54] tylerjroach commented on #3015
@arunj-kp The feature is now live in 2.55.0.

[2022-10-21 14:54] #3015 closed

[2022-10-21 14:54] tylerjroach commented on #3016
@arunj-kp The feature is now live in 2.55.0.

[2022-10-21 14:54] #3016 closed

[2022-10-21 23:53] emarc-m opened #3047 "Transfer Utility uploaded object validation"
**State your question**
Is there a way to use the transfer utility such that it will validate the object uploaded in S3 to make sure it is the same as what the client requested to upload for multipart uploads?

I've seen that for single part uploads, setting the `Content-MD5` header on `ObjectMetadata#contentMD5`, validates the uploaded S3 object vs what the client has set. I was wondering if ther

[2022-10-23 06:41] rajumb502 opened #3048 "ResourceNotFoundException: User pool client XXXX does not exist."
Hello
I am currently using "`com.amazonaws:aws-android-sdk-cognitoidentityprovider:2.55.0`" in my Android Java project. I keep getting the ResourceNotFoundException at the below line in my code:
`InitiateAuthResult initiateAuthResult = new AmazonCognitoIdentityProviderClient(credentialsProvider).initiateAuth(authRequest);`
Response Details:
`host:cognito-idp.us-east-1.amazonaws.com`
`x-amz-date:20

[2022-10-23 07:11] rajumb502 commented on #3048
I worked around by doing this:
[code]
Now i get the correct response but not sure if we are supposed to use it this way.

[2022-10-23 14:02] charlie-psyomics commented on #1813
For anyone coming to this thread: Decoding the id token will give you the data for claims in a scope - so cognito user attributes can be found there.

@TrekSoft Are you able to give confirmation 2 years later whether the admin scope only allows users to modify their own attributes? I haven't found any more information on this in the docs, but this is good to know (important info!)

[2022-10-24 19:51] div5yesh commented on #3048
@rajumb502, above usage is correct. Ideally you would use `AWSMobileClient` which reads the region from json configuration file. But if your use case requires you to instantiate `AmazonCognitoIdentityProviderClient`, then the above snippet should work.

[2022-10-26 11:36] rajumb502 commented on #3048
@div5yesh , thank you for your comment. Since we are setting the region while creating credentialsProvider, I would have assumed that it automatically picks up the region from that. Is there a reason why the Region in CredentialsProvider is not used in this case?
`
        credentialsProvider = new CognitoCachingCredentialsProvider(
                appContext,
                IDENTITY_POOL_ID,

[2022-11-01 13:26] matthewlmcclure opened #3056 "What parts, if any, are licensed under Eclipse Public License - v 1.0?"
The Eclipse Public License - v 1.0 (EPL 1.0) is [included in LICENSE.APACHE.txt][1], but I didn't find specified what parts of the code are licensed under the EPL 1.0.

Separately, [the NOTICE.txt file states][2] that the Eclipse Paho Java Client is licensed under the Eclipse Distribution License - v 1.0 (EDL 1.0).

The [LICENSE.txt file][3] doesn't mention any of the Eclipse Paho Java Client, the

[2022-11-02 08:47] mayank1jain commented on #3019
@eeatonaws Below logs from Emulator

[code]

[2022-11-02 15:25] sdhuka commented on #3047
@emarc-m For multi-part upload, MD5 checksum is calculated for each part and returned as eTAG, more on it is explained [here](https://docs.aws.amazon.com/AmazonS3/latest/userguide/checking-object-integrity.html) under `Using part-level checksums for multi-part uploads`.

TransferUtility currently doesn't support additional checksum algorithm, we will look into adding this in the future.

[2022-11-03 19:29] buntupana commented on #1461
After more than two year this issue is still happening sometimes when I upload the library. Is there any solution to prevent this happening?

[2022-11-03 21:30] eeatonaws commented on #3036
Thank you for reporting this issue and providing such detailed information about the issue. A fix has been released as part of AWS SDK for Android 2.56.0.

[2022-11-03 21:30] #3036 closed

[2022-11-04 13:27] buntupana commented on #3022
I'm getting the same error. The client is connecting and disconnecting all the time. I've enabled lower level Paho logs and I got this between the states of reconnecting, connected and disconnected:

    `
    W  nov. 04, 2022 1:24:15 P. M. org.eclipse.paho.client.mqttv3.internal.CommsReceiver run
    W  DETALLADO: android_id: <
    W  nov. 04, 2022 1:24:19 P. M. org.eclipse.paho.client.mqttv3.Mqt

[2022-11-04 14:56] eeatonaws commented on #3022
@buntupana could you provide a code sample to help us reproduce the issue, including the call to AWSIotMqttManager.connect(...) and any other actions taken while the client is connected (e.g., subscribe to topic, publish messages, etc.)? Also, what version of the AWS SDK for Android are you using?

[2022-11-04 16:13] buntupana commented on #3022
AWS version = 2.56.0

**This is the class I use for connecting**

    class LiveEventsManagerImpl(
        val context: Context
    ) : LiveEventsManager {

        companion object {
            private const val CLIENT_ID = ANDROID_ID
            private const val ENDPOINT = BuildConfig.IOT_ENDPOINT
            private const val POLICY_NAME = BuildConfig.IOT_POLICY_NAME
            private const

[2022-11-04 16:42] eeatonaws commented on #3019
Thank you for providing the lower level Paho logs. I’m not seeing any additional information in the logs to point to why the SocketTimeoutException is occurring and I’m still unable to reproduce this issue. In my sample app, I’m using the code you provided for creating the AWSIotMqttManager and connecting to AWS IoT, which is working for me. This leads me to think the issue is somewhere in the set

[2022-11-04 20:43] eeatonaws commented on #3022
Thank you for the additional information. In the logs you shared, I can see the connection is established and the client subscribes to the topic, then about one minute later, the logs show the connection is lost. After subscribing to the topic, are you doing anything else, such as publishing or receiving messages on the topic for example? The error could also be caused by a change in network conne

[2022-11-04 20:54] buntupana commented on #3022
I'm just subscribing to the topic and nothing else. I'm using a physical device connected to wifi network.

[2022-11-04 21:26] eeatonaws commented on #3022
What type of device and API level are you using? Does the connection lost error also occur when using an emulator?

In the code you provided, the client ID used when creating the AWSIotMqttManager is ANDROID_ID. This will cause the client ID to always be "android_id", which can result in some clients being disconnected if multiple clients with the same ID attempt to connect. The following code can

[2022-11-07 09:09] buntupana commented on #3022
Changing the 'android_id' thing fixed the error, thanks so much!

[2022-11-07 15:01] #3022 closed

[2022-11-07 17:34] banji180 commented on #3006
Hi, we are not able to reproduce the issue as of yet. I see you have setLoginInProgress(true) in your code before showSignIn is called, what does that do?

[2022-11-07 17:44] meavydev commented on #3006
As I said in my most recent post you are replying to, the problem isn't the busy progress, it's that the AWS SDK isn't calling the onError callback from showSignIn.
I'm surprised you see the onError callback, as it is important to know if the showSignIn is cancelled and we have never seen the onError callback unless we add the onActivityResult.

[2022-11-07 18:02] tylerjroach commented on #3006
Hi @meavydev, I'm hoping I can clear this up.

I believe the AWS SDK documentation is missing the cancellation scenario that is documented in Amplify (which is using the SDK under the hood). We will leave this ticket assigned as a bug until the documentation is corrected.

See the Amplify documentation here: https://docs.amplify.aws/lib/auth/signin_web_ui/q/platform/android/#add-response-handler.

[2022-11-07 20:36] ryamelv commented on #3036
Success!  I reverted my workaround (re-creating AWSIotMqttManager object for each loop iteration), re-produced the original problem, upgraded my AWS SDK for Android from v2.50.1 to v2.56.0, re-ran and observed normal operation (repeated loop iterations of connect/disconnect without the previous exception).  Without the workaround the app logs now look just like they did with the workaround.  Thank

[2022-11-09 00:58] rajumb502 opened #3064 "KeyNotFoundException while using IdentityManager"
**State your question**
I keep getting a `KeyNotFoundException` while trying to initialize `CognitoCachingCredentialsProvider` in my Android app.

**Which AWS Services are you utilizing?**
Cognito

**Provide code snippets (if applicable)**
[code]
(OR)
The same issue happens if I use the below code also:
[code]
**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.25

[2022-11-11 15:50] eeatonaws commented on #3030
Closing due to inactivity. Please create a new issue or reopen this issue with the requested information if the issue persists.

[2022-11-11 15:50] #3030 closed

[2022-11-11 15:52] eeatonaws commented on #3025
Closing due to inactivity. Please create a new issue or reopen this issue if the issue persists.

[2022-11-11 15:52] #3025 closed

[2022-11-11 15:53] eeatonaws commented on #2025
Closing due to inactivity. Please create a new issue or reopen this issue with the requested information if the issue persists.

[2022-11-11 15:53] #2025 closed

[2022-11-14 17:51] div5yesh commented on #3064
`CognitoCachingCredentialsProvider` tries to migrate values stored in old preferences format to new encrypted format. These errors suggests that the keys supported by older versions of the SDK does not exists. IMO, these errors are harmless. Refer `onMigrateFromNoEncryption` method for more info.

[2022-11-14 18:22] div5yesh commented on #3048
`AmazonCognitoIdentityProviderClient` and `AmazonCognitoIdentityClient` are low level service clients and they do not read config from the json file. `CognitoCachingCredentialsProvider` also do not read config file and it is just a wrapper around `AmazonCognitoIdentityClient` to support storing and retrieving credentials data from shared preferences.

If you want both of the service clients to be

[2022-11-15 13:47] rajumb502 commented on #3064
Hello @div5yesh , this is a brand new application in development. There are no keys to be migrated. After I make code changes, whenever I start the app in the emulator/test device, i get the above errors as it is unable to read the values stored during the previous test run.

[2022-11-15 20:31] ten-skv opened #3075 "Amplify.Auth.fetchAuthSession() returns empty token even after successful login"
**Describe the bug**
Amplify.Auth.fetchAuthSession()  returns empty token even after successful login.
We are using both "Amplify.Auth.signInWithSocialWebUI" (some users using sso)  and "Amplify.Auth.signInWithSocialWebUI" (some users using our user/password).

**To Reproduce**
Try to use 2 different users.
1. Login with first user.
2. You will be successfully signed in and get session token.
3. L

[2022-11-16 18:34] eeatonaws commented on #3075
Transferring this issue to Amplify Android.

[2022-11-17 19:35] gpanshu commented on #1085
AWSMobileClient is now deprecated in V2 of Amplify. I would recommend that you move to Amplify V2 SDK for Android and use Amplify.Auth.SignIn and fetchAuthSession to determine the current session.

[2022-11-17 20:40] gpanshu commented on #2728
Hi @ChrisSawczukMSM we have now launched V2 of Amplify through which when you sign in you can mention which authentication mechanism you would like to use so now its not just what is specified in the configuration. You can use the `options` param for such a configuration. More information is here : https://docs.amplify.aws/lib/auth/signin_next_steps/q/platform/android/

[2022-11-18 20:22] gpanshu commented on #547
Hi @abhishektiwari-obsidiam before we invest time in this please advise if this is still an issue ? Also Would you be able to support your use case using the Amplify library for Android instead? We just released a new version.

[2022-11-19 19:19] hvar90 opened #3086 "what version of cognito do use TLS 1.2?"
**State your question**
i received this email from aws, i want to know what version of aws-android-sdk-cognito uses TLS 1.2 because cognito 2.16.5 is using  TLS 1.1
i need to update cognito to use TLS 1.2, what version should i use?
[code]

**Which AWS Services are you utilizing?**
aws-android-sdk-cognito 2.16.5

**Environment:**
aws-android-sdk-cognito:2.16.5

**Device Information :**
 Linux/3.0.

[2022-11-22 15:30] sdhuka commented on #2489
We recommend upgrading to [Amplify 2.0](https://docs.amplify.aws/lib/storage/getting-started/q/platform/android/) where we re-architected the storage plugin implementation to use the workmanager library which uses the latest api to manage network changes.

[2022-11-22 15:30] #2489 closed

[2022-11-23 00:45] leticiamendes2 opened #3089 "In-memory KeyStore on AWSIotKeystoreHelper from aws-sdk-android"
**State your question**
I would like to understand the usage and reasons for creating a temporary KeyStore when we call AWSIotKeystoreHelper.getIotKeystore. Also, I'd like to confirm that there is not in-memory KeyStore created when we use AWSIotMqttManager.connectUsingALPN.

**Which AWS Services are you utilizing?**
IoT

**Provide code snippets (if applicable)**

**Environment(please complete the

[2022-11-30 14:19] yaron-e opened #3099 "Duplicate class exception"
**Describe the bug**
Getting duplicate class exception when adding `aws-java-sdk-kms` to gradle file.

**To Reproduce**
My grade file
[code]

**Which AWS service(s) are affected?**
AWS KMS functions don't work.

**Expected behavior**
The error stack strace is extremely long, listing out all the classes within `com.amazonaws.`
[code]

**Environment Information (please complete the following informa